[mx-view*="mx-cascade/card"] {
    --mx-cascade-card-img-size: 44px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

.first {
    .header {
        height: 50px;
        line-height: 50px;
        padding: 0 var(--output-h-gap, 24px);
        white-space: nowrap;
        word-wrap: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: 1px solid var(--color-border);

        .title {
            margin-right: 16px;
            font-size: var(--grid-title-font-size);
            font-weight: var(--grid-title-font-weight, normal);
        }

        .tip {
            color: #999;
            font-size: 12px;
        }
    }

    .body {
        padding-left: calc(var(--output-h-gap, 24px) / 2);
        padding-right: calc(var(--output-h-gap, 24px) / 2);
        overflow-y: auto;
        overflow-x: hidden;

        .line {
            display: table;
            width: 100%;
            padding-top: 12px;
            padding-bottom: 12px;
            margin-top: calc(var(--output-v-gap, 16px) / 2);
            margin-bottom: calc(var(--output-v-gap, 16px) / 2);
            padding-left: calc(var(--mx-cascade-card-img-size) + var(--output-h-gap, 24px));
            border-radius: var(--border-radius);

            .img {
                position: absolute;
                top: 50%;
                left: calc(var(--output-h-gap, 24px) / 2);
                width: var(--mx-cascade-card-img-size);
                height: var(--mx-cascade-card-img-size);
                margin-top: calc(0px - var(--mx-cascade-card-img-size) / 2);
                border-radius: 50%;
                background-color: #fff;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .cont {
                display: table-cell;
                vertical-align: middle;

                .tip {
                    margin-top: 4px;
                    color: var(--color-tip, #999);
                }
            }

            &.cur {
                .tip {
                    color: var(--color-tip-active, #666);
                }
            }
        }
    }
}

.line {
    position: relative;
    padding-right: var(--input-height);
    transition: background-color var(--duration), color var(--duration);
    cursor: pointer;
    color: var(--color-text, #333);

    .text {
        display: block;
        width: 100%;
        white-space: nowrap;
        word-wrap: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .arrow {
        position: absolute;
        top: 50%;
        right: 0;
        width: var(--input-height);
        height: var(--input-height);
        line-height: var(--input-height);
        margin-top: calc(0px - var(--input-height) / 2);
        font-size: 12px;
        transform: rotate(-90deg);
        text-align: center;
        color: var(--mx-trigger-arrow-color, #999);
    }

    &.hover {
        color: var(--color-text-hover, #333);
        background-color: var(--color-bg-hover);

        .arrow {
            color: var(--mx-trigger-arrow-color-hover, #666);
        }
    }

    &.cur {
        color: var(--color-text-active, var(--color-brand));
        background-color: var(--color-bg-active, var(--color-brand-opacity));

        .arrow {
            color: var(--mx-trigger-arrow-color-active, #666);
        }
    }
}

.group {
    float: left;
    min-width: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    vertical-align: top;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);
    box-shadow: 0 2px 4px rgba(51, 51, 51, 0.08);
}

.others {
    padding: 8px;
    border-left: 0 none;

    .line {
        height: var(--input-height);
        padding-left: 16px;
        line-height: var(--input-height);
        border-radius: var(--border-radius);
        margin-bottom: 4px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}