<div class="clearfix cascade-list {{if (align == 'right')}} align-right {{/if}}">
    {{each groups as list gIndex}}
    <div class="clearfix group {{if (gIndex == 0 && searchbox)}} group-search {{/if}}"
        style="{{if (gIndex == 0 && searchbox)}} min-width: {{=width}}px; {{/if}} {{if (gIndex > 0 && allHide)}} display: none; {{/if}}">
        {{if (gIndex == 0 && searchbox)}}
        <div class="mx-output-search cascade-search">
            <mx-input 
                style="width: 100%;"
                prefix="search"
                placeholder="{{=text.search}}"
                value="{{=keyword}}"
                mx-change="@{search}()"/>
        </div>
        {{/if}}

        {{if !allHide}}
        <div class="mx-output-list scroll-inner">
            {{each list as item iIndex}}
                {{if !item.hide}}
                <div class="mx-output-item">
                    {{if multiple}}
                    <div class="line mx-output-link">
                        <mx-checkbox 
                            gallery-inner="true"
                            checked="{{=item.cur}}"
                            value="{{=item[valueKey]}}"
                            text="{{=item[textKey]}}"
                            mx-focusout="@{stop}()" />
                    </div>
                    {{else}}
                    <div class="line mx-output-link 
                        {{if item.cur}} line-cur mx-output-link-active {{/if}}
                        {{if item.hover}} line-hover mx-output-link-hover {{/if}}"
                        mx-click="@{select}({gIndex:{{=gIndex}},iIndex:{{=iIndex}}})"
                        mx-mouseover="@{select}({gIndex:{{=gIndex}},iIndex:{{=iIndex}}})">
                        {{=item[textKey]}}
                        {{if (item.children && item.children.length)}}
                        <i class="mc-iconfont line-arrow">&#xe6c1;</i>
                        {{/if}}
                    </div>
                    {{/if}}
                </div>
                {{/if}}
            {{/each}}
        </div>
        {{else}}
            {{if (gIndex == 0)}}
            <div class="scroll-inner text-center color-9 pt60">
                {{!text.empty}}
            </div>
            {{/if}}
        {{/if}}
    </div>
    {{/each}}
</div>
{{if multiple}}
<div class="mx-output-footer">
    <mx-btn mode="primary" size="small" mx-click="@{submit}()" content="{{=text.submit}}"/>
    <mx-btn class="ml8" mode="hollow" size="small" mx-click="@{cancel}()" content="{{=text.cancel}}"/>
</div>
{{/if}}