<div class="mx-trigger {{if expand}} mx-trigger-open {{/if}}"
    {{if animing}} mx-comp-expand-amin="animing" {{/if}}
    mx-click="@{toggle}()">
    {{if (multiple)}}
    <div class="mx-trigger-tag-outer">
        {{if name}}<span class="mx-trigger-prefix">{{!name}}：</span>{{/if}}
        <span class="mx-trigger-tag-inner">
            {{each selectedItems as item index}}
            <span class="mx-trigger-tag {{if item.error}} mx-trigger-tag-error {{/if}}" mx-contextmenu="prevent()">
                {{=item.text}}
                <i class="mc-iconfont mx-trigger-tag-delete" mx-click="@{delete}({index:{{=index}}})">&#xe603;</i>
            </span>
            {{/each}}
        </span>
    </div>
    {{else}}
        <span class="mx-trigger-label">{{if name}}<span class="mx-trigger-prefix">{{!name}}：</span>{{/if}}{{!selectedText}}</span>
    {{/if}}

    <i class="mc-iconfont mx-trigger-arrow">&#xe6c1;</i>
</div>
