.cascade-search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.group {
    position: relative;
    display: inline-block;
    min-width: 140px;
    height: var(--mx-cascade-sroll-height);
    overflow-y: auto;
    overflow-x: hidden;
    vertical-align: top;
    border-left: 1px solid var(--color-border);

    .scroll-inner {
        max-height: unset;
    }

    &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &:first-child {
        border-left: 0 none;
    }

    &.group-search {
        padding-top: calc(var(--input-height) + var(--mx-trigger-v-gap, 8px));
        overflow-y: hidden;

        .scroll-inner {
            height: calc(var(--mx-cascade-sroll-height) - var(--input-height) - var(--mx-trigger-v-gap, 8px));
            overflow-y: auto;
        }
    }
}

.line {
    .line-arrow {
        position: absolute;
        right: 1px;
        top: 50%;
        width: 12px;
        height: 12px;
        margin-top: -6px;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        color: var(--mx-trigger-arrow-color, #ccc);
        transform: rotate(-90deg);
        transition: color var(--duration);
    }

    &:hover,
    &.line-hover,
    &.line-cur {
        .line-arrow {
            color: var(--mx-trigger-arrow-color-hover, #666);
        }
    }
}

.cascade-list {
    --mx-cascade-sroll-height: 216px;
    display: flex;
    width: auto;
    white-space: nowrap;

    &.align-right {
        flex-direction: row-reverse;
        left: auto;
        right: 0;

        .group {
            &:first-child {
                border-left: 1px solid var(--color-border);
            }
        }

        .line {
            text-align: right;

            .line-arrow {
                right: auto;
                left: 1px;
                transform: rotate(90deg);
            }
        }
    }
}