.oper-wrapper {
    padding-top: var(--mx-trigger-v-gap, 8px);
    padding-left: calc(var(--mx-trigger-h-gap, 8px) * 2);
    padding-right: calc(var(--mx-trigger-h-gap, 8px) * 2);

    .oper {
        float: left;
        padding-right: 20px;
        color: #999;

        &:hover {
            color: var(--color-brand);
        }
    }
}

.footer-error {
    display: inline-flex;
    align-items: center;
    height: var(--input-small-height);
    color: var(--color-red);
}

.group {
    position: relative;
    display: inline-block;
    min-width: 140px;
    height: 216px;
    overflow-y: auto;
    overflow-x: hidden;
    vertical-align: top;
    border-left: 1px solid var(--color-border);

    &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    .scroll-inner {
        height: auto;
        max-height: unset;
    }

    &:first-child {
        border-left: 0 none;
        overflow-y: hidden;

        .scroll-outer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            height: 100%;
        }

        .scroll-inner {
            flex: 1;
            overflow-y: auto;
        }
    }
}


.group::-webkit-scrollbar,
.scroll-inner::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

.group::-webkit-scrollbar-thumb,
.scroll-inner::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.checkbox-label {
    width: 100%;
}

.checkbox-text {
    vertical-align: middle;
    transition: color var(--duration);
}

[mx-view*="mx-checkbox/index"][mx-view*="checked=true"],
[mx-view*="mx-checkbox/index"][mx-view*="indeterminate=true"] {
    &~.checkbox-text {
        color: var(--color-brand);
    }
}

.line {
    padding-left: var(--mx-trigger-h-gap, 8px);
    padding-right: calc(var(--mx-trigger-h-gap, 8px) * 2);

    .line-arrow {
        position: absolute;
        right: 1px;
        top: 50%;
        width: 12px;
        height: 12px;
        margin-top: -6px;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        color: var(--mx-trigger-arrow-color, #ccc);
        transform: rotate(-90deg);
        transition: color var(--duration);
    }

    &.line-hover,
    &.line-cur {
        .line-arrow {
            color: var(--mx-trigger-arrow-color-hover, #666);
        }
    }
}

.cascade-list {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    white-space: nowrap;

    &.align-right {
        flex-direction: row-reverse;
        left: auto;
        right: 0;

        .group {
            &:first-child {
                border-left: 1px solid var(--color-border);
            }
        }

        .line {
            padding-right: var(--mx-trigger-h-gap, 8px);
            padding-left: calc(var(--mx-trigger-h-gap, 8px) * 2);
            text-align: right;

            .line-arrow {
                right: auto;
                left: 1px;
                transform: rotate(90deg);
            }
        }
    }
}