@center-width: 10px;

.result {
    padding: 0 10px;
}
/* 左对齐 */
.result-left{
    .center{
        padding: 0 5px;
    }
}
/* 居中对齐 */
.result-center{
    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 30px;
        margin-left: -20px;
        margin-top: -15px;
        line-height: 30px;
        text-align: center;
    }

    .co {
        display: inline-block;
        width: 50%;
        text-align: center;
    }

    .co-left {
        padding-right: @center-width;
    }

    .co-right {
        padding-left: @center-width;
    }
}

.result-vs {
    .co-left {
        color: var(--color-brand);
    }

    .co-right {
        color: var(--color-brand-vs);
    }
}

[mx-view*="mx-calendar/rangepicker"]{
    min-width: 180px;
}
[mx-view*="mx-calendar/rangepicker"], 
[mx-view*="mx-calendar/datepicker"]{
    &[mx-view*="disabled=true"],
    &[mx-view*="disabled=true"]:hover,
    &[mx-disabled],
    &[mx-disabled]:hover {
        .result,
        .result-vs {
            .co-left,
            .co-right {
                color: #999;
            }
        }
    }
}