.card {
    --mx-comp-expand-amin-color: #fff;
    position: relative;
    width: 120px;
    margin: 10px;
    padding: 16px 24px;
    border-color: var(--color-border);
    background-color: var(--color-brand);
    color: #fff;
    transition: all var(--duration);
    user-select: none;
    cursor: pointer;
    border-radius: var(--border-radius);
    text-align: center;
}