.card {
    --mx-comp-expand-amin-color: #fff;

    position: relative;
    float: left;
    margin: 10px;
    padding: 16px 24px;
    border-radius: var(--border-radius);
    cursor: pointer;
    user-select: none;
    transition: all var(--duration);
    background-color: var(--color-bg);
    color: #666;

    &:hover {
        background-color: var(--color-bg);
        color: #333;
    }

    &.selected {
        background-color: var(--color-brand);
        color: #fff;
    }
}