.line {
    margin-top: 10px;
    line-height: 0;
}

.box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 20px;
    background-color: var(--color-brand-opacity);
}

.line-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    line-height: normal;
}

.dark-item,
.item {
    display: inline-block;
    width: 80px;
    height: 40px;
    line-height: 40px;
    background-color: var(--color-brand-opacity);
}

.dark-item {
    border-radius: var(--border-radius);
    background-color: var(--color-brand);
}

.scroll-item {
    display: inline-block;
    width: 140px;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.5;
    background-color: var(--color-brand-opacity);
    border-radius: var(--border-radius);
}

.w-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: var(--color-brand-opacity);
    font-size: 12px;
}

.h-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: var(--color-brand-opacity);
    font-size: 12px;
}