/* 样式覆盖 */
:root {
    /* 字体相关参数，输入或下拉框高度  */
    --line-height: 1.5;
    --font-size: 12px;
    --font-family: PingFang SC, sans-serif, Microsoft YaHei, Roboto, Helvetica Neue, Helvetica, Tahoma, Arial;
    --font-number: PingFang SC, Microsoft YaHei;
    --input-height: 32px;
    --input-small-height: 26px;
    --input-large-height: 40px;

    /* 品牌色 */
    --color-brand: #3e3eff;
    --color-brand-hover: #28449F;
    --color-brand-vs: #f7664d;
    --color-brand-light: #d7def6;
    --color-brand-opacity: #eff2fb;
    --color-brand-text: #ffffff;
    --color-brand-text-hover: #ffffff;
}