.demo {
    float: left;
    width: 33%;
    margin-right: 0.5%;

    &:last-child {
        margin-right: 0;
    }
}

.bb {
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);
}

.demo-half {
    float: left;
    width: 49%;
    margin-right: 2%;

    &:last-child {
        margin-right: 0;
    }
}