@import '../../mx-style/_vars';

.demo{
    padding: 40px 0;
    background-color: @color-bg;
    
    .login-wrapper{
        width: 350px;
        height: 340px;
        margin: auto;
        background-color: #fff;
        overflow: hidden;
    }
}