@import '../../mx-style/_vars';
@test-color-brand: #ff6600;
@test-color-brand-vs: #ffb400;
@test-color-brand-light: tint(@test-color-brand, 78%);
@test-color-brand-opacity: tint(@test-color-brand, 95%);
@test-color-brand-hover: shade(@test-color-brand, 8%);

.demo2 {
    [ref="@../../mx-switch/index.less:switch"] {
        &[ref="@../../mx-switch/index.less:on"] {
            background-color: @test-color-brand-light;
    
            [ref="@../../mx-switch/index.less:switch-icon"] {
                background-color: @test-color-brand;
            }
    
        }
    }
    [ref="@../../mx-dropdown/index.less:item-link"] {
        &[ref="@../../mx-dropdown/index.less:active"]{
            &, &:hover, &:active, &:focus{
                background-color: @test-color-brand;
            }
        }
    }

    [ref="@../../mx-slider/style.less:rail-wrapper"] {
        [ref="@../../mx-slider/style.less:rail"] {
            [ref="@../../mx-slider/style.less:tracker"] {
                background-color: lighten(@test-color-brand, 25%);
            }
    
            [ref="@../../mx-slider/style.less:indicator"] {
                background-color: @test-color-brand;
    
                &:before {
                    background-color: @test-color-brand;
                }
            }
        }
    
    }

    [ref="@../../mx-calendar/rangepicker.less:result"] {
        &[ref="@../../mx-calendar/rangepicker.less:vs"] {
            [ref="@../../mx-calendar/rangepicker.less:co-left"] {
                color: @test-color-brand;
            }
    
            [ref="@../../mx-calendar/rangepicker.less:co-right"] {
                color: @test-color-brand-vs;
            }
    
        }
    }

    [ref="@../../mx-calendar/index.less:wrapper"] {
        [ref="@../../mx-calendar/index.less:header"] {
            [ref="@../../mx-calendar/index.less:minus"], 
            [ref="@../../mx-calendar/index.less:plus"] {
                &:hover {
                    color: @test-color-brand;
                }
            }
        }
    
        [ref="@../../mx-calendar/index.less:body"] {
            [ref="@../../mx-calendar/index.less:today"], 
            [ref="@../../mx-calendar/index.less:today"]:hover {
                background-color: @test-color-brand-opacity;
            }
            
            [ref="@../../mx-calendar/index.less:selected"],
            [ref="@../../mx-calendar/index.less:selected"]:hover {
                background-color: @test-color-brand;
            }
    
        }
    }
    
    [ref="@../../mx-calendar/range.less:wrapper"] {
        [ref="@../../mx-calendar/range.less:range"] {
            [ref="@../../mx-calendar/range.less:range-input"] {
                [ref="@../../mx-calendar/range.less:vs1"] {
                    [ref="@../../mx-calendar/rangepicker.less:result"] {
                        color: @test-color-brand;
                    }
                }
                [ref="@../../mx-calendar/range.less:vs2"] {
                    [ref="@../../mx-calendar/rangepicker.less:result"] {
                        color: @test-color-brand-vs;
                    }
                }
            }
        }

        [ref="@../../mx-calendar/range.less:shortcuts"] {
            [ref="@../../mx-calendar/range.less:st"]  {
                &[ref="@../../mx-calendar/range.less:selected"],
                &[ref="@../../mx-calendar/range.less:selected"]:hover {
                    background: @test-color-brand;
                }
            }
        }

        [ref="@../../mx-calendar/range.less:range-btn"]{
            background-color: @test-color-brand;
            &:hover,
            &.hover,
            &:active {
                background-color: @test-color-brand-hover;
            }
        }
    }

    .demo-checkbox {
        &:hover{
            border-color: @test-color-brand;
        }

        &:checked {
            border-color: @test-color-brand;
            background-color: @test-color-brand;
        }
        
        &:indeterminate {
            background-color: @test-color-brand;
            border-color: @test-color-brand;
        }
    }

    .demo-radio {
        &:hover{
            border-color: @test-color-brand;
        }

        &:checked {
            background-color: @test-color-brand;
            border-color: @test-color-brand;
            &:hover {
                border-color: @test-color-brand;
            }
        }
    }

    .demo-btn {
        border-radius: 16px;
       
        &.demo-btn-brand{
            background-color: @test-color-brand;
            &:hover,
            &.hover,
            &:active {
                background-color: @test-color-brand-hover;
            }
        }
    }

    .demo-input {
        &:focus {
            border-color: @test-color-brand;
        }
    }
    
    .demo-link {
        &,
        &:visited,
        &:focus,
        &:active {
            color: @test-color-brand;
        }
        &:hover {
            color: @test-color-brand-hover;
        }
    }
}


