<div class="wrapper anchor" {{if fixed}} style="position: fixed; left: {{=fixedStyle.left}}px; right: {{=fixedStyle.right}}px;" {{/if}}>
    <div class="cont" {{if anchorWidth}} style="width: {{=anchorWidth}}px;" {{/if}}>
        <div class="clearfix">
            {{each list as item index}}
            <a class="item {{= (item.value == selected) ? 'selected' : ''}}" href="javascript:;" id="{{=viewId}}_{{=item.value}}"
                mx-mouseover="@{over}({value:'{{=item.value}}'})" 
                mx-mouseout="@{out}()"  
                mx-click="@{select}({item:'{{@item}}'})" 
                {{if spm}} data-spm-click="{{=spm}}{{=index}}" {{/if}}>
                {{!item.text}}
        
                <!-- 打标优先级tagContent > tag -->
                {{if item.tagContent}}
                <span class="tag-content">{{!item.tagContent}}</span>
                {{else}}
                    {{if item.tag}}
                    <mx-effects.icon type="error" color="{{=item.color}}" content="{{=item.tag}}"/>
                    {{/if}}
                {{/if}}
                {{if item.tips}}
                <mx-popover class="mc-iconfont color-c"
                    tag="i"
                    width="280"
                    content="{{=item.tips}}">&#xe7aa;</mx-popover>
                {{/if}}
            </a>
            {{/each}}
            <span class="underline" style="left: {{=left}}px; width: {{=width}}px;"></span>
        </div>
        {{if anchorRightView}}
        <div class="right">
            <div class="right-inner" mx-view="{{=anchorRightView}}"></div>
        </div>
        {{/if}}
    </div>
</div>