[mx-view*="mx-tabs/box"] {
    display: inline-block;

    .box-disabled {
        cursor: not-allowed;

        &::before {
            opacity: .6;
            content: ' ';
            position: absolute;
            top: -1px;
            right: -1px;
            bottom: -1px;
            left: -1px;
            z-index: 4;
            border-radius: var(--border-radius);
            background-color: #fff;
        }
    }
}

.box {
    position: relative;
    display: inline-block;
    height: var(--input-height);
    vertical-align: middle;

    .box-tip {
        position: relative;
        top: 1px;
        font-size: calc(2px + var(--font-size));
        color: #ccc;
    }

    .box-item {
        position: relative;
        padding: 0 12px;
        font-size: var(--font-size);
        text-align: center;
        cursor: pointer;
        transition: all var(--duration);

        &:first-child {
            border-top-left-radius: var(--border-radius);
            border-bottom-left-radius: var(--border-radius);
        }

        &:last-child {
            border-top-right-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
        }
    }
}

.hollow-box,
.spliter-box {
    .box-item {
        position: relative;
        z-index: 2;
        display: inline-block;
        height: var(--input-height);
        line-height: calc(var(--input-height) - 2px);
        border-radius: var(--border-radius);
        color: var(--mx-tab-box-font-color, #666);
        border: 1px solid transparent;
        cursor: pointer;

        &:hover {
            color: var(--mx-tab-box-hover-font-color, #333);
        }

        &.selected {
            color: var(--mx-tab-box-selected-font-color, #333);
            border: 1px solid var(--mx-tab-box-selected-color-border, var(--color-brand));
            background-color: var(--mx-tab-box-selected-color-bg, var(--color-brand-opacity));

            .box-tip {
                color: var(--mx-tab-box-selected-font-color, #333);
            }
        }
    }

    &::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);
        border: 1px solid var(--mx-tab-box-color-border, var(--border-highlight));
        background-color: var(--mx-tab-box-color-bg, #fff);
    }
}

.spliter-box {
    .box-item {
        border-radius: 0;
        border-right-color: var(--mx-tab-box-color-border, var(--border-highlight));
        margin-left: -1px;
    }
}

.vertical-box {
    position: relative;

    .vertical-item {
        position: relative;
        padding: 16px 80px 16px 16px;
        cursor: pointer;

        .title,
        .tip {
            max-width: 160px;
            line-height: 20px;
            white-space: nowrap;
            word-wrap: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: all var(--duration);
        }

        .title {
            font-weight: 600;
        }

        .tip {
            color: #666;
        }

        .img {
            position: absolute;
            top: 50%;
            right: 16px;
            width: 48px;
            height: 48px;
            margin-top: -24px;
        }

        &::after {
            content: ' ';
            position: absolute;
            bottom: 0;
            left: 8px;
            right: 8px;
            border-bottom: 1px solid var(--color-border);
        }

        &:hover {
            .title {
                color: var(--color-brand);
            }
        }

        &.selected {
            background-color: var(--color-brand-opacity);

            .title {
                color: var(--color-brand);
            }
        }

        &:last-child {
            &::after {
                content: none;
            }
        }
    }
}