<div class="box {{= disabled ? 'disabled' : ''}}">
    {{each list as item}}
    <a href="javascript:;" {{if !disabled}} mx-click="@{select}({item:'{{@item}}'})"  {{/if}} class="box-item {{= (item.value == selected) ? 'selected' : ''}}">
        {{=item.text}}
        {{if item.tag}}
        <span class="tag">{{=item.tag}}</span>
        {{/if}}
        {{if item.tip}}
        <mx-popover class="mc-iconfont color-9 box-tip"
            tag="i"
            content="{{=item.tip}}">&#xe629;</mx-popover>
        {{/if}}
    </a>
    {{/each}}
</div>