[mx-view*="mx-tabs/box"],
[mx-view*="mx-dropdown/box"] {
    position: relative;
    display: inline-block;
    min-width: unset;
    border-radius: var(--border-radius);
    vertical-align: middle;
    overflow: hidden;

    &[mx-view*="size=small"] {
        --input-height: var(--input-small-height);
        --btn-h-gap: var(--btn-small-h-gap, 7px);
        --btn-min-width: var(--btn-small-min-width, 48px);
        --btn-font-size: var(--btn-small-font-size, 12px);
        --border-radius: var(--border-small-radius, 4px);
    }

    &[mx-view*="size=large"] {
        --input-height: var(--input-large-height, 40px);
        --btn-h-gap: var(--btn-large-h-gap, 15px);
        --btn-min-width: var(--btn-large-min-width, 96px);
        --btn-font-size: var(--btn-large-font-size, 14px);
        --border-radius: var(--border-large-radius, 4px);
    }

    .tag-content-wrapper {
        position: relative;
        height: var(--font-size);
    }

    .box-wrapper {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-left: 1px;

        .box-item {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            min-width: var(--btn-min-width, 64px);
            height: var(--input-height);
            padding: 0 var(--btn-h-gap, 11px);
            font-size: var(--btn-font-size, 12px);
            cursor: pointer;
            transition: all var(--duration);
            border-radius: 0;
            border-style: solid;
            border-width: 1px;
            border-left-width: 0px;
            border-right-width: 0px;
            border-color: var(--mx-tabs-box-border, var(--border-highlight));
            background-color: var(--mx-tabs-box-bg, var(--bg-highlight));
            color: var(--mx-tabs-box-color, #666);

            &:hover {
                color: var(--mx-tabs-box-color-hover, #333);
            }
        }

        &::after {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 1px;
            transition: all var(--duration);
            pointer-events: none;
            background-color: var(--input-gap-border, var(--border-highlight));
        }

        &:first-child {
            padding-left: 0;

            .box-item {
                border-left-width: 1px;
                border-left-color: var(--mx-tabs-box-border, var(--border-highlight));
                border-top-left-radius: var(--border-radius);
                border-bottom-left-radius: var(--border-radius);
            }

            &::after {
                content: unset;
            }
        }

        &:last-child {
            .box-item {
                border-right-width: 1px;
                border-right-color: var(--mx-tabs-box-border, var(--border-highlight));
                border-top-right-radius: var(--border-radius);
                border-bottom-right-radius: var(--border-radius);
            }
        }

        &.selected {
            z-index: 4;

            .box-item {
                border-color: var(--mx-tabs-box-border-active, var(--color-brand));
                background-color: var(--mx-tabs-box-bg-active, var(--color-brand-opacity));
                color: var(--mx-tabs-box-color-active, #333);
            }

            &::after {
                background-color: var(--mx-tabs-box-border-active, var(--color-brand));
            }
        }

        &.selected-next {
            &::after {
                background-color: var(--mx-tabs-box-border-active, var(--color-brand));
            }
        }

        &.disabled {
            cursor: not-allowed;

            .box-item {
                pointer-events: none;
                opacity: var(--mx-comp-disabled-opacity, .4);
            }

            .box-disabled-mask {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
            }

            &.selected {
                .box-item {
                    opacity: var(--mx-comp-disabled-opacity, .4);
                    color: var(--mx-tabs-box-color-active, #333);
                }
            }
        }

        &.selected-prev.enabled+.disabled.selected,
        &.disabled.selected+.selected-next.enabled,
        &.disabled+.disabled {
            &::after {
                opacity: var(--mx-comp-disabled-opacity, .4);
            }
        }
    }

    .multiple-triangle {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        right: -1px;
        bottom: 0;
        z-index: 2;
        width: calc(var(--border-radius) + 12px);
        height: calc(var(--border-radius) + 12px);
        background-image: linear-gradient(to bottom right, transparent 0%, transparent 49.9%, var(--color-brand-gradient, var(--color-brand)) 50%, var(--color-brand) 100%);
        cursor: pointer;
        transition: opacity var(--duration);
    }

    .multiple-tick {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        z-index: 3;
        bottom: 1px;
        width: calc(var(--border-radius) + 12px);
        height: calc(var(--border-radius) + 12px);
        background-size: calc(var(--border-radius) + 11px);
        background-image: url(https://img.alicdn.com/imgextra/i2/O1CN01KC2kqz1VfUCx6Phrz_!!6000000002680-2-tps-252-252.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        cursor: pointer;
        transition: opacity var(--duration);
    }

    .multiple {
        &.selected {
            .multiple-triangle {
                opacity: 1;
            }

            .multiple-tick {
                opacity: 1;
            }
        }

        &.disabled {

            .multiple-triangle,
            .multiple-tick {
                opacity: 0;
                pointer-events: none;
                cursor: not-allowed;
            }

            &.selected {

                .multiple-triangle,
                .multiple-tick {
                    opacity: var(--mx-comp-disabled-opacity, .4);
                }
            }
        }

    }

    &[mx-view*="mode=white"] {
        --mx-tabs-box-bg: #fff;
        // --mx-tabs-box-border: 
    }
}

[mx-view*="mx-tabs/box"][mx-view*="mode=vertical"],
[mx-view*="mx-tabs/box"][mx-view*="mode=vertical"][mx-view*="size=small"],
[mx-view*="mx-tabs/box"][mx-view*="mode=vertical"][mx-view*="size=large"] {
    border-radius: 0;

    .vertical-wrapper {
        position: relative;

        .box-item {
            position: relative;
            padding: 16px 80px 16px 16px;
            cursor: pointer;

            .title,
            .tip {
                max-width: 160px;
                line-height: 20px;
                white-space: nowrap;
                word-wrap: normal;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: all var(--duration);
            }

            .title {
                font-weight: 600;
            }

            .tip {
                color: #666;
            }

            .img {
                position: absolute;
                top: 50%;
                right: 16px;
                width: 48px;
                height: 48px;
                margin-top: -24px;
            }

            &:hover {
                .title {
                    color: var(--color-brand);
                }
            }
        }

        &::after {
            content: ' ';
            position: absolute;
            bottom: 0;
            left: 8px;
            right: 8px;
            border-bottom: 1px solid var(--color-border);
            pointer-events: none;
        }

        &:last-child {
            &::after {
                content: none;
            }
        }


        &.selected {
            background-color: var(--color-brand-opacity);

            .box-item {
                .title {
                    color: var(--color-brand);
                }
            }
        }

        &.disabled {
            opacity: var(--mx-comp-disabled-opacity, .4);
            cursor: not-allowed;

            .box-item,
            >* {
                pointer-events: none;
            }
        }
    }
}

[mx-view*="mx-tabs/box"][mx-view*="mode=shadow"],
[mx-view*="mx-tabs/box"][mx-view*="mode=shadow"][mx-view*="size=small"],
[mx-view*="mx-tabs/box"][mx-view*="mode=shadow"][mx-view*="size=large"] {
    --border-radius: 500px;
    --mx-tabs-box-shadow-gap: 2px;
    padding: 0 var(--mx-tabs-box-shadow-gap);
    background-color: var(--color-bg);
    overflow: visible;

    .shadow-on {
        position: absolute;
        z-index: 2;
        top: var(--mx-tabs-box-shadow-gap);
        height: calc(var(--input-height) - 2 * var(--mx-tabs-box-shadow-gap));
        background-color: #fff;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
        border-radius: var(--border-radius);
        transition: all var(--duration);
        pointer-events: none;
    }

    .special {
        position: relative;
        z-index: 3;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: var(--btn-min-width, 64px);
        height: var(--input-height);
        padding: 0 var(--btn-h-gap, 11px);
        color: #666;
        font-size: var(--btn-font-size, 12px);
        border-radius: var(--border-radius);
        cursor: pointer;
        transition: all var(--duration);

        &:hover {
            color: var(--color-brand);
        }

        &.selected {
            color: var(--color-brand);
        }

        &.disabled,
        &.disabled:hover {
            opacity: var(--mx-comp-disabled-opacity, .4);
            cursor: not-allowed;
            color: #666;

            &.selected {
                color: var(--color-brand);
            }
        }
    }
}


[mx-view*="mx-tabs/box"][mx-view*="mode=discrete"],
[mx-view*="mx-tabs/box"][mx-view*="mode=discrete"][mx-view*="size=small"],
[mx-view*="mx-tabs/box"][mx-view*="mode=discrete"][mx-view*="size=large"] {
    .special {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: var(--btn-min-width, 64px);
        height: var(--input-height);
        margin-right: 8px;
        padding: 0 var(--btn-h-gap, 11px);
        color: #666;
        font-size: var(--btn-font-size, 12px);
        border-radius: var(--border-radius, 4px);
        cursor: pointer;
        transition: all var(--duration);

        &:hover {
            color: var(--color-brand);
        }

        &.selected {
            color: var(--color-brand);
            background-color: var(--color-brand-opacity);
        }

        &.disabled,
        &.disabled:hover {
            opacity: var(--mx-comp-disabled-opacity, .4);
            cursor: not-allowed;
            color: #666;

            &.selected {
                color: var(--color-brand);
            }
        }
    }
}