[mx-view*="mx-tabs/index"],
[mx-view*="mx-tabs/anchor"] {
    --mx-tab-ver-gap: 10px;
    --mx-tab-hor-gap: 24px;
    .wrapper {
        position: relative;
        .item {
            position: relative;
            float: left;
            padding: var(--mx-tab-ver-gap) var(--mx-tab-hor-gap);
            font-size: calc(4px + var(--font-size));
            line-height: var(--input-height);
            transition: color var(--duration) ease-out;
            color: #666;
            &:hover {
                color: #333;
            }
            &.selected {
                color: var(--color-brand);
            }
            .tag-content {
                position: absolute;
                top: 50%;
                left: 100%;
                z-index: 3;
                display: inline-block;
                margin-top: calc(4px - var(--input-height));
                margin-left: -24px;
            }
        }
        .underline {
            position: absolute;
            width: 0;
            height: 0;
            bottom: -1px;
            border-bottom: 2px solid var(--color-brand);
            transition: width var(--duration) cubic-bezier(0.645, 0.045, 0.355, 1), left var(--duration) cubic-bezier(0.645, 0.045, 0.355, 1);
        }
    }
}

[mx-view*="mx-tabs/index"] {
    .border {
        border-bottom: 1px solid var(--color-border);
    }
}

[mx-view*="mx-tabs/anchor"] {
    position: relative;
    height: calc(var(--input-height) + var(--mx-tab-ver-gap) * 2);
    .anchor {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        height: calc(var(--input-height) + var(--mx-tab-ver-gap) * 2);
        background-color: #fff;
        box-shadow: 0 6px 8px rgba(51, 51, 51, 0.08);
        .cont {
            position: relative;
            margin: auto;
            .logo {
                float: left;
                max-width: 200px;
                max-height: calc(var(--input-height) + var(--mx-tab-ver-gap) * 2);
            }
            .item-wrapper {
                position: relative;
                float: left;
            }
            .right {
                display: table;
                position: absolute;
                top: 0;
                right: 0;
                height: calc(var(--input-height) + var(--mx-tab-ver-gap) * 2);
                .right-inner {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
}