[mx-view*="mx-tabs/index"],
[mx-view*="mx-tabs/anchor"] {
    .wrapper {
        position: relative;

        .item,
        .item:link,
        .item:visited {
            position: relative;
            display: inline-flex;
            height: calc(var(--input-height) + 2 * var(--mx-tab-v-gap));
            padding-left: var(--mx-tab-h-gap);
            padding-right: var(--mx-tab-h-gap);
            justify-content: center;
            align-items: center;

            .text {
                display: inline-flex;
                align-items: center;
                font-size: var(--mx-tab-font-size, 16px);
                color: #666;
                transition: color var(--duration) ease-out;
                line-height: initial;
            }

            .tag {
                margin-left: 2px;
            }

            .tag-content {
                position: absolute;
                top: 50%;
                left: 100%;
                z-index: 3;
                display: inline-block;
                margin-top: calc(0px - 4px - var(--input-height) / 2);
                margin-left: -24px;
            }

            &:hover {
                .text {
                    color: #333;
                }
            }

            &.selected {
                .text {
                    color: var(--color-brand);
                }
            }

        }

        .underline {
            position: absolute;
            width: 0;
            height: 0;
            bottom: -1px;
            border-bottom: 2px solid var(--color-brand);
            transition: width var(--duration) cubic-bezier(0.645, 0.045, 0.355, 1), left var(--duration) cubic-bezier(0.645, 0.045, 0.355, 1);
        }
    }
}

[mx-view*="mx-tabs/index"] {
    .border {
        border-bottom: 1px solid var(--color-border);
    }

    .shrink {
        padding-left: var(--mx-grid-title-h-gap);
        border-bottom: 1px solid var(--mx-grid-title-color-border);

        .shrink-item,
        .shrink-item:link,
        .shrink-item:visited {
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: calc(var(--input-height) + 2 * var(--mx-tab-shrink-v-gap));
            margin-right: calc(var(--mx-tab-shrink-h-gap) * 2);

            .shrink-text {
                display: inline-flex;
                align-items: center;
                font-size: var(--mx-tab-shrink-font-size, 16px);
                color: #666;
                transition: color var(--duration) ease-out;
                line-height: initial;
            }

            .shrink-tag {
                position: absolute;
                top: 50%;
                left: 100%;
                margin-top: calc(0px - var(--mx-tag-height) / 2 * 3);
                margin-left: -4px;
            }

            &:last-child {
                margin-right: 0;
            }

            &::after,
            &::before {
                content: ' ';
                position: absolute;
                height: 0;
                bottom: 0;
                border-bottom: 2px solid var(--color-brand);
                transition: all var(--duration);
            }

            &::before {
                left: 50%;
                width: 0;
                border-top-left-radius: 1px;
                border-bottom-left-radius: 1px;
            }

            &::after {
                left: 50%;
                width: 0;
                border-top-right-radius: 1px;
                border-bottom-right-radius: 1px;
            }

            &:hover {
                color: #333;
            }

            &.shrink-selected {
                color: var(--color-brand);

                &::before {
                    left: 0;
                    width: 50%;
                }

                &::after {
                    width: 50%;
                }
            }
        }
    }
}

[mx-view*="mx-tabs/index"][mx-view*="mode=edit"] {
    border-bottom: 1px solid var(--color-border);
    line-height: 0;

    .edit {
        display: inline-block;
        position: relative;
        top: 1px;
        max-width: 100%;

        .edit-inner {
            display: inline-block;
            max-width: 100%;
            height: var(--input-height);
            white-space: nowrap;
            -ms-overflow-style: none;
            overflow: auto hidden;
            overflow-x: auto;
            overflow-y: hidden;
            scrollbar-width: none;
            scrollbar-color: unset;

            &::-webkit-scrollbar {
                display: none;
                width: 0;
                height: 0;
            }

            &::-webkit-scrollbar-thumb {
                background-color: transparent;
            }
        }

        .edit-item,
        .edit-item:link,
        .edit-item:visited {
            position: relative;
            display: inline-flex;
            height: var(--input-height);
            margin-right: 2px;
            padding-left: 12px;
            padding-right: 12px;
            align-items: center;
            justify-content: center;
            border-radius: var(--border-radius) var(--border-radius) 0 0;
            border-top: 1px solid var(--color-border);
            border-right: 1px solid var(--color-border);
            border-bottom: 1px solid var(--color-border);
            border-left: 1px solid var(--color-border);
            color: #666;
            background-color: var(--color-bg);
            transition: all var(--duration);
            cursor: pointer;

            .edit-icon {
                color: #999;
                transition: all var(--duration);
            }

            .edit-tag {
                margin-left: 4px;
            }

            &:hover {
                color: #333;

                .edit-icon {
                    color: #666;
                }
            }

            &.edit-selected {
                border-bottom: 1px solid #fff;
                color: #333;
                background-color: #fff;
            }
        }

        &.editable {
            padding-right: 40px;

            .edit-add {
                position: absolute;
                top: 0;
                right: 0;
                width: 40px;
                margin-right: 0;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

[mx-view*="mx-tabs/anchor"] {
    position: relative;
    height: calc(var(--input-height) + var(--mx-tab-v-gap) * 2);

    .anchor {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        height: calc(var(--input-height) + var(--mx-tab-v-gap) * 2);
        background-color: #fff;
        box-shadow: var(--mx-comp-shadow, 0 1px 1px 0 rgba(0, 0, 0, 0.08));

        .cont {
            position: relative;
            margin: auto;

            .logo {
                float: left;
                max-width: 200px;
                max-height: calc(var(--input-height) + var(--mx-tab-v-gap) * 2);
            }

            .item-wrapper {
                position: relative;
                float: left;
            }

            .right {
                display: table;
                position: absolute;
                top: 0;
                right: 0;
                height: calc(var(--input-height) + var(--mx-tab-v-gap) * 2);

                .right-inner {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
}