{{if type == 'border'}}
<div class="border clearfix">
    {{each list as item index}}
    <a class="border-item {{= (item.value == selected) ? 'selected' : ''}}" href="javascript:;" id="{{=viewId}}_{{=item.value}}"
        mx-mouseover="@{over}({value:'{{=item.value}}'})" 
        mx-mouseout="@{out}()"  
        mx-click="@{select}({item:'{{@item}}'})" 
        {{if spm}} data-spm-click="{{=spm}}{{=index}}" {{/if}}>
        {{=item.text}}
        {{if item.tag}}
        <span class="tag">
            <span class="tag-arrow"></span>
            <span class="tag-name">{{=item.tag}}</span>
        </span>
        {{/if}}
        {{if item.tips}}
        <mx-popover class="mc-iconfont color-c"
            tag="i"
            content="{{=item.tips}}">&#xe7aa;</mx-popover>
        {{/if}}
    </a>
    {{/each}}
    <span class="underline" style="left: {{=left}}px; width: {{=width}}px;"></span>
</div>
{{else}}
<div class="box {{= disabled ? 'disabled' : ''}}">
    {{each list as item}}
    <a href="javascript:;" {{if !disabled}} mx-click="@{select}({item:'{{@item}}'})"  {{/if}} class="box-item {{= (item.value == selected) ? 'selected' : ''}}"
        {{if spm}} data-spm-click="{{=spm}}{{=index}}" {{/if}}>
        {{=item.text}}
        {{if item.tag}}
        <span class="tag">{{=item.tag}}</span>
        {{/if}}
    </a>
    {{/each}}
</div>
{{/if}}