:root {
    --mx-tabs-menu-gap: 8px;
    --mx-tabs-menu-height: var(--input-height);
    --mx-tabs-menu-padding-gap: 12px;
    --mx-tabs-menu-margin-gap: 8px;
    --mx-tabs-menu-icon-size: 14px;
    --mx-tabs-menu-selected-color: #fff;
    --mx-tabs-menu-selected-bg: var(--color-brand);
    --mx-tabs-menu-selected-shadow: var(--border-highlight-shadow-active);
}

.menu-logo {
    position: absolute;
    top: 50%;
    left: var(--mx-tabs-menu-padding-gap);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--mx-tabs-menu-icon-size);
    height: var(--mx-tabs-menu-icon-size);
    margin-top: calc(0px - var(--mx-tabs-menu-icon-size) / 2);
    transition: color var(--duration), border-color var(--duration), background-color var(--duration);
    color: #333;
    line-height: 0;

    >* {
        font-size: var(--mx-tabs-menu-icon-size);
    }
}

.menu-text {
    padding-left: 8px;
    color: #333;
    transition: all var(--duration);
    overflow: hidden;
    white-space: nowrap;

    img {
        height: 14px;
        margin-left: 4px;
    }
}

.menu-icon {
    margin-left: 4px;
}

.menu-trigger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: calc(var(--mx-tabs-menu-padding-gap) / 2);
    width: 12px;
    height: 12px;
    margin-top: -6px;
    font-size: 20px;
    color: var(--mx-trigger-arrow-color, #ccc);
    transition: all var(--duration);
}

.menu-line {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    width: 164px;
    height: var(--mx-tabs-menu-height);
    margin-bottom: var(--mx-tabs-menu-margin-gap);
    padding-left: calc(var(--mx-tabs-menu-padding-gap) + var(--mx-tabs-menu-icon-size));
    padding-right: var(--mx-tabs-menu-padding-gap);
    font-size: 12px;
    color: #333;
    border-radius: var(--border-radius);
    transition: all var(--duration);
    overflow: hidden;

    &.menu-child {
        .menu-text {
            color: #666;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {

        .menu-logo,
        .menu-text {
            color: var(--color-brand);
        }

        .menu-trigger {
            color: var(--mx-trigger-arrow-color-hover, #666);
        }
    }

    &.menu-selected,
    &.menu-selected:hover {
        background-color: var(--mx-tabs-menu-selected-bg);
        box-shadow: var(--mx-tabs-menu-selected-shadow);

        .menu-logo {
            color: var(--mx-tabs-menu-selected-color);
        }

        .menu-text {
            color: var(--mx-tabs-menu-selected-color);
        }
    }

    &.parent-expand {
        .menu-trigger {
            transform: rotate(180deg);
        }
    }

    &.parent-selected {
        .menu-logo {
            color: var(--color-brand);
        }

        .menu-text {
            color: var(--color-brand);
        }
    }

    &.child-close {
        opacity: 0;
        height: 0px;
        margin-bottom: 0;
        pointer-events: none;
        visibility: hidden;
    }
}

[mx-view*="mx-tabs/menu"] {
    display: inline-block;
    vertical-align: middle;
    padding: var(--mx-tabs-menu-gap);

    &[mx-view*="expand=false"] {
        .menu-line {
            width: calc(var(--mx-tabs-menu-padding-gap) * 2 + var(--mx-tabs-menu-icon-size));
        }

        .menu-text,
        .menu-trigger {
            opacity: 0;
            width: 0;
            margin-bottom: 0;
            pointer-events: none;
            visibility: hidden;
        }

        .parent-selected {
            background-color: var(--mx-tabs-menu-selected-bg);
            box-shadow: var(--mx-tabs-menu-selected-shadow);

            .menu-logo {
                color: var(--mx-tabs-menu-selected-color);
            }

            .menu-text {
                color: var(--mx-tabs-menu-selected-color);
            }
        }
    }
}