.pipeline-circles {
    box-sizing: border-box;
    display: flex;
    font-size: 0;

    .circle-item {
        position: relative;
        display: inline-block;
        margin-right: 16px;
        white-space: nowrap;
        flex: 1;
        line-height: initial;

        .circle-custom-icon,
        .circle-icon {
            display: inline-flex;
            position: relative;
            z-index: 3;
            vertical-align: middle;
            align-items: center;
            justify-content: center;
            transition: all var(--duration);
            color: var(--mx-pipeline-line-color);
            background-color: #fff;
        }

        .circle-icon {
            width: var(--mx-pipeline-circle-size);
            height: var(--mx-pipeline-circle-size);
            border-radius: 50%;
            border-width: 1px;
            border-style: solid;
            border-color: var(--mx-pipeline-line-color);
            line-height: calc(var(--mx-pipeline-circle-size) - 2px);
        }

        .circle-custom-icon>* {
            font-size: var(--mx-pipeline-circle-icon-size);
            transform: scale(1);
        }

        .circle-icon-text {
            font-size: calc(var(--mx-pipeline-circle-size) + 4px);
            transform: scale(.5);
        }

        .circle-icon-finish {
            font-size: var(--mx-pipeline-circle-size);
            transform: scale(1);
        }

        .circle-title {
            display: inline-block;
            position: relative;
            z-index: 3;
            padding-right: 16px;
            padding-left: 8px;
            font-size: var(--mx-pipeline-circle-font-size);
            background-color: #fff;
            transition: all var(--duration);
            line-height: var(--mx-pipeline-circle-size);
            vertical-align: middle;
            font-weight: normal;
        }

        .circle-tip {
            position: absolute;
            top: 100%;
            left: calc(var(--mx-pipeline-circle-size) + 8px);
            font-size: 12px;
            color: #999;
            white-space: nowrap;
            line-height: 1.5;
            font-weight: normal;
        }

        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 0;
            width: 100%;
            height: 0;
            border-top-width: 1px;
            border-top-style: solid;
            border-top-color: var(--mx-pipeline-line-color);
            transition: all var(--duration);
        }

        &:last-child {
            margin-right: 0;
            flex: none;

            .circle-title {
                padding-right: 0;
            }

            &::after {
                display: none;
            }
        }

        &.circle-finished {
            .circle-custom-icon {
                color: var(--color-brand);
            }

            .circle-icon {
                border-color: var(--color-brand);
                color: var(--color-brand);
                background-color: #fff;
            }

            &::after {
                border-top-color: var(--color-brand);
            }
        }

        &.circle-selected {
            .circle-custom-icon {
                color: var(--color-brand);
            }

            .circle-icon {
                border-color: var(--color-brand);
                color: #fff;
                background-color: var(--color-brand);
            }

            .circle-title {
                color: var(--color-brand);
            }
        }

        &.circle-disabled {
            cursor: not-allowed;

            .circle-custom-icon,
            .circle-icon {
                pointer-events: none;
            }

            .circle-title {
                color: #999;
                pointer-events: none;
            }
        }
    }
}

.pipeline-dots {
    box-sizing: border-box;
    display: flex;
    font-size: 0;

    .dot-item {
        position: relative;
        display: inline-block;
        white-space: nowrap;
        flex: 1;
        line-height: initial;

        .dot-shadow {
            position: relative;
            z-index: 2;
            display: inline-flex;
            vertical-align: middle;
            align-items: center;
            justify-content: center;
            width: var(--mx-pipeline-circle-size);
            height: var(--mx-pipeline-circle-size);
            background-color: transparent;

            &::after {
                content: ' ';
                position: absolute;
                top: calc((var(--mx-pipeline-circle-size) - var(--mx-pipeline-circle-dot-size) / 2) / 2);
                left: calc((var(--mx-pipeline-circle-size) - var(--mx-pipeline-circle-dot-size) / 2) / 2);
                width: calc(var(--mx-pipeline-circle-dot-size) / 2);
                height: calc(var(--mx-pipeline-circle-dot-size) / 2);
                border-radius: 50%;
                background-color: var(--mx-pipeline-line-color);
                transition: all var(--duration);
            }
        }

        .dot-icon {
            position: relative;
            z-index: 2;
            display: inline-flex;
            vertical-align: middle;
            align-items: center;
            justify-content: center;
            width: var(--mx-pipeline-circle-size);
            height: var(--mx-pipeline-circle-size);
            border-radius: 50%;
            transition: all var(--duration);
            color: #fff;
            background-color: var(--mx-pipeline-line-color);
        }

        // 自定义icon
        .dot-icon>* {
            font-size: var(--mx-pipeline-circle-size);
            transform: scale(.5);
        }

        .dot-icon-text {
            font-size: var(--mx-pipeline-circle-size);
            transform: scale(.6);
        }

        .dot-icon-finish {
            font-size: var(--mx-pipeline-circle-size);
            transform: scale(1);
        }

        .dot-title {
            margin-top: 12px;
            font-size: var(--mx-pipeline-circle-font-size);
            background-color: #fff;
            transition: all var(--duration);
            line-height: 1;
            vertical-align: middle;
            font-weight: normal;
        }

        .dot-tip {
            margin-top: 8px;
            font-size: 12px;
            color: #999;
            white-space: nowrap;
            line-height: 1;
            font-weight: normal;
        }

        .dot-inner {
            float: left;
            text-align: center;
        }

        .dot-line {
            position: absolute;
            z-index: 1;
            top: calc((var(--mx-pipeline-circle-size) - var(--mx-pipeline-circle-dot-line-width)) / 2);
            left: auto;
            right: auto;
            height: 0;
            border-top-width: var(--mx-pipeline-circle-dot-line-width);
            border-top-style: solid;
            border-top-color: var(--mx-pipeline-line-color);
            transition: all var(--duration);
        }

        &:last-child {
            flex: none;

            .dot-line {
                display: none;
            }
        }

        &.dot-finished {
            .dot-shadow {
                &::after {
                    background-color: var(--color-brand);
                }
            }

            .dot-icon {
                background-color: var(--color-brand);
            }

            .dot-line {
                border-top-color: var(--color-brand);
            }
        }

        &.dot-selected {
            .dot-shadow {
                &::before {
                    content: ' ';
                    opacity: .2;
                    position: absolute;
                    top: calc((var(--mx-pipeline-circle-size) - var(--mx-pipeline-circle-dot-size)) / 2);
                    left: calc((var(--mx-pipeline-circle-size) - var(--mx-pipeline-circle-dot-size)) / 2);
                    width: var(--mx-pipeline-circle-dot-size);
                    height: var(--mx-pipeline-circle-dot-size);
                    border-radius: 50%;
                    background-color: var(--color-brand);
                    transition: all var(--duration);
                }

                &::after {
                    background-color: var(--color-brand);
                }
            }

            .dot-icon {
                background-color: var(--color-brand);
            }

            .dot-title {
                color: var(--color-brand);
            }
        }

        &.dot-disabled {
            cursor: not-allowed;

            .dot-icon {
                pointer-events: none;
            }

            .dot-title {
                color: #999;
                pointer-events: none;
            }
        }
    }
}


[mx-view*="mx-effects/pipeline"][mx-view*="mode=circle"],
[mx-view*="mx-effects/pipeline"][mx-view*="mode=dot"],
[mx-view*="mx-effects/pipeline"][mx-view*="mode=dot-num"] {
    --mx-pipeline-line-color: #C3C9D9;
    --mx-pipeline-circle-size: 24px;
    --mx-pipeline-circle-font-size: 14px;
    --mx-pipeline-circle-icon-size: 16px;
    --mx-pipeline-circle-dot-size: 16px;
    --mx-pipeline-circle-dot-line-width: 2px;

    &[mx-view*="size=small"] {
        --mx-pipeline-circle-size: 16px;
        --mx-pipeline-circle-font-size: 12px;
        --mx-pipeline-circle-icon-size: 12px;
        --mx-pipeline-circle-dot-size: 12px;
        --mx-pipeline-circle-dot-line-width: 1px;
    }
}