{{if (mode == 'box' || mode == 'box-time' || mode == 'box-line')}}
<div class="clearfix pipeline {{if (mode != 'box-line')}} pipeline-with-bg {{/if}} {{if editable}} pipeline-editable {{/if}}" 
    style="--mx-effects-pipeline-color: {{=color}};">
    {{if (img && mode != 'box-line')}}
    <div class="pipeline-logo">
        <div class="pipeline-logo-inner" style="background-image: url({{=img}});"></div>
    </div>
    {{/if}}
    <div class="pipeline-boxs">
        {{each list as item index}}
        <div class="pipeline-box 
            {{if (item.value == selected)}} pipeline-cur {{/if}} 
            {{if item.highlight}} pipeline-highlight {{/if}} 
            {{if item.disabled}} pipeline-disabled {{/if}}"
            {{if (editable && !item.disabled)}} mx-click="@{select.parent}({index:'{{=index}}'})"  {{/if}} >
            <div class="pipeline-title">
                {{!item.text}}
                {{if item.icon}}<img src="{{=item.icon}}"/>{{/if}}
                {{if item.iconTip}}<mx-popover class="mc-iconfont mc-tip-iconfont" content="{{=item.iconTip}}">&#xe72f;</mx-popover>{{/if}}
            </div> 
            <div class="pipeline-sub-title">{{!item.tip}}</div>
            <div class="pipeline-gradient-bg" style="background-image: linear-gradient(180deg, {{=color0}} 0%, {{=color2}} 99%);"></div>
            <div class="pipeline-spliter" style="background-image: linear-gradient(180deg, {{=color0}} 0%, {{=color2}} 99%);"></div>
        </div>
        {{/each}}
        <div class="pipeline-boxs-bg" style="background-image: linear-gradient(270deg, {{=color4}} 2%, {{=color2}} 100%);"></div>
        <div class="pipeline-boxs-bg-on" style="width: {{=percent}}%; background-image: linear-gradient(145deg, {{=color8}} 33%, {{=color6}} 34%, {{=color6}} 59%, {{=color8}} 60%); "></div>
    </div>
    {{if (mode != 'box-line')}}
    <div class="pipeline-bg"></div>
    {{/if}}
</div>
{{/if}}

{{if (mode == 'nav')}}
<div class="nav-wrapper {{if editable}} nav-editable {{/if}}">
    <!-- 高亮背景 -->
    <div class="nav-pbg" style="top: calc((var(--mx-tabs-menu-height, var(--input-height)) + var(--mx-tabs-menu-margin-gap, 8px)) * {{=(selectedIndex + subCount)}});"></div>

    {{each list as item index}}
    <div class="nav-line 
        {{if item.highlight}} nav-highlight {{/if}} 
        {{if item.finished}} nav-finished {{/if}} 
        {{if (item.value == selected)}} 
            nav-cur 
        {{else}}
            {{if item.disabled}} nav-disabled {{/if}}
        {{/if}}"
        {{if (editable && !item.disabled)}} mx-click="@{select.parent}({index:'{{=index}}'})"  {{/if}}>
        <div class="nav">
            <!-- 数值 or 已完成图标 -->
            <span class="nav-idx">
                {{if (item.finished || (index == list.length - 1))}}
                <i class="idx mc-iconfont">&#xe67a;</i>
                {{else}}
                <span class="idx">{{=(index + 1)}}</span>
                {{/if}}
            </span>

            <!-- 文案 -->
            <span class="nav-text">
                {{=item.text}}
                {{if item.icon}}<img src="{{=item.icon}}"/>{{/if}}
                {{if item.iconTip}}<mx-popover class="mc-iconfont mc-tip-iconfont" content="{{=item.iconTip}}">&#xe72f;</mx-popover>{{/if}}
            </span>
                
            {{if (item.value == selected)}}
                <!-- 选中态 -->
            {{else}}
                <!-- 锁定状态 -->
                {{if item.disabled}}
                <i class="mx-iconfont nav-lock">&#xe69b;</i>
                {{/if}}
            {{/if}}
        </div>  
    </div>

    {{if (!item.disabled && item.subs && item.subs.length)}}
        {{each item.subs as sub subIndex}}
        <div class="nav-line 
            {{if item.finished}} nav-finished {{/if}} 
            {{if (sub.value == selected)}} nav-cur {{/if}}"
            {{if (editable && !sub.disabled)}} mx-click="@{select.sub}({index:'{{=index}}',subIndex:'{{=subIndex}}'})"  {{/if}}>
            <div class="nav nav-child">
                <span class="nav-text">
                    {{=sub.text}}
                    {{if sub.icon}}<img src="{{=sub.icon}}"/>{{/if}}
                    {{if sub.iconTip}}<mx-popover class="mc-iconfont mc-tip-iconfont" content="{{=sub.iconTip}}">&#xe72f;</mx-popover>{{/if}}
                </span>
            </div>  
        </div>
        {{/each}}
    {{/if}}
    {{/each}}
</div>
{{/if}}

{{if (mode == 'circle')}}
<div class="pipeline-circles">
    {{each list as item index}}
    <div class="circle-item 
        {{if item.finished}} 
            circle-finished
            {{if (list[index + 1] && (list[index + 1].value == selected) && list[index + 1].error)}} circle-next-error {{/if}}
        {{/if}} 
        {{if (item.value == selected)}} 
            circle-selected
            {{if item.error}} circle-error {{/if}} 
        {{else}}
            {{if item.disabled}} circle-disabled {{/if}}
        {{/if}}
        {{if (editable && !item.disabled)}} circle-editable {{/if}}">
        {{if item.icon}}
        <div class="circle-custom-icon" {{if (editable && !item.disabled)}} mx-click="@{select.parent}({index:'{{=index}}'})"  {{/if}}>{{!item.icon}}</div>
        {{else}}
        <div class="circle-icon" {{if (editable && !item.disabled)}} mx-click="@{select.parent}({index:'{{=index}}'})"  {{/if}}>
            {{if (item.finished && showFinish)}}
            <i class="mc-iconfont def-icon-finish">&#xe65d;</i>
            {{else}}
            <span class="def-icon-text">{{=(index + 1)}}</span>
            {{/if}}
        </div>
        {{/if}}
        <div class="circle-inner" {{if (editable && !item.disabled)}} mx-click="@{select.parent}({index:'{{=index}}'})"  {{/if}}>
            <div class="circle-title">
                {{=item.text}}{{if item.iconTip}}<mx-popover class="mc-iconfont mc-tip-iconfont" content="{{=item.iconTip}}">&#xe72f;</mx-popover>{{/if}}
            </div>
            {{if item.tip}}<div class="circle-tip">{{!item.tip}}</div>{{/if}}
        </div>
        {{if (item.linePercent > 0)}}<div style="width: {{=item.linePercent}}px;" class="circle-line"></div>{{/if}}
    </div>
    {{/each}}
</div>
{{/if}}

{{if (mode == 'dot' || mode == 'dot-num')}}
<div class="pipeline-dots {{if editable}} pipeline-editable {{/if}}">
    {{each list as item index}}
    <div class="clearfix dot-item 
        {{if item.finished}} 
            dot-finished 
            {{if (list[index + 1] && (list[index + 1].value == selected) && list[index + 1].error)}} dot-next-error {{/if}}
        {{/if}} 
        {{if (item.value == selected)}} 
            dot-selected
            {{if item.error}} dot-error {{/if}} 
        {{else}}
            {{if item.disabled}} dot-disabled {{/if}}
        {{/if}}
        {{if (editable && !item.disabled)}} dot-editable {{/if}}">
        <div class="dot-inner" 
            {{if (editable && !item.disabled)}} mx-click="@{select.parent}({index:'{{=index}}'})"  {{/if}} >
            {{if mode == 'dot-num'}}
                {{if item.icon}}
                    <div class="dot-custom-icon">{{!item.icon}}</div>
                {{else}}
                    <div class="dot-icon">
                        {{if (item.finished && showFinish)}}
                        <i class="mc-iconfont def-icon-finish">&#xe65d;</i>
                        {{else}}
                        <span class="def-icon-text">{{=(index + 1)}}</span>
                        {{/if}}
                    </div>
                {{/if}}
            {{else}}
            <div class="dot-shadow"></div>
            {{/if}}
           
            <div class="dot-title">{{=item.text}}{{if item.iconTip}}<mx-popover class="mc-iconfont mc-tip-iconfont" content="{{=item.iconTip}}">&#xe72f;</mx-popover>{{/if}}</div>
            {{if item.tip}}<div class="dot-tip">{{=item.tip}}</div>{{/if}}
        </div>
        <div class="dot-line" style="left: {{=item.lineLeft}}px; right: {{=item.lineRight}}px;"></div>
        {{if (item.linePercent > 0)}}
        <div class="dot-line-mask" style="width: {{=item.linePercent}}px; right: {{=item.lineRight}}px;"></div>
        {{/if}}
    </div>
    {{/each}}
</div>
{{/if}}

{{if (mode == 'vertical-circle' || mode == 'vertical-dot' || mode == 'vertical-dot-num')}}
    {{each list as item index}}
    <div style="{{if (index < list.length - 1)}} margin-bottom: {{=(item.gap || verticalGap)}}px; {{/if}}" 
        class="clearfix vertical-item {{if editable}} vertical-editable {{/if}}
        {{if item.finished}} 
            vertical-finished 
            {{if (list[index + 1] && (list[index + 1].value == selected) && list[index + 1].error)}} vertical-next-error {{/if}}
        {{/if}} 
        {{if (item.value == selected)}} 
            vertical-selected
            {{if item.error}} vertical-error {{/if}} 
        {{else}}
            {{if item.disabled}} vertical-disabled {{/if}}
        {{/if}}">

        <div class="vertical-icon-wrapper">
            {{if (mode == 'vertical-dot')}}
                <div class="vertical-shadow"></div>
            {{else}}
                {{if item.icon}}
                <div class="vertical-custom-icon">{{!item.icon}}</div>
                {{else}}
                <div class="vertical-icon">
                    {{if (item.finished && showFinish)}}
                    <i class="mc-iconfont def-icon-finish">&#xe65d;</i>
                    {{else}}
                    <span class="def-icon-text">{{=(index + 1)}}</span>
                    {{/if}}
                </div>
                {{/if}}
            {{/if}}

            <!-- 连接线 -->
            {{if (index < list.length - 1)}}
            <div class="vertical-line" 
                style="{{if (mode == 'vertical-circle')}}
                    height: calc({{=(item.gap || verticalGap)}}px - 16px - var(--mx-pipeline-circle-size) + var(--input-height));
                {{else}} 
                    height: calc(var(--input-height) + {{=(item.gap || verticalGap)}}px);
                {{/if}}"></div>
            {{/if}}

            {{if ((index < selected) && (selected < index + 1) && (percent > 0))}}
            <div class="vertical-line-mask" 
                style="transform: scaleY({{=(1 - percent / 100)}});
                {{if (mode == 'vertical-circle')}}
                    height: calc({{=(item.gap || verticalGap)}}px - 16px - var(--mx-pipeline-circle-size) + var(--input-height));
                {{else}} 
                    height: calc(var(--input-height) + {{=(item.gap || verticalGap)}}px);
                {{/if}}"></div>
            {{/if}}
        </div>

        <div class="vertical-title">
            {{=item.text}}{{if item.iconTip}}<mx-popover class="mc-iconfont mc-tip-iconfont" content="{{=item.iconTip}}">&#xe72f;</mx-popover>{{/if}}
            {{if item.tip}}<div class="vertical-tip">{{=item.tip}}</div>{{/if}}
        </div>
    </div>
    {{/each}}
{{/if}}
