<div class="clearfix pipeline editable" 
    style="--mx-effects-pipeline-color: {{=color}};">
    {{if img}}
    <div class="pipeline-logo">
        <div class="pipeline-logo-inner" style="background-image: url({{=img}});"></div>
    </div>
    {{/if}}
    <div class="pipeline-boxs">
        {{each list as item index}}
        <div class="pipeline-box {{if item.highlight}} prev {{/if}} {{if (item.value == selected)}} cur {{/if}} {{if item.disabled}} disabled {{/if}}"
            {{if !item.disabled}} mx-click="@{select}({item:'{{@item}}'})"  {{/if}} >
            <div class="pipeline-title">
                {{!item.text}}
                {{if item.icon}}<img src="{{=item.icon}}"/>{{/if}}
                {{if item.iconTip}}<mx-popover class="mc-iconfont mc-tip-iconfont" content="{{=item.iconTip}}">&#xe72f;</mx-popover>{{/if}}
            </div> 
            <div class="pipeline-sub-title">{{!item.tip}}</div>
            <div class="pipeline-gradient-bg" style="background-image: linear-gradient(180deg, {{=color0}} 0%, {{=color2}} 99%);"></div>
            <div class="pipeline-spliter" style="background-image: linear-gradient(180deg, {{=color0}} 0%, {{=color2}} 99%);"></div>
        </div>
        {{/each}}
        <div class="pipeline-boxs-bg" style="background-image: linear-gradient(270deg, {{=color4}} 2%, {{=color2}} 100%);"></div>
        <div class="pipeline-boxs-bg-on" style="width: {{=percent}}%; background-image: linear-gradient(145deg, {{=color8}} 33%, {{=color6}} 34%, {{=color6}} 59%, {{=color8}} 60%); "></div>
    </div>
    <div class="pipeline-bg"></div>
</div>