[mx-view*="mx-tabs/pipeline"][mx-view*="mode=menu"] {
    display: inline-block;
    vertical-align: middle;
    --mx-tabs-menu-width: 164px;
    --mx-tabs-menu-height: var(--input-height);
    --mx-tabs-menu-padding-gap: 12px;
    --mx-tabs-menu-margin-gap: 8px;
    --mx-tabs-menu-icon-size: 14px;
}

.menu-line {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    width: var(--mx-tabs-menu-width);
    height: var(--mx-tabs-menu-height);
    margin-bottom: var(--mx-tabs-menu-margin-gap);
    padding-left: calc(var(--mx-tabs-menu-padding-gap) + var(--mx-tabs-menu-icon-size));
    padding-right: var(--mx-tabs-menu-padding-gap);
    font-size: 12px;
    color: #333;
    overflow: hidden;
    border-radius: var(--border-radius);
    transition: all var(--duration);

    .menu-logo {
        position: absolute;
        top: 50%;
        left: var(--mx-tabs-menu-padding-gap);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: var(--mx-tabs-menu-icon-size);
        height: var(--mx-tabs-menu-icon-size);
        margin-top: calc(0px - var(--mx-tabs-menu-icon-size) / 2);
        transition: color var(--duration), border-color var(--duration), background-color var(--duration);
        color: #333;
        line-height: 0;

        >* {
            font-size: var(--mx-tabs-menu-icon-size);
        }
    }

    .menu-text {
        padding-left: 8px;
        color: #333;
        transition: color var(--duration);

        img {
            height: 14px;
            margin-left: 4px;
        }
    }

    .menu-trigger {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        right: calc(var(--mx-tabs-menu-padding-gap) / 2);
        width: 12px;
        height: 12px;
        margin-top: -6px;
        transition: all var(--duration);
        font-size: 20px;
        color: var(--mx-trigger-arrow-color, #ccc);
    }

    &.menu-child {
        .menu-text {
            color: #666;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {

        .menu-logo,
        .menu-text {
            color: var(--color-brand);
        }

        .menu-trigger {
            color: var(--mx-trigger-arrow-color-hover, #666);
        }
    }

    &.menu-cur,
    &.menu-cur:hover {
        background-color: var(--color-brand);
        box-shadow: var(--border-highlight-shadow-active);

        .menu-logo {
            color: #fff;
        }

        .menu-text {
            color: #fff;
        }
    }

    &.menu-expand {
        .menu-logo {
            color: var(--color-brand);
        }

        .menu-text {
            color: var(--color-brand);
        }

        .menu-trigger {
            transform: rotate(180deg);
        }
    }

    &.menu-close {
        opacity: 0;
        height: 0px;
        margin-bottom: 0;
        pointer-events: none;
        visibility: hidden;
    }
}