@pipeline-logo-size: 120px;
@pipeline-v-gap: 32px;
@pipeline-placehoder: 8px;

.pipeline {
    position: relative;
    display: flex;
    align-items: center;

    &.pipeline-with-bg {
        height: 100px;
        padding-left: @pipeline-v-gap;
        padding-right: @pipeline-v-gap;
        padding-bottom: @pipeline-placehoder; // 视觉效果上上移一点
    }

    .pipeline-logo {
        position: relative;
        width: @pipeline-logo-size - @pipeline-v-gap;
        height: 100%;

        .pipeline-logo-inner {
            position: absolute;
            right: 0;
            bottom: 0px - @pipeline-placehoder;
            width: @pipeline-logo-size;
            height: @pipeline-logo-size;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }

    .pipeline-boxs {
        flex: 1;
        position: relative;
        display: flex;
    }

    .pipeline-title {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 22px;
        line-height: 22px;
        font-weight: normal;
        font-size: 14px;
        color: #333;
        transition: color var(--duration);
        overflow: hidden;
        word-break: break-all;

        img {
            height: 14px;
            margin-left: 4px;
        }
    }

    .pipeline-sub-title {
        height: 18px;
        line-height: 18px;
        font-weight: normal;
        color: #666;
        font-size: 12px;
        transition: color var(--duration);
        overflow: hidden;
        word-break: break-all;
        text-align: center;
    }

    .pipeline-gradient-bg {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        transition: opacity var(--duration);
    }

    .pipeline-spliter {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 1px;
    }

    .pipeline-box {
        flex: 1;
        flex-direction: column;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        margin-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;

        &:first-child {
            .pipeline-spliter {
                display: none;
            }
        }

        &.pipeline-highlight {
            .pipeline-title {
                color: var(--mx-effects-pipeline-color);
            }
        }

        &.pipeline-cur {

            .pipeline-title,
            .pipeline-sub-title {
                color: var(--mx-effects-pipeline-color);
                font-weight: bold;
            }

            .pipeline-gradient-bg {
                opacity: 1;
            }
        }

        &.pipeline-disabled {
            opacity: var(--mx-comp-disabled-opacity, .4);
            cursor: not-allowed;
        }
    }

    .pipeline-boxs-bg,
    .pipeline-boxs-bg-on {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
    }

    .pipeline-boxs-bg-on {
        width: 0;
        background-size: 10px 5px;
        transition: width var(--duration);

        &::after {
            content: ' ';
            position: absolute;
            top: 50%;
            right: -4px;
            width: 8px;
            height: 8px;
            margin-top: -4px;
            border-radius: 50%;
            background-color: #fff;
            border: 2px solid var(--mx-effects-pipeline-color);
        }

        &::before {
            content: ' ';
            opacity: .2;
            position: absolute;
            top: 50%;
            right: -8px;
            width: 16px;
            height: 16px;
            margin-top: -8px;
            border-radius: 50%;
            background-color: var(--mx-effects-pipeline-color);
        }
    }

    .pipeline-bg {
        opacity: 0.05;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        pointer-events: none;
        background-color: var(--mx-effects-pipeline-color);
    }

    &.pipeline-editable {
        .pipeline-box {
            cursor: pointer;

            &:hover,
            &.pipeline-cur.pipeline-disabled {

                .pipeline-title,
                .pipeline-sub-title {
                    color: var(--mx-effects-pipeline-color);
                }
            }

            &.pipeline-disabled {
                cursor: not-allowed;

                .pipeline-title {
                    color: #333;
                }

                .pipeline-sub-title {
                    color: #666;
                }

            }
        }
    }
}