[mx-view*="mx-tabs/pipeline"][mx-view*="mode=nav"],
[mx-view*="mx-effects/pipeline"][mx-view*="mode=nav"] {
    display: inline-block;
    vertical-align: middle;
    --mx-tabs-nav-line-color: #C3C9D9;
}

.nav-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;

    /* 背景 */
    .nav-pbg {
        position: absolute;
        z-index: 2;
        left: 0;
        width: var(--mx-tabs-menu-width, 164px);
        height: var(--mx-tabs-menu-height, var(--input-height));
        background-color: var(--color-brand);
        border-radius: var(--border-radius);
        overflow: hidden;
        box-shadow: var(--border-highlight-shadow-active);
        transition: top var(--duration);
    }

    /* 灰色竖线 */
    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: calc((var(--mx-tabs-menu-height, var(--input-height)) - var(--mx-tabs-menu-margin-gap, 8px)) / 2);
        bottom: calc((var(--mx-tabs-menu-height, var(--input-height)) - var(--mx-tabs-menu-margin-gap, 8px)) / 2);
        left: calc(var(--mx-tabs-menu-padding-gap, 12px) + var(--mx-tabs-menu-icon-size, 14px) / 2);
        width: 0;
        border-left: 1px solid var(--mx-tabs-nav-line-color);
        transition: all var(--duration);
    }

    &.nav-editable {
        .nav {
            cursor: pointer;

            &:hover {
                .nav-text {
                    color: var(--color-brand);
                }
            }
        }

        .nav-cur {
            .nav:hover .nav-text {
                color: #fff;
            }
        }
    }
}

.nav {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    width: var(--mx-tabs-menu-width, 164px);
    height: var(--mx-tabs-menu-height, var(--input-height));
    padding-left: calc(var(--mx-tabs-menu-padding-gap, 12px) + var(--mx-tabs-menu-icon-size, 14px));
    padding-right: var(--mx-tabs-menu-padding-gap, 12px);
    font-size: 14px;
    color: #333;

    .nav-idx {
        position: absolute;
        top: 50%;
        left: var(--mx-tabs-menu-padding-gap, 12px);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: var(--mx-tabs-menu-icon-size, 14px);
        height: var(--mx-tabs-menu-icon-size, 14px);
        margin-top: calc(0px - var(--mx-tabs-menu-icon-size, 14px) / 2);
        border-radius: 50%;
        border-width: 1px;
        border-style: solid;
        overflow: hidden;
        transition: color var(--duration), border-color var(--duration), background-color var(--duration);
        color: #333;
        border-color: var(--mx-tabs-nav-line-color);
        background-color: #fff;

        .idx {
            font-size: 20px;
            transform: scale(.5);
        }
    }

    .nav-text {
        padding-left: 8px;
        color: #333;
        transition: color var(--duration);

        img {
            height: 14px;
            margin-left: 4px;
        }
    }

    .nav-lock {
        position: absolute;
        top: 50%;
        right: calc(var(--mx-tabs-menu-padding-gap, 12px) / 2);
        width: 16px;
        height: 16px;
        margin-top: -8px;
        font-size: 16px;
        color: var(--mx-tabs-nav-line-color);
    }

    &.nav-child {
        .nav-text {
            color: #666;
        }
    }
}

.nav-line {
    position: relative;
    margin-bottom: var(--mx-tabs-menu-margin-gap, 8px);

    &:last-child {
        margin-bottom: 0;
    }

    &.nav-highlight,
    &.nav-finished {
        .nav-idx {
            color: var(--color-brand);
            border-color: var(--color-brand);
            background-color: #fff;
        }
    }

    &.nav-finished {

        /* 高亮竖线 */
        .nav::before {
            content: '';
            position: absolute;
            top: 50%;
            left: calc(var(--mx-tabs-menu-padding-gap, 12px) + var(--mx-tabs-menu-icon-size, 14px) / 2);
            // bottom: calc(0px - var(--mx-tabs-menu-height, var(--input-height)) / 2);
            width: 0;
            height: calc(100% + var(--mx-tabs-menu-margin-gap, 8px));
            border-left: 1px solid var(--color-brand);
            transition: all var(--duration);
        }

        &:last-child {
            .nav::before {
                content: unset;
            }
        }
    }

    &.nav-cur {
        .nav-idx {
            color: #fff;
            border-color: #fff;
            background-color: var(--color-brand);
        }

        .nav-text {
            color: #fff;
        }
    }

    &.nav-disabled {
        cursor: not-allowed;

        .nav {
            pointer-events: none;

            &::before {
                content: unset;
            }
        }

        .nav-idx {
            color: var(--mx-tabs-nav-line-color);
            border-color: var(--mx-tabs-nav-line-color);
            background-color: #fff;
        }

        .nav-text {
            pointer-events: none;
            color: #999;
        }
    }
}