<!-- <mx-effects.ua mx-hide="test()"/> -->
<div class="example">
    <div class="eg-content">
        <div class="mb20 clearfix">
            <div class="fl color-9">说明：</div>
            <div class="fl">
                <div>组件没有做兼容性测试，仅在chrome下开发测试，提供内置的浏览器升级提示组件</div>
                <div>自动判断当前浏览器 + 版本，非chrome内核73以上版本出现以下提示框</div>
            </div>
        </div>
        <div class="clearfix">
            {{if show2}}
            <div class="chrome-wrapper fl mr40">
                <div class="title"><i class="mc-iconfont chrome-icon">&#xe631;</i>{{=title2}}</div>
                <div class="mb20 color-f">{{=tip2}}</div>
                <div class="clearfix">
                    <a href="//www.google.com/chrome/browser/desktop/index.html" target="_blank" rel="noopener noreferrer" class="custom-btn btn btn-white btn-small">立即下载</a>
                    <a href="javascript:;" class="custom-btn btn btn-white btn-small" mx-click="close({id:2})">不再提示</a>
                </div>
            </div>
            {{/if}}
            {{if show1}}
            <div class="chrome-wrapper fl">
                <div class="title"><i class="mc-iconfont chrome-icon">&#xe631;</i>{{=title1}}</div>
                <div class="mb20 color-f">{{=tip1}}</div>
                <div class="clearfix">
                    <a href="//www.google.com/chrome/browser/desktop/index.html" target="_blank" rel="noopener noreferrer" class="custom-btn btn btn-white btn-small">立即下载</a>
                    <a href="javascript:;" class="custom-btn btn btn-white btn-small" mx-click="close({id:1})">不再提示</a>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="eg-desc">
        <div class="eg-title">HTML Code</div>
        <mx-copy copy-node="{{=viewId}}_text_1" class="desc-oper" 
            mx-success="done({id:1})">
            <span class="desc-tip">{{!text1}}</span>
            <i class="mc-iconfont desc-icon">&#xe610;</i>
        </mx-copy>
        <pre id="{{=viewId}}_text_1">
&lt;mx-effects.ua /&gt;
        </pre>
    </div>
</div>