.dot {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: var(--color-brand-opacity);
    font-size: 20px;
    color: var(--color-brand);
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    user-select: none;
    transition: all var(--duration);

    &:hover {
        background-color: var(--color-brand-light);
    }

    &:last-child {
        margin-right: 0;
    }
}