.wireless {
    // 品牌色
    --color-brand: #5A2CEF;
    --color-brand-hover: #5A2DEF;
    --color-brand-vs: #f7664d;
    --color-brand-light: #d7def6;
    // --color-brand-opacity: #eff2fb;
    --color-brand-opacity: rgba(103,62,255,0.10);

    // 背景色
    --color-bg: #f5f5f5;

    //边框
    --border-highlight: #9095A1;
    --border-highlight-hover: #677088;

    // 按钮颜色，支持渐变
    --btn-brand: #704EFC;
    --btn-brand-gradient: #4A8DF7;
    --btn-brand-hover: #704EFC;
    --btn-brand-gradient-hover: #4A8DF7;
    --btn-text: #333;
    --btn-text-hover: #333;
    --btn-border: #5A2CFF;
    --btn-border-hover: #5A2CFF;
    --btn-bg: #f3f5fc;
    --btn-bg-hover: #e7eaf4;
    
    // 提示颜色
    --color-red: #d52112;
    --color-green: #30ab66;

    // 项目颜色
    --app-brand: #385ACC;
    --app-brand-gradient: #5d56dd;
    --app-nav-bg: #303a58;
    --app-bg: #e8ebf2;
    --mx-card-btn-font: 16px;
    --color-bg-hover: rgba(90,44,239,0.1);
}