.filters{
    height: 50px;
}
.filters-inner{
    height: 50px;
    padding-top: 8px;
    background-color: #fff;
}
.filters-fixed{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 280px;
    right: 40px;
}