.custom{
    width: 600px;
    border: 1px solid var(--color-border);
    tbody{
        td{
            padding: 8px!important;
            background-color: transparent!important;
            border-right: 1px solid var(--color-border);
        }
    }
}

.tag{
    display: inline-block;
    margin: 0 4px;
    padding: 0 4px;
    height: 20px;
    line-height: 16px;
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    text-align: center;
    border-radius: 2px;
    overflow: hidden;
    vertical-align: middle;
}
.prefix{
    width: 30px;
}