.bottom-left,
.bottom-right,
.bottom-center,
.top-left,
.top-right,
.top-center,
.right-top,
.right-bottom,
.right-center,
.left-top,
.left-bottom,
.left-center {
    pointer-events: none;

    &.without-transform {
        opacity: 0;
        transition: opacity .32s, margin-top .32s, margin-left .32s;
    }

    &.with-transform {
        opacity: 0;
        transform: scale(0);
        transition: transform .25s, opacity .25s;
    }
}

.bottom-left,
.bottom-right,
.bottom-center {
    &.without-transform {
        margin-top: -10px;
    }
}

.top-left,
.top-right,
.top-center {
    &.without-transform {
        margin-top: 10px;
    }
}

.right-top,
.right-bottom,
.right-center {
    &.without-transform {
        margin-left: -10px;
    }
}

.left-top,
.left-bottom,
.left-center {
    &.without-transform {
        margin-left: 10px;
    }
}

.show-out {
    pointer-events: auto;

    &.bottom-left,
    &.bottom-right,
    &.bottom-center,
    &.top-left,
    &.top-right,
    &.top-center {
        &.without-transform {
            margin-top: 0;
            opacity: 1;
        }
    }

    &.right-top,
    &.right-bottom,
    &.right-center,
    &.left-top,
    &.left-bottom,
    &.left-center {
        &.without-transform {
            margin-left: 0;
            opacity: 1;
        }
    }

    &.with-transform {
        opacity: 1;
        transform: scale(1);
    }
}

/* display:none会导致宽度显示异常 */
.popover-hide {
    // display: none;
    pointer-events: none;
    z-index: -99999;
}


/**
 * popover下左 初始隐藏状态
 */

.bottom-left,
.right-top {
    transform-origin: 0 0;
}

.bottom-right,
.left-top {
    transform-origin: 100% 0;
}

.bottom-center {
    transform-origin: 50% 0;
}

.top-left,
.right-bottom {
    transform-origin: 0 100%;
}

.top-right,
.left-bottom {
    transform-origin: 100% 100%;
}

.top-center {
    transform-origin: 50% 100%;
}

.left-center {
    transform-origin: 100% 50%;
}

.right-center {
    transform-origin: 0 50%;
}

.popover,
.popover-dark {
    position: absolute;
    z-index: 999999;
    height: auto;
    border-radius: var(--border-radius);
    font-size: 12px;
    line-height: 20px;
    white-space: normal;
    font-weight: normal;
    font-family: var(--font-family);

    .popover-content {
        word-break: break-all;

        &.popover-img-wrapper {
            position: relative;
            padding-left: 64px;

            .popover-img {
                position: absolute;
                width: 56px;
                left: 0;
                bottom: 0;
            }
        }
    }

    .popover-close {
        position: absolute;
        top: var(--mx-popover-v-gap, 8px);
        right: var(--mx-popover-h-gap, 8px);
        width: 18px;
        height: 18px;
        font-size: 12px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #999;
        transition: color var(--duration);
        cursor: pointer;

        &:hover {
            color: #666;
        }
    }
}

.popover {
    background-color: var(--mx-popover-color-bg, #fff);
    color: var(--mx-popover-font-color, var(--font-color, #333));
    border: 1px solid var(--mx-popover-color-border, var(--color-border));
    box-shadow: var(--mx-popover-shaodow, 0 4px 8px 0 rgba(0, 0, 0, 0.06));

    .popover-content {
        padding: var(--mx-popover-v-gap, 8px) var(--mx-popover-h-gap, 8px);
    }
}

.popover-dark {
    background-color: rgba(33, 33, 33, .72);
    color: #fff;

    .popover-content {
        padding: calc(var(--mx-popover-v-gap, 8px) / 2) var(--mx-popover-h-gap, 8px);
    }
}

.popover-breath {
    position: absolute;
    width: 16px;
    height: 16px;
    line-height: 16px;
}

.bottom-left,
.bottom-right,
.bottom-center {
    .popover-arrow {
        position: absolute;
        top: calc(0px - var(--mx-popover-arrow-size, 8px) * 2);
        width: 0;
        height: 0;
        border: var(--mx-popover-arrow-size, 8px) solid transparent;
        border-bottom: var(--mx-popover-arrow-size, 8px) solid var(--mx-popover-color-border, var(--color-border));
        ;

        &::after {
            content: ' ';
            position: absolute;
            left: calc(0px - var(--mx-popover-arrow-size, 8px));
            top: calc(1px - var(--mx-popover-arrow-size, 8px));
            width: 0;
            height: 0;
            border: var(--mx-popover-arrow-size, 8px) solid transparent;
            border-bottom: var(--mx-popover-arrow-size, 8px) solid var(--mx-popover-color-bg, #fff);
        }
    }
}

.top-left,
.top-right,
.top-center {
    .popover-arrow {
        position: absolute;
        bottom: calc(0px - var(--mx-popover-arrow-size, 8px) * 2);
        width: 0;
        height: 0;
        border: var(--mx-popover-arrow-size, 8px) solid transparent;
        border-top: var(--mx-popover-arrow-size, 8px) solid var(--mx-popover-color-border, var(--color-border));
        ;

        &::after {
            content: ' ';
            position: absolute;
            top: calc(-1px - var(--mx-popover-arrow-size, 8px));
            left: calc(0px - var(--mx-popover-arrow-size, 8px));
            width: 0;
            height: 0;
            border: var(--mx-popover-arrow-size, 8px) solid transparent;
            border-top: var(--mx-popover-arrow-size, 8px) solid var(--mx-popover-color-bg, #fff);
        }
    }
}

.right-top,
.right-bottom,
.right-center {
    .popover-arrow {
        position: absolute;
        left: calc(0px - var(--mx-popover-arrow-size, 8px) * 2);
        width: 0;
        height: 0;
        border: var(--mx-popover-arrow-size, 8px) solid transparent;
        border-right: var(--mx-popover-arrow-size, 8px) solid var(--mx-popover-color-border, var(--color-border));
        ;

        &::after {
            content: ' ';
            position: absolute;
            top: calc(0px - var(--mx-popover-arrow-size, 8px));
            left: calc(1px - var(--mx-popover-arrow-size, 8px));
            width: 0;
            height: 0;
            border: var(--mx-popover-arrow-size, 8px) solid transparent;
            border-right: var(--mx-popover-arrow-size, 8px) solid var(--mx-popover-color-bg, #fff);
        }
    }
}

.left-top,
.left-bottom,
.left-center {
    .popover-arrow {
        position: absolute;
        right: calc(0px - var(--mx-popover-arrow-size, 8px) * 2);
        width: 0;
        height: 0;
        border: var(--mx-popover-arrow-size, 8px) solid transparent;
        border-left: var(--mx-popover-arrow-size, 8px) solid var(--mx-popover-color-border, var(--color-border));
        ;

        &::after {
            content: ' ';
            position: absolute;
            top: calc(0px - var(--mx-popover-arrow-size, 8px));
            left: calc(-1px - var(--mx-popover-arrow-size, 8px));
            width: 0;
            height: 0;
            border: var(--mx-popover-arrow-size, 8px) solid transparent;
            border-left: var(--mx-popover-arrow-size, 8px) solid var(--mx-popover-color-bg, #fff);
        }
    }
}

.bottom-left {
    .popover-breath {
        left: 10px;
        top: -9px;
    }

    .popover-arrow {
        left: var(--mx-popover-arrow-gap, 24px);
    }
}

.bottom-right {
    .popover-breath {
        right: 10px;
        top: -9px;
    }

    .popover-arrow {
        right: var(--mx-popover-arrow-gap, 24px);
    }
}

.bottom-center {
    .popover-breath {
        left: 50%;
        top: -9px;
        margin-left: -8px;
    }

    .popover-arrow {
        left: 50%;
        margin-left: calc(0px - var(--mx-popover-arrow-size, 8px));
    }
}

.top-left {
    .popover-breath {
        left: 10px;
        bottom: -8px;
    }

    .popover-arrow {
        left: var(--mx-popover-arrow-gap, 24px);
    }
}

.top-right {
    .popover-breath {
        right: 10px;
        bottom: -8px;
    }

    .popover-arrow {
        right: var(--mx-popover-arrow-gap, 24px);
    }
}

.top-center {
    .popover-breath {
        left: 50%;
        bottom: -8px;
        margin-left: -8px;
    }

    .popover-arrow {
        left: 50%;
        margin-left: calc(0px - var(--mx-popover-arrow-size, 8px));
    }
}

.right-top {
    .popover-breath {
        top: calc(var(--input-height) / 2 - 8px);
        left: -9px;
    }

    .popover-arrow {
        top: var(--mx-popover-arrow-gap, 24px);
    }
}

.right-bottom {
    .popover-breath {
        bottom: calc(var(--input-height) / 2 - 8px);
        left: -9px;
    }

    .popover-arrow {
        bottom: var(--mx-popover-arrow-gap, 24px);
    }
}

.right-center {
    .popover-breath {
        top: 50%;
        margin-top: -8px;
        left: -9px;
    }

    .popover-arrow {
        top: 50%;
        margin-top: calc(0px - var(--mx-popover-arrow-size, 8px));
    }
}

.left-top {
    .popover-breath {
        top: calc(var(--input-height) / 2 - 8px);
        right: -8px;
    }

    .popover-arrow {
        top: var(--mx-popover-arrow-gap, 24px);
    }
}

.left-bottom {
    .popover-breath {
        bottom: calc(var(--input-height) / 2 - 8px);
        right: -8px;
    }

    .popover-arrow {
        bottom: var(--mx-popover-arrow-gap, 24px);
    }
}

.left-center {
    .popover-breath {
        top: 50%;
        right: -8px;
        margin-top: -8px;
    }

    .popover-arrow {
        top: 50%;
        margin-top: calc(0px - var(--mx-popover-arrow-size, 8px));
    }
}

/* https://www.itranslater.com/qa/details/2116457509484495872 */
[mx-view*="mx-popover/index"],
[mx-view*="mx-popover/fn"] {
    input[disabled] {
        pointer-events: none
    }

    &[mx-view*="icon=help"] {
        color: #ccc;
        cursor: help;
    }
}