<div class="example">
    <div class="eg-content">
        <div class="clearfix lh22 mb40">
            <div class="fl color-9">以下示例：</div>
            <div class="fl">
                <div>单点功能点的分步引导</div>
                <div>无蒙层遮罩，提示信息节点追到body</div>
                <div>支持配置每一步的下一步操作按钮文案nextTip（默认下一步），关闭引导文案cancelTip（最后一步默认我知道了，其余关闭引导）</div>
                <div>切换时当前内容会滚动到可视范围之内，支持配置ignoreScroll取消滚动</div>
                <div>支持配置placement表示定位，上下左右居中，距离原点位8px</div>
            </div>
        </div>
        <div id="custom_form_{{=viewId}}" class="custom-form clearfix">
            <div class="pa20 half">
                <form class="form form-10">
                    <div class="form-item">
                        <div class="form-label">下拉框单选</div>
                        <div class="form-content clearfix">
                            <mx-dropdown.bd class="w220" id="dropdown_{{=viewId}}"
                                empty-text="请选择"
                                list="{{@[1,2,3]}}"
                                selected="{{:selected.single{refresh:true,required:[true,'必选']}}}" />
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-label">mx-radio</div>
                        <div class="form-content clearfix">
                            {{each mxRadioes as item}}
                            <mx-radio class="mr30"
                                name="{{=viewId}}_mxrs" 
                                text="{{=item.text}}"
                                value="{{=item.value}}" 
                                {{:selected.mxRadio{refresh:true,required:[true,'必选']}}} />
                            {{/each}}
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-label">radio + 输入框</div>
                        <div class="form-content clearfix">
                            <mx-radio class="mr30 fl lh-ih"
                                name="{{=viewId}}_type"
                                value="def" 
                                text="默认情况"
                                {{:selected.type{refresh:true}}} />
                            
                            <mx-radio class="mr10 fl lh-ih"
                                name="{{=viewId}}_type"
                                value="custom"  
                                text="自定义"
                                {{:selected.type{refresh:true}}} />
                            
                            {{if (selected.type == 'custom')}}
                            <mx-input class="fl w100"
                                placeholder="整数" 
                                value="{{:selected.int{required:true,refresh:true,int:true}}}"/>
                            {{/if}}
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-label">mx-checkbox</div>
                        <div class="form-content">
                            {{each mxCheckboxes as item}}
                            <mx-checkbox class="mr30"
                                name="{{=viewId}}_mxcs" 
                                value="{{=item.value}}" 
                                text="{{=item.text}}"
                                {{:selected.mxCheckboxes{refresh:true,required:[true,'必选']}}} />
                            {{/each}}
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-label">开关</div>
                        <div class="form-content clearfix">
                            <mx-switch id="switch_{{=viewId}}"
                                state="{{:selected.switch{refresh:true}}}"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="pa20 half half-right">
                <form class="form form-10">
                    <div class="form-item">
                        <div class="form-label">下拉框单选</div>
                        <div class="form-content clearfix">
                            <mx-dropdown.bd class="w220"
                                empty-text="请选择"
                                list="{{@[1,2,3]}}"
                                selected="{{:selected.single{refresh:true,required:[true,'必选']}}}" />
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-label">mx-radio</div>
                        <div class="form-content clearfix">
                            {{each mxRadioes as item}}
                            <mx-radio class="mr30"
                                name="{{=viewId}}_mxrs" 
                                text="{{=item.text}}"
                                value="{{=item.value}}" 
                                {{:selected.mxRadio{refresh:true,required:[true,'必选']}}} />
                            {{/each}}
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-label">radio + 输入框</div>
                        <div class="form-content clearfix">
                            <mx-radio class="mr30 fl lh-ih"
                                name="{{=viewId}}_type"
                                value="def" 
                                text="默认情况"
                                {{:selected.type{refresh:true}}} />
                            
                            <mx-radio class="mr10 fl lh-ih"
                                name="{{=viewId}}_type"
                                value="custom"  
                                text="自定义"
                                {{:selected.type{refresh:true}}} />
                            
                            {{if (selected.type == 'custom')}}
                            <mx-input class="fl w100" id="input_{{=viewId}}"
                                placeholder="整数" 
                                value="{{:selected.int{required:true,refresh:true,int:true}}}"/>
                            {{/if}}
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-label">mx-checkbox</div>
                        <div class="form-content clearfix">
                            {{each mxCheckboxes as item}}
                            <mx-checkbox class="mr30"
                                name="{{=viewId}}_mxcs" 
                                value="{{=item.value}}" 
                                text="{{=item.text}}"
                                {{:selected.mxCheckboxes{refresh:true,required:[true,'必选']}}} />
                            {{/each}}
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-label">开关</div>
                        <div class="form-content clearfix">
                            <mx-switch 
                                state="{{:selected.switch{refresh:true}}}"/>
                        </div>
                    </div>
                    <div class="form-item">
                        <mx-btn class="mr20" brand="true" content="确定"/>
                        <mx-btn class="mr20" id="btn_{{=viewId}}" content="取消"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="eg-desc">
        <div class="eg-title">HTML Code</div>
        <mx-copy copy-node="{{=viewId}}_text_1" class="desc-oper" 
            mx-success="done({id:1})">
            <span class="desc-tip">{{!text1}}</span>
            <i class="mc-iconfont desc-icon">&#xe610;</i>
        </mx-copy>
        <pre id="{{=viewId}}_text_1">
let Magix = require('magix');
let Guides = require('@../../mx-guides/index');

module.exports = Magix.View.extend(&#123;
    tmpl: '@index.html',
    mixins: [Guides],
    render() &#123;
        this.updater.digest();

        // point：单点
        // module：模块
        let guideDlg = this.showMxGuides(&#123;
            mode: 'point',
            list: [&#123;
                sizzle: `#dropdown_$&#123;viewId&#125;`,
                img: 'https://img.alicdn.com/imgextra/i2/O1CN01lXaOMJ1rTVNPSftyQ_!!6000000005632-2-tps-133-109.png',
                title: '第1步·大标题',
                tip: '第一步提示信息提示信息提示信息提示信息提示信息提示信息提示信息',
                placement: 'right',
            &#125;, &#123;
                sizzle: `#input_$&#123;viewId&#125;`,
                img: 'https://img.alicdn.com/imgextra/i1/O1CN01LWsk261aWqnmX29ZP_!!6000000003338-2-tps-133-109.png',
                title: '第2步·大标题',
                tip: '第二步提示信息提示信息',
                placement: 'left',
            &#125;, &#123;
                sizzle: `#switch_$&#123;viewId&#125;`,
                img: 'https://img.alicdn.com/imgextra/i2/O1CN01zYkSsU24ckNIUCnHv_!!6000000007412-2-tps-133-109.png',
                title: '第3步·大标题',
                tip: '第三步提示信息提示信息提示信息提示信息提示信息提示信息提示信息提示信息',
                placement: 'bottom',
                offset: &#123; // 在原来下居中的基础上微量偏移
                    top: 4
                &#125;
            &#125;, &#123;
                sizzle: `#btn_$&#123;viewId&#125;`,
                img: 'https://img.alicdn.com/imgextra/i1/O1CN01fE43IR1x2Nc7sXIDu_!!6000000006385-2-tps-133-109.png',
                title: '第4步·大标题',
                tip: '第四步提示信息提示信息提示信息提示信息提示信息提示信息提示信息',
                placement: 'top',
            &#125;]
        &#125;);

        guideDlg.on('cancel', (e) =&gt; &#123;
            // e.index 当前帧
            // 引导关闭 todo something
        &#125;)
    &#125;
&#125;);
        </pre>
    </div>
</div>