.custom-form {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
}

.dark-wrapper {
    padding: 16px;
    background-color: var(--app-bg);
}

.scroll-form {
    height: 200px;
    overflow-y: auto;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
}