.custom-form {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
}

.scroll-form {
    height: 200px;
    overflow-y: auto;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
}