.editor {
    .editor-input {
        display: none;
    }

    .editor-content {
        display: inline-block;
        word-break: break-all;

        .editor-oper {
            opacity: 0;
            position: relative;
            left: 2px;
            color: #ccc;
            cursor: pointer;
            transition: all var(--duration);
        }

        &:hover {
            .editor-oper {
                opacity: 1;
            }

        }

    }

    &.editor-on {
        .editor-input {
            display: inline-block;
        }

        .editor-content {
            display: none;
        }

    }

}