{{if !disabled}}
<mx-input class="{{if !editing}} editor-hide {{/if}}" id="{{=viewId}}_input"
    style="width: {{=width}};"
    size="{{=size}}"
    value="{{:content&rules}}"
    mx-keyup="@{out}()"
    mx-focusout="@{out}()"
    mx-change="@{stop}()"
    mx-focusin="@{stop}()"/>
{{/if}}
<!-- operations 表格hover展示样式 -->
<div class="editor-content {{if editing}} editor-hide {{/if}}">
    {{!dis}}{{if !disabled}}<i class="mx-iconfont operations editor-oper" mx-click="@{show}()">&#xe71f;</i>{{/if}}
</div>
    
