@status-line-height: 25px;
.status {
    position: relative;
    .status-icon>* {
        font-size: 20px;
        line-height: @status-line-height;
    }
    .status-info {
        display: block;
        top: -11px;
        left: -11px;
        
        .status-icon,
        .status-name,
        .oper-icon {
            float: left;
            height: @status-line-height;
            line-height: @status-line-height;
        }
        .status-name {
            margin-left: 8px;
        }
        .oper-icon{
            float: right;
            color: #999;
            font-weight: bold;
            font-size: 20px;
        }
        .status-oper {
            min-width: 140px;
            height: @status-line-height + 20px;
            line-height: @status-line-height;
            padding: 10px;
            cursor: pointer;
            .oper-icon {
                display: none;
            }
            &:hover {
                background-color: var(--color-bg-hover);
            }
            &.status-oper-cur {
                cursor: default;
                .oper-icon {
                    display: block;
                }
            }
        }
        .status-desc {
            min-width: 140px;
            height: @status-line-height + 20px;
            line-height: @status-line-height;
            padding: 10px;
        }
        .status-tip {
            width: 200px;
            font-size: 12px;
            padding: 0 10px 10px 10px;
            line-height: 18px;
        }
        &.status-info-dd {
            top: 0;
            left: 0;
        }
    }
    .status-handle-icon {
        position: relative;
        width: 36px;
        height: @status-line-height;
        line-height: @status-line-height;
        .status-arrow {
            position: absolute;
            top: (@status-line-height - 4px) / 2;
            right: 0;
            width: 0;
            height: 0;
            line-height: 0;
            font-size: 0;
            overflow: hidden;
            border-style: solid;
            border-width: 3px 3px 0 3px;
            border-color: #999 transparent transparent transparent;
        }
    }
    .status-line{
        height: 0;
        border-top: 1px solid var(--color-border);
    }
}

[mx-view*="mx-status/dropdown"]{
    &:hover{
        .readonly{
            cursor: not-allowed;
            border-color: var(--border-highlight);
        }
    }
}