@switch-width: 40px;
@switch-height: 18px;
@switch-color: #ccc;
[mx-view*="mx-switch/index"]{
    position: relative;
    display: inline-block;

    .switch.switch-disabled,
    .switch-text.switch-disabled{
        cursor: not-allowed;
        opacity: .5;
    }
}
.switch {
    display: inline-block;
    position: relative;
    width: @switch-width;
    height: @switch-height;
    cursor: pointer;
    vertical-align: middle;

    .switch-icon {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 2;
        width: @switch-height;
        height: @switch-height;
        margin-top: 0 - @switch-height / 2;
        border-radius: 50%;
        transition: left var(--duration);
        background-color: @switch-color;
    }

    &::after{
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: @switch-height / 2;
        opacity: .4;
        background-color: @switch-color;
    }

    &.on {
        .switch-icon {
            left: @switch-width - @switch-height;
            background-color: var(--color-brand);
        }

        &::after{
            opacity: .2;
            background-color: var(--color-brand);
        }
    }

}

.reason{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
}