<div class="search-box">
    <input type="text" class="input search-input" 
        placeholder="{{=placeholder}}"
        autocomplete="off"
        id="{{=viewId}}_input"
        value="{{=selectedText}}" 
        mx-keyup="@{suggest}()"
        mx-paste="@{suggest}()"
        mx-focusin="@{suggest}()"
        mx-focusout="@{stop}()"
        mx-change="@{stop}()"/>
    {{if selectedText}}
    <i class="mc-iconfont delete-icon" mx-click="@{clear}()">&#xe6f8;</i>
    {{else}}
    <i class="mc-iconfont search-icon">&#xe651;</i>
    {{/if}}

    <div class="mx-output mx-output-bottom {{if show}} mx-output-open {{/if}}">
        <ul class="mx-output-list">
            {{if loading}}
                <li><mx-loading height="100px"/></li>
            {{else}}
                {{if (list.length > 0)}}
                    {{each list as item}}
                    <li class="mx-output-item">
                        <span class="mx-output-link {{if ((selectedValue + '') === (item.value + ''))}} mx-output-link-active {{/if}}" 
                            data-active="(selectedValue + '') === (item.value + '')"
                            mx-click="@{select}({item:'{{@item}}'})">
                            {{!item.text}}
                        </span>
                    </li>
                    {{/each}}
                {{else}}
                <li class="text-center color-9 pt20 pb20">{{=emptyText}}</li>
                {{/if}}
            {{/if}}
        </ul>
    </div>
</div>