[mx-view*="mx-suggest/index"] {
    position: relative;
    display: inline-block;

    .delete-icon {
        position: absolute;
        right: 12px;
        top: 50%;
        width: 12px;
        height: 12px;
        font-size: 12px;
        margin-top: -6px;
        color: #ccc;
        cursor: pointer;
        background-color: #fff;
        transition: color var(--duration);

        &:hover {
            color: #999;
        }
    }
}