<div class="example">
    <div class="eg-content">
        <div class="mb20 clearfix">
            <div class="color-9 fl lh22">使用说明：</div>
            <div class="fl lh22">
                <div>类textarea，无可选下拉列表，用户输入关键词，回车确认输入结果</div>
                <div>历史已选中的传入完整的items:array[object]</div>
            </div>
        </div>
        <div class="clearfix">
            <form class="form half">
                <div class="form-item">
                    <div class="form-label">示例说明</div>
                    <div class="form-content">
                        <div class="lh-normal pt8">输入值仅需要文案，无历史选中</div>
                        <div class="lh-normal">标签至少选择一个，最多选择4个，标签文案最多2个字</div>
                        <div class="lh-normal">配置dynamic-enter="true"表示回车生成标签</div>
                        <div class="lh-normal">dynamic-enter-rules配置标签输入校验规则，进需要文案</div>
                    </div>
                </div>
                <div class="form-item">
                    <div class="form-label">当前选中</div>
                    <div class="form-content">
                        {{each items1 as item index}}
                        {{if (index > 0)}}，{{/if}}{{=item.value}}
                        {{/each}}
                    </div>
                </div>
                <div class="form-item">
                    <div class="form-label">仅需文案</div>
                    <div class="form-content">
                        <!-- 仅需文案 -->
                        <mx-taginput class="w280"
                            max="4"  
                            min-height="120"
                            max-height="388"
                            placeholder="可输入多个标签，回车分割，仅需文案"
                            dynamic-enter="true"
                            dynamic-enter-rules="{{@{required:true,maxlength:2}}}"
                            items="{{:items1{requird:true,refresh:true}}}" />
                    </div>
                </div>
            </form>
            <form class="form half">
                <div class="form-item">
                    <div class="form-label">示例说明</div>
                    <div class="form-content">
                        <div class="lh-normal pt8">输入值异步生成，有历史选中</div>
                        <div class="lh-normal">标签必选无上限，标签文案不限制</div>
                        <div class="lh-normal">items完整的对象数组</div>
                        <div class="lh-normal">dynamic-enter-fn异步生成标签方法，返回对应text和value</div>
                    </div>
                </div>
                <div class="form-item">
                    <div class="form-label">当前选中</div>
                    <div class="form-content">
                        {{each items2 as item index}}
                        {{if (index > 0)}}，{{/if}}{{=item.value}}
                        {{/each}}
                    </div>
                </div>
                <div class="form-item">
                    <div class="form-label">异步生成</div>
                    <div class="form-content">
                        <!-- 异步生成 -->
                        <mx-taginput class="w280"
                            min-height="120"
                            max-height="388"
                            placeholder="可输入多个标签，回车分割"
                            dynamic-enter="true"
                            dynamic-enter-fn="{{@dynamicEnterFn}}"
                            dynamic-enter-rules="{{@{required:true}}}"
                            items="{{:items2{requird:true,refresh:true}}}" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="clearfix">
        <div class="eg-desc half">
            <div class="eg-title">HTML Code</div>
            <mx-copy copy-node="{{=viewId}}_text_1" class="desc-oper" 
                mx-success="done({id:1})">
                <span class="desc-tip">{{!text1}}</span>
                <i class="mx-iconfont desc-icon">&#xe65e;</i>
            </mx-copy>
            <pre id="{{=viewId}}_text_1">
&lt;!-- 仅需文案 --&gt;
&lt;mx-taginput class="w280"
    max="4"  
    min-height="120"
    max-height="388"
    placeholder="可输入多个标签，回车分割，仅需文案"
    dynamic-enter="true"
    dynamic-enter-rules="&#123;&#123;@&#123;required:true,maxlength:2&#125;&#125;&#125;"
    items="&#123;&#123;:items1&#123;required:true,refresh:true&#125;&#125;&#125;" /&gt;


&lt;!-- 异步生成 --&gt;
&lt;mx-taginput class="w280"
    min-height="120"
    max-height="388"
    placeholder="可输入多个标签，回车分割"
    dynamic-enter="true"
    dynamic-enter-fn="&#123;&#123;@dynamicEnterFn&#125;&#125;"
    dynamic-enter-rules="&#123;&#123;@&#123;required:true&#125;&#125;&#125;"
    items="&#123;&#123;:items2&#123;required:true,refresh:true&#125;&#125;&#125;" /&gt;
            </pre>
        </div>
        <div class="eg-desc half half-right">
            <div class="eg-title">JS Code</div>
            <mx-copy copy-node="{{=viewId}}_text_2" class="desc-oper" 
                mx-success="done({id:2})">
                <span class="desc-tip">{{!text2}}</span>
                <i class="mx-iconfont desc-icon">&#xe65e;</i>
            </mx-copy>
            <pre id="{{=viewId}}_text_2">
import Magix from 'magix';
export default Magix.View.extend(&#123;
    tmpl: '@index.html',
    render() &#123;
        this.updater.digest(&#123;
            items1: [],
            items2: [&#123;
                text: 'one',
                value: 1
            &#125;, &#123;
                text: 'two',
                value: 2
            &#125;],
            dynamicEnterFn: (val) =&gt; &#123;
                let &#123; items2 &#125; = this.updater.get();
                return new Promise((resolve, reject) =&gt; &#123;
                    if (Math.ceil(Math.random() * 10) % 2 == 0) &#123;
                        // 添加失败返回失败提示
                        reject('添加标签失败');
                    &#125; else &#123;
                        // 添加成功返回对象
                        resolve(&#123;
                            text: val,
                            value: items2.length + 1,
                        &#125;);
                    &#125;
                &#125;)
            &#125;
        &#125;);
    &#125;
&#125;);
            </pre>
        </div>
    </div>
</div>