{{if searchbox}}
<div class="search-box mb10" style="{{if width}} width:{{=width}}px; {{/if}}">
    <input type="text" class="input search-input" 
        placeholder="搜索"
        value="{{=keyword}}"
        mx-keyup="@{search}()"
        mx-paste="@{search}()"
        mx-change="@{stop}()"
        mx-focusin="@{stop}()"
        mx-focusout="@{stop}()"
        {{if spm}} data-spm-click="{{=spm}}_search" {{/if}} />
    <i class="mc-iconfont search-icon">&#xe651;</i>
</div>
{{/if}}
{{if height}}
<div style="height: {{=height}}px; overflow-y: auto;">
{{/if}}
    <mx-tree.db  class="{{if hasLine}} line {{/if}}" 
        id="tree_{{=viewId}}"
        read-only="{{@readOnly}}"
        need-expand="{{@needExpand}}"
        text-key="{{=textKey}}"
        value-key="{{=valueKey}}"
        close-map="{{@closeMap}}"
        highlight-map="{{@highlightMap}}"
        mx-change="@{change}()"
        data="{{@info}}" />
{{if height}}
</div>
{{/if}}