.text {
    padding-left: 4px;
}

.icon {
    width: var(--mx-checkbox-size, 14px);
    height: var(--mx-checkbox-size, 14px);
    text-align: center;
    line-height: 0;
    font-size: 0;

    >* {
        font-size: var(--mx-checkbox-size, 14px);
        color: #666;
    }
}

.load-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    flex: 0 0 var(--mx-checkbox-size, 14px);
    width: var(--mx-checkbox-size, 14px);
    height: var(--mx-checkbox-size, 14px);
}

.load-inner {
    transform-origin: top center;
}

.name {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--input-height);
    padding-top: calc((var(--input-height) - var(--output-item-height)) / 2);
    padding-bottom: calc((var(--input-height) - var(--output-item-height)) / 2);
    background-color: #fff;
    transition: height var(--duration);

    /* 跟checkbox保持一样尺寸 */
    .oper {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        position: relative;
        z-index: 2;
        flex: 0 0 var(--mx-checkbox-size, 14px);
        height: var(--mx-checkbox-size, 14px);
        border-radius: var(--mx-checkbox-border-radius, 2px);
        user-select: none;
        -webkit-user-select: none;
        cursor: pointer;
        transition: background-color var(--duration);
        /* 加白底，防止背景色有透明度遮不住 */
        background-color: #fff;

        &::before {
            opacity: 0;
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: var(--mx-checkbox-border-radius, 2px);
            background-color: var(--color-bg);
            transition: opacity var(--duration);
        }

        &::after {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            border-width: 3px 0 3px 4px;
            border-style: solid;
            border-color: transparent;
            border-left-color: #666666;
            transition: all var(--duration);
        }

        &:hover {
            &::before {
                opacity: 1;
            }
        }

        &.oper-open {
            &::before {
                background-color: var(--color-brand-opacity);
            }

            &::after {
                transform: rotate(90deg);
                border-left-color: var(--color-brand);
            }
        }

        &.oper-placeholder {
            background-color: transparent;

            &::before {
                content: unset;
            }

            &::after {
                content: ' ';
                position: absolute;
                top: 50%;
                left: -2px;
                width: 100%;
                height: 1px;
                background-color: transparent;
                border-width: 0;
                transition: background-color var(--duration);
            }
        }
    }

    .label-item {
        display: inline-flex;
        align-items: center;
        vertical-align: middle;
        height: var(--output-item-height);
        padding-left: var(--input-h-gap);
        padding-right: var(--input-h-gap);
        white-space: nowrap;
        word-wrap: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        border-radius: var(--border-radius);
        background-color: #fff;
        transition: background-color var(--duration);

        input[type="checkbox"],
        input[type="radio"] {
            margin-top: 0;
            flex: 0 0 var(--mx-checkbox-size, 14px);
        }

        &:hover {
            background-color: var(--color-bg);
        }

        &.label-item-checked:hover {
            color: var(--color-brand);
            background-color: var(--color-brand-opacity);
        }
    }
}

/* 子选项缩进 */
.indent {
    padding-left: calc(var(--mx-checkbox-size, 14px) + 8px);
}

.line {
    .indent {

        /* 垂直线 */
        .li {
            position: relative;

            &::after {
                content: ' ';
                position: absolute;
                top: calc(0px - var(--input-height) / 2);
                left: calc(0px - var(--mx-checkbox-size, 14px) / 2 - 8px);
                width: 1px;
                height: 100%;
                background-color: var(--color-border);
            }

            &:last-child {
                &:after {
                    height: var(--input-height);
                }
            }
        }

        /* 水平线 */
        .name {
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: calc(0px - var(--mx-checkbox-size, 14px) / 2 - 8px);
                width: calc(var(--mx-checkbox-size, 14px) / 2 + 8px - 2px);
                height: 1px;
                background-color: var(--color-border);
            }

            .oper-placeholder::after {
                background-color: var(--color-border);
            }
        }
    }
}

/* 展开收起 */
.close {
    .name {
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        overflow-y: hidden;
    }

    &.indent .li::after {
        content: unset;
    }
}