.name {
    display: flex;
    align-items: center;
    height: var(--input-height);
    padding-top: calc((var(--input-height) - var(--output-item-height)) / 2);
    padding-bottom: calc((var(--input-height) - var(--output-item-height)) / 2);
    background-color: #fff;
    overflow-y: hidden;
    transition: height var(--duration);

    /* 跟checkbox保持一样尺寸 */
    .oper {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        position: relative;
        flex: 0 0 var(--checkbox-size, 14px);
        height: var(--checkbox-size, 14px);
        border-radius: var(--checkbox-border-radius, 2px);
        user-select: none;
        -webkit-user-select: none;
        cursor: pointer;
        transition: background-color var(--duration);
        background-color: transparent;

        &::after {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            border-width: 3px 0 3px 4px;
            border-style: solid;
            border-color: transparent;
            border-left-color: #666666;
            transition: all var(--duration);
        }

        &:hover {
            background-color: var(--color-bg);
        }

        &.oper-open {
            &::after {
                transform: rotate(90deg);
                border-left-color: var(--color-brand);
            }
        }
    }

    .label-item {
        display: inline-flex;
        align-items: center;
        vertical-align: middle;
        height: var(--output-item-height);
        padding-left: var(--input-h-gap);
        padding-right: var(--input-h-gap);
        white-space: nowrap;
        word-wrap: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        border-radius: var(--border-radius);
        transition: background-color var(--duration);

        &:hover {
            background-color: var(--color-bg);
        }
    }
}

.close .name {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.indent {
    padding-left: calc(var(--checkbox-size, 14px) + 5px);
}

.line .li {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: calc(var(--output-item-height) + 2px);
        left: calc(var(--checkbox-size, 14px) / 2);
        bottom: 2px;
        width: 1px;
        background-color: var(--color-border);
    }

    &:last-child {
        &:after {
            content: none;
        }
    }
}