[mx-view*="mx-switch/index"] {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;

    &[mx-view*="disabled=true"],
    &[mx-view*="loading=true"],
    &[mx-disabled] {
        cursor: not-allowed;

        .switch {
            opacity: var(--mx-comp-disabled-opacity, .4);
            pointer-events: none;
        }
    }
}

.load,
.switch-icon,
.switch-text-open,
.switch-text-close,
.switch-text-yes,
.switch-text-no {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: var(--mx-switch-icon-size, 16px);
    height: var(--mx-switch-icon-size, 16px);
    margin-top: calc(0px - var(--mx-switch-icon-size, 16px) / 2);
}

.switch-icon {
    border-radius: var(--mx-switch-border-radius, 500px);
    background-color: #fff;
    transition: left 0.35s cubic-bezier(0.4, 2.18, .48, .68);
}

.switch-text-open,
.switch-text-close,
.switch-text-yes,
.switch-text-no {
    opacity: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: scale(.9);
    font-size: 12px;
    color: rgba(255, 255, 255, 0.90);
    transition: all var(--duration);
    user-select: none;
}

.switch-text-open,
.switch-text-yes {
    left: 4px;
}

.switch-text-close,
.switch-text-no {
    right: 4px;
}

.switch {
    position: relative;
    display: inline-block;
    width: var(--mx-switch-width, 40px);
    height: var(--mx-switch-height, 18px);
    vertical-align: middle;
    cursor: pointer;

    &::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: var(--mx-switch-border-radius, 500px);
        transition: all var(--duration);
        background-color: var(--mx-switch-color);
    }

    &:hover {
        &::after {
            background-color: var(--mx-switch-color);
            box-shadow: var(--mx-switch-shadow);
        }
    }

    &.close {
        .switch-icon {
            left: calc((var(--mx-switch-height, 18px) - var(--mx-switch-icon-size, 16px)) / 2);
        }

        .switch-text-open,
        .switch-text-yes {
            opacity: 0;
        }

        .switch-text-close,
        .switch-text-no {
            opacity: 1;
        }
    }

    &.open {
        .switch-icon {
            left: calc(var(--mx-switch-width, 40px) - var(--mx-switch-icon-size, 16px) - ((var(--mx-switch-height, 18px) - var(--mx-switch-icon-size, 16px)) / 2));
        }

        .switch-text-open,
        .switch-text-yes {
            opacity: 1;
        }

        .switch-text-close,
        .switch-text-no {
            opacity: 0;
        }
    }
}

.load {
    z-index: 3;
    cursor: not-allowed;
    user-select: none;
    overflow: hidden;

    .load-inner {
        transform-origin: top left;
    }

    &.close {
        left: calc((var(--mx-switch-height, 18px) - var(--mx-switch-icon-size, 16px)) / 2);
    }

    &.open {
        left: calc(var(--mx-switch-width, 40px) - var(--mx-switch-icon-size, 16px) - ((var(--mx-switch-height, 18px) - var(--mx-switch-icon-size, 16px)) / 2));
    }
}

.reason {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
    z-index: 4;
}