<span style="{{if borderRadius}}--mx-switch-border-radius: {{=borderRadius}};{{/if}}
    {{if state}} --mx-switch-color: {{=openColor}}; --mx-switch-shadow: {{=openShadow}}; {{else}} --mx-switch-color: {{=closeColor}}; --mx-switch-shadow: {{=closeShadow}}; {{/if}}" 
    class="switch {{= state ? 'open': 'close'}}" 
    mx-click="@{toggle}()">
    <span class="switch-icon"></span>

    {{if (icon == 'text')}}
    <span class="switch-text-open">开</span>
    <span class="switch-text-close">关</span>
    {{else if (icon == 'hook')}}
    <i class="mc-iconfont switch-text-yes">&#xe65e;</i>
    <i class="mc-iconfont switch-text-no">&#xe65c;</i>
    {{else if (icon)}}
    <span class="switch-text-open">{{=icon}}</span>
    <span class="switch-text-close">{{=icon}}</span>
    {{/if}}
</span>
{{if loading}}
<div class="load {{= state ? 'open': 'close'}}">
    <mx-loading class="load-inner" 
        color-bg="#ffffff" 
        style="width: calc(var(--mx-switch-icon-size, 16px) * 4); height: calc(var(--mx-switch-icon-size, 16px) * 4); transform: scale(0.25);" />
</div>
{{/if}}
{{if (disabled && tip)}}
<mx-popover class="reason"
    tag="span"
    width="240"
    content="{{=tip}}"></mx-popover>
{{/if}}