@import "../mx-style/_vars";
@switch-width: 40px;
@switch-height: 18px;

[mx-view*="mx-switch/index"]{
    position: relative;
    display: inline-block;
}
.switch {
    display: inline-block;
    position: relative;
    width: @switch-width;
    height: @switch-height;
    border-radius: @switch-height / 2;
    background-color: #e6e6e6;
    cursor: pointer;

    .switch-icon {
        opacity: .95;
        position: absolute;
        top: 50%;
        left: 0;
        width: @switch-height;
        height: @switch-height;
        margin-top: 0 - @switch-height / 2;
        border-radius: 50%;
        background-color: #ccc;
        transition: left @duration;
        -moz-transition: left @duration;
        -webkit-transition: left @duration;
        -o-transition: left @duration;
    }

    &.on {
        background-color: @color-brand-light;

        .switch-icon {
            left: @switch-width - @switch-height;
            background-color: @color-brand;
        }

    }

    &.disabled{
        cursor: not-allowed;
        opacity: .6;
    }

}

.reason{
    cursor: not-allowed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}