@switch-width: 40px;
@switch-height: 18px;
@switch-color: #ccc;

[mx-view*="mx-switch/index"] {
    position: relative;
    display: inline-block;

    &[mx-view*="disabled=true"],
    &[mx-disabled] {
        cursor: not-allowed;

        &::after {
            opacity: .6;
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            border-radius: var(--border-radius);
            z-index: 3;
            border-radius: @switch-height / 2;
        }

        .switch {
            pointer-events: none;
        }
    }
}

.switch {
    display: inline-block;
    position: relative;
    width: @switch-width;
    height: @switch-height;
    cursor: pointer;
    vertical-align: middle;

    @keyframes mx-switch-open {
        0% {
            left: 1px;
        }

        88% {
            left: @switch-width - @switch-height + 7;
        }

        100% {
            left: @switch-width - @switch-height + 1;
        }
    }

    @keyframes mx-switch-close {
        0% {
            left: @switch-width - @switch-height + 1;
        }

        88% {
            left: -5px;
        }

        100% {
            left: 1px;
        }
    }

    .switch-icon {
        position: absolute;
        top: 50%;
        z-index: 2;
        width: @switch-height - 2;
        height: @switch-height - 2;
        margin-top: 1 - @switch-height / 2;
        border-radius: 50%;
        background-color: #fff;

        &.close-icon {
            animation: mx-switch-close 0.25s ease-in;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
        }

        &.open-icon {
            animation: mx-switch-open 0.25s ease-in;
            animation-fill-mode: backwards;
            animation-iteration-count: 1;
        }
    }

    &::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: @switch-height / 2;
        transition: background-color var(--duration);
    }

    &.close {
        .switch-icon {
            left: 1px;
        }

        &::after {
            background-color: @switch-color;
        }

        &:hover {
            &::after {
                background-color: #9095A1;
            }
        }
    }

    &.open {
        .switch-icon {
            left: @switch-width - @switch-height + 1;
        }

        &::after {
            background-color: var(--color-brand);
        }

        &:hover {
            &::after {
                background-color: var(--color-brand-hover);
            }
        }
    }
}

.reason {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
    z-index: 4;
}