<div class="search-box {{if (align=='right')}} search-box-right {{else}} search-box-left {{/if}}">
    <i class="mc-iconfont search-icon">&#xe651;</i>
    <input type="text" class="input search-input" placeholder="{{=placeholder}}"
        autocomplete="off"
        value="{{=searchValue}}" 
        mx-keyup="@{search}()"
        mx-paste="@{search}()"
        mx-focusin="@{search}()"
        mx-focusout="@{stop}()"
        mx-change="@{stop}()"/>

    <ul class="search-menu {{if ((list.length > 1) && searchValue && show)}} open {{/if}}">
        {{each list as item}}
        <li class="search-item {{if (searchKey == item.value)}} active {{/if}}" mx-click="@{select}({item:'{{@item}}'})">
            {{=item.prefix}}{{=searchValue}}{{=item.suffix}}
        </li>
        {{/each}}
    </ul>
</div>