html .error,
html .error:hover,
html .error:focus {
    border-color: var(--color-red);
}

.error-msg {
    display: none;
    position: absolute;
    white-space: nowrap;
    word-wrap: normal;
    pointer-events: none;
    color: var(--color-red);
    font-size: var(--font-size);
    line-height: 18px;
}

.warn, .warn:hover, .warn:focus {
    border-color: var(--color-warn);
}

.warn-msg {
    display: none;
    position: absolute;
    white-space: nowrap;
    word-wrap: normal;
    pointer-events: none;
    color: var(--color-warn);
    font-size: var(--font-size);
}
