<div class="carousel" style="height: {{=height}}px;">
    <div class="inner" mx-mouseover="@{stop}()" mx-mouseout="@{start}()">
        {{!content}}
    </div>
    {{if len > 1}}
        {{if dots}}
        <div class="{{if vertical}} v-dots {{else}} dots {{/if}} clearfix"
            mx-mouseover="@{stop}()" 
            mx-mouseout="@{start}()">
            {{for(let i=0;i<len;i+=1)}}
            <span class="dot {{=dotClass}}" mx-click="@{active}({idx:{{=i}}})"></span>
            {{/for}}
        </div>
        {{/if}}

        <i class="triggers triggers-left mc-iconfont" mx-click="@{trigger}({offset: -1})">&#xe61e;</i>
        <i class="triggers triggers-right mc-iconfont" mx-click="@{trigger}({offset: 1})">&#xe61e;</i>
    {{/if}}
</div>