{{if item.img}}
<div class="card-img" style="background-image: url({{=item.img}})">
    {{if item.imgTag}}<img class="card-tag-img" src="{{=item.imgTag}}" />{{/if}}
    {{if item.imgTagText}}<span class="card-brand-tag card-tag-text">{{!item.imgTagText}}</span>{{/if}}
</div>
{{/if}}
{{if item.icon}}<div class="card-icon" style="background-image: url({{=item.icon}})"></div>{{/if}}
<div class="card-info">
    {{if item.title}}
    <div class="card-title" style="text-align: {{=innerData.textAlign}};">
        {{!item.title}}
        {{if item.titleTag}}<img class="card-title-tag-img" src="{{=item.titleTag}}" />{{/if}}
        {{if item.titleTagText}}<span class="card-brand-tag card-title-tag-text">{{!item.titleTagText}}</span>{{/if}}
    </div>
    {{/if}}
    {{if item.subTitle}}
    <div class="card-sub-title" style="text-align: {{=innerData.textAlign}};">{{!item.subTitle}}</div>
    {{/if}}
    {{if item.tip}}
    <div class="card-tip" style="text-align: {{=innerData.textAlign}};">{{!item.tip}}</div>
    {{/if}}
    {{if innerData.quota}}
    <div class="card-quotaes">
        {{if (item.quotaes && item.quotaes.length)}}
            {{each item.quotaes as q}}
            <div class="card-quotae" style="width: {{=(100/item.quotaes.length)}}%;">
                <div class="quotae-num">{{!q.value}}</div>
                <div class="quotae-text">{{!q.text}}</div>
            </div>
            {{/each}}
        {{else}}
            {{if item.quotaeTip}}
            <div class="card-quotae-tip">{{!item.quotaeTip}}</div>
            {{/if}}
        {{/if}}
    </div>
    {{/if}}
    {{if item.btn}}
    <div class="btn card-btn">{{!item.btn}}</div>
    {{/if}}
</div>