{{if (mode == 'dot')}}
    <span class="dot" style="left: {{=posOffsetLeft}}px; top: {{=posOffsetTop}}px; background-color: {{=color}};"></span>
    {{if content}}
    <span class="dot-text">{{!content}}</span>
    {{/if}}
{{else}}
    {{if content}}
        {{if (tip || tipView)}}
        <mx-popover class="tag {{if withoutZoom}} without-zoom {{/if}}" style="{{=styles}}" 
            z-index="{{=tipZIndex}}"
            view="{{=tipView}}"
            data="{{@tipData}}"
            content="{{=tip}}"
            width="{{=tipWidth}}" 
            placement="{{=tipPlacement}}"
            align="{{=tipAlign}}">
            <span class="tag-text">{{!content}}</span>
        </mx-popover>
        {{else}}
        <span class="tag {{if withoutZoom}} without-zoom {{/if}}" style="{{=styles}}">
            <span class="tag-text">{{!content}}</span>
        </span>
        {{/if}}
    {{/if}}
{{/if}}