[mx-view*="mx-effects/notice"] {
    --mx-effects-notice-v-gap: 8px;
    --mx-effects-notice-fontsize: 12px;
    --mx-effects-notice-line-height: 20px;
    background-color: #fff;

    &[mx-view*="radius=true"],
    &[mx-view*="border=true"] {
        border-radius: var(--border-radius);
    }
}

[mx-view*="mx-effects/notice"][mx-view*="mode=text"] {
    display: inline-flex;
    vertical-align: middle;
    background-color: transparent;
    line-height: normal;
}

.img-notice,
.notice {
    position: relative;
    padding: var(--mx-effects-notice-v-gap, 8px) var(--output-h-gap, 24px);
    border-radius: inherit;

    .close {
        position: absolute;
        top: var(--mx-effects-notice-v-gap, 8px);
        right: var(--mx-effects-notice-v-gap, 8px);
        width: var(--mx-effects-notice-line-height, 20px);
        height: var(--mx-effects-notice-line-height, 20px);
        text-align: center;
        line-height: var(--mx-effects-notice-line-height, 20px);
        cursor: pointer;
        color: #999;
        font-size: 12px;
        font-weight: normal;
        transition: all var(--duration);

        &:hover {
            color: #666;
        }
    }
}

.notice {
    display: flex;
    align-items: flex-start;
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: var(--mx-effects-notice-line-height, 20px);
    height: var(--mx-effects-notice-line-height, 20px);

    >* {
        font-size: calc(var(--mx-effects-notice-line-height, 20px) - 4px);
    }
}

.text {
    flex: 1;
    word-break: break-all;
    font-weight: normal;
    font-size: var(--mx-effects-notice-fontsize, 12px);
    line-height: var(--mx-effects-notice-line-height, 20px);
}

.title {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.img-notice {
    .img {
        width: 48px;
        margin-right: 8px;
    }

    &.img-notice--small {
        align-items: center;

        .img {
            width: 32px;
        }
    }

    &.img-notice--normal {
        align-items: flex-start;

        .img {
            width: 48px;
        }
    }

    &.img-notice--large {
        align-items: flex-start;

        .img {
            width: 80px;
        }
    }
}

.fault {
    position: relative;
    width: 100%;
    height: 48px;

    .fault-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 12px;
        background-color: #E34D59;
    }

    .fault-inner {
        flex: 1;
        margin: 0 12px;
        white-space: nowrap;
        word-wrap: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        word-break: break-all;
        color: #fff;
        font-size: 14px;
        cursor: pointer;

        a {
            color: #F2CB52;
        }

        >* {
            display: inline;
            word-break: break-all;
        }
    }

    .fault-pager {
        display: inline-flex;
        align-items: center;
    }
}