{{if (mode == 'box')}}
<div class="clearfix pipeline" 
    style="--mx-effects-pipeline-color: {{=color}};">
    {{if img}}
    <div class="pipeline-logo">
        <div class="pipeline-logo-inner" style="background-image: url({{=img}});"></div>
    </div>
    {{/if}}
    <div class="pipeline-boxs">
        {{each list as item index}}
        <div class="pipeline-box {{if (index < selected)}} prev {{else if (index == selected)}} cur {{else}} disabled {{/if}} {{if item.disabled}} disabled {{/if}}">
            <div class="pipeline-title">
                {{!item.title}}
                {{if item.icon}}<img src="{{=item.icon}}"/>{{/if}}
                {{if item.tip}}<mx-popover class="mc-iconfont mc-tip-iconfont" content="{{=item.tip}}">&#xe72f;</mx-popover>{{/if}}
            </div> 
            <div class="pipeline-sub-title">{{!item.subTitle}}</div>
            <div class="pipeline-gradient-bg" style="background-image: linear-gradient(180deg, {{=color0}} 0%, {{=color2}} 99%);"></div>
            <div class="pipeline-spliter" style="background-image: linear-gradient(180deg, {{=color0}} 0%, {{=color2}} 99%);"></div>
        </div>
        {{/each}}
        <div class="pipeline-boxs-bg" style="background-image: linear-gradient(270deg, {{=color4}} 2%, {{=color2}} 100%);"></div>
        <div class="pipeline-boxs-bg-on" style="width: {{=percent}}%; background-image: linear-gradient(145deg, {{=color8}} 33%, {{=color6}} 34%, {{=color6}} 59%, {{=color8}} 60%); "></div>
    </div>
    <div class="pipeline-bg"></div>
</div>
{{/if}}

{{if (mode == 'circle')}}
<div class="steps">
    {{each list as item index}}
    <div class="clearfix step {{if (index == selected)}} current {{/if}} locked">
        <div class="circle">{{=(index + 1)}}</div>
        <div class="title">
            {{=item.title}}
            {{if item.tip}}
            <mx-popover class="mc-iconfont mc-tip-iconfont" content="{{!item.tip}}" width="280">&#xe72f;</mx-popover>
            {{/if}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}

{{if (mode == 'circle-progress')}}
<div class="steps circle-progress">
    {{each list as item index}}
    <div class="clearfix step {{if (index == selected)}} current {{else}}  {{if (index < selected)}} line-on {{else}} locked {{/if}} {{/if}}">
        <div class="circle">
            {{if (index < selected)}}
                <i class="mc-iconfont circle-icon">&#xe65d;</i>
            {{else}}
                {{=(index + 1)}}
            {{/if}}
        </div>
        <div class="title">
            {{=item.title}}
            {{if item.tip}}
            <mx-popover class="mc-iconfont mc-tip-iconfont" content="{{!item.tip}}" width="280">&#xe72f;</mx-popover>
            {{/if}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}


