{{if (mode == 'box')}}
    {{if (logo || cur.tip)}}
    <div class="box-title" style="padding: 0 {{=pd}}px;">
        {{if logo}}
        <img class="title-logo" src="{{=logo}}" />
        {{/if}}
        {{if cur.tip}}
        <span class="title-tip" style="color: {{=colorGradient}};">{{!cur.tip}}</span>
        {{/if}}
    </div>
    {{/if}}
    <ul class="clearfix pipeline">
        {{each list as item index}}
        <li class="box {{if (index == selected)}} cur {{/if}}" 
            style="width:{{=100/len}}%; padding: 0 {{=pd}}px;">
            <div class="box-inner">
                <div class="name">
                    <span class="name-title" style="color: {{=((index == selected) ? '#ffffff' : colorGradient)}};">{{!item.title}}</span>
                    {{if item.icon}}
                    <img src="{{=item.icon}}" class="name-img"/>
                    {{/if}}
                </div> 
                <div class="tip" style="color: {{=((index == selected) ? '#ffffff' : colorGradient)}};">{{!item.subTitle}}</div>
                <div class="bg" style="{{if (index == selected)}} box-shadow: 0 2px 12px -2px {{=color}}; {{/if}} background-color: {{=colorGradient}};"></div>
            </div>
            <div class="dot-bg1" style="background-color: {{=colorGradient}};"></div>
            <div class="dot-bg2" style="background-color: {{=colorGradient}};"></div>
            <div class="dot" style="border: 2px solid {{=((index == selected) ? colorGradient : color)}};"></div>
        </li>
        {{/each}}
    </ul>
    <div class="card-line" style="background: {{=color}}; background-image: linear-gradient(270deg, {{=color}} 0%, {{=colorGradient}} 33%, {{=color}} 49%, {{=colorGradient}} 70%, {{=color}} 100%);"></div>
{{/if}}

{{if (mode == 'line')}}
    <ul class="clearfix pipeline">
        {{each list as item index}}
        <li class="box {{if (index == selected)}} cur {{/if}}" 
            style="width:{{=100/len}}%; padding: 0 {{=pd}}px;">
            <div class="box-inner">
                <div class="name" style="opacity: 1;">
                    <span class="name-title" style="color: {{=((index == selected) ? colorGradient : '#666666')}};">{{!item.title}}</span>
                    {{if item.icon}}
                    <img src="{{=item.icon}}" class="name-img"/>
                    {{/if}}
                </div> 
                <div class="tip" style="color: {{=((index == selected) ? colorGradient : '#666666')}}; opacity: 1;">{{!item.subTitle}}</div>
            </div>
            <div class="dot-bg1" style="background-color: {{=colorGradient}};"></div>
            <div class="dot-bg2" style="background-color: {{=colorGradient}};"></div>
            <div class="dot" style="border: 2px solid {{=((index == selected) ? colorGradient : color)}};"></div>
        </li>
        {{/each}}
    </ul>
    <div class="card-line" style="background: {{=color}}; background-image: linear-gradient(270deg, {{=color}} 0%, {{=colorGradient}} 33%, {{=color}} 49%, {{=colorGradient}} 70%, {{=color}} 100%);"></div>
{{/if}}

{{if (mode == 'circle')}}
<div class="steps">
    {{each list as item index}}
    <div class="clearfix step {{if (index == selected)}} current {{/if}} locked">
        <div class="circle">{{=(index + 1)}}</div>
        <div class="title">
            {{=item.title}}
            {{if item.tip}}
            <mx-popover class="mc-iconfont title-icon" content="{{!item.tip}}" width="280">&#xe629;</mx-popover>
            {{/if}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}