[mx-view*="mx-effects/progress"] {
    --mx-effects-progress-height: 6px;
    --mx-effects-progress-num-height: 24px;
    --mx-effects-progress-bg: #E4E7F0;

    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

.line,
.gradient {
    position: relative;
    background: var(--mx-effects-progress-bg);

    .on {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        transition: width var(--duration);
    }

    .num {
        position: absolute;
        display: inline-flex;
        height: var(--mx-effects-progress-num-height);
        align-items: center;
        font-family: var(--font-number, Tahoma);
        color: #333;
        transition: all var(--duration);
        white-space: nowrap;
        font-size: var(--font-size);
    }

    .num-icon {
        font-size: 16px;
        margin-right: 4px;
    }

    .num--right,
    .num--left {
        top: calc(0px - (var(--mx-effects-progress-num-height) / 2 - var(--mx-effects-progress-height) / 2));
    }

    .num--right {
        left: 100%;
        padding-left: 10px;
    }

    .num--left {
        left: -10px;
        transform: translateX(-100%);
    }

    .num--top,
    .num--bottom {
        transform: translateX(-50%);
    }

    .num--top,
    .num--top-left {
        top: calc(0px - var(--mx-effects-progress-num-height));
    }

    .num--bottom,
    .num--bottom-left {
        bottom: calc(0px - var(--mx-effects-progress-num-height));
    }

    .num--top-left,
    .num--bottom-left {
        left: 0;
    }
}

.line {
    height: var(--mx-effects-progress-height);
    border-radius: calc(var(--mx-effects-progress-height) / 2);

    .on {
        border-radius: calc(var(--mx-effects-progress-height) / 2);
        background: var(--color-brand);
    }

    &.line-vs {
        .on {
            border-top-left-radius: calc(var(--mx-effects-progress-height) / 2);
            border-bottom-left-radius: calc(var(--mx-effects-progress-height) / 2);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

.gradient {
    height: calc(var(--mx-effects-progress-height) * 2);
    border-radius: var(--mx-effects-progress-height);

    .on {
        border-radius: var(--mx-effects-progress-height);
        background: var(--color-brand);
        background-size: calc(var(--mx-effects-progress-height) * 4) calc(var(--mx-effects-progress-height) * 2);
    }
}

.circle-icon,
.circle-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circle-icon {
    font-size: 36px;
}

.circle-text {
    font-size: 20px;
    font-family: var(--font-number, Tahoma);
}