{{if (type == 'circle')}}
<div class="circle-wrapper">
    <div class="circle-bg" style="width: {{=width}}px; height: {{=width}}px; margin-left: {{=(0 - width / 2)}}px; border: {{=border}}px solid #f0f0f0;"></div>
    <div id="{{=viewId}}_circle" class="circle" style="width: {{=(width + 2 * border)}}px; height: {{=(width + 2 * border)}}px;">
        <div class="half half-left" style="width: {{=(width / 2) + border}}px; height: {{=(width + 2 * border)}}px;">
            <div class="progress" style="left: {{=border}}px; width: {{=width}}px; height: {{=width}}px; border: {{=border}}px solid transparent; border-bottom: {{=border}}px solid {{=color}}; border-left: {{=border}}px solid {{=color}};"></div>
        </div>
        <div class="half half-right" style="width: {{=(width / 2) + border}}px; height: {{=(width + 2 * border)}}px; ">
            <div class="progress" style="right: {{=border}}px; width: {{=width}}px; height: {{=width}}px; border: {{=border}}px solid transparent; border-top: {{=border}}px solid {{=color}}; border-right: {{=border}}px solid {{=color}};"></div>
        </div>
    </div>
    <div class="circle-text" style="width: {{=width}}px; height: {{=width}}px; margin-left: {{=(0 - width / 2)}}px; line-height: {{=width}}px;">{{=num}}</div>
</div>
{{/if}}

{{if (type == 'line' || type == 'gradient')}}
<div {{if (type == 'gradient')}} class="gradient" {{else}} class="line" {{/if}}>
    <div class="on" style="width: {{=num}}; {{if color}} background: {{=color}}; {{/if}} {{if color1 && color2}} background: linear-gradient(45deg, {{=color1}} 33%, {{=color2}} 34%, {{=color2}} 59%, {{=color1}} 60%); background-size: 24px 12px; {{/if}} "></div>
    <div class="num {{=cName}}" {{if (placement == 'top' || placement == 'bottom')}} style="left: {{=num}};" {{/if}}>{{=num}}</div>
</div>
{{/if}}

{{if (type == 'degree')}}
<div class="degree-wrapper">
    <div class="degree-bg">
        {{for(let i=0;i<10;i+=1)}}
        <span class="degree"></span>
        {{/for}}
    </div>
    <div class="degree-on">
        {{for(let i=0;i<degree;i+=1)}}
        <span class="degree" style="opacity: {{=(i / 10 + 0.08)}}; {{if color}} background-color: {{=color}}; {{/if}}"></span>
        {{/for}}
    </div>
</div>
{{/if}}

