@import "../mx-style/_vars";

@progress-radius: 3px;
@progress-num-width: 60px;
@progress-num-height: 24px;

[mx-view*="mx-effects/progress"],
.on{
    height: (@progress-radius * 2);
    border-radius: @progress-radius;
}
[mx-view*="mx-effects/progress"]{
    display: inline-block;
    position: relative;
    width: 200px;
    background-color: #f0f0f0;
}
.on{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background-color: @color-brand;
    transition: width @duration;
}

.num{
    position: absolute;
    width: @progress-num-width;
    height: @progress-num-height;
    line-height: @progress-num-height;
    font-family: "Tahoma";
    color: #999;
    transition: all @duration;
}

.num-right{
    top: 0 - (@progress-num-height / 2 - @progress-radius);
    left: 100%;
    padding-left: 10px;
    text-align: left;
}
.num-left{
    top: 0 - (@progress-num-height / 2 - @progress-radius);
    left: 0 - @progress-num-width;
    padding-right: 10px;
    text-align: right;
}
.num-top{
    top: -24px;
    margin-left: 0 - (@progress-num-width / 2);
    text-align: center;
}
.num-bottom{
    bottom: -24px;
    margin-left: 0 - (@progress-num-width / 2);
    text-align: center;
}