[mx-view*="mx-effects/star"] {
    position: relative;
    display: inline-block;
    .star,
    .star>* {
        display: inline-block;
        width: var(--mx-effect-star-width);
        height: var(--mx-effect-star-width);
        line-height: var(--mx-effect-star-width);
        text-align: center;
        font-size: calc(var(--mx-effect-star-width) - 4px);
        color: inherit;
    }
    .star {
        float: left;
    }
    .star-bg {
        color: var(--color-border);
    }
    .star-on {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(var(--mx-effect-star-width) * 5);
        height: var(--mx-effect-star-width);
        overflow: hidden;
        .star-inner {
            width: 0;
            height: var(--mx-effect-star-width);
        }
    }
    &[mx-view*="operational=true"] {
        .star {
            cursor: pointer;
            transition: all var(--duration);
            &.star-hover {
                transform: scale(1.2);
            }
        }
    }
}