[mx-view*="mx-effects/star"] {
    --mx-effect-star-highlight: var(--color-brand);
    --mx-effect-star-width: 24px;
    --mx-effect-star-gap: 2px;
    position: relative;
    display: inline-block;

    .star,
    .star * {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: calc(var(--mx-effect-star-width) - 2 * var(--mx-effect-star-gap));
        height: calc(var(--mx-effect-star-width) - 2 * var(--mx-effect-star-gap));
        transition: all var(--duration);
        font-size: calc(var(--mx-effect-star-width) - 2 * var(--mx-effect-star-gap));
        background: inherit;
        color: inherit;
        -webkit-background-clip: inherit;
    }

    .star-wrapper {
        float: left;
        position: relative;
        font-size: 0;
        line-height: 0;
        margin: var(--mx-effect-star-gap);
        color: var(--color-border);
        transition: all var(--duration);

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        .star-on {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            overflow: hidden;
            transition: all var(--duration);

            .star {
                color: var(--mx-effect-star-highlight);
            }
        }
    }

    .star-operational,
    .star-operational-on {
        cursor: pointer;
        white-space: nowrap;

        .star {
            margin: var(--mx-effect-star-gap);

            &.star-hover {
                transform: scale(1.2);
            }
        }
    }

    .star-operational {
        color: var(--color-border);
    }

    .star-operational-on {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(var(--mx-effect-star-width) * 5);
        height: var(--mx-effect-star-width);
        overflow: hidden;
        transition: all var(--duration);

        .star-operational-inner {
            width: 0;
            height: var(--mx-effect-star-width);
        }
    }

    .num {
        display: inline-block;
        vertical-align: middle;
        width: var(--mx-effect-star-width);
        height: var(--mx-effect-star-width);
        text-align: center;
        line-height: var(--mx-effect-star-width);
        background-color: #eee;
        color: #666;
        margin-right: 2px;
        transition: all var(--duration);

        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &:last-child {
            margin-right: 0;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        &.num-selected {
            background-color: var(--mx-effect-star-highlight);
            color: #fff;
        }
    }
}