@import "../mx-style/_vars";
@star-size: 24px;

[mx-view*="mx-effects/star"]{
    position: relative;
    display: inline-block;

    .star > *{
        display: inline-block;
        width: @star-size;
        height: @star-size;
        line-height: @star-size;
        text-align: center;
        font-size: 20px;
        color: inherit;
    }   
    .star-bg{
        color: #f0f0f0;
    }

    .star-on{
        position: absolute;
        top: 0;
        left: 0;
        height: @star-size;
        overflow: hidden;
        .star-inner{
            width: @star-size * 5;
            height: @star-size;
            &.star-brand{
                color: @color-brand;
            }
        }


    }
}

