<div class="star-bg clearfix" style="--mx-effect-star-width: {{=starWidth}}px;">
    {{for(let i=0;i<count;i+=1)}}
    <span class="star {{if (hoverIndex == i)}} star-hover {{/if}} " 
        {{if operational}} mx-click="@{select}({index:{{=i}}})" mx-mouseover="@{over}({index:{{=i}}})" mx-mouseout="@{out}()" {{if spm}} data-spm-click="{{=spm}}{{=i}}" {{/if}}  {{/if}}>{{!icon}}</span>
    {{/for}}
</div>
<div class="star-on" style="--mx-effect-star-width: {{=starWidth}}px; width: {{=(num * starWidth)}}px;">
    <div class="star-inner clearfix" style="width:{{=(count * starWidth)}}px;">
        {{for(let i=0;i<count;i+=1)}}
        <span class="star {{if (hoverIndex == i)}} star-hover {{/if}}" 
            style="color: {{=color}};"
            {{if operational}} mx-click="@{select}({index:{{=i}}})" mx-mouseover="@{over}({index:{{=i}}})" mx-mouseout="@{out}()" {{if spm}} data-spm-click="{{=spm}}{{=i}}" {{/if}} {{/if}}>{{!icon}}</span>
        {{/for}}
    </div>
</div>
    