.tag {
    display: inline-flex;
    align-items: center;
    height: var(--mx-trigger-tag-height, 24px);
    margin: var(--mx-trigger-tag-gap);
    border-radius: var(--border-radius);
    overflow: hidden;

    .tag-title,
    .tag-text {
        display: inline-flex;
        align-items: center;
        height: 100%;
        padding-left: var(--input-h-gap, 8px);
        padding-right: var(--input-h-gap, 8px);
        font-size: 12px;
        transition: color var(--duration);
    }

    .tag-title {
        min-width: 40px;
        background-color: var(--color-brand);
        color: #fff;
    }

    .tag-text {
        max-width: 160px;
        background-color: var(--color-brand-opacity);
        color: #666;
    }

    .tag-icon {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 12px;
        height: 12px;
        margin-left: 8px;
        color: #999;
    }

    .tag-ellipsis,
    .tag-delete {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 12px;
        font-weight: bold;
    }

    .tag-ellipsis {
        transform: rotate(90deg);
        transition: opacity var(--duration), color var(--duration), transform var(--duration);
    }

    .tag-delete {
        transform: scale(.8);
        cursor: pointer;
        transition: opacity var(--duration), color var(--duration);

        &:hover {
            color: #333;
        }
    }

    &.pop-tag {
        .tag-ellipsis {
            opacity: 1;
        }

        .tag-delete {
            opacity: 0;
        }

        &:hover {
            .tag-ellipsis {
                opacity: 0;
                transform: rotate(135deg);
            }

            .tag-delete {
                opacity: 1;
            }
        }
    }
}

.sub-line {
    padding-bottom: 4px;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;

    &:last-child {
        padding-bottom: 0;
    }
}

.sub-wrapper {
    max-height: 160px;
    overflow-y: auto;
}