{{each list as item index}}
    <span class="tag {{if item.pop}} pop-tag {{/if}}" 
        {{if item.pop}} 
        data-pop="{{=viewId}}_{{=index}}"
        mx-view="mx-popover/index"
        *content="{{=item.pop}}"
        *width="160"
        *align="left"
        {{/if}}>
        {{if item[titleKey]}}
        <span class="tag-title">{{!item[titleKey]}}</span>
        {{/if}}
        <span class="tag-text" style="background-color: {{=bgColor}};">
            <span class="ellipsis flex-1">{{!item[textKey]}}</span>
            <span class="tag-icon">
                {{if item.pop}} 
                <i class="mx-iconfont tag-ellipsis">&#xe611;</i>
                {{/if}}
                <i class="mx-iconfont tag-delete" mx-click="@{delete}({item: '{{@item}}'})">&#xe607;</i>
            </span>
        </span>
    </span>
{{/each}}


