
.chrome-wrapper{
    width: 280px;
    background-color: var(--color-brand);
    padding: 20px;
    border-radius: var(--border-radius);

    .chrome-icon{
        font-size: 20px;
        margin-right: 5px;
    }
}
