.chrome-wrapper {
    width: 300px;
    background-color: var(--color-brand);
    background-image: linear-gradient(to right, var(--color-brand), var(--btn-brand-gradient));
    padding: 20px;
    border-radius: var(--border-radius);
    .chrome-icon {
        font-size: 20px;
        margin-right: 5px;
    }
}

.custom-btn {
    min-width: 72px;
    margin-right: 10px;
    &:last-child{
        margin-right: 0;
    }
}