@import '_vars';
.transform(@value) {
    transform: @value;
    -ms-transform: @value;
    -moz-transform: @value;
    -webkit-transform: @value;
    -o-transform: @value;
}

/* 动画结束停在最后一帧 */
.animation(@value, @mode: none) {
    animation: @value;
    -webkit-animation: @value;
    -ms-animation: @value;
    -moz-animation: @value;
    -o-animation: @value;
    animation-fill-mode: @mode;
    -webkit-animation-fill-mode: @mode;
    -ms-animation-fill-mode: @mode;
    -moz-animation-fill-mode: @mode;
    -o-animation-fill-mode: @mode;
}

.fade-in-down-keyframes () {
    0% {
        .transform(translate(0, -20%));
        opacity: 0;
    }
    100% {
        .transform(translate(0, 0));
        opacity: 1;
    }
}

/**
* 渐显下拉动画
*/

@keyframes fade-in-down {
    .fade-in-down-keyframes
}

@-webkit-keyframes fade-in-down {
    .fade-in-down-keyframes
}

@-moz-keyframes fade-in-down {
    .fade-in-down-keyframes
}

@-ms-keyframes fade-in-down {
    .fade-in-down-keyframes
}

@-o-keyframes fade-in-down {
    .fade-in-down-keyframes
}

/**
* 渐显上拉动画
*/

.fade-in-up-keyframes () {
    0% {
        .transform(translate(0, 20%));
        opacity: 0;
    }
    100% {
        .transform(translate(0, 0));
        opacity: 1;
    }
}

@keyframes fade-in-up {
    .fade-in-up-keyframes
}

@-webkit-keyframes fade-in-up {
    .fade-in-up-keyframes
}

@-moz-keyframes fade-in-up {
    .fade-in-up-keyframes
}

@-ms-keyframes fade-in-up {
    .fade-in-up-keyframes
}

@-o-keyframes fade-in-up {
    .fade-in-up-keyframes
}

.suspension-keyframes () {
    0% {
        .transform(translate(0, 0))
    }
    25% {
        .transform(translate(0, -15%))
    }
    75% {
        .transform(translate(0, 15%))
    }
    100% {
        .transform(translate(0, 0))
    }
}

@keyframes suspension {
    .suspension-keyframes
}

@-webkit-keyframes suspension {
    .suspension-keyframes
}

@-moz-keyframes suspension {
    .suspension-keyframes
}

@-ms-keyframes suspension {
    .suspension-keyframes
}

@-o-keyframes suspension {
    .suspension-keyframes
}

/**
 * 按钮中间的loading点动画
 */
.loading-dot () {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: white;
    vertical-align: middle;
    border-radius: 50%;
}

.dots-keyframes () {
    0% {
        .transform(translate(0, 0))
    }
    25% {
        .transform(translate(0, 2px))
    }
    50% {
        .transform(translate(0, 0))
    }
    75% {
        .transform(translate(0, -2px))
    }
    100% {
        .transform(translate(0, 0))
    }
}

@keyframes loading-dots {
    .dots-keyframes
}

@-webkit-keyframes loading-dots {
    .dots-keyframes
}

@-moz-keyframes loading-dots {
    .dots-keyframes
}

@-ms-keyframes loading-dots {
    .dots-keyframes
}

@-o-keyframes loading-dots {
    .dots-keyframes
}

.dots-keyframes-rev () {
    0% {
        .transform(translate(0, 0))
    }
    25% {
        .transform(translate(0, -2px))
    }
    50% {
        .transform(translate(0, 0))
    }
    75% {
        .transform(translate(0, 2px))
    }
    100% {
        .transform(translate(0, 0))
    }
}

@keyframes loading-dots-rev {
    .dots-keyframes-rev
}

@-webkit-keyframes loading-dots-rev {
    .dots-keyframes-rev
}

@-moz-keyframes loading-dots-rev {
    .dots-keyframes-rev
}

@-ms-keyframes loading-dots-rev {
    .dots-keyframes-rev
}

@-o-keyframes loading-dots-rev {
    .dots-keyframes-rev
}
