/* @dependent: ./index.less */

/* 各种类型按钮样式 */

.btn,
.mx-btn {
    position: relative;
    display: inline-block;
    height: var(--input-height);
    margin-bottom: 0;
    padding: 0 10px;
    font-size: var(--font-size);
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    line-height: calc(var(--input-height) - 2px);
    border-radius: var(--btn-border-radius);
    border-width: 1px;
    border-style: solid;
    border-color: var(--btn-border);
    background-color: var(--btn-bg);
    background-image: none;
    color: var(--btn-text);
    transition: border-color var(--duration), background-color var(--duration), color var(--duration);
    .btn-tag {
        position: absolute;
        top: -10px;
        left: 100%;
        z-index: 2;
        margin-left: -20px;
    }
    &:hover,
    &.hover,
    &:active {
        border-color: var(--btn-border-hover);
        background-color: var(--btn-bg-hover);
        background-image: none;
        color: var(--btn-text-hover);
    }
    &.btn-small {
        height: var(--input-small-height);
        line-height: calc(var(--input-small-height) - 2px);
    }
    &.btn-brand {
        padding: 0 11px;
        line-height: var(--input-height);
        border-width: 0;
        background-color: var(--btn-brand);
        background-image: linear-gradient(to right, transparent, var(--btn-brand-gradient));
        color: var(--btn-brand-text);
        &:hover,
        &.hover,
        &:active {
            line-height: var(--input-height);
            border-width: 0;
            background-color: var(--btn-brand-hover);
            background-image: linear-gradient(to right, transparent, var(--btn-brand-gradient-hover));
            color: var(--btn-brand-text-hover);
        }
        &.btn-small {
            line-height: var(--input-small-height);
        }
        .btn-tag {
            border: 1px solid var(--color-red);
            background-color: var(--color-red);
        }
    }
    &.btn-hollow {
        border-color: var(--btn-brand);
        background-color: transparent;
        background-image: none;
        color: var(--btn-brand);
        &:hover,
        &.hover,
        &:active {
            border-color: var(--btn-brand);
            background-color: var(--btn-brand);
            background-image: linear-gradient(to right, transparent, var(--btn-brand-gradient));
            color: var(--btn-brand-text);
        }
        .btn-tag {
            border: 1px solid var(--color-red);
            background-color: var(--color-red);
        }
    }
    &.btn-white {
        border-color: #fff;
        background-color: #fff;
        background-image: none;
        &:hover,
        &.hover,
        &:active {
            border-color: var(--color-bg);
            background-color: var(--color-bg);
            background-image: none;
        }
    }
    &[disabled],
    &[disabled]:hover,
    &[disabled].hover,
    &[disabled]:active,
    &.btn-disabled,
    &.btn-disabled:hover,
    &.btn-disabled.hover,
    &.btn-disabled:active {
        cursor: not-allowed;
        line-height: calc(var(--input-height) - 2px);
        border-width: 1px;
        border-color: var(--color-border);
        background-color: var(--color-disabled);
        background-image: none;
        color: #999;
        &.btn-small {
            line-height: calc(var(--input-small-height) - 2px);
        }
        .btn-tag {
            border: 1px solid #ccc;
            background-color: #ccc;
        }
    }
}

.mx-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &.mx-btn-custom {
        border-color: var(--mx-btn-custom-color);
        background-color: var(--mx-btn-custom-color);
        background-image: none;
        color: var(--mx-btn-custom-color-text);
        &:hover,
        &.hover,
        &:active {
            border-color: var(--mx-btn-custom-color-hover);
            background-color: var(--mx-btn-custom-color-hover);
            background-image: none;
            color: var(--mx-btn-custom-color-hover-text);
        }
    }
}

/**
 * 按钮中间的loading点动画
 */

@keyframes loading-dots {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, 2px);
    }
    50% {
        transform: translate(0, 0);
    }
    75% {
        transform: translate(0, -2px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes loading-dots-rev {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, -2px);
    }
    50% {
        transform: translate(0, 0);
    }
    75% {
        transform: translate(0, 2px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.mx-btn-loading-dot,
.mx-btn-loading-dot:after,
.mx-btn-loading-dot:before {
    display: inline-block;
    width: 4px;
    height: 4px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #fff;
}

.mx-btn-loading-dot {
    position: relative;
    margin: 0 8px;
}

.mx-btn-loading-dot:after {
    content: ' ';
    position: absolute;
    left: -8px;
    top: 0;
    animation: loading-dots 0.6s linear 0s infinite;
}

.mx-btn-loading-dot:before {
    content: ' ';
    position: absolute;
    left: 8px;
    top: 0;
    animation: loading-dots-rev 0.6s linear 0s infinite;
}

@keyframes loading-circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mx-btn-loading-circle {
    display: block;
    width: calc(var(--input-height) / 2);
    height: calc(var(--input-height) / 2);
    margin-right: 6px;
    border-radius: 50%;
    animation: loading-circle 1.2s linear infinite;
    border: 1px solid #fff;
    border-color: #fff transparent #fff transparent;
}

.btn-small {
    .mx-btn-loading-circle {
        width: calc(var(--input-small-height) / 2);
        height: calc(var(--input-small-height) / 2);
    }
}

.mx-btn {
    .mx-btn-loading-dot,
    .mx-btn-loading-dot:after,
    .mx-btn-loading-dot:before {
        background-color: var(--color-brand);
    }
    .mx-btn-loading-circle {
        border: 1px solid var(--btn-text);
        border-color: var(--btn-text) transparent var(--btn-text) transparent;
    }
}

.mx-btn-custom,
.btn-brand {
    .mx-btn-loading-dot,
    .mx-btn-loading-dot:after,
    .mx-btn-loading-dot:before {
        background-color: #fff;
    }
    .mx-btn-loading-circle {
        border: 1px solid #fff;
        border-color: #fff transparent #fff transparent;
    }
}

.btn-disabled {
    .mx-btn-loading-dot,
    .mx-btn-loading-dot:after,
    .mx-btn-loading-dot:before {
        background-color: #999;
    }
    .mx-btn-loading-circle {
        border: 1px solid #999;
        border-color: #999 transparent #999 transparent;
    }
}

.btn-white {
    .mx-btn-loading-dot {
        opacity: .6;
    }
    .mx-btn-loading-dot,
    .mx-btn-loading-dot:after,
    .mx-btn-loading-dot:before {
        background-color: var(--btn-text);
    }
    .mx-btn-loading-circle {
        border: 1px solid var(--btn-text);
        border-color: var(--btn-text) transparent var(--btn-text) transparent;
    }
}

.mx-btn-custom-loading {
    .mx-btn-loading-dot,
    .mx-btn-loading-dot:after,
    .mx-btn-loading-dot:before {
        background-color: var(--mx-btn-custom-color-loading);
    }
    .mx-btn-loading-circle {
        border: 1px solid var(--mx-btn-custom-color-loading);
        border-color: var(--mx-btn-custom-color-loading) transparent var(--mx-btn-custom-color-loading) transparent;
    }
}

@media screen and (max-width:768px) {
    .btn,
    .mx-btn {
        --btn-border-radius: calc(var(--input-height) / 2);
        &:hover,
        &:visited {
            border-color: var(--btn-border);
            background-color: var(--btn-bg);
            background-image: none;
            color: var(--btn-text);
        }
        &:active,
        &:focus {
            border-color: var(--btn-border-hover);
            background-color: var(--btn-bg-hover);
            background-image: none;
            color: var(--btn-text-hover);
        }
        &.btn-brand {
            &:hover,
            &:visited {
                background-color: transparent;
                background-image: linear-gradient(to right, var(--btn-brand), var(--btn-brand-gradient));
                color: var(--btn-brand-text);
            }
            &:active,
            &:focus {
                background-color: transparent;
                background-image: linear-gradient(to right, var(--btn-brand-hover), var(--btn-brand-gradient-hover));
                color: var(--btn-brand-text-hover);
            }
        }
        &.btn-hollow {
            &:hover,
            &:visited {
                border-color: var(--btn-brand);
                background-color: transparent;
                background-image: none;
                color: var(--btn-brand);
            }
            &:active,
            &:focus {
                border-color: var(--btn-brand);
                background-color: transparent;
                background-image: linear-gradient(to right, var(--btn-brand), var(--btn-brand-gradient));
                color: var(--btn-brand-text);
            }
        }
    }
}