/* @dependent: ./index.less */

/* 各种类型按钮样式 */
.btn,
.mx-btn {
    position: relative;
    display: inline-block;
    min-width: 64px;
    height: var(--input-height);
    margin-bottom: 0;
    padding: 0 10px;
    font-size: var(--font-size);
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    line-height: calc(var(--input-height) - 2px);
    border-radius: var(--btn-border-radius);
    border-width: 1px;
    border-style: solid;
    border-color: var(--btn-border);
    background-color: var(--btn-bg);
    color: var(--btn-text);
    transition: border-color var(--duration), background-color var(--duration), color var(--duration);

    .btn-tag {
        position: absolute;
        top: -10px;
        left: 100%;
        z-index: 2;
        margin-left: -20px;
        border: 1px solid var(--color-brand);
        background-color: var(--color-brand);
    }

    &.btn-small {
        min-width: 48px;
        height: var(--input-small-height);
        line-height: calc(var(--input-small-height) - 2px);
    }

    &:hover,
    &.hover,
    &:active {
        border-color: var(--btn-border-hover);
        background-color: var(--btn-bg-hover);
        color: var(--btn-text-hover);
    }

    &[disabled],
    &.btn-disabled {
        cursor: not-allowed;

        &:hover,
        &.hover,
        &:active {
            border-color: var(--btn-border);
            background-color: var(--btn-bg);
            color: var(--btn-text);
        }

        &::after {
            opacity: .6;
            content: ' ';
            position: absolute;
            top: -1px;
            right: -1px;
            bottom: -1px;
            left: -1px;
            z-index: 1;
            border-radius: var(--btn-border-radius);
            background-color: #fff;
        }
    }

    &.btn-brand {
        border-color: var(--btn-brand);
        background-color: var(--btn-brand);
        color: var(--btn-brand-text);

        .btn-tag {
            border: 1px solid var(--color-red);
            background-color: var(--color-red);
        }

        &:hover,
        &.hover,
        &:active {
            border-color: var(--btn-brand-hover);
            background-color: var(--btn-brand-hover);
            color: var(--btn-brand-text-hover);
        }

        &[disabled],
        &.btn-disabled {

            &:hover,
            &.hover,
            &:active {
                border-color: var(--btn-brand);
                background-color: var(--btn-brand);
                color: var(--btn-brand-text);
            }
        }
    }

    &.btn-hollow {
        border-color: var(--btn-brand);
        background-color: transparent;
        color: var(--btn-brand);

        .btn-tag {
            border: 1px solid var(--color-red);
            background-color: var(--color-red);
        }

        &:hover,
        &.hover,
        &:active {
            border-color: var(--btn-brand);
            background-color: var(--btn-brand);
            color: var(--btn-brand-text);
        }

        &[disabled],
        &.btn-disabled {

            &:hover,
            &.hover,
            &:active {
                border-color: var(--btn-brand);
                background-color: transparent;
                color: var(--btn-brand);
            }
        }
    }

    &.btn-white {
        border-color: #fff;
        background-color: #fff;
        color: var(--btn-text);

        .btn-tag {
            border: 1px solid var(--color-brand);
            background-color: var(--color-brand);
        }

        &:hover,
        &.hover,
        &:active {
            border-color: var(--color-bg);
            background-color: var(--color-bg);
            color: var(--btn-text-hover);
        }

        &[disabled],
        &.btn-disabled {

            &:hover,
            &.hover,
            &:active {
                border-color: #fff;
                background-color: #fff;
                color: var(--btn-text);
            }
        }
    }
}

.mx-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.mx-btn-custom {
        border-color: var(--mx-btn-custom-color);
        background-color: var(--mx-btn-custom-color);
        color: var(--mx-btn-custom-color-text);

        &:hover,
        &.hover,
        &:active {
            border-color: var(--mx-btn-custom-color-hover);
            background-color: var(--mx-btn-custom-color-hover);
            color: var(--mx-btn-custom-color-hover-text);
        }
    }
}

@media screen and (max-width:768px) {

    .btn,
    .mx-btn {
        --btn-border-radius: calc(var(--input-height) / 2);

        &:hover,
        &:visited {
            border-color: var(--btn-border);
            background-color: var(--btn-bg);
            color: var(--btn-text);
        }

        &:active,
        &:focus {
            border-color: var(--btn-border-hover);
            background-color: var(--btn-bg-hover);
            color: var(--btn-text-hover);
        }

        &.btn-brand {

            &:hover,
            &:visited {
                background-color: var(--btn-brand);
                color: var(--btn-brand-text);
            }

            &:active,
            &:focus {
                background-color: var(--btn-brand-hover);
                color: var(--btn-brand-text-hover);
            }
        }

        &.btn-hollow {

            &:hover,
            &:visited {
                border-color: var(--btn-brand);
                background-color: transparent;
                color: var(--btn-brand);
            }

            &:active,
            &:focus {
                border-color: var(--btn-brand);
                background-color: var(--btn-brand);
                color: var(--btn-brand-text);
            }
        }
    }
}