/* @dependent: ./index.less */
@import "_vars";

.btn{
    display: inline-block;
    height: @input-height;
    margin-bottom: 0;
    padding: 0 12px;
    line-height: @input-height - 2;
    border-radius: @btn-border-radius;
    border-width: 1px;
    border-style: solid;
    font-size: @font-size;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    background-image: none;
    transition: all @duration ease-out;
    color: @btn-text;
    background-color: @btn-bg;
    border-color: @btn-border;
    background-image: none;

    &:hover,
    &.hover,
    &:active {
        color: @btn-text-hover;
        background-color: @btn-bg-hover;
        border-color: @btn-border-hover;
    }

    &.btn-small {
        height: @input-small-height;
        line-height: @input-small-height - 2;
    }

    &.btn-brand when (@btn-brand = @btn-brand-gradient) {
        color: @btn-brand-text;
        background-color: @btn-brand;
        border-color: @btn-brand;
        &:hover,
        &.hover,
        &:active {
            color: @btn-brand-text-hover;
            background-color: @color-brand-hover;
            border-color: @color-brand-hover;
        }
    }

    &.btn-brand when not (@btn-brand = @btn-brand-gradient) {
        color: @btn-brand-text;
        background-color: @btn-brand;
        background-image: linear-gradient(to right, @btn-brand, @btn-brand-gradient);
        background-image: -webkit-linear-gradient(left, @btn-brand, @btn-brand-gradient);
        background-image: -o-linear-gradient(right, @btn-brand, @btn-brand-gradient);
        background-image: -moz-linear-gradient(right, @btn-brand, @btn-brand-gradient);
        border-color: @btn-brand;
        &:hover,
        &.hover,
        &:active {
            color: @btn-brand-text-hover;
            background-color: @color-brand-hover;
            background-image: linear-gradient(to right, @btn-brand-hover, @btn-brand-gradient-hover);
            background-image: -webkit-linear-gradient(left, @btn-brand-hover, @btn-brand-gradient-hover);
            background-image: -o-linear-gradient(right, @btn-brand-hover, @btn-brand-gradient-hover);
            background-image: -moz-linear-gradient(right, @btn-brand-hover, @btn-brand-gradient-hover);
            border-color: @color-brand-hover;
        }
    }

    &.btn-white {
        background-color: #fff;
        border-color: #fff;
        background-image: none;
        &:hover,
        &.hover,
        &:active {
            background-color: #fafafa;
            border-color: #fafafa;
            background-image: none;
        }
    }

    &[disabled],
    &.btn-disabled,
    &[disabled]:hover,
    &[disabled].hover,
    &[disabled]:active{
        opacity: .5;
        cursor: not-allowed;
        color: @btn-text;
        background-color: @color-disabled;
        border-color: @btn-border;
        background-image: none;
    }
    
}

