/* @dependent: ./index.less */
@import '_vars';

::placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::-webkit-input-placeholder {
    color: @color-third;
}

input,
textarea,
.input,
.textarea {
    display: inline-block;
    max-width: 100%;
    font-size: @font-size;
    border-color: @border-highlight;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    background-color: #fff;
    background-image: none;
    box-shadow: none;
    box-sizing: border-box;
    transition: border-color @duration ease-out;
    color: @color-primary;
    outline: none; 
    
    // 鼠标 hover 状态
    &:hover {
        border-color: @border-highlight-hover;
    } 
    
    // focus 状态
    &:focus {
        border-color: @color-brand;
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &[readonly],
    &[readonly]:hover,
    &[readonly]:focus {
        border-color: @color-border;
        cursor: not-allowed;
        background-color: @color-bg;
        color: #999;
    }
}

input,
.input {
    height: @input-height;
    line-height: @input-height - 2px;
    padding: 0 9px;
}

textarea,
.textarea {
    line-height: 22px;
    padding: 8px;
}

.input-focus,
.textarea-focus {
    border-color: @color-brand;
}

.input-small {
    height: @input-small-height;
    line-height: @input-small-height - 2px;
}

@keyframes checkboxAfter {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
}
@keyframes checkboxBefore {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0.5;
    }
    100% {
        transform: scale(1.8);
        -webkit-transform: scale(1.8);
        opacity: 0;
    }
}
@checkbox-size: @font-size + 2px;
input[type="checkbox"],
.checkbox {
    width: @checkbox-size;
    height: @checkbox-size;
    margin-right: 4px;
    appearance: none;
    vertical-align: middle;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    cursor: pointer;
    border-radius: 2px;
    box-sizing: border-box;
    outline: none;
    transition: border-color @duration, background-color @duration;
    &:focus{
        border-color: #ccc;
    }
    &:hover{
        border-color: @color-brand;
    }

    &:checked {
        border-color: @color-brand;
        background-color: @color-brand;
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 2px;
            background-image: url(https://img.alicdn.com/tps/TB1bSBzLVXXXXXfXFXXXXXXXXXX-1000-1000.svg);
            background-size: 100%;
            color: white;
        }
    }
    
    &:disabled {
        border-color: @color-border;
        background-color: @color-bg;
        &:checked{
            border-color: #ccc;
            background-color: #ccc;
        }
    }
    &:indeterminate {
        background-color: @color-brand;
        border-color: @color-brand;
        &:after {
            content: '';
            display: block;
            height: floor(@checkbox-size / 6px);
            width: @checkbox-size - 6px;
            margin: 40% auto;
            background-color: #fff;
        }
        &:disabled{
            border-color: #ccc;
            background-color: #ccc;
        }
    }
    
    &.anim-checkbox{
        position: relative;
        &:checked {
            &:after {
                -webkit-animation: checkboxAfter @duration ease-out;
                animation: checkboxAfter @duration ease-out;
            }
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 2px;
                border: 1px solid @color-brand;
                -webkit-animation: checkboxBefore @duration ease-out;
                animation: checkboxBefore @duration ease-out;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
            }
        }
        &:disabled {
            &:checked{
                &:before{
                    content: none;
                }
            }
        }
    }
}

@keyframes radioAfter {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
@keyframes radioBefore {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1.6);
        -webkit-transform: scale(1.6);
        opacity: 0;
    }
}
input[type="radio"],
.radio {
    position: relative;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    appearance: none;
    background-color: #fff;
    cursor: pointer;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 50%;
    outline: none;
    transition: border-color @duration;

    &:focus{
        border-color: #ccc;
    }
    &:hover{
        border-color: @color-brand;
    }

    &:checked {
        background-color: @color-brand;
        border-color: @color-brand;
        &:after {
            content: '';
            position: absolute;
            top: 3px;
            left: 3px;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            background-color: #fff;
        }
        &:hover {
            border-color: @color-brand;
        }
    }
    &:disabled {
        background-color: @color-bg;
        border-color: @color-border;
        &:hover {
            border-color: @color-border;
        }
        &:after {
            background-color: #ccc;
        }
    }
    
    &.anim-radio{
        position: relative;
        width: 16px;
        height: 16px;
    
        &:checked {
            background-color: #fff;
            border-color: @color-brand;
    
            &:after {
                top: 4px;
                left: 4px;
                background-color: @color-brand;
                -webkit-animation: radioAfter @duration ease-out;
                animation: radioAfter @duration ease-out;
            }
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 100%;
                border: 1px solid @color-brand;
                -webkit-animation: radioBefore @duration ease-out;
                animation: radioBefore @duration ease-out;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
            }
        }
        &:disabled {
            background-color: @color-bg;
            border-color: @color-border;
            &:hover {
                border-color: @color-border;
            }
            &:after {
                background-color: #ccc;
            }
    
            &:checked{
                &:before{
                    content: none;
                }
            }
        }
    }
}




//---表单
.form {
    .form-item {
        position: relative;
        padding-left: @font-size * 8;
        margin-bottom: 30px;
        .form-label{
            position: absolute;
            top: 0;
            left: 0;
            width: @font-size * 8;
            line-height: @input-height;
            vertical-align: top;
            white-space: nowrap;
            word-wrap: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
            cursor: default;
            color: #666;
            &.label-right {
                text-align: right;
                &.form-required:before {
                    display: inline-block;
                    margin-right: 4px;
                    content: '*';
                    font-family: SimSun;
                    line-height: 1;
                    color: @color-red;
                }
            }
        }
        .form-content {
            position: relative;
            min-height: @input-height;
            line-height: @input-height;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .form-footer {
        margin-left: @font-size * 8;
    }
    &.small-form {
        .form-item {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &.align-right{
        .form-label{
            padding-right: 20px;
            text-align: right;
        }
    }
}

.form-loop(@n, @i:4) when (@i <= @n) {
    .form-@{i}{
        .form-item {
            padding-left: @font-size * @i;
            .form-label{
                width: @font-size * @i;
            }
        }
        .form-footer {
            margin-left: @font-size * @i;
        }
    }

    .form-loop(@n, (@i + 2));
}
.form-loop(10);