/*css3变量*/
:root{
    --color-brand: #f96447;
    --color-brand-hover:#e55c41;
    --color-brand-vs: #ffbb00;
    --color-brand-light: #feddd7;
    --color-brand-opacity: #fff7f6;
    --color-brand-text: #ffffff;
    --color-brand-text-hover: #ffffff;

    // 表格相关色值
    --table-color-border: #ebebeb;
    --table-operation-color-bg: #dbe5ff;

    // 品牌按钮颜色，支持渐变
    --btn-brand: #f96447;
    --btn-brand-gradient: #f96447;
    --btn-brand-hover: #e05a40;
    --btn-brand-gradient-hover: #e05a40;
    
    //字体相关参数
    --line-height: 1.5;
    --font-size: 12px;

    // 提示颜色
    --color-primary: #333;
    --color-secondary: #666;
    --color-third: #999;
    --color-hover: #f0f0f0;
    --color-warn: #ffb400;
    --color-red: #a40100;
    --color-orange: #ff5500;
    --color-green: #51a300;
    --color-disabled: #eee;

    //边框
    --color-border: #e6e6e6;
    --color-border-hover: #ccc;
    --border-radius: 4px;

    //背景色
    --color-bg: #fafafa;
    --color-bg-hover: #ccc;

    //输入或下拉框高度 
    --input-height: 32px;
    --input-small-height: 26px;
    --duration: 0.25s;
}

//请保持这里的import处于代码的最下方
@import '../../assets/group_override.less';