/* css3变量 跟 _vars 中一一对应 */
/* 说明文档：https://thx.github.io/magix-gallery/#!/all/pro/cross */

:root{
    // 品牌色
    --color-brand: #4d7fff;
    --color-brand-hover: #4776ed;
    --color-brand-vs: #14c9ce;
    --color-brand-light : #d8e3ff;
    --color-brand-opacity: #f6f9ff;
    --color-brand-text: #ffffff;
    --color-brand-text-hover: #ffffff;

    //边框
    --color-border: #e6e6e6;
    --border-radius: 4px;
    --border-highlight: #e6e6e6;
    --border-highlight-hover: #ccc;

    // 品牌按钮颜色，支持渐变
    --btn-border-radius: 4px;
    --btn-brand: #4d7fff;
    --btn-brand-gradient: #4d7fff;
    --btn-brand-hover: #4776ed;
    --btn-brand-gradient-hover: #4776ed;

    // 品牌按钮颜色，支持渐变
    --btn-border-radius: 4px;
    --btn-brand: #4d7fff;
    --btn-brand-gradient: #4d7fff;
    --btn-brand-hover: #4776ed;
    --btn-brand-gradient-hover: #4776ed;
    --btn-brand-text: #ffffff;
    --btn-brand-text-hover: #ffffff;
    --btn-text: #333;
    --btn-text-hover: #333;
    --btn-border: #e6e6e6;
    --btn-border-hover: #ccc;
    --btn-bg: #e6e6e6;
    --btn-bg-hover: #ccc;

    //字体相关参数
    --line-height: 1.5;
    --font-size: 12px;

    // 提示颜色
    --color-primary: #333;
    --color-secondary: #666;
    --color-third: #999;
    --color-hover: #f0f0f0;
    --color-warn: #ffb400;
    --color-red: #a40100;
    --color-orange: #ff5500;
    --color-green: #51a300;
    --color-blue: #4d7fff;
    --color-disabled: #eee;

    //背景色
    --color-bg: #fafafa;
    --color-bg-hover: #ccc;

    //输入或下拉框高度 
    --input-height: 32px;
    --input-small-height: 26px;

    // 动画
    --duration: 0.25s;
}

//请保持这里的import处于代码的最下方
@import '../../assets/group_override.less';