/* @dependent: ./index.less */
@font-face {
    font-family: 'mc-iconfont';  /* project id 386526 */
    src: url('//at.alicdn.com/t/font_386526_uld3lqvtsro.eot');
    src: url('//at.alicdn.com/t/font_386526_uld3lqvtsro.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_386526_uld3lqvtsro.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_386526_uld3lqvtsro.woff') format('woff'),
    url('//at.alicdn.com/t/font_386526_uld3lqvtsro.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_386526_uld3lqvtsro.svg#iconfont') format('svg');
}
.mc-iconfont {
    display: inline-block;
    position: relative;
    font-family: "mc-iconfont";
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    font-variant: normal;
    font-display: fallback;   //https://www.chromestatus.com/feature/5636954674692096
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}