/* @dependent: ./index.less */
@font-face {
    font-family: 'iconfont';  /* project id 386526 */
    src: url('//at.alicdn.com/t/font_386526_5s9q1l8cqhd.eot');
    src: url('//at.alicdn.com/t/font_386526_5s9q1l8cqhd.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_386526_5s9q1l8cqhd.woff') format('woff'),
    url('//at.alicdn.com/t/font_386526_5s9q1l8cqhd.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_386526_5s9q1l8cqhd.svg#iconfont') format('svg');
}

.mc-iconfont {
    font-family: "iconfont";
    line-height: 1;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    font-variant: normal;
    display: inline-block;
    speak: none;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}