/* @dependent: ./index.less */
@import "./_vars";

.page-header {
    position: relative;
    margin-bottom: 20px;

    .page-tip {
        color: #999;
    }

    .header-filters {
        position: absolute;
        right: 0;
        bottom: 12px;
    }

}

.first-header,
.second-header{
    margin-right: 16px;
    line-height: 32px;
}
.first-header {
    font-size: 20px;
}
.second-header {
    font-size: 16px;
}

/*表格底部翻页wrapper*/
.pager-wrapper{
    padding: 16px 24px;
}
.table-pager-wrapper {
    padding: 15px;
    background-color: @color-bg;
}
