/* @dependent: ./index.less */
@import '_vars';
@table-ceil-gap: 8px;
.table {
    width: 100%;

    thead {
        background-color: @color-bg;

        tr {
            th {
                height: 60px;
                padding: 0 @table-ceil-gap;
                color: #999;
                border: none;

                &:first-child {
                    padding-left: @table-ceil-gap * 2;
                }

                &:last-child {
                    padding-right: @table-ceil-gap * 2;
                }

                &.field-group {
                    height: 30px;
                    padding: 2px @table-ceil-gap 0;

                    .group-name {
                        line-height: 26px;
                        padding-bottom: 2px;
                        border-bottom: 1px solid @color-border;
                    }

                }

                &.field-item {
                    height: 30px;
                    padding: 0 @table-ceil-gap;
                }

            }

        }

    }

    tbody {
        background-color: #fff;

        tr {
            td {
                padding: (@table-ceil-gap * 2) @table-ceil-gap;
                color: #333;
                border-top: 1px solid @color-border;
                border-bottom: none;
                transition: background-color @duration ease-out;

                &:first-child {
                    padding-left: @table-ceil-gap * 2;
                }

                &:last-child {
                    padding-right: @table-ceil-gap * 2;
                }

                &.sub-mask {
                    background-color: #fff;
                    border-right: 1px solid @color-brand-light;
                    border-top: 0 none;
                }

                &.sub-mask-first {
                    border-top: 1px solid @color-border;
                    border-bottom: 0 none;
                }

                .operations {
                    opacity: 0;
                    transition: opacity @duration ease-out;
                }

            }

            &:first-child{
                td{
                    border-top: 0 none;
                }
            }

            &:hover, &.hover-tr {
                td {
                    background-color: @color-brand-opacity;

                    &.sub-mask {
                        background-color: #fff;
                    }

                    .operations {
                        opacity: 1;
                    }

                }

            }

            &.empty-tr {
                &, &:hover, &.hover-tr, &.hover-tr:hover {
                    td {
                        height: 200px;
                        text-align: center;
                        color: #999;
                        background-color: @color-bg;

                        .no-data {
                            font-size: 60px;
                            color: #ccc;
                        }

                    }

                }

            }

            &.operation-tr {
                display: none;

                td {
                    padding: @table-ceil-gap (@table-ceil-gap * 2);
                    border-top: 0 none;
                    background-color: tint(@color-brand, 88%);

                    &.sub-mask {
                        background-color: #fff;
                    }

                }

                &.operation-tr-open {
                    display: table-row;
                }

            }

            &.thead {
                &, &:hover, &.hover-tr {
                    background-color: @color-bg;

                    td {
                        height: 60px;
                        padding: 0 @table-ceil-gap;
                        color: #999;
                        border-top: 1px solid @color-border;
                        border-bottom: 0 none;
                        background-color: transparent;

                        &.sub-mask {
                            background-color: #fff;
                        }

                    }

                }

            }

        }

    }

    tfoot {
        tr {
            td {
                padding: @table-ceil-gap * 2;
                background-color: @color-bg;
                border: none;
            }

        }

    }

}
