/* @dependent: ./index.less */
/* 说明文档： https://thx.github.io/magix-gallery/#!/all/pro/theme */

//字体相关参数，输入或下拉框高度 
@font-size: 12px;
@font-family: Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
@line-height: 1.5;
@input-height: @font-size + 20px;
@input-small-height: @font-size + 14px;

// 品牌色
@color-brand: #4d7fff;
@color-brand-hover: shade(@color-brand, 12%);
@color-brand-vs: #14c9ce;
@color-brand-light: fade(@color-brand, 18%);
@color-brand-opacity: fade(@color-brand, 10%);
@color-brand-text: #ffffff;
@color-brand-text-hover: #ffffff;

//边框
@color-border: #e6e6e6;
@border-radius: 4px;
@border-highlight: #e6e6e6;
@border-highlight-hover: #ccc;

// 品牌按钮颜色，支持渐变
@btn-border-radius: @border-radius;
@btn-brand: @color-brand;
@btn-brand-gradient: @color-brand;
@btn-brand-hover: @color-brand-hover;
@btn-brand-gradient-hover: @color-brand-hover;
@btn-brand-text: @color-brand-text;
@btn-brand-text-hover: @color-brand-text-hover;
@btn-text: #333;
@btn-text-hover: #333;
@btn-border: @color-brand;
@btn-border-hover: @color-brand;
@btn-bg: @color-brand-opacity;
@btn-bg-hover: @color-brand-light;

// 提示颜色
@color-warn: #ffb400;
@color-red: #d52112;
@color-orange: #ff5500;
@color-green: #30ab66;
@color-blue: #4d7fff;
@color-disabled: #eee;

//背景色
@color-bg: #fafafa;
@color-bg-hover: #eee;

// 动画
@duration: 0.25s;

// 项目相关颜色
@app-brand: @color-brand;
@app-brand-gradient: @color-brand-hover;
@app-nav-bg: #303a58;
@app-bg: #e8ebf2;
@app-min-width: 1420px;

.mx-shadow {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
    border: 1px solid #f5f5f6;
}

//请保持这里的import处于代码的最下方
@import '../../assets/vars_override.less';