@line-height:1.8;

@color-brand: #6363e6;
@color-brand-darken:#2b2bb9;
@color-brand-light: #8282e6;
@color-brand-hover: #3838A9;

@color-primary: #333;
@color-secondary: #666;
@color-third:#999;

@color-hover:#f0f0f0;
@color-border: #e6e6e6;//边框色
@color-border-hover: #ccc;//边框hover
@color-bg: #eaeaea;//背景色
@color-bg-hover: #ccc;//背景hover

@color-error: #a62a22;
@color-disabled: #fbfbfb;

@font-size: 14px;//默认字号

@input-height: ceil(@font-size / 0.4375); //32px;//输入或下拉框高度
@input-width: 340px;

@border-radius:4px;

@placeholder-color:#999;

@menu-item-height:29px;


@contrast-color:#d45414; //我们需要一个反差的颜色
@contrast-color-darken:#7c2c0a; //我们需要一个反差的颜色