/* 通用样式效果 */
.mx-tag {
    position: relative;
    display: inline-flex;
    height: var(--mx-tag-height);
    padding: 0 4px;
    border-radius: var(--mx-tag-border-radius);
    font-size: 0;
    background-color: var(--color-brand);
    border: 1px solid var(--color-brand);
    color: #fff;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: background-color var(--duration), color var(--duration), border var(--duration), opacity var(--duration);

    .mx-tag-name {
        display: inline-flex;
        height: var(--mx-tag-height);
        font-size: 12px;
        font-weight: var(--mx-tag-font-weight);
        transform: scale(0.84);
        white-space: nowrap;
        -webkit-font-smoothing: subpixel-antialiased;
        align-items: center;
        justify-content: center;

        >* {
            font-size: 12px;
        }

        img {
            display: inline-block;
            height: calc(var(--mx-tag-height) - 2px);
            vertical-align: top;
        }
    }

    &.mx-tag-disabled {
        opacity: var(--mx-comp-disabled-opacity, .4);
        cursor: not-allowed;
    }
}

.mx-trigger {
    display: block;
    position: relative;
    width: 100%;
    height: var(--input-height);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: var(--mx-trigger-h-gap, 8px);
    padding-right: calc(var(--mx-trigger-h-gap, 8px) + var(--mx-trigger-arrow-size, 18px));
    line-height: calc(var(--input-height) - 2px);
    user-select: none;
    border-radius: var(--border-radius);
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    background-color: var(--bg-highlight);
    border-color: var(--border-highlight);
    box-shadow: var(--border-highlight-shadow);
    transition: all var(--duration);
    font-size: var(--mx-trigger-font-size);

    /* 文本 */
    .mx-trigger-label {
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* 语意提示 */
    .mx-trigger-icon {
        margin-right: 4px;
        color: var(--mx-trigger-prefix-icon, #ccc);
        transition: all var(--duration);
    }

    .mx-trigger-prefix {
        color: var(--mx-trigger-prefix-text, #999);
    }

    /* 翻转箭头 */
    .mx-trigger-arrow {
        position: absolute;
        right: 0;
        top: 50%;
        width: calc(var(--mx-trigger-h-gap, 8px) + var(--mx-trigger-arrow-size, 18px));
        height: var(--mx-trigger-arrow-size, 18px);
        line-height: var(--mx-trigger-arrow-size, 18px);
        margin-top: calc(0px - var(--mx-trigger-arrow-size, 18px) / 2);
        font-size: 12px;
        text-align: center;
        color: var(--mx-trigger-arrow-color, #ccc);
        transition: all var(--duration);
    }

    &:hover {
        border-color: var(--border-highlight-hover);
        background-color: var(--bg-highlight-hover);
        box-shadow: var(--border-highlight-shadow-hover);

        .mx-trigger-arrow {
            color: var(--mx-trigger-arrow-color-hover, #666);
        }
    }

    &.mx-trigger-open {
        border-color: var(--border-highlight-active);
        background-color: var(--bg-highlight-active);
        box-shadow: var(--border-highlight-shadow-active);

        .mx-trigger-arrow {
            margin-top: calc(0px - var(--mx-trigger-arrow-size, 18px) / 2 - 1px);
            color: var(--mx-trigger-arrow-color-hover, #666);
            transform: rotate(180deg);
        }
    }
}

@keyframes mx-trigger-tag-show {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.mx-trigger-tag {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    max-width: 100%;
    height: var(--mx-trigger-tag-height, 22px);
    margin-top: var(--mx-trigger-tag-gap, 2px);
    margin-right: var(--mx-trigger-tag-gap, 2px);
    margin-bottom: var(--mx-trigger-tag-gap, 2px);
    margin-left: var(--mx-trigger-tag-gap, 2px);
    padding-left: var(--mx-trigger-h-gap, 8px);
    line-height: var(--mx-trigger-tag-height, 22px);
    border-radius: var(--border-radius);
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    transition: background-color var(--duration), color var(--duration);
    background-color: var(--mx-trigger-tag-bg, var(--color-bg-hover));
    color: var(--mx-trigger-tag-color, #333);
    transform: scale(1);
    transform-origin: left center;
    animation: mx-trigger-tag-show var(--duration);
    animation-fill-mode: backwards;

    .mx-trigger-tag-delete {
        padding-left: 4px;
        padding-right: var(--mx-trigger-h-gap, 8px);
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
        transition: color var(--duration);
        transform: scale(.9);
        color: var(--mx-trigger-tag-arrow-color, #ccc);
    }
}

.mx-trigger-width-tag {
    position: relative;

    .mx-trigger-tag-outer {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 0;

        .mx-trigger-tag-inner {
            flex: 1;
            position: relative;
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            scrollbar-width: none;
            scrollbar-color: unset;

            &::-webkit-scrollbar {
                display: none;
                width: 0;
                height: 0;
            }

            &::-webkit-scrollbar-thumb {
                background-color: transparent;
            }
        }

        &::after {
            content: ' ';
            position: absolute;
            z-index: 2;
            right: 0;
            top: 0;
            bottom: 0;
            max-width: 100%;
            width: var(--mx-trigger-tag-mask-width, 28px);
            transition: background-color var(--duration);
            mask-image: linear-gradient(to left, #000000, transparent);
            -webkit-mask-image: linear-gradient(to left, #000000, transparent);
            background-color: var(--bg-highlight);
            pointer-events: none;
        }
    }

    .mx-trigger-tag:last-child {
        margin-right: var(--mx-trigger-tag-mask-width, 28px);
    }

    &:hover {
        .mx-trigger-tag-outer::after {
            background-color: var(--bg-highlight-hover);
        }

        .mx-trigger-tag {
            background-color: var(--mx-trigger-tag-bg-hover, var(--color-bg-hover));
            color: var(--mx-trigger-tag-color-hover, #333);

            .mx-trigger-tag-delete {
                color: var(--mx-trigger-tag-arrow-color-hover, #ccc);
            }
        }
    }

    &.mx-trigger-open,
    &.mx-trigger-open:hover {
        .mx-trigger-tag-outer::after {
            background-color: var(--bg-highlight-active);
        }

        .mx-trigger-tag {
            background-color: var(--mx-trigger-tag-bg-active, var(--color-bg-hover));
            color: var(--mx-trigger-tag-color-active, #333);

            .mx-trigger-tag-delete {
                color: var(--mx-trigger-tag-arrow-color-active, #ccc);
            }
        }
    }
}

.mx-trigger-tag,
.mx-trigger-width-tag:hover .mx-trigger-tag,
.mx-trigger-width-tag.mx-trigger-open .mx-trigger-tag,
.mx-trigger-width-tag.mx-trigger-open:hover .mx-trigger-tag {
    &:hover {
        color: var(--color-brand);

        .mx-trigger-tag-delete {
            color: var(--color-brand);
        }
    }

    &.mx-trigger-tag-error,
    &.mx-trigger-tag-error:hover {
        background-color: #fbe9e6;
        color: #333;

        .mx-trigger-tag-delete {
            color: var(--color-red);
        }
    }
}

.mx-shadow,
.mx-output,
.mx-output-bottom,
.mx-output-top {
    border: var(--mx-comp-shadow-border, 1px solid #f5f5f6);
    box-shadow: var(--mx-comp-shadow, 0 1px 1px 0 rgba(0, 0, 0, 0.08));
}

.mx-output,
.mx-output-bottom,
.mx-output-top {
    display: none;
    position: absolute;
    left: 0;
    z-index: 999999;
    min-width: 100%;
    max-width: 280%;
    border-radius: var(--border-radius);
    user-select: none;
    background-color: #fff;
}

.mx-output {
    top: 100%;

    @keyframes mx-output-anim-show {
        0% {
            opacity: 0;
            margin-top: 0;
        }

        100% {
            opacity: 1;
            margin-top: var(--mx-trigger-output-gap, 10px);
        }
    }

    &.mx-output-open {
        display: block;
        animation: mx-output-anim-show var(--duration) ease-out;
        animation-fill-mode: forwards;
    }

    @keyframes mx-output-anim-hide {
        0% {
            opacity: 1;
            margin-top: var(--mx-trigger-output-gap, 10px);
        }

        100% {
            opacity: 0;
            margin-top: 0;
        }
    }

    &.mx-output-close {
        display: block;
        animation: mx-output-anim-hide var(--duration) ease-out;
        animation-fill-mode: forwards;
    }
}

.mx-output-bottom {
    top: 100%;
    margin-top: var(--mx-trigger-output-gap, 10px);

    @keyframes mx-output-bottom-show {
        0% {
            transform: translate(0, calc(0px - var(--mx-trigger-output-gap, 10px)));
            opacity: 0;
        }

        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    &.mx-output-open {
        display: block;
        animation: mx-output-bottom-show var(--duration) ease-out;
        animation-fill-mode: forwards;
    }
}

.mx-output-top {
    bottom: 100%;
    margin-bottom: var(--mx-trigger-output-gap, 10px);

    @keyframes mx-output-top-show {
        0% {
            transform: translate(0, var(--mx-trigger-output-gap, 10px));
            opacity: 0;
        }

        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    &.mx-output-open {
        display: block;
        animation: mx-output-top-show var(--duration) ease-out;
        animation-fill-mode: forwards;
    }
}

.mx-output-search {
    padding: var(--mx-trigger-v-gap, 8px) var(--mx-trigger-h-gap, 8px) 0 var(--mx-trigger-h-gap, 8px);
}

.mx-output-list {
    max-height: 300px;
    padding: calc(var(--mx-trigger-v-gap, 8px) - 2px) var(--mx-trigger-h-gap, 8px);
    overflow: auto;
}

.mx-output-item {
    position: relative;
    padding: 2px 0;
}

.mx-output-header {
    height: var(--input-small-height);
    line-height: var(--input-small-height);
    padding-left: var(--mx-trigger-h-gap, 8px);
    padding-right: var(--mx-trigger-h-gap, 8px);
    color: #999;
    cursor: default;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mx-output-link,
.mx-output-link:link,
.mx-output-link:visited {
    position: relative;
    display: block;
    width: 100%;
    min-height: var(--input-small-height);
    padding: 0 var(--mx-trigger-h-gap, 8px);
    line-height: var(--input-small-height);
    border-radius: var(--border-radius);
    transition: all var(--duration);
    cursor: pointer;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;

    &:hover {
        color: #333;
        background-color: var(--color-bg-hover);
    }

    &.mx-output-link-active,
    &.mx-output-link-active:hover,
    &.mx-output-link-active:active,
    &.mx-output-link-active:focus {
        color: var(--color-brand);
        background-color: var(--color-brand-opacity);
    }

    &.mx-output-link-disabled,
    &.mx-output-link-disabled:hover,
    &.mx-output-link-disabled:active,
    &.mx-output-link-disabled:focus {
        opacity: var(--mx-comp-disabled-opacity, .4);
        cursor: not-allowed;
        color: #333;
        background-color: transparent;

        >* {
            pointer-events: none;
        }
    }
}

.mx-output-footer {
    padding: var(--mx-trigger-v-gap, 8px) var(--mx-trigger-h-gap, 8px);
    border-top: 1px solid var(--color-border);
    text-align: left;
}

.mx-output-empty {
    text-align: center;
    color: #999;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mx-wrapper,
[mx-view*="mx-dropdown/index"],
[mx-view*="mx-dropdown/bd"],
[mx-view*="mx-dropdown/multiple"],
[mx-view*="mx-time/index"],
[mx-view*="mx-cascade/index"],
[mx-view*="mx-calendar/rangepicker"],
[mx-view*="mx-calendar/datepicker"],
[mx-view*="mx-color/picker"],
[mx-view*="mx-status/index"],
[mx-view*="mx-search/index"],
[mx-view*="mx-taginput/index"],
[mx-view*="mx-suggest/index"] {
    position: relative;
    display: inline-block;
    min-width: var(--mx-trigger-min-width, 96px);
    min-height: var(--input-height);
    vertical-align: middle;

    &[mx-view*="disabled=true"],
    &[mx-disabled] {
        cursor: not-allowed;
        opacity: var(--mx-comp-disabled-opacity, .4);

        .mx-trigger,
        >* {
            pointer-events: none;
        }
    }

}

/*旺旺点灯*/
.mx-ww {
    position: relative;
    display: inline-block;
    height: 20px;
    padding-left: 20px;
    vertical-align: middle;

    .mx-ww-img {
        position: absolute;
        top: -4px;
        left: 0;
        width: 20px;
        height: 20px;
        background-image: url(//img.alicdn.com/tps/i1/T15AD7FFFaXXbJnvQ_-130-60.gif);
        background-image: -webkit-image-set(url(//img.alicdn.com/tps/i1/T15AD7FFFaXXbJnvQ_-130-60.gif) 1x, url(//img.alicdn.com/tps/i4/T1Rsz7FPJaXXbZhKn7-520-240.gif) 4x);
        background-image: -moz-image-set(url(//img.alicdn.com/tps/i1/T15AD7FFFaXXbJnvQ_-130-60.gif) 1x, url(//img.alicdn.com/tps/i4/T1Rsz7FPJaXXbZhKn7-520-240.gif) 4x);
        background-image: -o-image-set(url(//img.alicdn.com/tps/i1/T15AD7FFFaXXbJnvQ_-130-60.gif) 1x, url(//img.alicdn.com/tps/i4/T1Rsz7FPJaXXbZhKn7-520-240.gif) 4x);
        background-image: -ms-image-set(url(//img.alicdn.com/tps/i1/T15AD7FFFaXXbJnvQ_-130-60.gif) 1x, url(//img.alicdn.com/tps/i4/T1Rsz7FPJaXXbZhKn7-520-240.gif) 4x);
        background-position: -80px 0;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    &[icon="small"] {
        padding-left: 20px;

        .mx-ww-img {
            width: 20px;
            background-position: -80px 0;
        }
    }

    &[icon="static"] {
        padding-left: 20px;

        .mx-ww-img {
            width: 20px;
            background-position: -110px 0;
        }
    }

    &[icon="large"] {
        padding-left: 68px;

        .mx-ww-img {
            width: 68px;
            background-position: 0 0;
        }
    }

    &[icon="none"] {
        padding-left: 0;

        .mx-ww-img {
            display: none;
        }
    }
}

[mx-view] item {
    display: none;
}

.mx-effects-empty,
.mx-effects-empty-white {
    padding-top: 40px;
    padding-bottom: 40px;

    &.mx-effects-empty {
        background-color: var(--color-bg);
    }
}

.mx-effects-img {
    display: block;
    max-height: 300px;
    margin: auto;
}

.mx-effects-tip {
    margin-top: -36px;
    font-size: 12px;
    color: #333;
    text-align: center;
    line-height: 1.8;
}

/* 呼吸灯 */
.mx-breath {
    @keyframes light {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0.1;
        }

        100% {
            opacity: 1;
        }
    }

    display: inline-block;
    position: relative;
    width: var(--mx-breath-width, 16px);
    height: var(--mx-breath-width, 16px);
    vertical-align: middle;

    &::after,
    &::before,
    .mx-breath-inner {
        content: ' ';
        position: absolute;
        border-radius: 50%;
    }

    &::after {
        opacity: .1;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--mx-breath-color, var(--color-brand));
    }

    &::before {
        opacity: .3;
        z-index: 2;
        top: 50%;
        left: 50%;
        width: calc(var(--mx-breath-width, 16px) / 4 * 3);
        height: calc(var(--mx-breath-width, 16px) / 4 * 3);
        margin-top: calc(0px - var(--mx-breath-width, 16px) / 8 * 3);
        margin-left: calc(0px - var(--mx-breath-width, 16px) / 8 * 3);
        background-color: var(--mx-breath-color, var(--color-brand));
    }

    .mx-breath-inner {
        z-index: 3;
        top: 50%;
        left: 50%;
        width: calc(var(--mx-breath-width, 16px) / 8 * 3);
        height: calc(var(--mx-breath-width, 16px) / 8 * 3);
        margin-top: calc(0px - var(--mx-breath-width, 16px) / 16 * 3);
        margin-left: calc(0px - var(--mx-breath-width, 16px) / 16 * 3);
        background-color: var(--mx-breath-color, var(--color-brand));
        animation: light 2s linear infinite;
        animation-direction: alternate;
    }
}