/* @dependent: ./index.less */

[mx-view] input,
.input,
[mx-view] textarea,
.textarea {
    display: inline-block;
    max-width: 100%;
    font-size: var(--font-size);
    border-width: 1px;
    border-style: solid;
    border-radius: var(--border-radius);
    background-image: none;
    box-sizing: border-box;
    color: #333;
    outline: none;
    transition: border-color var(--duration), background-color var(--duration), box-shadow var(--duration);
    border-color: var(--border-highlight);
    background-color: var(--bg-highlight);
    box-shadow: var(--border-highlight-shadow);

    &:hover {
        border-color: var(--border-highlight-hover);
        background-color: var(--bg-highlight-hover);
        box-shadow: var(--border-highlight-shadow-hover);
    }

    &:focus {
        border-color: var(--border-highlight-active);
        background-color: var(--bg-highlight-active);
        box-shadow: var(--border-highlight-shadow-active);
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &[readonly],
    &[readonly]:hover,
    &[readonly]:focus {
        opacity: var(--mx-comp-disabled-opacity, .4);
        cursor: not-allowed;
        border-color: var(--border-highlight);
        background-color: var(--bg-highlight);
        box-shadow: var(--border-highlight-shadow);
    }
}

[mx-view] input,
.input {
    height: var(--input-height);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: var(--input-h-gap, 8px);
    padding-right: var(--input-h-gap, 8px);
    line-height: calc(var(--input-height) - 2px);

    &.input-small {
        --input-height: var(--input-small-height);
        --border-radius: var(--border-small-radius, 4px);
    }
}

[mx-view] textarea,
.textarea {
    padding: var(--input-v-gap, 8px) var(--input-h-gap, 8px);
    line-height: calc(var(--font-size) + 8px);
}

[mx-view] input[type="checkbox"],
[mx-view] input[type="radio"] {
    box-sizing: border-box;
    margin-top: -2px;
    padding: 0;
}

[mx-view] input[type="checkbox"],
.checkbox {
    width: var(--mx-checkbox-size, 14px);
    height: var(--mx-checkbox-size, 14px);
    max-width: unset;
    margin-right: 4px;
    appearance: none;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    border-radius: var(--mx-checkbox-border-radius, 2px);
    transition: border-color var(--duration), background-color var(--duration), box-shadow var(--duration);
    background-color: #fff;
    border-color: var(--mx-checkbox-border, #9095A1);
    box-shadow: var(--mx-checkbox-shadow, none);

    &:focus {
        background-color: #fff;
        border-color: var(--mx-checkbox-border, #9095A1);
        box-shadow: var(--mx-checkbox-shadow, none);
    }

    &:hover {
        background-color: #fff;
        border-color: var(--mx-checkbox-border-hover, var(--color-brand));
        box-shadow: var(--mx-checkbox-shadow-hover, none);
    }

    &:checked,
    &.checked,
    &:indeterminate,
    &.indeterminate {
        background-color: var(--color-brand);
        border-color: var(--color-brand);
        box-shadow: var(--mx-checkbox-shadow, none);

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            border-radius: var(--mx-checkbox-border-radius, 2px);
            background-size: 100%;
            color: white;
        }

        &:hover {
            background-color: var(--color-brand-hover);
            border-color: var(--color-brand-hover);
            box-shadow: var(--mx-checkbox-shadow-hover, none);
        }
    }

    &:checked,
    &.checked {
        &:after {
            background-image: url(https://img.alicdn.com/imgextra/i4/O1CN01z1HEWE23AylKUdDAf_!!6000000007216-2-tps-200-200.png);
        }
    }

    &:indeterminate,
    &.indeterminate {
        &:after {
            background-image: url(https://img.alicdn.com/imgextra/i1/O1CN01gdMWDW1iE5W59dEUF_!!6000000004380-2-tps-200-200.png);
        }
    }

    &:disabled,
    &:disabled:hover,
    &:disabled:focus,
    &.disabled,
    &.disabled:hover,
    &.disabled:focus {
        opacity: var(--mx-comp-disabled-opacity, .4);
        cursor: not-allowed;
        border-color: var(--mx-checkbox-border, #9095A1);
        background-color: var(--color-bg);
        box-shadow: none;

        &:checked,
        &.checked,
        &:indeterminate,
        &.indeterminate {
            border-color: var(--color-brand);
            background-color: var(--color-brand);
            box-shadow: none;
        }
    }
}

[mx-view] input[type="radio"],
.radio {
    position: relative;
    width: var(--mx-checkbox-size, 14px);
    height: var(--mx-checkbox-size, 14px);
    max-width: unset;
    margin-right: 4px;
    border-width: 1px;
    border-style: solid;
    appearance: none;
    cursor: pointer;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 50%;
    outline: none;
    transition: border-color var(--duration), background-color var(--duration), box-shadow var(--duration);
    background-color: #fff;
    border-color: var(--mx-checkbox-border, #9095A1);
    box-shadow: var(--mx-checkbox-shadow, none);

    &:focus {
        background-color: #fff;
        border-color: var(--mx-checkbox-border, #9095A1);
        box-shadow: var(--mx-checkbox-shadow, none);
    }

    &:hover {
        background-color: #fff;
        border-color: var(--mx-checkbox-border-hover, var(--color-brand));
        box-shadow: var(--mx-checkbox-shadow-hover, none);
    }

    &:checked {
        background-color: var(--color-brand);
        border-color: var(--color-brand);
        box-shadow: var(--mx-checkbox-shadow, none);

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 6px;
            height: 6px;
            margin-top: -3px;
            margin-left: -3px;
            border-radius: 50%;
            background-color: #fff;
        }

        &:hover {
            background-color: var(--color-brand-hover);
            border-color: var(--color-brand-hover);
            box-shadow: var(--mx-checkbox-shadow-hover, none);
        }
    }

    &:disabled,
    &:disabled:hover,
    &:disabled:focus {
        opacity: var(--mx-comp-disabled-opacity, .4);
        cursor: not-allowed;
        border-color: var(--mx-checkbox-border, #9095A1);
        background-color: var(--color-bg);
        box-shadow: none;

        &:checked {
            border-color: var(--color-brand);
            background-color: var(--color-brand);
            box-shadow: none;
        }
    }
}

//---表单
.form {
    // --mx-form-label-size: calc(var(--font-size) * 8);
    --mx-form-label-gap: 16px;
    --mx-form-label-size: 88px;

    .form-item {
        position: relative;
        padding-left: calc(var(--mx-form-label-size) + var(--mx-form-label-gap));
        margin-bottom: 30px;

        .form-label {
            position: absolute;
            top: 0;
            left: 0;
            width: var(--mx-form-label-size);
            min-height: var(--input-height);
            font-size: 12px;
            line-height: 18px;
            word-break: break-all;
            overflow: hidden;
            cursor: default;
            color: #666;
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
            text-align: left;

            &.form-required::before {
                content: none;
            }

            &.form-required::after {
                display: inline-block;
                margin-left: 4px;
                content: '*';
                font-family: SimSun;
                line-height: 1;
                color: var(--color-red);
            }
        }

        .form-content {
            position: relative;
            min-height: var(--input-height);
            line-height: var(--input-height);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .form-footer {
        margin-left: calc(var(--mx-form-label-size) + var(--mx-form-label-gap));
    }

    &.small-form {
        .form-item {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &.align-right {
        .form-label {
            justify-content: flex-end;
            text-align: right;

            &.form-required:before {
                display: inline-block;
                margin-right: 4px;
                content: '*';
                font-family: SimSun;
                line-height: 1;
                color: var(--color-red);
            }

            &.form-required::after {
                content: none;
            }
        }
    }
}

/* 阶梯规则宽度 */
.ladder-width-loop(@n, @i: 6) when (@i <=@n) {
    .ladder-width-@{i} {
        width: calc(16px + @i * 16px);
    }

    .ladder-width-loop(@n, (@i + 2));
}

.ladder-width-loop(20);