/* 样式覆盖 */
:root {
    /* 字体相关参数，输入或下拉框高度  */
    --line-height: 1.5;
    --font-size: 12px;
    --font-color: #333;
    --font-family: PingFang SC, "Microsoft Yahei", "SimHei", sans-serif;
    --font-number: "Alibaba Sans 102", Futura, Arial, Helvetica, Tahoma, sans-serif;
    --input-height: 32px;
    --input-small-height: 24px;
    --input-large-height: 40px;

    /* 品牌色 */
    --color-brand: #3e3eff;
    --color-brand-gradient: #6C6CFF;
    --color-brand-hover: #1F1FE6;
    --color-brand-hover-gradient: #5D5DF3;
    --color-brand-vs: #3bd0d8;
    --color-brand-light: rgba(62, 62, 255, 0.15);
    --color-brand-opacity: rgba(62, 62, 255, 0.05);
    --color-brand-text: #ffffff;
    --color-brand-text-hover: #ffffff;

    /* 背景色 */
    --color-bg: #F5F6F8;
    --color-bg-hover: var(--color-brand-opacity);

    /* 边框 */
    --color-border: #F0F2F5;
    --border-radius: 8px;
    --border-small-radius: 6px;
    --border-large-radius: 10px;

    /* 透明度及shadow定义 */
    --mx-trigger-active-border-opacity: 0.5;
    --mx-trigger-shadow-v: 2px;
    --mx-trigger-shadow-blur: 4px;
    --mx-trigger-active-shadow-opacity: 0.2;
    --mx-comp-shadow-v: 2px;
    --mx-comp-shadow-blur: 10px;
    --mx-comp-shadow-opacity: 0.4;

    /* trigger边框，背景色 */
    --bg-highlight: #F0F2F5;
    --border-highlight: #F0F2F5;
    --border-highlight-shadow: none;
    --bg-highlight-hover: #E4E7F0;
    --border-highlight-hover: #E4E7F0;
    --border-highlight-shadow-hover: none;
    --bg-highlight-active: #fff;
    --border-highlight-active: rgba(62, 62, 255, var(--mx-trigger-active-border-opacity));
    --border-highlight-shadow-active: 0 var(--mx-trigger-shadow-v, 2px) var(--mx-trigger-shadow-blur, 4px) 0 rgba(62, 62, 255, var(--mx-trigger-active-shadow-opacity));

    /* 品牌按钮颜色 */
    --btn-brand: var(--color-brand);
    --btn-brand-gradient: var(--color-brand-gradient);
    --btn-brand-shadow: none;
    --btn-brand-text: var(--color-brand-text);
    --btn-brand-hover: var(--color-brand-hover);
    --btn-brand-gradient-hover: var(--color-brand-hover-gradient);
    --btn-brand-shadow-hover: 0 var(--mx-comp-shadow-v, 2px) var(--mx-comp-shadow-blur, 10px) 0 rgba(62, 62, 255, var(--mx-comp-shadow-opacity, 0.4));
    --btn-brand-text-hover: var(--color-brand-text-hover);

    /*次要按钮*/
    --btn-border: #E6E6E7;
    --btn-bg: transparent;
    --btn-text: #333;
    --btn-border-hover: var(--border-highlight-active);
    --btn-bg-hover: var(--color-brand-opacity);
    --btn-text-hover: var(--color-brand);

    /*不同尺寸，padding 减去 border */
    --btn-h-gap: 11px; // 12 - 1
    --btn-min-width: 60px;
    --btn-font-size: var(--font-size);
    --btn-border-radius: 500px;
    --btn-small-h-gap: 11px; // 12 - 1
    --btn-small-min-width: 48px;
    --btn-small-font-size: var(--font-size);
    --btn-small-border-radius: 500px;
    --btn-large-h-gap: 15px; // 16 - 1
    --btn-large-min-width: 88px;
    --btn-large-font-size: calc(var(--font-size) + 2px);
    --btn-large-border-radius: 500px;

    /* 项目相关颜色，app-brand和app-brand-gradient预留做品牌差异 */
    --app-brand: var(--color-brand);
    --app-brand-gradient: var(--color-brand-gradient);
    --app-nav-bg: #303a58;
    --app-bg: #f9f9f9;

    /* 最小宽度定义，滚定条15px */
    --app-min-width: 1415px;

    /* 提示颜色 */
    --color-warn: #FF8800;
    --color-red: #ff4d4d;
    --color-green: #00AF74;
    --color-blue: #4076FF;

    /* 动画 */
    --duration: 0.2s;

    /* --mx-开头内部使用参数，不对外透出 */
    --mx-comp-disabled-opacity: 0.4;

    /* trigger扩散动画相关参数 */
    --mx-comp-expand-amin-color: var(--color-brand);
    --mx-comp-expand-amin-timer: 300ms;
    --mx-comp-expand-amin-ease: ease-out;

    /* 布局间距、边框、阴影 */
    --mx-comp-v-gap: 16px;
    --mx-comp-h-gap: 24px;
    --mx-comp-shadow: 0 var(--mx-comp-shadow-v, 2px) var(--mx-comp-shadow-blur, 10px) 0 rgba(0, 0, 0, 0.16);
    --mx-comp-shadow-border: 0 none;

    /* trigger-tag配置，尺寸，颜色 */
    --mx-trigger-tag-gap: 3px;
    --mx-trigger-tag-height: calc(var(--input-height) - (var(--mx-trigger-tag-gap) * 2) - 2px);
    --mx-trigger-tag-bg: #fff;
    --mx-trigger-tag-color: #333;
    --mx-trigger-tag-arrow-color: #333;
    --mx-trigger-tag-bg-hover: #fff;
    --mx-trigger-tag-color-hover: #333;
    --mx-trigger-tag-arrow-color-hover: #333;
    --mx-trigger-tag-bg-active: var(--color-brand-opacity);
    --mx-trigger-tag-color-active: #333;
    --mx-trigger-tag-arrow-color-active: #333;

    /* trigger尺寸配置 */
    --mx-trigger-prefix-icon: #999;
    --mx-trigger-prefix-text: #999;
    --mx-trigger-arrow-size: 16px;
    --mx-trigger-arrow-color: #999;
    --mx-trigger-arrow-color-hover: #666;
    --mx-trigger-v-gap: 8px;
    --mx-trigger-h-gap: 8px;
    --mx-trigger-min-width: var(--btn-min-width);
    --mx-trigger-font-size: var(--btn-font-size);
    --mx-trigger-small-v-gap: 8px;
    --mx-trigger-small-h-gap: 8px;
    --mx-trigger-small-min-width: var(--btn-small-min-width);
    --mx-trigger-small-font-size: var(--btn-small-font-size);
    --mx-trigger-large-v-gap: 10px;
    --mx-trigger-large-h-gap: 12px;
    --mx-trigger-large-min-width: var(--btn-large-min-width);
    --mx-trigger-large-font-size: var(--btn-large-font-size);
    --mx-trigger-output-gap: 8px;
    --mx-trigger-output-height: 28px;

    /* grid */
    --mx-grid-h-gap: var(--mx-comp-h-gap, 24px);
    --mx-grid-title-v-gap: 16px;
    --mx-grid-body-v-top: 16px;
    --mx-grid-body-v-bottom: 16px;
    --mx-grid-border-radius: 16px;
    --mx-grid-title-font-size: 16px;
    --mx-grid-title-font-weight: bold;
    --mx-grid-title-color-border: var(--color-border);
    --mx-grid-title-link-font-size: 12px;
    --mx-grid-title-link-color: #666;
    --mx-grid-title-link-color-hover: #333;
    --mx-grid-shadow: 0 4px 10px 0 rgba(176, 168, 165, 0.20);
    --mx-grid-shadow-hover: 0 4px 10px 0 rgba(176, 168, 165, 0.20);

    /* checkbox radio参数 */
    --mx-checkbox-size: 14px;
    --mx-checkbox-border-radius: 4px;
    --mx-checkbox-color: #DADADB;
    --mx-checkbox-hover-color: #DADADB;
    --mx-checkbox-hover-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);

    /* 打标 */
    --mx-tag-mode: solid;
    --mx-tag-height: 16px;
    --mx-tag-border-radius: calc(var(--mx-tag-height, 16px) / 2);
    --mx-tag-font-size: 20px;
    --mx-tag-font-scale: 0.5;

    /* 表格参数 */
    --mx-table-ceil-h-gap: 12px;
    --mx-table-ceil-v-gap: 12px;
    --mx-table-ceil-small-h-gap: 12px;
    --mx-table-ceil-small-v-gap: 8px;
    --mx-table-ceil-large-h-gap: 12px;
    --mx-table-ceil-large-v-gap: 24px;
    --mx-table-ceil-text-align: left;
    --mx-table-ceil-vertical-align: middle;
    --mx-table-ceil-font-color: #333333;
    --mx-table-head-border: 1px solid var(--color-border);
    --mx-table-head-height: 60px;
    --mx-table-head-group-height: 78px;
    --mx-table-head-bg: #ffffff;
    --mx-table-head-font-size: 12px;
    --mx-table-head-font-color: #333333;
    --mx-table-head-font-weight: bold;
    --mx-table-hover-bg: #F5F6F8;
    --mx-table-hover-oper-bg: #EAECF1;
    --mx-table-mask-border-color: var(--color-border);
    --mx-table-trigger-color: #999999;
    --mx-table-trigger-color-hover: #333333;
    --mx-table-trigger-color-active: #333333;
    --mx-table-scrollbar-bg: #333333;

    /* 卡片样式 */
    --mx-effects-card-v-gap: 24px;
    --mx-effects-card-h-gap: 24px;
    --mx-effects-card-radius: 16px;
    --mx-effects-card-color-bg: #fff;
    --mx-effects-card-title-font-size: 18px;
    --mx-effects-card-sub-title-font-size: 14px;
    --mx-effects-card-tip-font-size: 12px;
    --mx-effects-card-color-border: var(--color-border);
    --mx-effects-card-shadow: 0 2px 6px 0 rgba(185, 185, 185, 0.50);

    /* 浮层 */
    --mx-dialog-text-align: left;
    --mx-dialog-alert-color-border: var(--color-border);
    --mx-dialog-alert-v-gap: 32px;
    --mx-dialog-color-bg: var(--app-bg);

    /* 底边线tab参数 */
    --mx-tab-v-gap: var(--mx-grid-title-v-gap);
    --mx-tab-h-gap: 20px;
    --mx-tab-font-size: var(--mx-grid-title-font-size);
    --mx-tab-font-weight: 500;
    --mx-tab-first-h-gap: var(--mx-grid-h-gap);
    --mx-tab-border-color: var(--color-border);
    --mx-tab-color: #333;
    --mx-tab-color-hover: var(--color-brand);
    --mx-tab-color-active: var(--color-brand);

    /* 盒状tab参数 */
    --mx-tab-box-gap-border: var(--border-highlight-hover);
    --mx-tab-box-bg: var(--bg-highlight);
    --mx-tab-box-bg-active: var(--color-brand-opacity);
    --mx-tab-box-border: var(--border-highlight);
    --mx-tab-box-border-active: var(--border-highlight-active);
    --mx-tab-box-color: #333;
    --mx-tab-box-color-hover: var(--color-brand);
    --mx-tab-box-color-active: var(--color-brand);
    --mx-tab-box-arrow-bg: #ccc;
    --mx-tab-box-arrow-bg-hover: #ccc;
    --mx-tab-box-arrow-bg-active: var(--color-brand);

    /* 指标选择 */
    --mx-indics-custom-display: icon;

    /* 翻页器 */
    --mx-pagination-align: left;
    --mx-pagination-mode: circle;
    --mx-pagination-gap: 8px;
    --mx-pagination-border: var(--border-highlight);
    --mx-pagination-bg: var(--bg-highlight);
    --mx-pagination-color: #666;
    --mx-pagination-border-hover: var(--border-highlight-hover);
    --mx-pagination-bg-hover: var(--bg-highlight-hover);
    --mx-pagination-color-hover: #333;
    --mx-pagination-border-active: var(--color-brand);
    --mx-pagination-bg-active: var(--color-brand);
    --mx-pagination-color-active: #fff;

    /* 开关 */
    --mx-switch-width: 36px;
    --mx-switch-height: 20px;
    --mx-switch-icon-size: 14px;
    --mx-switch-border-radius: 10px;

    /* 输入框 */
    --mx-input-gap-border: #e4e0e7;
    --mx-input-arrow-color: #999;
    --mx-input-arrow-color-hover: var(--color-brand);

    /* popover */
    --mx-popover-v-gap: 8px;
    --mx-popover-h-gap: 8px;
    --mx-popover-arrow-size: 8px;
    --mx-popover-arrow-gap: 24px;

    /* 二级菜单 */
    --mx-tabs-menu-width: 164px;
    --mx-tabs-menu-height: var(--input-height);
    --mx-tabs-menu-padding-gap: 12px;
    --mx-tabs-menu-margin-gap: 8px;
    --mx-tabs-menu-icon-size: 14px;
    --mx-tabs-menu-selected-color: #fff;
    --mx-tabs-menu-selected-bg: var(--color-brand);
    --mx-tabs-menu-selected-shadow: var(--border-highlight-shadow-active);

    /* 一级菜单 */
    --mx-header-other-height: 48px;
    --mx-header-menu-height: 58px;
}