/* Magix私有全局变量 */
:root {
    /* 禁用 */
    --mx-comp-disabled-opacity: 0.4;

    /* trigger扩散动画相关参数 */
    --mx-comp-expand-amin-color: var(--color-brand);
    --mx-comp-expand-amin-timer: 300ms;
    --mx-comp-expand-amin-ease: ease-out;

    /* 已不再维护的历史参数，先保留以保证正常运行 */
    --app-brand: var(--color-brand);
    --app-brand-gradient: var(--color-brand-gradient);
    // --mx-grid-title-h-gap: 0px;
    // --mx-grid-body-v-gap: 16px;
    // --mx-grid-body-h-gap: 0px;
}