/* 样式覆盖 */
:root {
    /* 透明度及shadow定义 */
    --mx-trigger-active-border-opacity: 0.5;
    --mx-trigger-shadow-v: 2px;
    --mx-trigger-shadow-blur: 4px;
    --mx-trigger-active-shadow-opacity: 0.2;
    --mx-comp-shadow-v: 2px;
    --mx-comp-shadow-blur: 10px;
    --mx-comp-shadow-opacity: 0.4;

    /* trigger边框，背景色 */
    --bg-highlight: #F0F2F5;
    --border-highlight: #F0F2F5;
    --border-highlight-shadow: none;
    --bg-highlight-hover: #E4E7F0;
    --border-highlight-hover: #E4E7F0;
    --border-highlight-shadow-hover: none;
    --bg-highlight-active: #fff;
    --border-highlight-active: rgba(80, 87, 246, var(--mx-trigger-active-border-opacity));
    --border-highlight-shadow-active: 0 var(--mx-trigger-shadow-v, 2px) var(--mx-trigger-shadow-blur, 4px) 0 rgba(80, 87, 246, var(--mx-trigger-active-shadow-opacity));

    /* 布局间距、边框、阴影 */
    --mx-comp-v-gap: 16px;
    --mx-comp-h-gap: 24px;
    --mx-comp-shadow: 0 var(--mx-comp-shadow-v, 2px) var(--mx-comp-shadow-blur, 10px) 0 rgba(0, 0, 0, 0.16);

    /* trigger-tag配置，尺寸，颜色 */
    --mx-trigger-tag-gap: 3px;
    --mx-trigger-tag-height: calc(var(--input-height) - (var(--mx-trigger-tag-gap) * 2) - 2px);
    --mx-trigger-tag-bg: #fff;
    --mx-trigger-tag-color: #333;
    --mx-trigger-tag-arrow-color: #333;
    --mx-trigger-tag-bg-hover: #fff;
    --mx-trigger-tag-color-hover: #333;
    --mx-trigger-tag-arrow-color-hover: #333;
    --mx-trigger-tag-bg-active: var(--color-brand-opacity);
    --mx-trigger-tag-color-active: #333;
    --mx-trigger-tag-arrow-color-active: #333;

    /* trigger尺寸配置 */
    --mx-trigger-prefix-icon: #999;
    --mx-trigger-prefix-text: #999;
    --mx-trigger-arrow-size: 16px;
    --mx-trigger-arrow-color: #999;
    --mx-trigger-arrow-color-hover: #666;
    --mx-trigger-v-gap: 8px;
    --mx-trigger-h-gap: 8px;
    --mx-trigger-min-width: var(--btn-min-width);
    --mx-trigger-font-size: var(--btn-font-size);
    --mx-trigger-small-v-gap: 8px;
    --mx-trigger-small-h-gap: 8px;
    --mx-trigger-small-min-width: var(--btn-small-min-width);
    --mx-trigger-small-font-size: var(--btn-small-font-size);
    --mx-trigger-large-v-gap: 10px;
    --mx-trigger-large-h-gap: 12px;
    --mx-trigger-large-min-width: var(--btn-large-min-width);
    --mx-trigger-large-font-size: var(--btn-large-font-size);
    --mx-trigger-output-gap: 8px;
    --mx-trigger-output-height: 28px;

    /* 卡片样式 */
    --mx-effects-card-v-gap: 24px;
    --mx-effects-card-h-gap: 24px;
    --mx-effects-card-radius: 16px;
    --mx-effects-card-color-bg: #fff;
    --mx-effects-card-title-font-size: 18px;
    --mx-effects-card-sub-title-font-size: 14px;
    --mx-effects-card-tip-font-size: 12px;
    --mx-effects-card-color-border: var(--color-border);
    --mx-effects-card-shadow: 0 2px 6px 0 rgba(185, 185, 185, 0.50);

    /* 浮层 */
    --mx-dialog-text-align: left;
    --mx-dialog-alert-color-border: var(--color-border);
    --mx-dialog-alert-v-gap: 32px;
    --mx-dialog-color-bg: var(--app-bg);

    /* 底边线tab参数 */
    --mx-tab-v-gap: var(--mx-grid-title-v-gap);
    --mx-tab-h-gap: 20px;
    --mx-tab-font-size: var(--mx-grid-title-font-size);
    --mx-tab-font-weight: 500;
    --mx-tab-first-h-gap: var(--mx-grid-h-gap);
    --mx-tab-border-color: var(--color-border);
    --mx-tab-color: #333;
    --mx-tab-color-hover: var(--color-brand);
    --mx-tab-color-active: var(--color-brand);

    /* 盒状tab参数 */
    --mx-tab-box-gap-border: var(--border-highlight-hover);
    --mx-tab-box-bg: var(--bg-highlight);
    --mx-tab-box-bg-active: var(--color-brand-opacity);
    --mx-tab-box-border: var(--border-highlight);
    --mx-tab-box-border-active: var(--border-highlight-active);
    --mx-tab-box-color: #333;
    --mx-tab-box-color-hover: var(--color-brand);
    --mx-tab-box-color-active: var(--color-brand);
    --mx-tab-box-arrow-bg: #ccc;
    --mx-tab-box-arrow-bg-hover: #ccc;
    --mx-tab-box-arrow-bg-active: var(--color-brand);

    /* 输入框 */
    --mx-input-gap-border: #e4e0e7;
    --mx-input-arrow-color: #999;
    --mx-input-arrow-color-hover: var(--color-brand);
}