/* 跨技术栈通用变量值 */
:root {
    /* 字体相关参数 */
    --line-height: 1.5;
    --font-size: 12px;
    --font-color: #333;
    --font-family: PingFang SC, "Microsoft Yahei", "SimHei", sans-serif;
    --font-number: "Alibaba Sans 102", Futura, Arial, Helvetica, Tahoma, sans-serif;

    /* a链接默认颜色 */
    --anchor-font-color: #333;

    /* 项目内黑色背景色，灰色背景色，最小宽度定义，滚定条15px */
    --app-nav-bg: #303a58;
    --app-bg: #f9f9f9;
    --app-min-width: 1415px;

    /* 品牌色 */
    --color-brand: #5057F6;
    --color-brand-gradient: #8185F7;
    --color-brand-hover: #474EDC;
    --color-brand-hover-gradient: #7377DD;
    --color-brand-vs: #FF9000;
    --color-brand-light: rgba(80, 87, 246, 0.15);
    --color-brand-opacity: rgba(80, 87, 246, 0.05);
    --color-brand-text: #ffffff;
    --color-brand-text-hover: #ffffff;

    /* 文案背景色 */
    --color-tip: #999;
    --color-text: #333;
    --color-bg: #F5F6F8;
    --color-tip-hover: #666;
    --color-text-hover: #333;
    --color-bg-hover: var(--color-brand-opacity);
    --color-tip-active: #666;
    --color-text-active: var(--color-brand);
    --color-bg-active: var(--color-brand-opacity);

    /* trigger（比如dropdown这类需要触发节点+下拉框） 配置，尺寸，颜色 */
    --input-v-gap: 8px;
    --input-h-gap: 8px;
    --input-min-width: 60px;
    --input-height: 32px;
    --input-font-size: var(--font-size);
    --border-radius: 8px;
    --input-small-v-gap: 8px;
    --input-small-h-gap: 8px;
    --input-small-min-width: 48px;
    --input-small-height: 24px;
    --input-small-font-size: var(--font-size);
    --border-small-radius: 6px;
    --input-large-v-gap: 12px;
    --input-large-h-gap: 12px;
    --input-large-min-width: 88px;
    --input-large-height: 40px;
    --input-large-font-size: calc(var(--font-size) + 2px);
    --border-large-radius: 10px;
    --input-gap-border: #e4e0e7;

    /* trigger上标签配置 */
    --input-tag-bg: #fff;
    --input-tag-color: #333;
    --input-tag-arrow-color: #333;
    --input-tag-bg-hover: #fff;
    --input-tag-color-hover: #333;
    --input-tag-arrow-color-hover: #333;
    --input-tag-bg-active: var(--color-brand-opacity);
    --input-tag-color-active: #333;
    --input-tag-arrow-color-active: #333;

    /* trigger（比如dropdown这类需要触发节点+下拉框）边框，文案，背景色 */
    --bg-highlight: #F0F2F5;
    --border-highlight: #F0F2F5;
    --border-highlight-shadow: none;
    --bg-highlight-hover: #E4E7F0;
    --border-highlight-hover: #E4E7F0;
    --border-highlight-shadow-hover: none;
    --bg-highlight-active: #fff;
    --border-highlight-active-opacity: 0.5;
    --border-highlight-active: rgba(80, 87, 246, var(--border-highlight-active-opacity));
    --border-highlight-shadow-active-h: 0px;
    --border-highlight-shadow-active-v: 2px;
    --border-highlight-shadow-active-blur: 4px;
    --border-highlight-shadow-active-opacity: 0.2;
    --border-highlight-shadow-active: var(--border-highlight-shadow-active-h) var(--border-highlight-shadow-active-v) var(--border-highlight-shadow-active-blur) 0 rgba(80, 87, 246, var(--border-highlight-shadow-active-opacity));

    /* 弹出卡片（dialog，grid等大展示卡片）：布局间距、边框、阴影（透明度及shadow定义） */
    --output-v-gap: 16px;
    --output-h-gap: 24px;
    --output-border-radius: 16px;
    --output-offset: 8px;
    --output-item-height: 28px;
    --output-small-v-gap: 8px;
    --output-small-h-gap: 16px;
    --output-small-border-radius: 8px;
    --output-large-v-gap: 24px;
    --output-large-h-gap: 24px;
    --output-large-border-radius: 16px;

    /* 品牌按钮颜色 */
    --btn-brand: var(--color-brand);
    --btn-brand-gradient: var(--color-brand-gradient);
    --btn-brand-shadow: none;
    --btn-brand-text: var(--color-brand-text);
    --btn-brand-hover: var(--color-brand-hover);
    --btn-brand-gradient-hover: var(--color-brand-hover-gradient);
    --btn-brand-shadow-hover-h: 0px;
    --btn-brand-shadow-hover-v: 2px;
    --btn-brand-shadow-hover-blur: 10px;
    --btn-brand-shadow-hover-opacity: 0.4;
    --btn-brand-shadow-hover: var(--btn-brand-shadow-hover-h, 0px) var(--btn-brand-shadow-hover-v, 2px) var(--btn-brand-shadow-hover-blur, 10px) 0 rgba(80, 87, 246, var(--btn-brand-shadow-hover-opacity, 0.4));
    --btn-brand-text-hover: var(--color-brand-text-hover);

    /*次要按钮*/
    --btn-border: #E6E6E7;
    --btn-bg: #ffffff;
    --btn-text: #333333;
    --btn-border-hover: rgba(80, 87, 246, 0.5);
    --btn-bg-hover: rgba(80, 87, 246, 0.08);
    --btn-text-hover: var(--color-brand);

    /*不同尺寸，padding 减去 border */
    --btn-h-gap: 11px; // 12 - 1
    --btn-min-width: var(--input-min-width);
    --btn-font-size: var(--input-font-size);
    --btn-border-radius: 500px;
    --btn-small-h-gap: 11px; // 12 - 1
    --btn-small-min-width: var(--input-small-min-width);
    --btn-small-font-size: var(--input-small-font-size);
    --btn-small-border-radius: 500px;
    --btn-large-h-gap: 15px; // 16 - 1
    --btn-large-min-width: var(--input-large-min-width);
    --btn-large-font-size: var(--input-large-font-size);
    --btn-large-border-radius: 500px;

    /* 色值定义 */
    --color-border: #F0F2F5;
    --color-warn: #FF8800;
    --color-red: #FF4D4D;
    --color-green: #08BF81;
    --color-blue: #4D7FFF;

    /* 动画 */
    --duration: 0.2s;

    /* grid */
    --mx-grid-h-gap: var(--output-h-gap, 24px);
    --mx-grid-title-v-gap: 16px;
    --mx-grid-title-font-size: 16px;
    --mx-grid-title-font-weight: bold;
    --mx-grid-title-color-border: var(--color-border);
    --mx-grid-title-link-font-size: 12px;
    --mx-grid-title-link-color: #666;
    --mx-grid-title-link-color-hover: #333;
    --mx-grid-shadow: 0 4px 10px 0 rgba(176, 168, 165, 0.20);

    /* checkbox radio参数 */
    --checkbox-size: 14px;
    --checkbox-border-radius: 4px;
    --checkbox-border: #DADADB;
    --checkbox-shadow: none;
    --checkbox-border-hover: #DADADB;
    --checkbox-shadow-hover: 0 0 4px 0 rgba(0, 0, 0, 0.16);

    /* 表格参数 */
    --table-head-border: 1px solid var(--color-border);
    --table-head-height: 60px;
    --table-head-group-height: 78px;
    --table-head-bg: #ffffff;
    --table-head-font-size: 12px;
    --table-head-font-color: #333333;
    --table-head-font-weight: bold;
    --table-hover-bg: #f7f8fa;
    --table-hover-oper-bg: #EAECF1;
    --table-scrollbar-bg: #333333;

    /* 卡片样式 */
    --effects-card-color-bg: #fff;
    --effects-card-title-font-size: 18px;
    --effects-card-sub-title-font-size: 14px;
    --effects-card-tip-font-size: 12px;
    --effects-card-color-border: var(--color-border);
    --effects-card-shadow: 0 2px 6px 0 rgba(185, 185, 185, 0.50);

    /* 打标 */
    --effects-tag-mode: solid;
    --effects-tag-height: 16px;
    --effects-tag-border-radius: calc(var(--effects-tag-height, 16px) / 2);
    --effects-tag-h-gap: 6px;
    --effects-tag-font-size: 20px;
    --effects-tag-font-scale: 0.5;

    /* 浮层 */
    --dialog-text-align: left;
    --dialog-color-bg: var(--app-bg);
    --dialog-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);

    /* 底边线tab参数 */
    --mx-tab-v-gap: var(--mx-grid-title-v-gap);
    --mx-tab-h-gap: 20px;
    --mx-tab-font-size: var(--mx-grid-title-font-size);
    --mx-tab-font-weight: 500;
    --mx-tab-first-h-gap: var(--mx-grid-h-gap);
    --mx-tab-border-color: var(--color-border);
    --mx-tab-color: #333;
    --mx-tab-color-hover: var(--color-brand);
    --mx-tab-color-active: var(--color-brand);

    /* 盒状tab参数 */
    --tab-box-bg-active: var(--color-brand-opacity);
    --tab-box-border-active: var(--border-highlight-active);
    --tab-box-color: #333;
    --tab-box-color-hover: var(--color-brand);
    --tab-box-color-active: var(--color-brand);
    --tab-box-arrow-bg: #ccc;
    --tab-box-arrow-bg-hover: #ccc;
    --tab-box-arrow-bg-active: var(--color-brand);

    /* 翻页器 */
    --mx-pagination-align: left;
    --mx-pagination-mode: circle;
    --mx-pagination-border: var(--border-highlight);
    --mx-pagination-bg: var(--bg-highlight);
    --mx-pagination-color: #666;
    --mx-pagination-border-hover: var(--border-highlight-hover);
    --mx-pagination-bg-hover: var(--bg-highlight-hover);
    --mx-pagination-color-hover: #333;
    --mx-pagination-border-active: var(--color-brand);
    --mx-pagination-bg-active: var(--color-brand);
    --mx-pagination-color-active: #fff;

    /* 一级菜单 */
    --header-other-height: 48px;
    --header-menu-height: 58px;
}