:root {
    /* 历史变量保留 */
    --app-brand: var(--color-brand);
    --app-brand-gradient: var(--color-brand-gradient);

    --mx-grid-shadow-hover: var(--mx-grid-shadow);

    --mx-checkbox-color: var(--mx-checkbox-border);
    --mx-checkbox-hover-color: var(--mx-checkbox-border-hover);
    --mx-checkbox-hover-shadow: var(--mx-checkbox-shadow-hover);

    --mx-tag-mode: var(--mx-effects-tag-mode);
    --mx-tag-height: var(--mx-effects-tag-height);
    --mx-tag-border-radius: var(--mx-effects-tag-border-radius);
    --mx-tag-h-gap: var(--mx-effects-tag-h-gap);
    --mx-tag-font-size: var(--mx-effects-tag-font-size);
    --mx-tag-font-scale: var(--mx-effects-tag-font-scale);

    --mx-input-gap-border: var(--input-gap-border);

    --mx-effects-card-v-gap: var(--output-large-v-gap);
    --mx-effects-card-h-gap: var(--output-large-h-gap);
    --mx-effects-card-radius: var(--output-large-border-radius);

    --mx-tab-box-gap-border: var(--input-gap-border);
    --mx-tab-box-bg: var(--mx-tabs-box-bg);
    --mx-tab-box-bg-active: var(--mx-tabs-box-bg-active);
    --mx-tab-box-border: var(--mx-tabs-box-border);
    --mx-tab-box-border-active: var(--mx-tabs-box-border-active);
    --mx-tab-box-color: var(--mx-tabs-box-color);
    --mx-tab-box-color-hover: var(--mx-tabs-box-color-hover);
    --mx-tab-box-color-active: var(--mx-tabs-box-color-active);
    --mx-tab-box-arrow-bg: var(--mx-tabs-box-arrow-bg);
    --mx-tab-box-arrow-bg-hover: var(--mx-tabs-box-arrow-bg-hover);
    --mx-tab-box-arrow-bg-active: var(--mx-tabs-box-arrow-bg-active);

    --mx-tab-v-gap: var(--mx-tabs-line-v-gap);
    --mx-tab-h-gap: var(--mx-tabs-line-h-gap);
    --mx-tab-first-h-gap: var(--mx-tabs-line-first-h-gap);
    --mx-tab-font-size: var(--mx-tabs-line-font-size);
    --mx-tab-font-weight: var(--mx-tabs-line-font-weight);
    --mx-tab-border-color: var(--mx-tabs-line-border-color);
    --mx-tab-color: var(--mx-tabs-line-color);
    --mx-tab-color-hover: var(--mx-tabs-line-color-hover);
    --mx-tab-color-active: var(--mx-tabs-line-color-active);

    --mx-trigger-v-gap: var(--input-v-gap);
    --mx-trigger-h-gap: var(--input-h-gap);
    --mx-trigger-min-width: var(--input-min-width);
    --mx-trigger-font-size: var(--input-font-size);
    --mx-trigger-small-v-gap: var(--input-small-v-gap);
    --mx-trigger-small-h-gap: var(--input-small-h-gap);
    --mx-trigger-small-min-width: var(--input-small-min-width);
    --mx-trigger-small-font-size: var(--input-small-font-size);
    --mx-trigger-large-v-gap: var(--input-large-v-gap);
    --mx-trigger-large-h-gap: var(--input-large-h-gap);
    --mx-trigger-large-min-width: var(--input-large-min-width);
    --mx-trigger-large-font-size: var(--input-large-font-size);
    --mx-trigger-output-gap: var(--output-offset);
    --mx-trigger-output-height: var(--output-item-height);

    --mx-comp-v-gap: var(--output-v-gap);
    --mx-comp-h-gap: var(--output-h-gap);
    --mx-comp-shadow: var(--mx-dialog-shadow);
}