/* Magix私有全局变量 */
:root {
    /* 禁用 */
    --mx-comp-disabled-opacity: 0.4;

    /* trigger扩散动画相关参数 */
    --mx-comp-expand-amin-color: var(--color-brand);
    --mx-comp-expand-amin-timer: 300ms;
    --mx-comp-expand-amin-ease: ease-out;

    /* trigger上箭头 */
    --mx-trigger-arrow-size: calc(var(--input-height) / 2);
    --mx-trigger-arrow-color: #999;
    --mx-trigger-arrow-color-hover: #666;
    --mx-trigger-arrow-color-active: #666;

    /* trigger前缀 */
    --mx-trigger-prefix-icon: #999;
    --mx-trigger-prefix-text: #999;

    /* trigger上标签 */
    --mx-trigger-tag-gap: 3px;
    --mx-trigger-tag-height: calc(var(--input-height) - (var(--mx-trigger-tag-gap) * 2) - 2px);

    /* grid */
    --mx-grid-body-v-top: var(--output-v-gap, 16px);
    --mx-grid-body-v-bottom: var(--output-v-gap, 16px);
    --mx-grid-border-radius: var(--output-border-radius, 16px);

    /* popover */
    --mx-popover-v-gap: var(--input-v-gap);
    --mx-popover-h-gap: var(--input-h-gap);
    --mx-popover-arrow-size: 8px;
    --mx-popover-arrow-gap: 24px;

    /* 二级菜单 */
    --mx-tabs-menu-width: 164px;
    --mx-tabs-menu-height: var(--input-height);
    --mx-tabs-menu-padding-gap: 12px;
    --mx-tabs-menu-margin-gap: 8px;
    --mx-tabs-menu-icon-size: 16px;
    --mx-tabs-menu-selected-color: #fff;
    --mx-tabs-menu-selected-bg: var(--color-brand);
    --mx-tabs-menu-selected-shadow: var(--border-highlight-shadow-active);

    /* 盒状tab参数 */
    --mx-tab-box-bg: var(--bg-highlight);
    --mx-tab-box-border: var(--border-highlight);

    /* 开关 */
    --mx-switch-width: 36px;
    --mx-switch-height: 20px;
    --mx-switch-icon-size: 14px;
    --mx-switch-border-radius: 10px;

    /* 表格 */
    --mx-table-font-size: var(--font-size);
    --mx-table-ceil-h-gap: 12px;
    --mx-table-ceil-v-gap: 12px;
    --mx-table-ceil-small-h-gap: 12px;
    --mx-table-ceil-small-v-gap: 8px;
    --mx-table-ceil-large-h-gap: 12px;
    --mx-table-ceil-large-v-gap: 24px;
    --mx-table-ceil-text-align: left;
    --mx-table-ceil-vertical-align: middle;
    --mx-table-ceil-font-color: #333333;

    /* 一级菜单 */
    --mx-header-other-height: var(--header-other-height);
    --mx-header-menu-height: var(--header-menu-height);

    /* 已不再维护的历史参数，先保留以保证正常运行 */
    --app-brand: var(--color-brand);
    --app-brand-gradient: var(--color-brand-gradient);
    // --mx-grid-title-h-gap: 0px;
    // --mx-grid-body-v-gap: 16px;
    // --mx-grid-body-h-gap: 0px;
}