/* @dependent: ./index.less */
@font-face {
  font-family: 'mc-iconfont';  /* Project id 386526 */
  src: url('//at.alicdn.com/t/a/font_386526_y4vt6lap9oc.woff2?t=1659595021978') format('woff2'),
       url('//at.alicdn.com/t/a/font_386526_y4vt6lap9oc.woff?t=1659595021978') format('woff'),
       url('//at.alicdn.com/t/a/font_386526_y4vt6lap9oc.ttf?t=1659595021978') format('truetype');
}

.mc-iconfont {
  display: inline-block;
  position: relative;
  font-family: "mc-iconfont";
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  font-variant: normal;
  font-display: fallback; //https://www.chromestatus.com/feature/5636954674692096
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;

  /* &#xe72f; */
  &.mc-tip-iconfont {
    margin-left: 2px;
    font-size: 14px;
    color: #ccc;
    cursor: pointer;
  }
}

@font-face {
  font-family: 'Alibaba Sans';
  src: url('//a1.alicdn.com/alp_large_file/d707e35f/aawy2.woff2') format('woff2'),
    url('//a1.alicdn.com/alp_large_file/d707e35f/hvp7y.woff') format('woff'),
    url('//a1.alicdn.com/alp_large_file/d707e35f/cizsl.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}