/* @dependent: ./index.less */
/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'mc-iconfont';  /* Project id 386526 */
  src: url('//at.alicdn.com/t/a/font_386526_fv589fivrft.woff2?t=1684837030344') format('woff2'),
       url('//at.alicdn.com/t/a/font_386526_fv589fivrft.woff?t=1684837030344') format('woff'),
       url('//at.alicdn.com/t/a/font_386526_fv589fivrft.ttf?t=1684837030344') format('truetype');
}

.mc-iconfont {
  display: inline-block;
  position: relative;
  font-family: "mc-iconfont";
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  font-variant: normal;
  font-display: fallback; //https://www.chromestatus.com/feature/5636954674692096
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;

  /* &#xe72f; */
  &.mc-tip-iconfont {
    margin-left: 2px;
    font-size: 14px;
    color: #ccc;
    cursor: pointer;
  }
}

/* 改版新icon */

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'mx-iconfont';  /* Project id 3581763 */
  src: url('//at.alicdn.com/t/a/font_3581763_96ffysxgxy7.woff2?t=1688716109012') format('woff2'),
       url('//at.alicdn.com/t/a/font_3581763_96ffysxgxy7.woff?t=1688716109012') format('woff'),
       url('//at.alicdn.com/t/a/font_3581763_96ffysxgxy7.ttf?t=1688716109012') format('truetype');
}

.mx-iconfont {
  display: inline-block;
  position: relative;
  font-family: "mx-iconfont";
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  font-variant: normal;
  font-display: fallback; //https://www.chromestatus.com/feature/5636954674692096
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

@font-face {
  font-family: 'Alibaba Sans';
  src: url('//a1.alicdn.com/alp_large_file/d707e35f/aawy2.woff2') format('woff2'),
    url('//a1.alicdn.com/alp_large_file/d707e35f/hvp7y.woff') format('woff'),
    url('//a1.alicdn.com/alp_large_file/d707e35f/cizsl.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alibaba Sans 102';
  src: url('//a1.alicdn.com/alp_large_file/d707e35f/sgz8e.woff2') format('woff2'),
    url('//a1.alicdn.com/alp_large_file/d707e35f/tmm3c.woff') format('woff'),
    url('//a1.alicdn.com/alp_large_file/d707e35f/jx2jb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}