.multi-ellipsis {
    max-width: 120px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis; //文本溢出显示省略号
    -webkit-line-clamp: 2;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}