@import "../mx-style/_vars";

.error{
    width: 400px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 120px;
    text-align: center;

    .error-unfound{
        margin-bottom: 30px;
        font-size: 240px;
        color: #ccc;
    }
    .info{
        margin-bottom: 20px;
        font-size: 16px;
        color: #999;
    }
    .home-btn,
    .back-btn{
        width: 90px;
    }
    .back-btn{
        margin-left: 20px;
    }

    .error-bad-img{
        display: block;
        width: 400px;
        margin: auto;
    }

    .error-bad-num{
        text-align: center;
        font-size: 40px;
        font-family: "Tahoma";
    }
}
