{{if (type == 'complex-graphics' && data.img)}}
    <!-- 复杂图文引导 -->
    <div class="complex-graphics">
        <div class="complex-img"><img src="{{=data.img}}" /></div>
        <div class="complex-infos clearfix">
            {{if data.subTitle}}
            <div class="complex-sub-title">{{!data.subTitle}}</div>
            {{/if}}
            {{if data.title}}
            <div class="complex-title">{{!data.title}}</div>
            {{/if}}
            {{if data.tip}}
            <div class="complex-tip" style="-webkit-line-clamp: {{=textLines}};">{{!data.tip}}</div>
            {{/if}}
            {{if data.link}}
            <a class="complex-link" href="{{=data.link}}" target="_blank" rel="noopener noreferrer" {{if spm}} data-spm-click="{{=spm}}_link" {{/if}}>{{=(data.linkText || '点击查看详情')}}<i class="mc-iconfont complex-link-icon">&#xe640;</i></a>
            {{/if}}
        </div>
    </div>
    {{if (data.btns && data.btns.length)}}
    <div class="complex-btns">
        {{each data.btns as btn btnIndex}}
            {{if (btn.link && btn.text)}}
            <mx-btn class="complex-btn" 
                mode="{{=(btn.mode || 'primary')}}" 
                content="{{=btn.text}}"
                link-href="{{=btn.link}}"
                link-target="{{=btn.outer ? '_blank' : '_self'}}"
                {{if spm}} data-spm-click="{{=spm}}_btn_{{=btnIndex}}" {{/if}}/>
            {{/if}}
        {{/each}}
    </div>
    {{/if}}
{{else}}
    <div class="error error--{{=mode}} error--{{=bg}}">
        <img class="img" src="{{=img}}"/>
        <div class="tip">{{!tip}}</div>
        {{if btns}}
        <div class="btns">
            <mx-btn class="home-btn"
                mode="primary"
                content="回到首页"
                link-href="#!"
                link-target="_self"/>
            
            <mx-btn class="back-btn"
                content="返回上一页"
                mx-click="back()"/>
        </div>
        {{/if}}
    </div>
{{/if}}