.error {
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;

    .home-btn,
    .back-btn {
        width: calc(var(--font-size) * 7);
    }

    .back-btn {
        margin-left: 20px;
    }
}