@import "../mx-style/_vars";

.error{
    width: 400px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 120px;
    text-align: center;

    .error-unfound{
        margin-bottom: 30px;
        font-size: 240px;
        color: #ccc;
    }
    .info{
        margin-bottom: 20px;
        font-size: 16px;
        color: #999;
    }
    .home-btn,
    .back-btn{
        width: 90px;
    }
    .back-btn{
        margin-left: 20px;
    }

    .error-bad{
        position: relative;
        padding-top: 30px;
        padding-bottom: 10px;

        .error-bad-icon{
            font-size: 160px;
            color: #ccc;
        }

        .error-bad-num{
            position: absolute;
            top: 52px;
            left: 50%;
            width: 160px;
            margin-left: -78px;
            text-align: center;
            font-size: 50px;
            color: #ccc;
            font-weight: bold;
            letter-spacing: 4px;
        }
    }
}
