<div class="base">
    <div class="left {{if fixed}} fixed {{/if}}">
        <div class="left-search-wrapper">
            <mx-suggest class="left-search"
                selected="{{=selectedValue}}"
                placeholder="搜索"
                list="{{@all}}"
                list-text="name"
                list-value="path"
                type="all"
                mx-suggest="suggest()"/>
        </div>
        <div class="left-inner" style="height: {{=minHeight - 30}}px;">
            {{each list as item}}
                {{if item.name}}
                <span class="title {{if item.expand}} expand {{/if}}" 
                    mx-click="toggle({index:{{=item.index}}})">
                    {{!item.name}}
                    <i class="mc-iconfont title-icon">&#xe692;</i>
                </span>
                {{/if}}
                {{each item.subs as sub}}
                <a class="nav {{if (sub.path == path)}} cur {{/if}} {{if item.name}} sub {{/if}} {{if item.expand}} expand {{/if}}"
                    href="#!{{=sub.path}}">
                    <i class="mc-iconfont sub-icon">{{!sub.icon}}</i>
                    {{!sub.name}}
                </a>
                {{/each}}
            {{/each}}
        </div>
    </div>
    <div class="main">
        <div class="content">
            <mx-title content="{{=cur.name}}"
                {{if cur.tip}} tip="{{@cur.tip}}" {{/if}} />
                
            <mx-vframe src="{{=view}}">
                <mx-loading/>
            </mx-vframe>
        </div>
        <div class="contexts clearfix">
            {{if prev.path}}
            <a href="#!{{=prev.path}}" class="prev link-brand">
                <i class="mc-iconfont context-icon">&#xe63a;</i>
                上一篇：{{!prev.name}}
            </a>
            {{/if}}
            {{if next.path}}
            <a href="#!{{=next.path}}" class="next link-brand">
                <i class="mc-iconfont context-icon">&#xe63a;</i>
                下一篇：{{!next.name}}
            </a>
            {{/if}}
        </div>
    </div>
</div>
<div class="fixes">
    <a href="https://aone.alibaba-inc.com/project/768817/req?akProjectId=768817&spm=a2o8d.rdc_projecthome.0.0.70b27a26750VTM" target="_blank" rel="noopener noreferrer" class="fix">
        <i class="mc-iconfont fix-icon">&#xe64f;</i>
        <span class="fix-tip">给我提需求</span>
    </a>
    <a href="https://aone.alibaba-inc.com/project/768817/issue?spm=a2o8d.corp_prod_req_list.0.0.3e646b88s8ezBH" target="_blank" rel="noopener noreferrer" class="fix">
        <i class="mc-iconfont fix-icon">&#xe63d;</i>
        <span class="fix-tip">帮我找bug</span>
    </a>
    <a href="dingtalk://dingtalkclient/action/sendmsg?dingtalk_id=t5z4z8s" class="fix">
        <i class="mc-iconfont fix-icon">&#xe677;</i>
        <span class="fix-tip">钉我一下</span>
    </a>
</div>