<div class="base-header">
    <div class="header-line"></div>
    <div class="base-logo">
        <span class="logo-img">
            <img src="https://img.alicdn.com/tfs/TB1qRnywVzqK1RjSZFoXXbfcXXa-432-355.png">
        </span>
        <span class="logo-name">Magix Galleries</span>
    </div>
    <div class="base-search">
        <mx-suggest class="w260"
            selected="{{=cusSuggest}}"
            placeholder="搜索"
            list="{{@suggests}}"
            list-text="name"
            list-value="path"
            type="all"
            mx-suggest="suggest()"/>
    </div>
    <div class="header-tabs clearfix">
        {{each headers as h}}
        <a href="#!{{=h.path}}" class="header-tab {{if h.cur}} cur {{/if}}">{{=h.name}}</a>
        {{/each}}
    </div>
</div>
<div class="base">
    <div class="base-left {{if fixed}} fixed {{/if}}" style="height: {{=minHeight}}px;">
        {{each list as item}}
            {{if item.name}}
            <span class="title {{if !item.close}} expand {{/if}}" 
                mx-click="toggle({index:{{=item.index}}})">
                {{!item.name}}
                <i class="mc-iconfont title-icon">&#xe692;</i>
            </span>
            {{/if}}
            {{each item.subs as sub}}
            <a class="nav {{if (sub.path == path)}} cur {{/if}} {{if item.name}} sub {{/if}} {{if !item.close}} expand {{/if}}"
                href="#!{{=sub.path}}">
                <i class="mc-iconfont sub-icon">{{!sub.icon}}</i>
                {{!sub.name}}
            </a>
            {{/each}}
        {{/each}}
    </div>
    <div class="base-main">
        <div class="content">
            <mx-title content="{{=cur.name}}"
                {{if cur.tip}} tip="{{@cur.tip}}" {{/if}} />
                
            <mx-vframe src="{{=view}}">
                <mx-loading/>
            </mx-vframe>
        </div>
        <div class="contexts clearfix">
            {{if prev.path}}
            <a href="#!{{=prev.path}}" class="prev link-brand">
                <i class="mc-iconfont context-icon">&#xe63a;</i>
                上一篇：{{!prev.name}}
            </a>
            {{/if}}
            {{if next.path}}
            <a href="#!{{=next.path}}" class="next link-brand">
                <i class="mc-iconfont context-icon">&#xe63a;</i>
                下一篇：{{!next.name}}
            </a>
            {{/if}}
        </div>
    </div>
</div>
<div class="fixes">
    <a href="https://aone.alibaba-inc.com/project/768817/req?akProjectId=768817&spm=a2o8d.rdc_projecthome.0.0.70b27a26750VTM" target="_blank" rel="noopener noreferrer" class="fix">
        <i class="mc-iconfont fix-icon">&#xe64f;</i>
        <span class="fix-tip">给我提需求</span>
    </a>
    <a href="https://aone.alibaba-inc.com/project/768817/issue?spm=a2o8d.corp_prod_req_list.0.0.3e646b88s8ezBH" target="_blank" rel="noopener noreferrer" class="fix">
        <i class="mc-iconfont fix-icon">&#xe63d;</i>
        <span class="fix-tip">帮我找bug</span>
    </a>
    <a href="dingtalk://dingtalkclient/action/sendmsg?dingtalk_id=t5z4z8s" class="fix">
        <i class="mc-iconfont fix-icon">&#xe677;</i>
        <span class="fix-tip">钉我一下</span>
    </a>
    <a href="javascript:;" class="fix" mx-click="back()">
        <i class="mc-iconfont fix-icon">&#xe62d;</i>
        <span class="fix-tip">回到顶部</span>
    </a>
</div>