<div class="base-header clearfix">
    <div class="base-logo" id="base_logo_{{=viewId}}">
        <div class="logo" mx-click="showPicker()">
            <span class="logo-img"><img src="https://img.alicdn.com/tfs/TB1qRnywVzqK1RjSZFoXXbfcXXa-432-355.png"></span>Magix Gallery
        </div>
        <div class="mx-output-bottom {{if theme.show}} mx-output-open {{/if}}"
            style="left:24px;"
            mx-view="__test__/edit/logo?color={{=theme.color}}"
            mx-change="changeColors()"></div>
    </div>
    <div class="base-search">
        <mx-suggest class="w260"
            placeholder="搜索"
            list="{{@suggests}}"
            type="all"
            mx-change="suggest()"/>
    </div>
    {{if (headers.length > 1)}}
    <div class="header-tabs clearfix">
        {{each headers as h}}
        <a {{if h.new}} mx-click="readed({id:'{{=h.id}}'})" {{/if}} {{if h.outer}} href="{{=h.outer}}" target="_blank" rel="noopener noreferrer" {{else}} href="#!{{=h.path}}" {{/if}} class="header-tab {{if h.cur}} cur {{/if}}">
            {{=h.name}}
            {{if h.new}}
            <mx-popover content="{{=h.new}}" auto="true"><mx-effects.breath /></mx-popover>
            {{/if}}
        </a>
        {{/each}}
    </div>
    {{/if}}
</div>
<div class="base {{if count == 1}} close {{/if}}">
    <div class="base-left {{if fixed}} fixed {{/if}}" style="height: {{=minHeight}}px;">
        {{each list as item}}
        <div class="group">
            {{if item.name}}
            <div class="title">{{!item.name}}</div>
            {{/if}}
            {{each item.subs as sub}}
            <a class="{{if sub.child}} child {{else}} nav {{/if}} {{if (sub.cur)}} cur-nav {{/if}}"
                href="#!{{=sub.path}}">{{!sub.name}}</a>
            {{/each}}
        </div>
        {{/each}}
    </div>
    <div class="base-main">
        <div class="content">
            <mx-title content="{{=cur.name}}" {{if cur.tip}} tip="{{@cur.tip}}" {{/if}} />
                
            <mx-vframe src="{{=view}}">
                <mx-loading/>
            </mx-vframe>
        </div>
        {{if count > 1}}
        <div class="contexts clearfix">
            {{if prev.path}}
            <a href="#!{{=prev.path}}" class="prev link-brand">
                <i class="mc-iconfont context-icon">&#xe63a;</i>
                上一篇：{{!prev.name}}
            </a>
            {{/if}}
            {{if next.path}}
            <a href="#!{{=next.path}}" class="next link-brand">
                <i class="mc-iconfont context-icon">&#xe63a;</i>
                下一篇：{{!next.name}}
            </a>
            {{/if}}
        </div>
        {{/if}}
    </div>
</div>
<div mx-view="__test__/fixes"></div>