@base-left-width: 228px;

.base-header {
    position: relative;
    height: calc(var(--input-height) + 20px);
    padding-top: 10px;
    box-shadow: 0 2px 4px rgba(51, 51, 51, 0.08);
    background-color: #fff;

    .header-tabs {
        position: relative;
        float: right;
        margin-right: 120px;
        line-height: var(--input-height);

        .header-tab {
            position: relative;
            float: left;
            margin: 0 10px;
            padding: 0 20px 8px 20px;
            font-size: 14px;
            border-bottom: 2px solid transparent;
            cursor: pointer;
            transition: all var(--duration);

            &.cur {
                color: var(--color-brand);
                border-bottom: 2px solid var(--color-brand);
            }
        }
    }

    .base-logo {
        position: relative;
        float: left;
        width: @base-left-width;
        padding-left: 24px;
        cursor: pointer;

        .logo {
            display: flex;
            align-items: center;
            height: var(--input-height);
            font-size: 18px;
        }

        .logo-img {
            display: inline-block;
            width: 38px;
            height: 32px;
            margin-right: 6px;
            background-color: var(--color-brand);

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .base-search {
        position: relative;
        float: left;
        padding-left: 10px;

        --border-radius: calc(var(--input-height) / 2);
        --bg-highlight: #F0F2F5;
        --border-highlight: #F0F2F5;
        --border-highlight-shadow: none;
        --bg-highlight-hover: #fff;
        --border-highlight-hover: var(--border-highlight-active);
        --border-highlight-shadow-hover: none;
    }
}

.base-left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 19;
    width: @base-left-width;
    padding-bottom: 10px;
    border-right: 1px solid var(--color-border);
    // transition: left var(--duration);
    overflow-x: hidden;
    overflow-y: overlay;

    .group {
        margin-bottom: 16px;
    }

    .nav,
    .title,
    .child {
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
        padding-left: 10px;
        border-left: 4px solid transparent;
        white-space: nowrap;
        font-size: 12px;
        transition: background-color var(--duration), height var(--duration), color var(--duration);
    }

    .title {
        height: 32px;
        color: #999;
    }

    .nav,
    .child {
        height: 38px;
        cursor: pointer;

        &:hover {
            color: var(--color-brand);
        }

        &.cur-nav {
            color: var(--color-brand);
            border-left: 4px solid var(--color-brand);
            background-color: var(--color-brand-opacity);
        }
    }

    .child {
        padding-left: 36px;

        &::after,
        &::before {
            content: ' ';
            position: absolute;
            border-style: dashed;
            border-color: #ccc;
        }

        &::after {
            top: -50%;
            left: 20px;
            width: 0;
            height: 100%;
            border-width: 0 1px 0 0;
        }

        &::before {
            top: 50%;
            left: 20px;
            width: 10px;
            height: 0;
            border-width: 1px 0 0 0;
        }
    }

    .nav+.child {
        &::after {
            top: -15%;
            height: 65%;
        }
    }

    &.fixed {
        position: fixed;
    }
}


.base {
    position: relative;
    margin-top: 16px;
    padding-left: @base-left-width;
    transition: padding-left var(--duration);

    &.close {
        padding-left: 0;

        .base-left {
            opacity: 0;
            left: 0 - @base-left-width;
        }
    }
}


.base-main {
    .content {
        padding: 0px 20px 40px 20px;
    }

    .contexts {
        margin-right: 20px;
        margin-left: 20px;
        padding: 20px 0 40px 0;
        border-top: 1px solid var(--color-border);

        .prev,
        .next {
            position: relative;
            height: 22px;
            line-height: 22px;

            .context-icon {
                position: absolute;
                top: 0;
                line-height: 22px;
            }
        }

        .prev {
            float: left;
            padding-left: 20px;

            .context-icon {
                left: 0;
                transform: rotate(-90deg);
            }
        }

        .next {
            float: right;
            padding-right: 20px;

            .context-icon {
                right: 0;
                transform: rotate(90deg);
            }
        }
    }
}