@import '../mx-style/_vars';
@search-height: 52px;
@base-left-width: 240px;
@base-left-nav-height: 38px;

.base-header{
    position: relative;
    height: @search-height;
    padding-top: 10px;
    box-shadow: 0 2px 4px rgba(51, 51, 51, 0.08);
    background-color: #fff;
    .base-logo{
        position: relative;
        float: left;
        width: @base-left-width;
        padding-left: 24px;

        .logo-img{
            position: absolute;
            top: 50%;
            width: 38px;
            height: 32px;
            margin-top: -16px;
            background-image: linear-gradient(to right, @btn-brand, @btn-brand-gradient);

            img{
                width: 100%;
                height: 100%;
            }
        }

        .logo-name{
            padding-left: 48px;
            line-height: 32px;
            font-size: 18px;
        }
    }

    .header-line{
        position: absolute;
        top: 50%;
        left: @base-left-width;
        width: 0;
        height: 20px;
        border-left: 1px solid @color-border;
        margin-top: -10px;
    }

    .base-search{
        float: left;
        padding-left: 10px;

        input{
            border: 0 none;
        }
    }

    .header-tabs{
        float: right;
        margin-right: 140px;
        line-height: 32px;
        .header-tab{
            float: left;
            padding: 0 20px 8px 20px;
            font-size: 14px;
            border-bottom: 2px solid transparent;
            cursor: pointer;
            transition: all @duration;

            &.cur{
                color: @color-brand;
                border-bottom: 2px solid @color-brand;
            }
        }
    }
}

.base{
    position: relative;
    margin-top: 18px;
    padding-left: @base-left-width;
}

.base-left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 19;
    width: @base-left-width;
    padding-bottom: 10px;
    border-right: 1px solid @color-border;
    overflow-y: auto;
    
    .nav,
    .title{
        display: block;
        position: relative;
        padding-left: 20px;
        line-height: @base-left-nav-height;
        cursor: pointer;
    }
    .nav{
        height: 0;
        border-left: 4px solid transparent;
        transition: background-color @duration, height @duration, color @duration;
        overflow: hidden;

        .sub-icon{
            position: absolute;
            top: 0;
            left: 30px;
            height: @base-left-nav-height;
            line-height: @base-left-nav-height - 2;
            font-size: 18px;
            color: #999;
        }
        &:hover{
            color: @color-brand;
            .sub-icon{
                color: @color-brand;
            }
        }
        &.cur{
            color: @color-brand;
            border-left: 4px solid @color-brand;
            background-color: @color-brand-opacity;

            .sub-icon{
                color: @color-brand;
            }
        }
        &.sub{
            padding-left: 52px;
        }
        &.expand{
            height: @base-left-nav-height;
        }
    }
    .title{
        height: @base-left-nav-height;
        cursor: pointer;
        .title-icon{
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 24px;
            transition: transform @duration;
            color: #999;
        }
        &:hover{
            .title-icon{
                color: @color-brand;
            }
        }
        &.expand{
            .title-icon{
                top: 10px;
                transform: rotate(180deg);
            }
        }
    }

    &.fixed{
        position: fixed;
    }
}

.base-main{
    .content{
        padding: 20px 0 40px 20px;
    }

    .contexts{
        margin-right: 20px;
        margin-left: 20px;
        padding: 20px 0 40px 0;
        border-top: 1px solid @color-border;

        .prev,
        .next{
            position: relative;
            height: 22px;
            line-height: 22px;

            .context-icon{
                position: absolute;
                top: 0;
                line-height: 22px;
            }
        }
        .prev{
            float: left;
            padding-left: 20px;
            .context-icon{
                left: 0;
                transform: rotate(-90deg);
            }
        }
        .next{
            float: right;
            padding-right: 20px;
            .context-icon{
                right: 0;
                transform: rotate(90deg);
            }
        }
    }
}

@fix-size: 36px;
.fixes{
    position: fixed;
    right: 0;
    bottom: 60px;
    z-index: 20;
    border-bottom: 1px solid @color-border;
    .fix{
        position: relative;
        display: block;
        width: @fix-size;
        height: @fix-size;
        .fix-tip,
        .fix-icon{
            position: absolute;
            top: 0;
            left: 0;
            height: @fix-size;
            line-height: @fix-size;
            transition: all @duration;
            background-color: #fff;
        }
        .fix-tip{
            z-index: 21;
            width: 70px;
            color: #fff;
            text-align: right;
        }
        .fix-icon{
            z-index: 22;
            width: @fix-size;
            border-width: 1px 0 0 1px;
            border-color: @color-border;
            border-style: solid;
            font-size: 22px;
            color: #ccc;
            text-align: center;
        }

        &:hover{
            opacity: .95;
            .fix-icon{
                background-color: @color-brand;
                border-color: @color-brand;
                color: #fff;
            }
            .fix-tip{
                background-color: @color-brand;
                left: -70px;
            }
        }
    }
}