<div class="content-subs {{if fixed}} subs-fixed {{/if}} ">
    {{each list as item}}
        <div class="sub-link">
            <a href="javascript:;" mx-click="to({key:'{{=item.key}}'})">{{=item.name}}</a>
        </div>
        {{if (item.subs && item.subs.length)}}
            {{each item.subs as sub}}
            <div class="sub-link pl10">
                <a href="javascript:;" mx-click="to({key:'{{=sub.key}}'})">{{=sub.name}}</a>
            </div>
            {{/each}}
        {{/if}}
    {{/each}}
</div>