@import '../mx-style/_vars';

.content-subs{
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    padding: 10px 0 10px 10px;
    border-left: 1px solid @color-line;

    .sub-link{
        margin-bottom: 6px;
        &:last-child{
            margin-bottom: 0;
        }
    }

    &.subs-fixed{
        position: fixed;
    }
}