@title-height: 24px;

.update {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: @title-height / 2;
        left: 0;
        width: 0;
        height: 100%;
        border-left: 2px solid var(--color-border);
    }

    &:last-child {
        &::before {
            display: none;
        }
    }
}

.ver {
    position: relative;
    height: @title-height;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -4px;
        width: 10px;
        height: 10px;
        margin-top: -5px;
        border: 2px solid var(--color-border);
        background-color: #fff;
        border-radius: 50%;
    }

    .vt {
        display: inline-flex;
        align-items: center;
        font-size: 18px;

        .vi {
            display: inline-block;
            width: 86px;
            height: calc(var(--font-size) + 8px);
            margin-left: 10px;
            line-height: calc(var(--font-size) + 6px);
            background-color: #f3f4f5;
            border: 1px solid #eee;
            text-align: center;
            border-radius: 2px;
            overflow: hidden;
            font-size: 12px;
            
            &.vi-hover:hover {
                cursor: pointer;
                color: var(--color-brand);
            }
        }
    }
}

.dot {
    position: relative;
    padding-left: 10px;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 4px;
        height: 4px;
        margin-top: -2px;
        border: 1px solid #ccc;
        border-radius: 50%;
    }
}

.line {
    display: flex;
    align-items: center;
    line-height: 28px;
}

.line-icon {
    margin-right: 4px;
    font-size: 18px;
}