{{each list as item index}}
<div class="update"  {{if (index > expand)}} style="display: none;" {{/if}}>
    <div class="ver pl20">
        <span class="vt">
            {{=item.ver}}
            <span class="vi">{{=item.time}}</span>
        </span>
    </div>
    <div class="pt10 pb30">
        {{each item.subs as s}}
        <div class="pl20">
            {{if s.type == 'notice'}}
            <div class="line">
                <i class="mc-iconfont line-icon color-warn">&#xe66f;</i>
                <span class="fontsize-14">{{=(s.title ? s.title : '重要通知')}}</span>
            </div>
            {{/if}}
            
            {{if s.type == 'bug'}}
            <div class="line">
                <i class="mc-iconfont line-icon color-red">&#xe63d;</i>
                <span class="fontsize-14">{{=(s.title ? s.title : 'bug修复')}}</span>
            </div>
            {{/if}}

            {{if s.type == 'add'}}
            <div class="line">
                <i class="mc-iconfont line-icon color-green">&#xe616;</i>
                <span class="fontsize-14">{{=(s.title ? s.title : '功能上新')}}</span>
            </div>
            {{/if}}

            {{each s.subs as ss}}
            <div class="pl20">
                <div class="line dot">{{!ss.title}}</div>
                {{if ss.content}}
                    {{!ss.content}}
                {{/if}}

                {{if ss.subs && (ss.subs.length > 0)}}
                <div class="pl20">
                    {{each ss.subs as sss}}
                    <div class="line dot">{{!sss}}</div>
                    {{/each}}
                </div>
                {{/if}}
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
</div>
{{/each}}
<div class="update">
    <div class="ver pl20">
        <span class="vt">
            更多历史版本
            <i mx-click="expand()" class="vi vi-hover mc-iconfont">&#xe61b;</i>
        </span>
    </div>
</div>