.drawer {
    height: 100%;
    padding: 0 20px;
    background-color: #fff;
    overflow-y: auto;
    transition: right var(--duration);
}

.drawer-link,
.drawer-title {
    position: relative;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
}

.drawer-link {
    padding-left: 40px;
    a {
        display: block;
    }
    .link-icon {
        float: right;
        height: 48px;
        line-height: 48px;
        color: #999;
    }
    .drawer-logo {
        position: absolute;
        left: 0;
        width: 40px;
        height: 100%;
        vertical-align: middle;
        text-align: center;
        img {
            display: inline-block;
            height: 18px;
            vertical-align: middle;
        }
    }
}

.drawer-title {
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
}

[ref="@../mx-dialog/index.less:dialog"] {
    [ref="@../mx-dialog/index.less:dialog-close"] {
        display: none;
    }
}