.drawer {
    position: relative;
    background-color: #fff;
}

.login-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(var(--input-height) + 20px);
    padding: 10px 20px;
    background-color: var(--color-bg);
    .login-btn {
        width: 100%;
    }
}

.drawer-wrapper {
    padding: 0 20px;
    overflow-y: auto;
}

.drawer-link,
.drawer-title {
    position: relative;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
}

.drawer-link {
    padding-left: 40px;
    a {
        display: block;
    }
    .link-icon {
        float: right;
        height: 48px;
        line-height: 48px;
        color: #999;
    }
    .drawer-logo {
        position: absolute;
        left: 0;
        width: 36px;
        height: 100%;
        vertical-align: middle;
        text-align: center;
        img {
            display: inline-block;
            max-width: 100%;
            max-height: 22px;
            vertical-align: middle;
        }
    }
}

.drawer-title {
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
}

[ref="@../mx-dialog/index.less:dialog"] {
    [ref="@../mx-dialog/index.less:dialog-close"] {
        display: none;
    }
}