.others {
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    .title-text,
    .title-link {
        opacity: .5;
        color: #333;
        cursor: pointer;
    }
    .title-link:hover {
        opacity: 1;
        color: #333;
    }
    .title-arrow {
        opacity: .5;
        display: inline-block;
        position: relative;
        top: 4px;
        right: 0;
        font-size: 20px;
        transition: transform var(--duration) ease-out;
        color: #333;
    }
    .title-subs {
        top: 46px;
        left: 50%;
        width: 144px;
        margin-left: -72px;
        dl {
            padding: 10px 20px;
            dt {
                height: 30px;
                line-height: 30px;
                color: #999;
                font-size: 14px;
            }
            dd {
                height: 32px;
                margin-left: 25px;
                line-height: 32px;
                font-size: 12px;
            }
        }
    }
    .item {
        float: left;
        position: relative;
        margin-right: 35px;
        &:hover {
            .title-link {
                opacity: 1;
            }
            .title-arrow {
                opacity: 1;
                transform: rotate(180deg);
            }
            .title-subs {
                opacity: 1;
                transform: scale(1);
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.front {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 50px;
    left: 0;
    .logo {
        img {
            display: inline-block;
            height: 40px
        }
    }
    .front-inner {
        position: relative;
        margin: 0 auto;
        background-color: #fff;
        .front-item {
            float: left;
            height: 50px;
            line-height: 50px;
        }
        .front-right{
            position: absolute;
            top: 0;
            right: 0;
            display: table;
            height: 50px;
            transition: opacity var(--duration) ease-out;
            .right-inner{
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    .nav {
        position: relative;
        padding: 0 12px;
        margin: 0 12px;
        font-size: 14px;
        border-bottom: 2px solid transparent;
        .nav-arrow {
            opacity: .5;
            position: absolute;
            top: 15px;
            right: -6px;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            font-size: 20px;
            transition: transform var(--duration) ease-out;
            color: #666;
        }
        .nav-subs {
            top: 46px;
            left: 50%;
            width: 100px;
            margin-left: -50px;
            text-align: center;
        }

        .nav-sub{
            display: block;
            padding: 8px 0;
            color: #999;

            &:hover{
                color: #333;
            }
            &.nav-sub-cur{
                color: #333;
                background-color: var(--color-brand-opacity);
                color: var(--color-brand);
            }
        }

        &:hover {
            .nav-arrow {
                opacity: 1;
                transform: rotate(180deg);
            }
            .nav-subs {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    &.fixed {
        position: fixed;
        background-color: #fff;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
    }
}

.header {
    position: relative;
}

.dark-header {
    background-color: #09122b;
    .others {
        padding-left: 40px;
        padding-right: 40px;
        .others-inner {
            float: left;
        }
        .title-text,
        .title-link,
        .title-arrow {
            opacity: .7;
            color: #fff;
        }
    }
    .front {
        transition: background-color var(--duration) ease-out;
        .front-inner {
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 60px;
        }
        .nav {
            padding: 0 16px;
            .nav-arrow{
                right: -2px;
            }
            &.cur {
                .nav-inner {
                    color: var(--color-brand);
                }
            }
        }
    }
}

.white-header {
    background-color: #fff;
    .others {
        padding: 0 20px;
        background-color: #fff;
        .others-inner {
            float: right;
        }
    }
    .front {
        padding: 0 20px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .08);
        .nav {
            .nav-inner {
                opacity: .5;
            }
            &:hover {
                .nav-inner {
                    opacity: 1;
                    color: #333;
                }
            }
            &.cur {
                border-bottom: 2px solid var(--color-brand);
                .nav-inner {
                    opacity: 1;
                    color: #333;
                    font-weight: bold;
                }
            }
        }
    }
}