<div class="header">
    <div class="others clearfix" style="width: {{=width}}px;">
        <div class="fl mr35">
            <a class="text text-h-brand" href="//www.alimama.com" target="_blank" rel="noopener noreferrer">阿里妈妈首页</a>
        </div>
        {{each list as item index}}
        <div class="item fl mr35" 
            mx-mouseover="toggle({index:{{=index}},height:{{=item.height}}})"
            mx-mouseout="toggle({index:{{=index}},height:0})">
            <span class="text">{{=item.title}}</span>
            <span class="mc-iconfont ml5 arrow">&#xe692;</span>
            <div class="links" style="height: {{=item.showHeight}}px;">
                {{each item.seconds as second}}
                <dl>
                    {{if second.title}}
                    <dt>{{=second.title}}</dt>
                    {{/if}}
                    {{each second.thirds as third}}
                    <dd><a href="{{=third.link}}" target="_blank" rel="noopener noreferrer">{{=third.name}}</a></dd>
                    {{/each}}
                </dl>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
    <div class="front {{if fixed}} fixed {{/if}}" {{if fixed}} style="{{=styles}}" {{/if}}>
        <div class="front-inner clearfix" style="width: {{=width}}px;">
            <div class="logo">
                <img src="{{=logo}}"/>
            </div>
            <div class="navs">
                {{each navs as nav}}
                <a class="mr40 {{if (cur == nav.value)}} cur {{/if}} " href="javascript:;" mx-click="to({nav:{{@nav}}})">{{=nav.text}}</a>
                {{/each}}
            </div>
        </div>
    </div>
</div>