.header {
    position: relative;
    background-color: #fff;
    .others {
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 50px;
        text-align: right;
        .others-inner {
            margin: 0 auto;
        }
        .item {
            display: inline-block;
            margin-right: 32px;
            &:last-child {
                margin-right: 0;
            }
        }
        .title-text,
        .title-link {
            opacity: .5;
            color: #333;
        }
        .title-link {
            cursor: pointer;
            .title-arrow {
                display: inline-block;
                position: relative;
                top: 4px;
                right: 0;
                font-size: 20px;
                transition: transform var(--duration) ease-out;
                color: #333;
            }
            &:hover,
            &[data-hover="true"] {
                opacity: 1;
                color: #333;
                .title-arrow {
                    transform: rotate(180deg);
                }
            }
        }
    }
    .front {
        position: absolute;
        z-index: 10;
        width: 100%;
        top: 50px;
        left: 0;
        padding: 0 20px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .08);
        .front-inner {
            position: relative;
            margin: 0 auto;
            background-color: #fff;
            .front-item {
                float: left;
                height: 50px;
                line-height: 50px;
            }
            .front-right {
                position: absolute;
                top: 0;
                right: 0;
                display: table;
                height: 50px;
                transition: opacity var(--duration) ease-out;
                .right-inner {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
        .logo img {
            display: inline-block;
            height: 40px
        }
        .nav {
            position: relative;
            padding: 0 12px;
            margin: 0 12px;
            font-size: 12px;
            border-bottom: 2px solid transparent;
            .nav-inner {
                opacity: .5;
                color: #333;
            }
            .nav-arrow {
                opacity: .5;
                position: absolute;
                top: 15px;
                right: -6px;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                font-size: 20px;
                transition: transform var(--duration) ease-out;
                color: #666;
            }
            .nav-subs,
            .nav-groups {
                top: 56px;
                left: 50%;
            }
            .nav-sub {
                display: block;
                height: var(--input-small-height);
                margin: 2px 0;
                padding: 0 8px;
                line-height: var(--input-small-height);
                border-radius: var(--border-radius);
                white-space: nowrap;
                color: #333;
                &:hover {
                    background-color: var(--color-bg-hover);
                }
                &.nav-sub-cur {
                    color: var(--color-brand);
                    background-color: var(--color-brand-opacity);
                }
            }
            .nav-subs {
                min-width: 110px;
                padding: 8px 10px;
                margin-left: -55px;
                text-align: center;
            }
            .nav-groups {
                width: 400px;
                padding: 10px 16px;
                margin-left: -200px;
                text-align: left;
                .nav-group-title {
                    display: inline-block;
                    margin-top: 6px;
                    margin-bottom: 6px;
                    color: #999;
                    border-bottom: 1px solid var(--color-border);
                }
                .nav-group-item {
                    float: left;
                    width: 88px;
                    height: var(--input-small-height);
                    margin: 2px 2px 2px 0;
                    .nav-sub {
                        display: inline-block;
                        margin: 0;
                        max-width: 100%;
                        white-space: nowrap;
                        word-wrap: normal;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
            &.nav-hover {
                .nav-inner {
                    opacity: 1;
                }
                .nav-arrow {
                    opacity: 1;
                    transform: rotate(180deg);
                }
                .nav-subs,
                .nav-groups {
                    opacity: 1;
                    transform: scale(1);
                }
            }
            &.nav-cur {
                border-bottom: 2px solid var(--color-brand);
                .nav-inner {
                    opacity: 1;
                    color: #333;
                    font-weight: bold;
                }
            }
        }
        &.fixed {
            position: fixed;
            background-color: #fff;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
        }
    }
    &.dark-header {
        background-color: #09122b;
        .others {
            padding-left: 40px;
            padding-right: 40px;
            .title-text,
            .title-link {
                opacity: .6;
                color: #fff;
            }
            .title-link {
                .title-arrow {
                    color: #fff;
                }
                &:hover,
                &[data-hover="true"] {
                    opacity: 1;
                    color: #fff;
                }
            }
        }
        .front {
            transition: background-color var(--duration) ease-out;
            box-shadow: none;
            .front-inner {
                padding-left: 40px;
                padding-right: 40px;
                padding-top: 15px;
                padding-bottom: 15px;
                border-radius: 60px;
            }
            .nav {
                padding: 0 16px;
                .nav-arrow {
                    right: -2px;
                }
                &.nav-cur {
                    border-bottom: 0 none;
                    .nav-inner {
                        color: var(--color-brand);
                        font-weight: normal;
                    }
                }
            }
            &.fixed {
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
            }
        }
    }
}