dl.title-subs {
    padding: 10px 20px;
    text-align: center;
    dt {
        height: 30px;
        line-height: 30px;
        color: #999;
        font-size: 14px;
    }
    dd {
        height: 32px;
        line-height: 32px;
        font-size: 12px;
    }
}