@keyframes mx-btn-load-enter-anim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mx-btn-load-out-anim {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

[mx-view*="mx-btn/index"] {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;

    /* 渐变缓动预留，边框-1 */
    .bg-gradient,
    .bg-gradient-hover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -99999;
        pointer-events: none;
        transition: all var(--duration);
        border-radius: var(--btn-border-radius);
    }

    .mx-btn {
        position: relative;
        z-index: 2;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: var(--btn-min-width, 64px);
        height: var(--input-height);
        margin-bottom: 0;
        padding: 0 var(--btn-h-gap, 11px);
        font-size: var(--btn-font-size, 12px);
        font-weight: normal;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: none;
        border-radius: var(--btn-border-radius);
        border-width: 1px;
        border-style: solid;
        -moz-background-clip: padding;
        -webkit-background-clip: padding;
        background-clip: padding-box;
        border-color: var(--btn-border);
        background-color: var(--btn-bg);
        color: var(--btn-text);
        transition: all var(--duration);

        .text {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
        }

        .text-hide {
            animation: mx-btn-load-out-anim var(--duration);
            animation-fill-mode: forwards;
        }

        .text-icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 4px;
            font-size: 0;

            >* {
                font-size: 14px;
            }
        }

        &.mx-btn--custom {
            border-color: var(--mx-btn-custom-color-border);
            background-color: var(--mx-btn-custom-color);
            color: var(--mx-btn-custom-color-text);

            &:hover,
            &.hover,
            &:active {
                border-color: var(--mx-btn-custom-color-border-hover);
                background-color: var(--mx-btn-custom-color-hover);
                color: var(--mx-btn-custom-color-text-hover);
            }
        }

        &.mx-btn--custom-gradient {
            border-color: transparent;
            background-color: transparent;
            color: var(--mx-btn-custom-color-text);

            &~.bg-gradient {
                z-index: 1;
                opacity: 1;
                background-color: var(--mx-btn-custom-color);
                background-image: linear-gradient(141deg, var(--mx-btn-custom-color-gradient) 5%, var(--mx-btn-custom-color) 100%);
                box-shadow: var(--mx-btn-custom-shadow);
            }

            &~.bg-gradient-hover {
                z-index: 1;
                opacity: 0;
                background-color: var(--mx-btn-custom-color-hover);
                background-image: linear-gradient(141deg, var(--mx-btn-custom-color-gradient-hover) 5%, var(--mx-btn-custom-color-hover) 100%);
                box-shadow: var(--mx-btn-custom-shadow-hover);
            }

            &:hover,
            &.hover,
            &:active {
                border-color: transparent;
                background-color: transparent;
                color: var(--mx-btn-custom-color-text-hover);

                &~.bg-gradient-hover {
                    opacity: 1;
                }
            }
        }

        &.mx-btn-disabled,
        &.mx-btn-disabled~.bg-gradient,
        &.mx-btn-disabled~.bg-gradient-hover {
            opacity: var(--mx-comp-disabled-opacity, .4);
            pointer-events: none;
        }

        /* 打标加白底，防止透明度透出 */
        &.mx-btn-disabled~.mx-btn-tag-wrapper {
            background-color: #fff;
        }

        &.mx-btn--small {
            --input-height: var(--input-small-height);
            --btn-h-gap: var(--btn-small-h-gap, 7px);
            --btn-min-width: var(--btn-small-min-width, 48px);
            --btn-font-size: var(--btn-small-font-size, 12px);
            --btn-border-radius: var(--btn-small-border-radius);
        }

        &.mx-btn--large {
            --input-height: var(--input-large-height, 40px);
            --btn-h-gap: var(--btn-large-h-gap, 15px);
            --btn-min-width: var(--btn-large-min-width, 96px);
            --btn-font-size: var(--btn-large-font-size, 14px);
            --btn-border-radius: var(--btn-large-border-radius);

            .text-icon {
                >* {
                    font-size: 16px;
                }
            }
        }

        &.only-icon {
            min-width: calc(var(--input-height) + 4px);
            padding: 0;
            border-radius: var(--border-radius);

            &~.bg-gradient,
            &~.bg-gradient-hover {
                border-radius: var(--border-radius);
            }

            .text-icon {
                margin-right: 0;

                >* {
                    font-size: calc(var(--input-height) / 2);
                }
            }
        }
    }

    .disabled-mask {
        opacity: 0;
        content: ' ';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 3;
        border-radius: var(--btn-border-radius);
        background-color: transparent;
        cursor: not-allowed;
    }

    .load {
        position: absolute;
        top: 0;
        z-index: 4;
        transform-origin: top;
        cursor: not-allowed;
        user-select: none;
        animation: mx-btn-load-enter-anim var(--duration);
        animation-fill-mode: forwards;
    }

    .pop-mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        cursor: not-allowed;
    }

    .mx-btn-tag-wrapper {
        position: absolute;
        top: -10px;
        left: 100%;
        z-index: 5;
        margin-left: -20px;
        border-radius: calc(var(--mx-tag-height, 16px) / 2);

        .mx-btn-tag {
            --mx-tag-border-radius: calc(var(--mx-tag-height, 16px) / 2);
        }
    }
}