.collapse {
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);
    overflow: hidden;

    .item {
        border-bottom: 1px solid var(--color-border);

        .title {
            position: relative;
            padding: var(--mx-grid-title-v-gap, 10px) var(--mx-grid-title-h-gap, 24px);
            background-color: var(--color-bg);
            font-size: 12px;
            line-height: 18px;
            cursor: pointer;

            .arrow {
                >* {
                    position: absolute;
                    top: var(--mx-grid-title-v-gap, 10px);
                    left: calc(var(--mx-grid-title-h-gap, 24px) - 4px);
                    width: 18px;
                    height: 18px;
                    text-align: center;
                    line-height: 18px;
                    color: #999;
                    transition: all var(--duration);
                }
            }

            .text {
                margin-left: 20px;
            }
        }

        .content {
            display: none;
            border-top: 1px solid var(--color-border);
            overflow: hidden;
            transition: height var(--duration), opacity var(--duration);

            .inner {
                padding: var(--mx-grid-body-v-gap, 16px) var(--mx-grid-body-h-gap, 24px);
            }
        }

        &:last-child {
            border-bottom: 0 none;
        }

        &.item-disabled {
            cursor: not-allowed;

            .title,
            .content {
                opacity: var(--mx-comp-disabled-opacity, .4);
                pointer-events: none;
            }
        }

        &.item-expand {
            .title {
                .arrow {
                    >* {
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }
}