@collapse-line: 18px;

[mx-view*="mx-collapse/index"] {
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);
    overflow: hidden;

    .title {
        padding: calc(var(--mx-comp-v-gap, 16px) / 2) var(--mx-comp-h-gap, 24px);
        background-color: var(--color-bg);
        font-size: 12px;
        line-height: @collapse-line;
        cursor: pointer;

        .text {
            display: inline-flex;
            align-items: center;
        }

        .arrow>* {
            position: relative;
            left: -4px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: @collapse-line;
            height: @collapse-line;
            color: #999;
            transition: all var(--duration);
        }
    }

    .content {
        position: relative;
        display: none;
        overflow: hidden;
        transition: height var(--duration), opacity var(--duration);

        .inner {
            padding: var(--mx-comp-v-gap, 16px) var(--mx-comp-h-gap, 24px);
        }

        &::after {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: var(--color-border);
        }
    }

    .item {
        border-top: 1px solid var(--color-border);

        &:first-child {
            border-top: 0 none;
        }

        &.item-disabled {
            cursor: not-allowed;

            .title,
            .content {
                opacity: var(--mx-comp-disabled-opacity, .4);
                pointer-events: none;
            }
        }

        &.item-expand {
            .title {
                .arrow>* {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &[mx-view*="mode=ghost"] {
        border: 0 none;

        .item {
            border-top: 0 none;
        }

        .title {
            background-color: transparent;
        }

        .content::after {
            content: unset;
        }
    }

    &[mx-view*="mode=light"] {
        .title {
            background-color: transparent;
        }
    }
}