<div class="example">
    <div class="eg-content">
        <div class="mb20 clearfix">
            <div class="fl lh22 color-9">该示例：</div>
            <div class="fl lh22">
                <div>不分栏table，按设置比例自适应</div>
                <div>调整一格时，只会影响当前列和其跟随列，以此保证表格抖动不明显</div>
                <div>最后一列是不可拖动的</div>
            </div>
        </div>
        <div class="mb20 clearfix">
            <div class="fl lh22 color-9">当前展示：</div>
            <div class="fl lh22">
                {{each fields as field}}
                <div>
                    <span>列{{=field.value}}：</span>
                    <span>当前宽度{{=field.width}}，</span>
                    {{if field.minWidth}}
                    <span>最小宽度{{=field.minWidth}}，</span>
                    {{else}}
                    <span>未设置最小宽度（默认80），</span>
                    {{/if}}
                    {{if field.maxWidth}}
                    <span>最大宽度{{=field.maxWidth}}</span>
                    {{else}}
                    <span>未设置最大宽度（默认800）</span>
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div>
        <mx-stickytable thead-sticky="true" mx-dragfinish="drag()" fields="{{@fields}}">
            <table>
                <thead>
                    <tr>
                        {{each fields as field}}
                        <mx-stickytable.th-drag 
                            value="{{=field.value}}"
                            width="{{=field.width}}"
                            min-width="{{=field.minWidth}}"
                            max-width="{{=field.maxWidth}}">
                            <mx-stickytable.th-text>列{{=field.value}}</mx-stickytable.th-text>
                        </mx-stickytable.th-drag>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{for(let j=0;j<line;j++)}}
                    <tr>
                        {{each fields as field}}
                        <td>{{=index}}{{=field.value}}</td>
                        {{/each}}
                    </tr>
                    <tr mx-stickytable-operation="line">
                        <td colspan="{{=fields.length}}">
                            <a href="javascript:;" class="btn btn-white btn-small mr10" mx-click="add()">加一行</a>
                            <a href="javascript:;" class="btn btn-white btn-small mr10" mx-click="remove()">减一行</a>
                            <a href="javascript:;" class="btn btn-white btn-small mr10" mx-click="changeIndex()">改值</a>
                        </td>
                    </tr>
                    {{/for}}
                </tbody>
            </table>
        </mx-stickytable>
    </div>
    <div class="clearfix">
        <div class="eg-desc half">
            <div class="eg-title">HTML Code</div>
            <mx-copy copy-node="{{=viewId}}_text_1" class="desc-oper" 
                mx-success="done({id:1})">
                <span class="desc-tip">{{!text1}}</span>
                <i class="mc-iconfont desc-icon">&#xe610;</i>
            </mx-copy>
            <pre mx-view="__test__/hl" id="{{=viewId}}_text_1">
&lt;mx-stickytable thead-sticky="true" mx-dragfinish="drag()" fields="&#123;&#123;@fields&#125;&#125;"&gt;
    &lt;table&gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &#123;&#123;each fields as field&#125;&#125;
                &lt;mx-stickytable.th-drag 
                    value="&#123;&#123;=field.value&#125;&#125;"
                    width="&#123;&#123;=field.width&#125;&#125;"
                    min-width="&#123;&#123;=field.minWidth&#125;&#125;"
                    max-width="&#123;&#123;=field.maxWidth&#125;&#125;"&gt;
                    &lt;mx-stickytable.th-text&gt;
                        列&#123;&#123;=field.value&#125;&#125;
                    &lt;/mx-stickytable.th-text&gt;
                &lt;/mx-stickytable.th-drag&gt;
                &#123;&#123;/each&#125;&#125;
            &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
            &#123;&#123;for(let j=0;j&lt;line;j++)&#125;&#125;
            &lt;tr&gt;
                &#123;&#123;each fields as field&#125;&#125;
                &lt;td&gt;&#123;&#123;=index&#125;&#125;&#123;&#123;=field.value&#125;&#125;&lt;/td&gt;
                &#123;&#123;/each&#125;&#125;
            &lt;/tr&gt;
            &lt;tr mx-stickytable-operation="line"&gt;
                &lt;td colspan="&#123;&#123;=fields.length&#125;&#125;"&gt;
                    &lt;a href="javascript:;" class="btn btn-white btn-small mr10" mx-click="add()"&gt;加一行&lt;/a&gt;
                    &lt;a href="javascript:;" class="btn btn-white btn-small mr10" mx-click="remove()"&gt;减一行&lt;/a&gt;
                    &lt;a href="javascript:;" class="btn btn-white btn-small mr10" mx-click="changeIndex()"&gt;改值&lt;/a&gt;
                &lt;/td&gt;
            &lt;/tr&gt;
            &#123;&#123;/for&#125;&#125;
        &lt;/tbody&gt;
    &lt;/table&gt;
&lt;/mx-stickytable&gt; 
            </pre>
        </div>
        <div class="eg-desc half half-right">
            <div class="eg-title">JS Code</div>
            <mx-copy copy-node="{{=viewId}}_text_2" class="desc-oper" 
                mx-success="done({id:2})">
                <span class="desc-tip">{{!text2}}</span>
                <i class="mc-iconfont desc-icon">&#xe610;</i>
            </mx-copy>
            <pre mx-view="__test__/hl" id="{{=viewId}}_text_2">
let Magix = require('magix');

module.exports = Magix.View.extend(&#123;
    tmpl: '@index.html',
    render() &#123;
        let fields = [&#123;
            value: 1,
            width: 100,
            minWidth: 80,
            maxWidth: 200
        &#125;, &#123;
            value: 2,
            width: 200,
            minWidth: 130,
            maxWidth: 300
        &#125;, &#123;
            value: 3,
            width: 100
        &#125;, &#123;
            value: 4,
            width: 160,
            minWidth: 40,
            maxWidth: 700
        &#125;];

        this.updater.digest(&#123;
            fields,
            line: 4,
            index: 1
        &#125;);
    &#125;,
    'add&lt;click&gt;'(e) &#123;
        let &#123; line &#125; = this.updater.get();
        this.updater.digest(&#123;
            line: +line + 1
        &#125;);
    &#125;,
    'remove&lt;click&gt;'(e) &#123;
        let &#123; line &#125; = this.updater.get();
        this.updater.digest(&#123;
            line: +line - 1
        &#125;);
    &#125;,
    'changeIndex&lt;click&gt;'(e) &#123;
        let &#123; index &#125; = this.updater.get();
        this.updater.digest(&#123;
            index: +index + 1
        &#125;);
    &#125;,
    'drag&lt;dragfinish&gt;'(e) &#123;
        let items = e.items;
        let &#123; fields &#125; = this.updater.get();
        fields.forEach(field =&gt; &#123;
            field.width = items[field.value] || field.width;
        &#125;)
        this.updater.digest(&#123;
            fields
        &#125;)
    &#125;
&#125;); 
            </pre>
        </div>
    </div>
</div>