<div class="example">
    <div class="eg-content">
        <div class="mb20 clearfix">
            <div class="fl lh22 color-9">该示例：</div>
            <div class="fl lh22">
                <div>点击mx-stickytable.sub时，动态增加子列</div>
            </div>
        </div>
        <mx-stickytable thead-sticky="true" left-col-sticky="2" right-col-sticky="1">
            <table>
                <thead>
                    <tr>
                        <th width="40" rowspan="2"></th>
                        <th width="260" rowspan="2">
                            <mx-stickytable.th-text>计划</mx-stickytable.th-text>
                        </th>
                        {{for(let i=0;i<num/2;i++)}}
                        <th {{if (i % 2 == 0)}} width="200" {{else}} width="320" {{/if}} colspan="2" mx-stickytable-th="group">
                            <mx-stickytable.th-text>组{{=i}}</mx-stickytable.th-text>
                        </th>
                        {{/for}}
                        <th width="100" rowspan="2">
                            <mx-stickytable.th-text>操作</mx-stickytable.th-text>
                        </th>
                    </tr>
                    <tr>
                        {{for(let i=0;i<num;i++)}}
                        <th mx-stickytable-th="sub">
                            <mx-stickytable.th-text>滚动列{{=i}}</mx-stickytable.th-text>
                        </th>
                        {{/for}}
                    </tr>
                </thead>
                <tbody>
                    {{each list as campaign}}
                        <tr>
                            <td>
                                <mx-stickytable.sub value="{{=campaign.campaignId}}" expand="{{=campaign.expand}}"
                                    mx-click="expand({campaignId: '{{=campaign.campaignId}}'})"></mx-stickytable.sub>
                            </td>
                            <td>{{=campaign.campaignName}}</td>
                            {{for(let i=0;i<num;i++)}}
                            <td>滚动列{{=index}}{{=i}}</td>
                            {{/for}}
                            <td mx-stickytable-operation="items">
                                <mx-btn brand="true" small="true" content="改值" mx-click="changeIndex()"/>
                            </td>
                        </tr>
                        {{if (campaign.expand)}}
                            <tr mx-stickytable-sub-parent="{{=campaign.campaignId}}" mx-stickytable-sub-header="true">
                                <td mx-stickytable-sub-mask="true"></td>
                                <td>单元</td>
                                {{for(let i=0;i<num;i++)}}
                                <td>滚动列{{=index}}{{=i}}</td>
                                {{/for}}
                                <td>操作</td>
                            </tr>
                            {{if campaign.adgroupList && campaign.adgroupList.length}}
                                {{each campaign.adgroupList as adgroup}}
                                <tr mx-stickytable-sub-parent="{{=campaign.campaignId}}">
                                    <td mx-stickytable-sub-mask="true"></td>
                                    <td>{{=adgroup.adgroupName}}</td>
                                    {{for(let i=0;i<num;i++)}}
                                    <td>{{=index}}{{=i}}</td>
                                    {{/for}}
                                    <td mx-stickytable-operation="items">
                                        <mx-btn brand="true" small="true" content="改值" mx-click="changeIndex()"/>
                                    </td>
                                </tr>
                                {{/each}}
                            {{else}}
                                <tr mx-stickytable-sub-parent="{{=campaign.campaignId}}">
                                    <td mx-stickytable-sub-mask="true"></td>
                                    <td>暂无单元</td>
                                    {{for(let i=0;i<num;i++)}}
                                    <td></td>
                                    {{/for}}
                                    <td mx-stickytable-operation="items"></td>
                                </tr>
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </tbody>
            </table>
        </mx-stickytable>
    </div>
    <div class="eg-desc">
        <div class="eg-title">HTML Code</div>
        <mx-copy copy-node="{{=viewId}}_text_1" class="desc-oper" 
            mx-success="done({id:1})">
            <span class="desc-tip">{{!text1}}</span>
            <i class="mc-iconfont desc-icon">&#xe610;</i>
        </mx-copy>
        <pre id="{{=viewId}}_text_1">
&lt;mx-stickytable thead-sticky="true" left-col-sticky="2" right-col-sticky="1"&gt;
    &lt;table&gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &lt;th width="40" rowspan="2"&gt;&lt;/th&gt;
                &lt;th width="260" rowspan="2"&gt;
                    &lt;mx-stickytable.th-text&gt;计划&lt;/mx-stickytable.th-text&gt;
                &lt;/th&gt;
                &#123;&#123;for(let i=0;i&lt;num/2;i++)&#125;&#125;
                &lt;th &#123;&#123;if (i % 2 == 0)&#125;&#125; width="200" &#123;&#123;else&#125;&#125; width="320" &#123;&#123;/if&#125;&#125; colspan="2" mx-stickytable-th="group"&gt;
                    &lt;mx-stickytable.th-text&gt;组&#123;&#123;=i&#125;&#125;&lt;/mx-stickytable.th-text&gt;
                &lt;/th&gt;
                &#123;&#123;/for&#125;&#125;
                &lt;th width="100" rowspan="2"&gt;
                    &lt;mx-stickytable.th-text&gt;操作&lt;/mx-stickytable.th-text&gt;
                &lt;/th&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &#123;&#123;for(let i=0;i&lt;num;i++)&#125;&#125;
                &lt;th mx-stickytable-th="sub"&gt;
                    &lt;mx-stickytable.th-text&gt;滚动列&#123;&#123;=i&#125;&#125;&lt;/mx-stickytable.th-text&gt;
                &lt;/th&gt;
                &#123;&#123;/for&#125;&#125;
            &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
            &#123;&#123;each list as campaign&#125;&#125;
                &lt;tr&gt;
                    &lt;td&gt;
                        &lt;mx-stickytable.sub value="&#123;&#123;=campaign.campaignId&#125;&#125;" expand="&#123;&#123;=campaign.expand&#125;&#125;"
                            mx-click="expand(&#123;campaignId: '&#123;&#123;=campaign.campaignId&#125;&#125;'&#125;)"&gt;&lt;/mx-stickytable.sub&gt;
                    &lt;/td&gt;
                    &lt;td&gt;&#123;&#123;=campaign.campaignName&#125;&#125;&lt;/td&gt;
                    &#123;&#123;for(let i=0;i&lt;num;i++)&#125;&#125;
                    &lt;td&gt;滚动列&#123;&#123;=index&#125;&#125;&#123;&#123;=i&#125;&#125;&lt;/td&gt;
                    &#123;&#123;/for&#125;&#125;
                    &lt;td mx-stickytable-operation="items"&gt;
                        &lt;mx-btn brand="true" small="true" content="改值" mx-click="changeIndex()"/&gt;
                    &lt;/td&gt;
                &lt;/tr&gt;
                &#123;&#123;if (campaign.expand)&#125;&#125;
                    &lt;tr mx-stickytable-sub-parent="&#123;&#123;=campaign.campaignId&#125;&#125;" mx-stickytable-sub-header="true"&gt;
                        &lt;td mx-stickytable-sub-mask="true"&gt;&lt;/td&gt;
                        &lt;td&gt;单元&lt;/td&gt;
                        &#123;&#123;for(let i=0;i&lt;num;i++)&#125;&#125;
                        &lt;td&gt;滚动列&#123;&#123;=index&#125;&#125;&#123;&#123;=i&#125;&#125;&lt;/td&gt;
                        &#123;&#123;/for&#125;&#125;
                        &lt;td&gt;操作&lt;/td&gt;
                    &lt;/tr&gt;
                    &#123;&#123;if campaign.adgroupList && campaign.adgroupList.length&#125;&#125;
                        &#123;&#123;each campaign.adgroupList as adgroup&#125;&#125;
                        &lt;tr mx-stickytable-sub-parent="&#123;&#123;=campaign.campaignId&#125;&#125;"&gt;
                            &lt;td mx-stickytable-sub-mask="true"&gt;&lt;/td&gt;
                            &lt;td&gt;&#123;&#123;=adgroup.adgroupName&#125;&#125;&lt;/td&gt;
                            &#123;&#123;for(let i=0;i&lt;num;i++)&#125;&#125;
                            &lt;td&gt;&#123;&#123;=index&#125;&#125;&#123;&#123;=i&#125;&#125;&lt;/td&gt;
                            &#123;&#123;/for&#125;&#125;
                            &lt;td mx-stickytable-operation="items"&gt;
                                &lt;mx-btn brand="true" small="true" content="改值" mx-click="changeIndex()"/&gt;
                            &lt;/td&gt;
                        &lt;/tr&gt;
                        &#123;&#123;/each&#125;&#125;
                    &#123;&#123;else&#125;&#125;
                        &lt;tr mx-stickytable-sub-parent="&#123;&#123;=campaign.campaignId&#125;&#125;"&gt;
                            &lt;td mx-stickytable-sub-mask="true"&gt;&lt;/td&gt;
                            &lt;td&gt;暂无单元&lt;/td&gt;
                            &#123;&#123;for(let i=0;i&lt;num;i++)&#125;&#125;
                            &lt;td&gt;&lt;/td&gt;
                            &#123;&#123;/for&#125;&#125;
                            &lt;td mx-stickytable-operation="items"&gt;&lt;/td&gt;
                        &lt;/tr&gt;
                    &#123;&#123;/if&#125;&#125;
                &#123;&#123;/if&#125;&#125;
            &#123;&#123;/each&#125;&#125;
        &lt;/tbody&gt;
    &lt;/table&gt;
&lt;/mx-stickytable&gt;
        </pre>
    </div>
    <div class="eg-desc">
        <div class="eg-title">JS Code</div>
        <mx-copy copy-node="{{=viewId}}_text_2" class="desc-oper" 
            mx-success="done({id:2})">
            <span class="desc-tip">{{!text2}}</span>
            <i class="mc-iconfont desc-icon">&#xe610;</i>
        </mx-copy>
        <pre id="{{=viewId}}_text_2">
let Magix = require('magix');

module.exports = Magix.View.extend(&#123;
    tmpl: '@index.html',
    render() &#123;
        let list = [];
        for (let i = 1; i &lt; 5; i++) &#123;
            list.push(&#123;
                campaignId: i,
                campaignName: `计划$&#123;i&#125;`
            &#125;);
        &#125;
        this.updater.digest(&#123;
            list,
            num: 8,
            index: 1
        &#125;);
    &#125;,
    'expand&lt;click&gt;'(e) &#123;
        let that = this;
        let &#123; list &#125; = that.updater.get();
        let &#123; campaignId &#125; = e.params;
        for (let i = 0; i &lt; list.length; i++) &#123;
            if (list[i].campaignId == campaignId) &#123;
                if (list[i].expand) &#123;
                    list[i].expand = false;
                    that.updater.digest(&#123;
                        list
                    &#125;)
                &#125; else &#123;
                    list[i].expand = true;
                    list[i].adgroupList = [];
                    if (i % 2 == 0) &#123;
                        for (let j = 1; j &lt; 3; j++) &#123;
                            list[i].adgroupList.push(&#123;
                                adgroupId: `$&#123;campaignId&#125;$&#123;j&#125;`,
                                adgroupName: `单元$&#123;campaignId&#125;$&#123;j&#125;`
                            &#125;)
                        &#125;
                    &#125;
                    that.updater.digest(&#123;
                        list
                    &#125;)
                &#125;
                break;
            &#125;
        &#125;
    &#125;,

    'changeIndex&lt;click&gt;'(e) &#123;
        let &#123; index &#125; = this.updater.get();
        this.updater.digest(&#123;
            index: index + 1
        &#125;);
    &#125;
&#125;);
        </pre>
    </div>
</div>