.empty {
    margin-left: 16px;
    padding-top: 16px;
    text-align: center;
    background-color: var(--color-brand-opacity);
    // transition: all var(--duration);
}

.rotate-icon {
    transform: rotate(180deg);
}