.switch {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--input-height);
    padding: 0 16px;
    background-color: var(--color-bg);
    border-radius: var(--border-radius);
}