<div class="header {{if dark}} dark-header {{else}} white-header {{/if}}">
    <div class="others" style="width: {{=width}}px;">
        <div class="others-inner clearfix">
            <div class="item">
                <a class="title-link" href="//www.alimama.com" target="_blank" rel="noopener noreferrer">阿里妈妈首页</a>
            </div>
            {{each list as item index}}
            <div class="item">
                <span class="title-link">{{=item.title}}</span>
                <i class="title-arrow mc-iconfont">&#xe692;</i>
                <div class="popover bottom-center mx-shadow title-subs">
                    {{each item.seconds as second}}
                    <dl>
                        {{if second.title}}
                        <dt>{{=second.title}}</dt>
                        {{/if}}
                        {{each second.thirds as third}}
                        <dd><a href="{{=third.link}}" target="_blank" rel="noopener noreferrer">{{=third.name}}</a></dd>
                        {{/each}}
                    </dl>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="front {{if fixed}} fixed {{/if}}" {{if fixed}} style="{{=styles}}" {{/if}}>
        <div class="front-inner clearfix" style="width: {{=width}}px;">
            <div class="front-item logo">
                <img src="{{=logo}}"/>
            </div>
            {{if (navs.length > 0)}}
                {{each navs as nav}}
                <div class="front-item nav {{if (parent == nav.value)}} cur {{/if}}">
                    <a class="nav-inner" href="javascript:;" {{if !nav.subs || !nav.subs.length}} mx-click="to({nav:'{{@nav}}'})" {{/if}}>{{=nav.text}}</a>
                    {{if nav.subs && nav.subs.length}}
                    <i class="nav-arrow mc-iconfont">&#xe692;</i>
                    <div class="popover bottom-center mx-shadow nav-subs">
                        <div class="popover-content">
                            {{each nav.subs as sub}}
                            <div><a class="{{if (child == sub.value)}} color-brand {{/if}}" href="javascript:;" mx-click="to({nav:'{{@nav}}',sub:'{{@sub}}'})">{{=sub.text}}</a></div>
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}
                </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>