.subs {
    text-align: center;
}
.sub{
    display: block;
    padding: 8px 0;
    color: #999;

    &:hover{
        color: #333;
    }
    &.sub-cur{
        color: #333;
        background-color: var(--color-brand-opacity);
        color: var(--color-brand);
    }
}

