<div class="hours">
    <% for ( var ii = 0; ii < 24; ii++ ) { %>
    <div class="hour<%if(ii%6===0){%> milestone<%}%>" mx-mousedown="@{start}()" mx-mouseover="@{over}()">
        <div class="line"></div>
        <div class="duration"></div>
        <div class="start">
            <div class="arrow"></div>
            <span><%= ii %>:00</span>
        </div>
        <div class="end">
            <div class="arrow"></div>
            <span><%= ii+1 %>:00</span>
        </div>
    </div>
    <% } %>
    <div class="hour milestone">
        <div class="line"></div>
    </div>
</div>