<div class="header {{if sortable}}sortable{{/if}}">
    <div class="left">
        <span class="fontsize-16">选择数据字段</span>
        {{if (limit > 0)}}
        <span class="color-9 font-tahoma bold ml10">{{=selected.length}} / {{=limit}}</span>
        {{/if}}
        {{if !sortable}}
        <a href="javascript:;" class="link-brand fr" mx-click="clear()">
            <i class="iconfont displacement-2">&#xe72e;</i>清空
        </a>
        {{/if}}
    </div>
    {{if sortable}}
    <div class="right">
        <span class="fontsize-16">自定义字段</span>
    </div>
    {{/if}}
</div>
<div class="setting {{if sortable}}sortable{{/if}}">
    <div class="left">
        {{each groups as group}}
        <div class="line clearfix">
            {{each group as field}}
            <div class="item">
                <label {{if ((limit > 0) && (selected.length >= limit) && !field.checked)}} class="cursor-not-allow" {{/if}}>
                    <input type="checkbox" name="field" value="{{=field.key}}" class="checkbox" 
                        {{if field.checked}} checked="true" {{/if}} 
                        {{if ((limit > 0) && (selected.length >= limit) && !field.checked)}} disabled="true" {{/if}} 
                        mx-change="toggle({key:'{{=field.key}}',label:'{{=field.label}}'})"/>{{=field.label}}
                </label>
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
    {{if sortable}}
    <div class="right">
        <div class="drag-oper">
            <span class="color-9 mr10">可拖动排序</span>
            <a href="javascript:;" class="link-brand" mx-click="clear()"><i class="iconfont displacement-2">&#xe72e;</i>清空</a>
        </div>
        <div class="drag-wrapper" mx-view="@../../../gallery/mx-dragsort/index" mx-dragfinish="drag()">
            {{each selected as s}}
            <div class="drag" data-key="{{=s.key}}" data-label="{{=s.label}}">{{=s.label}}</div>
            {{/each}}
        </div>
    </div>
    {{/if}}
</div>
<div class="footer">
    <a href="javascript:;" class="min-width-60 btn btn-brand mr10" mx-click="submit()">确定</a>
    <a href="javascript:;" class="min-width-60 btn mr10" mx-click="cancel()">取消</a>
    {{if error}}
    <span class="color-error"><i class="iconfont displacement-2 mr5">&#xe6ad;</i> 请至少选择一个指标</span>
    {{/if}}
</div>
