<mx-grid.body class="grid wrapper">
    <div class="left">
        {{each groups as group groupIndex}}
            {{if group.text}}
            <div class="group-title clearfix">
                <mx-checkbox class="item {{if (group.checked || group.indeterminate)}} checked {{/if}} {{if ((max > 0) && (selectedItems.length >= max) && !group.checked)}} disabled {{/if}}"
                    name="{{=viewId}}_field_group_{{=groupIndex}}" 
                    value="{{=viewId}}_{{=groupIndex}}"
                    text="{{=group.text}}"
                    tip="{{=group.tip}}"
                    tag-content="{{=group.tag}}"
                    disabled="{{=group.disabled}}"
                    indeterminate="{{=group.indeterminate}}"
                    checked="{{=group.checked}}"
                    disabled="{{=((max > 0) && (selectedItems.length >= max) && !group.checked)}}"
                    mx-change="toggleParent({groupIndex:{{=groupIndex}}})" />
            </div>
            {{/if}}
            <div class="{{if hasParent}} group-content {{else}} content {{/if}} clearfix">
                {{each group.fields as field}}
                <div class="item {{if field.checked}} checked {{/if}} {{if ((max > 0) && (selectedItems.length >= max) && !field.checked)}} disabled {{/if}}" 
                    style="width: {{=width}};">
                    <mx-checkbox 
                        name="{{=viewId}}_field_{{=groupIndex}}" 
                        disabled="{{=field.disabled}}"
                        value="{{=field.value}}" 
                        text="{{=field.text}}"
                        tip="{{=field.tip}}"
                        tag-content="{{=field.tag}}"
                        checked="{{=field.checked}}"
                        disabled="{{=((max > 0) && (selectedItems.length >= max) && !field.checked)}}"
                        mx-change="toggle({value:'{{=field.value}}',text:'{{=field.text}}'})"/>
                </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
    <div class="right">
        <div class="line clearfix">
            <span>已选（{{if (max > 0)}}{{=selectedItems.length}} / {{=max}}{{else}}{{=selectedItems.length}}项{{/if}}）</span>
            <a href="javascript:;" class="color-brand fr ml10" mx-click="clear()">清空</a>
            <a href="javascript:;" class="color-brand fr ml10" mx-click="reset()">恢复默认</a>
        </div>

        {{if sortable}}
        <div class="line color-9">拖动以下字段进行排序 (从左至右）</div>
        <div class="drags" mx-view="@../mx-dragsort/index" mx-dragfinish="drag()">
            {{each selectedItems as s}}
            <div class="drag" data-value="{{=s.value}}" data-text="{{=s.text}}">{{=s.text}}</div>
            {{/each}}
        </div>
        {{else}}
        <div class="drags">
            {{each selectedItems as s}}
            <div class="drag-text" data-value="{{=s.value}}" data-text="{{=s.text}}">{{=s.text}}</div>
            {{/each}}
        </div>
        {{/if}}
    </div>
</mx-grid.body>
