<mx-grid.body class="grid wrapper">
    <div class="left">
        <div class="search">
            <mx-input class="w200"
                value="{{=searchName}}"
                prefix="search"
                placeholder="搜索数据字段"
                mx-keydown="search()"
                mx-change="stop()"
                mx-focusin="stop()"
                mx-focusout="stop()"/>
        </div>
        <div class="groups">
        {{each groups as group groupIndex}}
            {{if !group.hide}}
                {{if group.text}}
                <div class="group-title clearfix">
                    <mx-checkbox class="item {{if (group.checked || group.indeterminate)}} checked {{/if}} {{if ((max > 0) && (selectedCount >= max) && !group.checked)}} disabled {{/if}}"
                        name="{{=viewId}}_item_group_{{=groupIndex}}" 
                        value="{{=viewId}}_{{=groupIndex}}"
                        text="{{=group.text}}"
                        tip="{{=group.tip}}"
                        tag-content="{{=group.tag}}"
                        disabled="{{=group.disabled}}"
                        indeterminate="{{=group.indeterminate}}"
                        checked="{{=group.checked}}"
                        disabled="{{=((max > 0) && (selectedCount >= max) && !group.checked)}}"
                        mx-change="toggleParent({groupIndex:{{=groupIndex}}})" />
                </div>
                {{/if}}
                <div class="{{if hasParent}} group-content {{else}} content {{/if}} clearfix">
                    {{each group.list as item}}
                    <div class="item {{if item.highlight}} highlight {{/if}} {{if item.checked}} checked {{/if}} {{if ((max > 0) && (selectedCount >= max) && !item.checked)}} disabled {{/if}}" 
                        style="width: {{=width}};">
                        <mx-checkbox 
                            name="{{=viewId}}_item_{{=groupIndex}}" 
                            disabled="{{=item.disabled}}"
                            value="{{=item.value}}" 
                            text="{{=item.text}}"
                            tip="{{=item.tip}}"
                            tag-content="{{=item.tag}}"
                            checked="{{=item.checked}}"
                            disabled="{{=((max > 0) && (selectedCount >= max) && !item.checked)}}"
                            mx-change="toggle({value:'{{=item.value}}',text:'{{=item.text}}'})"/>
                    </div>
                    {{/each}}
                </div>
            {{/if}}
        {{/each}}
        </div>
    </div>
    <div class="right">
        <div class="line clearfix">
            <span>已选（{{if (max > 0)}}{{=selectedCount}} / {{=max}}{{else}}{{=selectedCount}}项{{/if}}）</span>
            <a href="javascript:;" class="color-brand fr ml10" mx-click="reset(true)">清空</a>
            <a href="javascript:;" class="color-brand fr ml10" mx-click="reset()">恢复默认</a>
        </div>

        {{if sortable}}
        <div class="line color-9">拖动以下字段进行排序</div>
        <div class="drags" mx-view="@../mx-dragsort/index" mx-dragfinish="drag()">
            {{each selectedGroups as g gIndex}}
                {{if (sortableGroup && g.text)}}
                <div>{{=g.text}}</div>
                {{/if}}
                {{each g.list as f}}
                <div class="drag" 
                    data-parent-index="{{=gIndex}}"
                    data-parent-text="{{=(g.text || '')}}"
                    data-value="{{=f.value}}" 
                    data-text="{{=f.text}}">{{=f.text}}</div>
                {{/each}}
            {{/each}}
        </div>
        {{/if}}
    </div>
</mx-grid.body>
