{{if (data.mode == 'all')}}
    <!-- 自定义 & 默认 -->
    <mx-btn class="setting-show-btn" icon="<i class='mc-iconfont'>&#xe731;</i>" mx-click="show()"/>
    <a href="javascript:;" class="mx-trigger setting-switch-btn" mx-click="toggleDefault()">
        {{=data.map[data.type]['label']}}<i class="mc-iconfont mx-trigger-arrow">&#xe6c1;</i>
    </a>
{{else}}
    <!-- 纯自定义 -->
    {{if (data.display == 'text')}}
        <!-- 文字链类型 -->
        <a class="setting-show-text" mx-click="show()" href="javascript:;" >
            <i class="mc-iconfont text-icon">&#xe68b;</i>{{=data.displayText}}
        </a>
    {{else if (data.display == 'flat')}}
        <!-- 平铺展示 -->
        <div class="clearfix mb5">
            <span class="setting-flat-text">{{=data.displayText}}</span>
            <mx-btn class="setting-show-btn fr" icon="<i class='mc-iconfont'>&#xe731;</i>" mx-click="show()"/>
        </div>
        <div {{if (data.sortable && !disabled)}} mx-view="@../mx-dragsort/index" mx-dragfinish="drag()" {{/if}}>
            {{each data.map[data.type].list as s}}
            <div class="drag" data-value="{{=s}}">{{=fieldsMap[s].text}}</div>
            {{/each}}
        </div>
    {{else}}
        <!-- icon类型 -->
        <mx-btn class="setting-show-btn" icon="<i class='mc-iconfont'>&#xe731;</i>" mx-click="show()"/>
    {{/if}}
{{/if}}
