[mx-view*="mx-indics/index"],
[mx-view*="mx-indics/icon"] {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    .setting-switch-btn {
        display: inline-block;
        width: auto;
        margin-left: 8px;
        vertical-align: middle;
        color: #333;
        font-size: var(--font-size);

        &:hover {
            color: #333;
        }
    }

    .setting-flat-text {
        float: left;
        height: var(--input-height);
        line-height: var(--input-height);
        font-size: var(--mx-grid-title-font-size, 16px);
        font-weight: var(--mx-grid-title-font-weight, normal);
    }

    .setting-flat-link,
    .setting-flat-link:link,
    .setting-flat-link:visited {
        float: right;
        height: var(--input-height);
        line-height: var(--input-height);
        color: var(--color-brand);
    }

    .setting-show-text,
    .setting-show-text:link,
    .setting-show-text:visited {
        display: inline-flex;
        height: var(--input-height);
        align-items: center;
        justify-content: center;
        font-size: var(--font-size);
        vertical-align: middle;
        cursor: pointer;
        color: #666;
        transition: all var(--duration);

        .text-icon {
            margin-right: 4px;
            font-size: 18px;
        }

        &:hover {
            color: #333;
        }
    }

    &[mx-view*="display=flat"] {
        display: block;
    }

    &[mx-view*="disabled=true"],
    &[mx-disabled] {
        cursor: not-allowed;

        .setting-show-btn,
        .setting-switch-btn,
        .setting-flat-text,
        .setting-flat-link,
        .setting-show-text,
        .drag {
            opacity: var(--mx-comp-disabled-opacity, .4);
            pointer-events: none;
            user-select: none;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;

    .search {
        padding: 12px 16px;
    }

    .groups {
        flex: 1;
        overflow-y: auto;
    }

    .item {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        transition: all var(--duration);
    }

    .group-title {
        display: flex;
        align-items: center;
        height: 42px;
        padding: 0 16px;
        background-color: var(--color-bg);
    }

    .group-content {
        padding-top: 8px;
    }

    .group-content,
    .content {
        .item {
            float: left;
            width: calc((100% - 8px * 5) / 4);
            height: var(--input-height);
            line-height: var(--input-height);
            margin-bottom: 8px;
            margin-left: 8px;
            padding-left: 8px;
            padding-right: 8px;
            border-radius: var(--border-radius);
            transition: background-color var(--duration);

            &.highlight {
                background-color: var(--color-brand-opacity);
            }
        }
    }
}

.right {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-left: 32px;

    .right-img {
        position: absolute;
        left: -22px;
        top: 50%;
        width: 12px;
        height: auto;
        transform: translateY(-50%);
    }
}

.drags {
    flex: 1;
    padding: 0 16px 16px 16px;
    overflow-y: auto;
}

.drag,
.drag-text {
    display: flex;
    align-items: center;
    height: var(--input-height);
    margin-top: 8px;
    padding: 0 8px;
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border);
    border-radius: var(--border-radius);
    transition: border-color var(--duration);

    &:last-child {
        margin-bottom: 0;
    }
}

.drag {
    padding: 0 8px 0 24px;
    background-image: url(https://img.alicdn.com/imgextra/i2/O1CN014tRSQt1aFuDtAzGmX_!!6000000003301-2-tps-16-20.png);
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: auto 10px;
}

[mx-view*="mx-dragsort/index"] {
    .drag {
        cursor: move;
    }
}