:root {
    --mx-indics-setting-right-width: 238px;
    --mx-indics-setting-header-height: 60px;
    --mx-indics-setting-content-name-width: 106px;
    --mx-indics-drag-height: 32px;
    --mx-indics-drag-gap: 8px;
}

[mx-view*="mx-indics/index"] {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    .setting-switch-btn {
        display: inline-block;
        width: auto;
        margin-left: 8px;
        vertical-align: middle;
        color: #333;
        font-size: var(--font-size);

        &:hover {
            color: #333;
        }
    }

    .setting-flat-text {
        float: left;
        height: var(--input-height);
        line-height: var(--input-height);
        font-size: var(--mx-grid-title-font-size);
        font-weight: var(--mx-grid-title-font-weight, normal);
    }

    .setting-flat-link,
    .setting-flat-link:link,
    .setting-flat-link:visited {
        float: right;
        height: var(--input-height);
        line-height: var(--input-height);
        color: var(--color-brand);
    }

    .setting-show-text,
    .setting-show-text:link,
    .setting-show-text:visited {
        display: inline-flex;
        height: var(--input-height);
        align-items: center;
        justify-content: center;
        font-size: var(--font-size);
        vertical-align: middle;
        cursor: pointer;
        color: #666;
        transition: all var(--duration);

        .text-icon {
            margin-right: 4px;
            font-size: 18px;
        }

        &:hover {
            color: #333;
        }
    }

    &[mx-view*="display=flat"] {
        display: block;
    }

    &[mx-view*="disabled=true"],
    &[mx-disabled] {
        cursor: not-allowed;

        .setting-show-btn,
        .setting-switch-btn,
        .setting-flat-text,
        .setting-flat-link,
        .setting-show-text,
        .drag {
            opacity: var(--mx-comp-disabled-opacity, .4);
            pointer-events: none;
            user-select: none;
        }
    }
}

.drag-oper {
    display: inline-flex;
    align-items: center;
    margin-right: 16px;
    color: var(--color-brand);

    &:last-child {
        margin-right: 0;
    }

    &,
    &:visited,
    &:focus,
    &:active {
        color: var(--color-brand);
    }

    &:hover {
        color: var(--color-brand-hover);
    }
}

.drag {
    display: flex;
    align-items: center;
    height: var(--mx-indics-drag-height);
    margin-bottom: var(--mx-indics-drag-gap);
    padding: 0 8px;
    background: #fff;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    background-image: url(https://img.alicdn.com/imgextra/i3/O1CN01hRirNZ1HhPGqBhFRX_!!6000000000789-2-tps-200-200.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 4px) center;
    background-size: auto 50%;

    &:last-child {
        margin-bottom: 0;
    }
}

[mx-view*="mx-dragsort/index"] {
    .drag {
        cursor: move;
    }
}

.setting {
    position: relative;
    height: 100%;

    .header {
        position: relative;
        width: 100%;
        height: var(--mx-indics-setting-header-height);
        padding: 0 var(--mx-comp-h-gap, 24px);
        background-color: #fff;
        line-height: calc(var(--mx-indics-setting-header-height) - 2px);
        border-bottom: 1px solid var(--color-border);
        white-space: nowrap;
        word-wrap: normal;
        overflow: hidden;
        text-overflow: ellipsis;

        .header-opers {
            position: absolute;
            top: 0;
            right: 40px;
            padding: 0 var(--mx-comp-h-gap, 24px);
            background-color: #fff;
        }
    }

    .content {
        position: absolute;
        top: var(--mx-indics-setting-header-height);
        left: 0;
        bottom: 0;
        right: 0;
        font-size: var(--font-size);
        overflow-y: auto;

        .line {
            position: relative;
            padding: var(--mx-comp-v-gap, 16px) var(--mx-comp-h-gap, 24px);

            &:nth-of-type(even) {
                background-color: var(--color-bg);
            }
        }

        .name {
            position: absolute;
            top: var(--mx-comp-v-gap, 16px);
            left: var(--mx-comp-h-gap, 24px);
            width: calc(var(--mx-indics-setting-content-name-width) + var(--mx-comp-h-gap, 24px));
            padding: 8px 0;
            color: #999;
        }

        .item {
            float: left;
            padding: 8px 0;
            white-space: nowrap;
        }
    }

    &.parent {
        .line {
            padding-left: calc(var(--mx-comp-h-gap, 24px) * 2 + var(--mx-indics-setting-content-name-width));
        }
    }

    &.sortable {
        padding-right: var(--mx-indics-setting-right-width);

        .content {
            right: var(--mx-indics-setting-right-width);
        }

        .drag-header {
            position: absolute;
            top: 0;
            right: 0;
            width: var(--mx-indics-setting-right-width);
            height: calc(var(--mx-indics-setting-header-height) + var(--mx-indics-drag-height) + var(--mx-indics-drag-gap));

            .drag-title {
                height: var(--mx-indics-setting-header-height);
                line-height: var(--mx-indics-setting-header-height);
                padding-left: var(--mx-comp-h-gap, 24px);
                border-bottom: 1px solid var(--color-border);
            }

            .drag-opers {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                height: calc(var(--mx-indics-drag-height) + var(--mx-indics-drag-gap));
                padding: 0 var(--mx-comp-h-gap, 24px);
                background-color: var(--color-bg);
                border-left: 1px solid var(--color-border);
            }
        }

        .drag-wrapper {
            position: absolute;
            top: calc(var(--mx-indics-setting-header-height) + var(--mx-indics-drag-height) + var(--mx-indics-drag-gap));
            right: 0;
            bottom: 0;
            width: var(--mx-indics-setting-right-width);
            padding: 0 var(--mx-comp-h-gap, 24px) var(--mx-comp-v-gap, 16px) var(--mx-comp-h-gap, 24px);
            overflow-y: auto;
            background-color: var(--color-bg);
            border-left: 1px solid var(--color-border);
        }
    }

    &.mode-text {
        .content {
            padding-bottom: var(--mx-comp-v-gap, 16px);

            .line {
                padding: 0;

                &:nth-of-type(even) {
                    background-color: transparent;
                }
            }

            .name,
            .item {
                position: relative;
                top: unset;
                left: unset;
                width: calc((100% - var(--mx-comp-h-gap, 24px) * 5) / 4);
                margin-left: var(--mx-comp-h-gap, 24px);
                margin-top: var(--mx-comp-v-gap, 16px);
                height: 42px;
                line-height: 42px;
                white-space: nowrap;
                background-color: var(--color-bg);
                border-radius: var(--border-radius);
                transition: all var(--duration);
                padding: 0 8px;
                color: #666;
                overflow: hidden;
                cursor: pointer;
                transition: all var(--duration);

                &.checked,
                &:hover {
                    background-color: var(--color-brand-opacity);
                }

                &.disabled {
                    opacity: var(--mx-comp-disabled-opacity, .4);
                    cursor: not-allowed;
                    background-color: var(--color-bg);
                }
            }

            .name {
                display: block;
            }

            .item {
                float: left;
            }
        }

        &.parent {
            .line {
                padding-left: 0;
                padding-bottom: var(--mx-comp-v-gap, 16px);
            }
        }
    }
}