@import "../mx-style/_vars";
.day{
    padding: 0;
    height: @input-height * 1.2;
    overflow: hidden;
    cursor: default;
    border: none;
    border-right: solid 1px @color-border;
}
.no-right{
    border-right: none;
}
.active{
    background-color: @color-brand-light;
}
.opacity-hide{
    opacity: 0;
}
.notallowed{
    cursor: not-allowed;
    background-color: @color-disabled;
}