.area-wrapper1, .area-wrapper2 {
    padding: 20px 20px 0;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
}

.area-wrapper1 {
    width: 740px;
}

.area-wrapper2 {
    width: 600px;
}


.area-wrapper3{
    width: 740px;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    padding: 20px 0;
}
