@import "../mx-style/_vars";

.text{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    transform: scale(.9);
}

@icon-height: 16px;
.solid-icon,
.hollow-icon{
    display: inline-block;
    height: @icon-height;
    padding: 0 4px;
    border-radius: @icon-height / 2;
    text-align: center;
    line-height: @icon-height - 2;
    font-size: 0;
}

.hollow-icon{
    &.common{
        border: 1px solid #ccc;
        color: #999;
    }
    &.error{
        border: 1px solid var(--color-red);
        color: var(--color-red);
    }
    &.warn{
        border: 1px solid var(--color-warn);
        color: var(--color-warn);
    }
    &.highlight{
        border: 1px solid var(--color-brand);
        color: var(--color-brand);
    }
}

.solid-icon{
    &.common{
        border: 1px solid #ccc;
        background-color: #ccc;
        color: #fff;
    }
    &.error{
        border: 1px solid var(--color-red);
        background-color: var(--color-red);
        color: #fff;
    }
    &.warn{
        border: 1px solid var(--color-warn);
        background-color: var(--color-warn);
        color: #fff;
    }
    &.highlight{
        border: 1px solid var(--color-brand);
        background-color: var(--color-brand);
        color: #fff;
    }
}