<div class="star-bg">
    {{for(let i=0;i<5;i+=1)}}
    <span class="star">
        {{if icon}}
            {{!icon}}
        {{else}}
            <i class="mc-iconfont">&#xe60f;</i>
        {{/if}}
    </span>
    {{/for}}
</div>
<div class="star-on" style="width: {{=width}};">
    <div class="star-inner {{if !color}} star-brand {{/if}}">
        {{for(let i=0;i<5;i+=1)}}
        <span class="star" {{if color}} style="color: {{=color}};" {{/if}}>
            {{if icon}}
                {{!icon}}
            {{else}}
                <i class="mc-iconfont">&#xe60f;</i>
            {{/if}}
        </span>
        {{/for}}
    </div>
</div>
    