@star-size: 24px;
[mx-view*="mx-effects/star"]{
    position: relative;
    display: inline-block;

    .star > *{
        float: left;
        display: inline-block;
        width: @star-size;
        height: @star-size;
        line-height: @star-size;
        text-align: center;
        font-size: 20px;
        color: inherit;
    }   
    .star-bg{
        color: var(--color-border);
    }

    .star-on{
        position: absolute;
        top: 0;
        left: 0;
        height: @star-size;
        overflow: hidden;
        .star-inner{
            width: @star-size * 5;
            height: @star-size;
        }
    }
}
