<div class="clearfix pager">
    {{if (!simplify&&!mini)}}
    <div class="infos">
        <span>{{!tipOffset}}</span>
        <span>{{!tipTotal}}，</span>
        <span>{{!tipPer}}</span>

        {{if sizesChange}}
            <mx-dropdown.bd class="ml10 mr10 pager-dropdown"
                small="true"
                placement="{{=sizesPlacement}}"
                list="{{@sizes}}"
                selected="{{=size}}"
                mx-change="@{changeSize}()"
                {{if spm}} data-spm-click="{{=spm}}dpd" {{/if}} />
        {{else}}
            {{=size}}
        {{/if}}
        <span>{{!tipUnit}}</span>
    </div>
    {{/if}}

    {{if !jump}}
    <!-- 快捷翻页     -->
    <div class="quick">
        <span class="mr5">{{=tipJumpTo}}</span>
        <mx-input class="mr5" id="{{=viewId}}_jump_input"
            small="true"
            width="40"
            value="{{=next}}"
            text-align="center"
            mx-change="@{stop}()"
            mx-focusin="@{stop}()"
            mx-focusout="@{stop}()"
            {{if spm}} data-spm-click="{{=spm}}ji" {{/if}} />
        
        <span class="mr10">{{=tipJumpUnit}}</span>
        <mx-btn small="true" mx-click="@{jump}()" {{if spm}} data-spm-click="{{=spm}}jt" {{/if}} content="跳转"/>
    </div>
    {{/if}}

    <ul class="clearfix num-items {{if !hideTotal}} fr {{/if}}">
        <!-- 上翻页 -->
        <li class="num-item">
            <a class="mc-iconfont num-item-icon {{if (page==1)}} notallowed {{/if}}" href="#" mx-click="{{if (page>1)}}@{toPage}({page:'{{=(page-1)}}'}){{else}}@{prevent}(){{/if}}" {{if spm}} data-spm-click="{{=spm}}prev" {{/if}}>&#xe61e;
            </a>
        </li>
        <!-- 上翻页 -->

        {{if mini}}
            <li class="num-item">{{=page}} / {{=pages}}</li>
        {{else}}
            {{if (start>1)}}
            <li class="num-item">
                <a class="num-item-inner" href="#" mx-click="@{toPage}({page:1})" {{if spm}} data-spm-click="{{=spm}}n1" {{/if}}>1</a>
            </li>
            {{/if}}
            {{if (start>2)}}
            <li class="num-item">
                <a class="num-item-inner notallowed" href="#" mx-click="@{prevent}()">...</a>
            </li>
            {{/if}}
            {{for(let i=start;i<=end;i++)}}
            <li class="num-item">
                <a class="num-item-inner {{if (i==page)}} active {{/if}}" href="#" mx-click="@{toPage}({page:'{{=i}}'})" {{if spm}} data-spm-click="{{=spm}}n{{=i}}" {{/if}}>{{=i}}</a>
            </li>
            {{/for}}
            {{if (end+2<=pages)}}
            <li class="num-item">
                <a class="num-item-inner notallowed" href="#" mx-click="@{prevent}()">...</a>
            </li>
            {{/if}}
            {{if (end<pages)}}
            <li class="num-item">
                <a class="num-item-inner" href="#" mx-click="@{toPage}({page:'{{=pages}}'})" {{if spm}} data-spm-click="{{=spm}}ne" {{/if}}>{{=pages}}</a>
            </li>
            {{/if}}
        {{/if}}

        <!-- 下翻页 -->
        <li class="num-item">
            <a class="mc-iconfont num-item-icon rotate180 {{if (page==pages)}} notallowed {{/if}}" href="#" mx-click="{{if (page<pages)}}@{toPage}({page:'{{=(page+1)}}'}){{else}}@{prevent}(){{/if}}" {{if spm}} data-spm-click="{{=spm}}next" {{/if}}>&#xe61e;</a>
        </li>
        <!-- 下翻页 -->

        {{if !hideTotal}}
        <li class="num-item ml10">{{!tipTotal}}</li>
        {{/if}}
    </ul>
</div>
