/* 防止display: inline-block; 间距 */
[mx-view*="mx-pagination/index"] {
    line-height: 0;
    font-size: 0;

    &[mx-view*="small=true"] {
        .circle-pager {
            --input-height: var(--input-small-height);
        }
    }
}

.jump-input {
    width: 40px;
    text-align: center;
}

.circle-pager {
    line-height: 0;

    .btn-icon {
        font-size: 14px;
        transform: scale(.8);
        transform-origin: 0 center;
        font-weight: bold;

        &.next {
            transform-origin: 100% center;
        }
    }

    .num-text,
    .num-item,
    .num-order-icon {
        display: inline-flex;
        height: var(--input-height);
        align-items: center;
        justify-content: center;
        font-size: var(--font-size);
        font-weight: normal;
        white-space: nowrap;
        color: var(--mx-pagination-color, #666);

        &.num-ellipsis {
            opacity: var(--mx-comp-disabled-opacity, .4);
            cursor: not-allowed;
            font-weight: bold;
        }
    }

    .num-order-icon {
        font-weight: bold;
        font-size: var(--font-size);
        transition: border-color var(--duration), background-color var(--duration), color var(--duration);
        color: var(--mx-pagination-color, #666);
        cursor: pointer;

        &:hover {
            color: var(--mx-pagination-color-hover, #333);
        }

        &.num-ellipsis {
            &:hover {
                color: var(--mx-pagination-color, #666);
            }
        }
    }

    .num-item {
        min-width: var(--input-height);
        padding-left: 8px;
        padding-right: 8px;
        font-size: var(--font-size);
        border-radius: 500px;
        border-width: 1px;
        border-style: solid;
        transition: border-color var(--duration), background-color var(--duration), color var(--duration);
        border-color: var(--mx-pagination-border, transparent);
        background-color: var(--mx-pagination-bg, transparent);
        color: var(--mx-pagination-color, #666);
        cursor: pointer;

        &:hover {
            border-color: var(--mx-pagination-border-hover, transparent);
            background-color: var(--mx-pagination-bg-hover, transparent);
            color: var(--mx-pagination-color-hover, #333);
        }

        &.active {
            border-color: var(--mx-pagination-border-active, transparent);
            background-color: var(--mx-pagination-bg-active, transparent);
            color: var(--mx-pagination-color-active, #333);
        }
    }

    .pager-dropdown {
        min-width: 60px;
    }

    .pager-btn,
    .pager-dropdown,
    .num-text,
    .num-item,
    .num-order-icon {
        float: left;
        margin-left: 8px;

        &:first-child {
            margin-left: 0;
        }
    }

    .iconfont-size,
    .num-order-icon {
        width: 16px;
        text-align: center;
    }
}