<div class="clearfix circle-pager" style="{{=styles}}">
    {{if (!alignRight && !hideDetailTotal)}}
    <span class="num-text">共&nbsp;{{=total}}&nbsp;项数据</span>
    {{/if}}

    {{if !alignRight}}
    <div class="fr">
    {{/if}}
        <!-- 完整汇总信息 -->
        {{if (!hideDetailTotal)}}
        <span class="num-text mr8">
            {{if sizesChange}}
                <mx-dropdown.bd class="pager-dropdown"
                    mode="{{=mode}}"
                    placement="{{=sizesPlacement}}"
                    list="{{@sizeStrs}}"
                    selected="{{=size}}"
                    mx-change="@{change.size}()"
                    {{if spm}} data-spm-click="{{=spm}}dpd" {{/if}} />
            {{else}}
                &nbsp;{{=size}}条/页&nbsp;
            {{/if}}
        </span>
        {{/if}}
    
        {{if inOrder}}
            <!-- 上翻页 -->
            <a class="mc-iconfont num-order-icon {{if (page==1)}} num-ellipsis {{/if}}" href="#" mx-click="{{if (page>1)}}@{to.page}({page:'{{=(page-1)}}'}){{else}}@{prevent}(){{/if}}" {{if spm}} data-spm-click="{{=spm}}prev" {{/if}}>&#xe614;</a>

            <span class="num-text"><span class="bold">{{=page}}</span>&nbsp;/&nbsp;<span style="opacity: .8;">{{=pages}}</span></span>

            <!-- 下翻页 -->
            <a class="mc-iconfont num-order-icon {{if (page==pages)}} num-ellipsis {{/if}}" href="#" mx-click="{{if (page<pages)}}@{to.page}({page:'{{=(page+1)}}'}){{else}}@{prevent}(){{/if}}" {{if spm}} data-spm-click="{{=spm}}next" {{/if}}>&#xe602;</a>

            {{if (!hideTotal)}}
            <span class="num-text">共&nbsp;{{=total}}&nbsp;项数据</span>
            {{/if}}
        {{else}}
            <!-- 上翻页 -->
            {{if alignRight}}
            <mx-btn class="pager-btn" mode="{{=(mode || 'secondary')}}" disabled="{{=(page==1)}}" mx-click="@{to.page}({page:'{{=(page-1)}}'})" {{if spm}} data-spm-click="{{=spm}}prev" {{/if}}><i class="mc-iconfont btn-icon">&#xe614;</i>&nbsp;上一页</mx-btn>
            {{else}}
            <a class="mc-iconfont num-order-icon {{if (page==1)}} num-ellipsis {{/if}}" href="#" mx-click="{{if (page>1)}}@{to.page}({page:'{{=(page-1)}}'}){{else}}@{prevent}(){{/if}}" {{if spm}} data-spm-click="{{=spm}}prev" {{/if}}>&#xe614;</a>
            {{/if}}

            {{if (start>1)}}
            <a class="num-item" href="#" mx-click="@{to.page}({page:1})" {{if spm}} data-spm-click="{{=spm}}n1" {{/if}}>1</a>
            {{/if}}
            {{if (start>2)}}
            <i class="num-text num-ellipsis mx-iconfont iconfont-size">&#xe611;</i>
            {{/if}}
            {{for(let i=start;i<=end;i++)}}
            <a class="num-item {{if (i==page)}} active {{/if}}" href="#" mx-click="@{to.page}({page:'{{=i}}'})" {{if spm}} data-spm-click="{{=spm}}n{{=i}}" {{/if}}>{{=i}}</a>
            {{/for}}
            {{if (end+2<=pages)}}
            <i class="num-text num-ellipsis mx-iconfont iconfont-size">&#xe611;</i>
            {{/if}}
            {{if (end<pages)}}
            <a class="num-item" href="#" mx-click="@{to.page}({page:'{{=pages}}'})" {{if spm}} data-spm-click="{{=spm}}ne" {{/if}}>{{=pages}}</a>
            {{/if}}

            <!-- 下翻页 -->
            {{if alignRight}}
            <mx-btn class="pager-btn" mode="{{=(mode || 'secondary')}}" disabled="{{=(page==pages)}}" mx-click="@{to.page}({page:'{{=(page+1)}}'})" {{if spm}} data-spm-click="{{=spm}}next" {{/if}}>下一页&nbsp;<i class="mc-iconfont btn-icon next">&#xe602;</i></mx-btn>
            {{else}}
            <a class="mc-iconfont num-order-icon {{if (page==pages)}} num-ellipsis {{/if}}" href="#" mx-click="{{if (page<pages)}}@{to.page}({page:'{{=(page+1)}}'}){{else}}@{prevent}(){{/if}}" {{if spm}} data-spm-click="{{=spm}}next" {{/if}}>&#xe602;</a>
            {{/if}}
        {{/if}}
    
        <!-- 快捷翻页 -->
        {{if !hideJump}}
        <span class="num-text" style="margin-left: 16px;">
            <span class="mr4">跳至</span>
            <input class="input jump-input" 
                id="{{=viewId}}_jump_input"
                value="{{=next}}"
                mx-change="@{stop}()"
                mx-focusin="@{stop}()"
                mx-focusout="@{stop}()"
                {{if spm}} data-spm-click="{{=spm}}ji" {{/if}} />
            <span class="ml4">页</span>
        </span>
        <mx-btn class="pager-btn" mode="{{=(mode || (alignRight ? 'secondary' : 'hollow'))}}" mx-click="@{jump}()" {{if spm}} data-spm-click="{{=spm}}jt" {{/if}} content="跳转"/>
        {{/if}}
    {{if !alignRight}}
    </div>
    {{/if}}
</div>