{{if !readonly}}
<mx-grid.body class="grid mb16">
    <span class="color-9 mr10">必填项：</span>
    <mx-input 
        placeholder="必填项" 
        value="{{:name{required:true}}}"/>
</mx-grid.body>
{{/if}}

<mx-grid.body class="grid mb16">
    <div class="mb10">浮层HTML Code：</div>
    {{if readonly}}
    <pre class="tip-content">
&lt;mx-grid.body class="grid"&gt;
    // something
&lt;/mx-grid.body&gt;
    </pre>
    {{else}}
    <pre class="tip-content">
&lt;form class="grid"&gt;
    &lt;mx-grid.body&gt;
        &lt;span class="color-9 mr10"&gt;必填项：&lt;/span&gt;
        &lt;input class="input" placeholder="必填项" 
            value="&#123;&#123;:name&#123;required:true&#125;&#125;&#125;"/&gt;
    &lt;/mx-grid.body&gt;
&lt;/form&gt;
    </pre>
    {{/if}}
</mx-grid.body>

<mx-grid.body class="grid mb16">
    <div class="mb10">浮层JS Code：</div>
    <pre class="tip-content">
let Magix = require('magix');

module.exports = Magix.View.extend(&#123;
    tmpl: '@index.html',
    render() &#123;
        this.updater.digest();
    &#125;,
    check() &#123;
        let that = this;
        let ok = that.isValid();
        let name = '';
        if(ok)&#123;
            name = that.updater.get('name');
        &#125;
        return new Promise((resolve) =&gt; &#123;
            setTimeout(() =&gt; &#123;
                resolve(&#123;
                    ok,
                    data: &#123;
                        name
                    &#125;,
                    msg: '请按照要求填写完信息再提交'
                &#125;)
            &#125;, 1000)
        &#125;)
    &#125;
&#125;, &#123;
    dialogOptions: &#123;
        width: 1000
    &#125;
&#125;);
    </pre>
</mx-grid.body>

<mx-grid.body class="grid">
    <mx-stickytable thead-sticky="true" thead-sticky-wrapper="#{{=viewId}}" left-col-sticky="2" right-col-sticky="1">
        <table>
            <thead>
                <tr>
                    {{for(let i=0;i<num;i++)}}
                    <th {{if (i % 2 == 0)}} width="160" {{else}} width="120" {{/if}}>
                        <span mx-stickytable-th="text">示例字段{{=i}}</span>
                    </th>
                    {{/for}}
                </tr>
            </thead>
            <tbody>
                {{for(let j=0;j<line;j++)}}
                <tr>
                    {{for(let i=0;i<num;i++)}}
                    <td>{{=index}}{{=i}}</td>
                    {{/for}}
                </tr>
                <tr mx-stickytable-operation="line">
                    <td colspan="2">
                        <mx-btn mode="white" size="small" class="mr10" mx-click="add()" content="加一行"/>
                        <mx-btn mode="white" size="small" class="mr10" mx-click="remove()" content="减一行"/>
                        <mx-btn mode="white" size="small" class="mr10" mx-click="changeIndex()" content="改值"/>
                    </td>
                    <td colspan="{{=(num - 3)}}"></td>
                    <td colspan="1"></td>
                </tr>
                {{/for}}
            </tbody>
        </table>
    </mx-stickytable>
</mx-grid.body>