{{each list as item}}
<label class="card card--{{=mode}} hover--{{=hoverType}} {{if (item.value == selected)}} card-selected {{/if}} {{if item.disabled}} card-disabled {{/if}}" style="width: {{=width}}px;">
    <span class="card-radio">
        <input type="radio" 
            name="{{=viewId}}_radios" 
            value="{{=item.value}}" 
            {{if item.disabled}} disabled {{/if}}
            {{if (item.value == selected)}} checked="true" {{/if}}
            mx-change="change({item:'{{@item}}'})"/>
    </span>

    <div class="info">
        <div class="text">{{!item.text}}</div>
        <div class="tip">{{!item.tip}}</div>
    
        {{if hasTags}}
        <div class="tags">
            {{each item.tags as tag}}
            <mx-effects.icon class="tag" 
                type="{{=((item.value == selected && hoverType == 'common') ? 'highlight' : '')}}" 
                color="{{=((item.value == selected && hoverType == 'brand') ? '#ffffff' : '')}}" 
                mode="hollow" 
                content="{{=tag}}"/>
            {{/each}}
        </div>
        {{/if}}
    </div>

    {{if item.icon}}
    <span class="icon">{{!item.icon}}</span>
    {{/if}}
</label>
{{/each}}