[mx-view*="mx-radio/cards"] {
    --mx-radio-card-gap: 12px;
    --mx-radio-line-height: 18px;
}

/* radio加蒙层阻止事件 */
.card-radio,
.sub-radio-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;

    &::before {
        opacity: 0;
        z-index: 2;
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: calc(var(--mx-checkbox-size, 14px) + 6px);
        height: 100%;
    }

}

.card-radio {
    [mx-view] input[type="radio"] {
        margin-top: 0;
    }
}

.card-radio {
    width: calc(var(--mx-checkbox-size, 14px) + 6px);
    height: calc(var(--mx-radio-line-height, 18px) + 2 * var(--mx-radio-card-gap, 12px));
}

.sub-radio-wrapper {
    height: var(--mx-radio-line-height, 18px);
    color: #333;
    margin-right: 16px;
    white-space: nowrap;

    .sub-radio {
        width: calc(var(--mx-checkbox-size, 14px) + 6px);
    }

    &:last-child {
        margin-right: 0;
    }
}

.info {
    -webkit-flex: 1 1;
    flex: 1 1;
    padding-top: var(--mx-radio-card-gap, 12px);
    padding-bottom: var(--mx-radio-card-gap, 12px);

    .text {
        display: flex;
        align-items: center;
        height: var(--mx-radio-line-height, 18px);
        line-height: var(--mx-radio-line-height, 18px);
        color: #333;
        transition: color var(--duration);
        overflow: hidden;
    }

    .tip {
        display: -webkit-box;
        margin-top: 8px;
        font-size: 12px;
        line-height: var(--mx-radio-line-height, 18px);
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
        text-overflow: ellipsis;
        color: #666;
        transition: color var(--duration);
        overflow: hidden;
    }

    .tags {
        width: 100%;
        height: var(--mx-effects-tag-height, 16px);
        margin-top: 8px;
        overflow: hidden;

        .tag {
            margin-right: 5px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .child-infos {
        display: none;
    }

    .parent-infos {
        display: block;
    }
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: var(--mx-radio-card-gap, 12px);

    &>* {
        color: #999;
        transition: color var(--duration);
    }

    img {
        border-radius: var(--border-radius);
    }
}

.card-label {
    position: relative;
    display: inline-flex;
    width: 100%;
    padding-right: var(--mx-radio-card-gap, 12px);
    padding-left: var(--mx-radio-card-gap, 12px);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-border);
    border-radius: var(--border-radius);
    transition: border-color var(--duration);
    cursor: pointer;
    overflow: hidden;
}

.radio-hide--true {
    .card-label {
        .info {
            .text {
                font-size: 14px;
                font-weight: bold;
                color: #333;
            }

            .tip {
                color: #999;
            }
        }

        .icon {
            margin-left: 0;
            margin-right: var(--mx-radio-card-gap, 12px);
        }
    }
}

.mode--normal {
    width: var(--mx-checkbox-card-width, 336px);

    .card-label {
        .icon {
            width: 80px;
        }

        .icon>* {
            max-width: 80px;
            max-height: 80px;
            font-size: 80px;
        }
    }
}

.mode--small {
    width: var(--mx-checkbox-card-small-width, 240px);

    .card-label {
        .icon {
            width: 48px;
        }

        .icon>* {
            max-width: 48px;
            max-height: 48px;
            font-size: 48px;
        }
    }
}

.mode--xsmall {
    --mx-radio-card-gap: 8px;
    width: var(--mx-checkbox-card-small-width, 240px);

    .card-label {
        .info {
            .text {
                font-size: 12px;
            }

            .tip {
                margin-top: 0;
            }
        }

        .icon {
            width: 32px;
        }

        .icon>* {
            max-width: 32px;
            max-height: 32px;
            font-size: 32px;
        }
    }
}

.mode--vertical {
    width: 112px;

    .card-label {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 142px;

        .icon,
        .text {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
        }

        .icon {
            width: 80px;
            margin-bottom: 12px;
        }

        .icon>* {
            max-width: 80px;
            max-height: 80px;
            font-size: 80px;
        }

        .text {
            max-width: 100%;
            height: var(--mx-radio-line-height, 18px);
            line-height: var(--mx-radio-line-height, 18px);
            color: #333;
            font-weight: bold;
            transition: color var(--duration);
        }

        .text-ellipsis {
            flex: 1;
        }
    }
}

.card {
    position: relative;
    float: left;
    margin-right: var(--mx-checkbox-card-gap, 16px);
    margin-top: var(--mx-checkbox-card-gap, 16px);
    user-select: none;
    border-radius: var(--border-radius);
    transition: opacity var(--duration);
    line-height: 0;

    .card-tag {
        position: absolute;
        top: calc(0px - var(--mx-effects-tag-height, 16px) / 2);
        right: -8px;
        z-index: 2;
    }

    &::before {
        opacity: 0;
        z-index: 0;
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all var(--duration);
        border-radius: var(--border-radius);
        pointer-events: none;
    }

    .card-label:hover {
        border-color: var(--color-brand);

        .icon>* {
            color: var(--color-brand);
        }

        [mx-view*="mx-radio/index"] {
            [ref="@./index.less:mx-radio"] {
                border-color: var(--color-brand);
            }
        }

        .child-infos {
            display: block;
        }

        .parent-infos {
            display: none;
        }
    }

    &.card-selected {
        &.hover--common {
            &::before {
                opacity: 1;
                background-color: var(--color-brand-opacity);
            }

            .card-label,
            .card-label:hover {
                --mx-comp-expand-amin-color: var(--color-brand);
                border-color: var(--color-brand);

                .icon>*,
                .text,
                .text-icon,
                .tip {
                    color: var(--color-brand);
                }

                .sub-radio-wrapper {
                    color: #333;

                    &.sub-radio-wrapper-selected {
                        color: var(--color-brand);
                    }
                }
            }
        }

        &.hover--brand {
            &::before {
                opacity: 1;
                background-color: var(--color-brand);
                background-image: linear-gradient(141deg, var(--color-brand-gradient) 5%, var(--color-brand) 100%);
            }

            .card-label,
            .card-label:hover {
                --mx-comp-expand-amin-color: #fff;
                border-color: transparent;

                .icon>*,
                .text,
                .text-icon,
                .tip {
                    color: #fff;
                }

                .sub-radio-wrapper {
                    color: #fff;

                    &.sub-radio-wrapper-selected {
                        color: #fff;
                    }
                }
            }
        }
    }

    &.card-disabled {
        opacity: var(--mx-comp-disabled-opacity, .4);
        cursor: not-allowed;

        .card-label,
        .card-tag {
            pointer-events: none;
            user-select: none;
        }
    }
}

.reason {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}