{{each list as item}}
<div class="card {{if item.disabled}} card-disabled {{/if}} {{if item.selected}} card-selected {{/if}}"
    {{if !item.disabled}} mx-click="@{select}({item:'{{@item}}'})" {{/if}}>
    <div class="card-label size--{{=mode}} hover--{{=hoverType}}" style="width: {{=width}}px;">
        <span class="card-radio">
            <mx-radio 
                name="{{=viewId}}_radios" 
                value="{{=item.subs[0].value}}" 
                checked="{{=item.subs[0].selected}}"/>
        </span>
    
        <div class="info">
            {{if (item.subs.length > 1)}}
                <div class="text">{{!item.text}}</div>
                <div class="tip" style="height: {{=(18 * textLines)}}px;-webkit-line-clamp: {{=textLines}};">{{!item.tip}}</div>
            {{else}}
            <div class="text">{{!item.text}}</div>
            <div class="tip" style="height: {{=(18 * textLines)}}px;-webkit-line-clamp: {{=textLines}};">{{!item.tip}}</div>
            {{/if}}
        
            {{if hasTags}}
            <div class="tags clearfix">
                {{each item.tags as tag}}
                <mx-effects.icon class="tag fl" 
                    type="{{=((item.selected && hoverType == 'common') ? 'highlight' : '')}}" 
                    color="{{=((item.selected && hoverType == 'brand') ? '#ffffff' : '')}}" 
                    mode="hollow" 
                    content="{{=tag}}"/>
                {{/each}}
            </div>
            {{/if}}
        </div>
    
        {{if item.icon}}
        <span class="icon">{{!item.icon}}</span>
        {{/if}}
    </div>
</div>
{{/each}}