{{if text}}
    <label class="mx-radio-label">
        <input class="mx-radio" type="radio" 
            {{if checked}} checked {{/if}}
            {{if disabled}} disabled {{/if}}
            name="{{=name}}"
            value="{{=value}}" />
        {{if img}}
        <img class="mx-radio-checkbox-img" src="{{=img}}" />
        {{/if}}
        <span class="mx-radio-checkbox-text">{{!text}}</span>
        {{if tagContent}}
        <mx-effects.icon class="mx-radio-checkbox-tag" color="{{=tagColor}}" type="error" content="{{=tagContent}}"/>
        {{/if}}
    </label>
    {{if tip}}
    <mx-popover class="mc-iconfont mc-tip-iconfont" content="{{=tip}}">&#xe72f;</mx-popover>
    {{/if}}
{{else}}
<input class="mx-radio" type="radio" 
    {{if checked}} checked {{/if}}
    {{if disabled}} disabled {{/if}}
    name="{{=name}}"
    value="{{=value}}" />
{{/if}}