.mx-radio-checkbox-tag {
    margin-left: 4px;
}

.mx-radio-checkbox-img {
    position: relative;
    top: -1px;
    height: 18px;
    margin-right: 4px;
}

.mx-radio-checkbox-text {
    transition: color var(--duration);
}

[mx-view*="mx-radio/index"] {
    position: relative;
    vertical-align: middle;

    @keyframes mx-radio-anim-after {
        0% {
            width: 12px;
            height: 12px;
            opacity: 0;
        }

        100% {
            width: 6px;
            height: 6px;
            opacity: 1;
        }
    }

    input[type="radio"].mx-radio {

        &:checked {
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 6px;
                height: 6px;
                margin-top: 0;
                margin-left: 0;
                transform: translateX(-50%) translateY(-50%);
                border-radius: 50%;
                background-color: #fff;
                animation: mx-radio-anim-after var(--duration) ease-in-out;
            }
        }

        /* 整体控制禁用样式 */
        &:disabled,
        &:disabled:hover,
        &:disabled:focus {
            opacity: 1;
        }
    }

    &[mx-radio-disabled="true"],
    &[mx-view*="disabled=true"] {
        opacity: var(--mx-comp-disabled-opacity, .4);
        cursor: not-allowed;

        .mx-radio-label,
        input[type="radio"].mx-radio {
            pointer-events: none;
        }
    }
}