.line {
    position: relative;
    display: flex;
    height: 32px;
    align-items: center;
    transition: all var(--duration);
    overflow: hidden;

    .oper {
        width: 14px;
        height: 14px;
        margin-right: 5px;
        font-size: 14px;
        transition: color var(--duration);
        color: #ccc;
        user-select: none;
        cursor: pointer;

        &:hover {
            color: #666;
        }
    }
}

.all {
    cursor: pointer;
    color: #999;
    user-select: none;
}

.sub {
    padding-left: 20px;

    &.close {
        height: 0px;
    }
}