:root{
    --mx-secradio-oper-size: calc(var(--font-size) + 2px);
}
.line {
    position: relative;
    height: 32px;
    line-height: 32px;
    transition: height var(--duraiton);
    overflow: hidden;
    .oper {
        width: var(--mx-tree-oper-size);
        height: var(--mx-tree-oper-size);
        margin-right: 5px;
        line-height: var(--mx-tree-oper-size);
        font-size: var(--mx-tree-oper-size);
        transition: color var(--duraiton);
        cursor: pointer;
        color: #ccc;
        user-select: none;
        &:hover {
            color: #666;
        }
    }
}

.all {
    cursor: pointer;
    color: #999;
}

.sub {
    padding-left: calc(var(--mx-secradio-oper-size) + 5px);
    &.close {
        height: 0;
    }
}