.wrapper {
    position: relative;
    padding: 24px;

    .tip {
        position: absolute;
        top: calc(var(--input-height) + 24px);
        left: calc(24px + 10px);
        display: inline-flex;
        align-items: center;
        color: var(--color-red);
        line-height: 2;
        font-size: 12px;
    }
}