[mx-stickytable-sort-trigger="true"] {
    position: absolute;
    top: 50%;
    right: 0;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    display: inline-flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    background-color: transparent;
    user-select: none;
    cursor: pointer;
    color: #666;

    &:hover {
        color: #333;
    }

    [mx-stickytable-sort-trigger="asc"],
    [mx-stickytable-sort-trigger="desc"] {
        font-size: 12px;
        line-height: 8px;
        transform: scale(.8);
        font-weight: bold;
        transition: all var(--duration);
    }
}