.wrapper {
    max-height: 228px;
    padding: 0 8px 8px 8px;
    overflow-y: auto;
}

.title {
    display: flex;
    height: var(--input-height);
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg);
    color: #333;
    font-size: 12px;
    font-weight: bold;
}

.item {
    margin-top: 8px;
}