.text {
    flex: 1;
    min-width: 0;
}

.title,
.tip {
    line-height: 1.5;
}

.title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    text-overflow: ellipsis;
    overflow: hidden;
}

.tip {
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999;
}