{{if (groups && groups.length)}}
    {{each groups as group}}
        {{if (groups.length > 1)}}
        <div class="title">{{!(group.title || group.text)}}</div>
        {{/if}}
        <div class="wrapper clearfix">
            {{each group.list as item}}
            <div class="item" mx-view="@./item-info?data={{@{
                size: size,
                item: item,
            }}}"></div>
            {{/each}}
        </div>
    {{/each}}
{{else}}
    <div class="wrapper clearfix">
        {{for(let i=max;i<list.length;i++)}}
        <div class="item" mx-view="@./item-info?data={{@{
            size: size,
            item: list[i],
        }}}"></div>
        {{/for}}
    </div>
{{/if}}