[mx-view*="mx-stickytable/item?"] {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    max-width: 100%;
}

[mx-view*="mx-stickytable/item-info?"] {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.thumbnail-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    white-space: nowrap;
}

.overview-wrapper {
    position: relative;

    &::before,
    &::after {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        z-index: 1;
        background-color: #333;
        border-radius: var(--border-radius);
    }

    &::before {
        top: -8px;
        opacity: .04;
    }

    &::after {
        top: -4px;
        opacity: .08;
    }
}

.overview-item {
    position: relative;
    z-index: 2;
}

.overview-text {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 16px;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    white-space: nowrap;
    color: #fff;
}

.icon-join,
.icon-ellipsis {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.icon-join {
    width: calc(var(--mx-table-ceil-h-gap, 12px) * 2);
    font-size: 16px;
    color: #999;
}

.icon-ellipsis {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    background-color: #EAECF1;
    border-radius: var(--border-radius);
    transition: color var(--duration);
    cursor: pointer;

    &:hover {
        color: var(--color-brand);
    }
}

.preview-item {
    margin-right: 8px;

    &:first-child {
        margin-right: 0;
    }
}