.wrapper {
    max-height: 228px;
    padding: 0 8px 8px 8px;
    overflow-y: auto;
}

.title {
    display: flex;
    height: var(--input-height);
    align-items: center;
    justify-content: center;
    background-color: var(--mx-table-hover-oper-bg, var(--color-bg));
    color: #333;
    font-weight: bold;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.item {
    margin-top: 8px;
}