<div class="pb8 pl8 pr8">
    {{for(let i=max;i<list.length;i++)}}
    {{let item = list[i]}}
    <div class="text-wrapper mt8">
        <mx-preview 
            url="{{=item.url}}"
            type="{{=(item.type || 'image')}}"
            max-width="60"
            max-height="60"
            width="{{=(item.width || '')}}"
            height="{{=(item.height || '')}}"
            border="true"
            preview="false"/>

        <div class="text">
            {{if item.title}}
                {{if item.link}}
                <div class="title"><a href="{{=item.link}}" target="_blank">{{!item.title}}</a></div>
                {{else}}
                <div class="title">{{!item.title}}</div>
                {{/if}}
            {{/if}}
            {{if (item.tips && item.tips.length)}}
                {{each item.tips as tip}}
                <div class="tip">{{!tip}}</div>
                {{/each}}
            {{/if}}
        </div>
    </div>
    {{/for}}
</div>