<!-- icon类型 -->
<div class="status" mx-mouseout="out()">
    <div class="status-handle-icon"
        mx-mouseover="over()">
        {{if showInfo}}
            <span class="status-icon" style="color: {{=info.color}};">{{!info.icon}}</span>
        {{else}}
            <span class="status-icon" style="color: {{=cur.color}};">{{!cur.icon}}</span>
        {{/if}}

        {{if (opers.length > 0)}}
            <i class="status-arrow"></i>
        {{/if}}
    </div>
    
    {{if show}}
        <ul class="mx-output status-info">
            {{if showInfo}}
                <li class="status-desc clearfix">
                    <span class="status-icon" style="color: {{=info.color}};">{{!info.icon}}</span>
                    <span class="status-name">{{!info.text}}</span>
                </li>
                {{if info.tip}}
                <li class="status-tip">{{!info.tip}}</li>
                {{/if}}
                {{if (opers.length > 0)}}
                <li class="status-line"></li>
                {{/if}}
            {{/if}}

            {{each opers as item}}
            <li class="status-oper clearfix {{if (item.value == cur.value)}} status-oper-cur {{/if}}" mx-click="select({item:'{{@item}}'})">
                <span class="status-icon" style="color: {{=item.color}};">{{!item.icon}}</span>
                <span class="status-name">{{!item.text}}</span>
                <i class="mc-iconfont oper-icon">&#xe65d;</i>
            </li>
            {{/each}}
        </ul>
    {{/if}}
</div>