.custom {
    border-radius: var(--border-radius);

    .custom-title {
        height: 60px;
        line-height: 60px;
        padding-left: 24px;
        background-color: var(--color-bg);
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
    }

    .custom-item {
        float: left;
        width: 50%;
        padding: var(--mx-grid-v-gap) var(--mx-grid-h-gap);
    }

}