<div class="carousel" style="height: {{=height}}px;">
    <div class="inner">
        {{!content}}
    </div>

    {{if triggers && (len > 1)}}
        <i class="triggers triggers-left mc-iconfont" mx-click="@{trigger}({offset: -1})">&#xe61e;</i>
        <i class="triggers triggers-right mc-iconfont" mx-click="@{trigger}({offset: 1})">&#xe61e;</i>
    {{/if}}
</div>

{{if dots && (len > 1)}}
<div class="type--{{=dotPrefix}}--{{=dotType}}">
    {{for(let i=0;i<len;i+=1)}}
    <span class="dot {{=dotClass}}" mx-click="@{active}({idx:{{=i}}})"></span>
    {{/for}}
</div>
{{/if}}