/*css3变量覆盖*/
:root {
    // 渐变色
    --app-brand: #385ACC;
    --app-brand-gradient: #5d56dd;

    // 浅色按钮
    --btn-border: #637ba5;
    --btn-border-hover: #637ba5;
    --btn-bg: #f3f5fc;
    --btn-bg-hover: #e7eaf4;
}