/*用于覆盖bp的品牌色信息*/

// 品牌色
@color-brand: #385ACC;
@color-brand-vs: #CC3773;

//边框
@color-border: #9095A1;
@color-border-hover: #677088;

// 品牌按钮颜色，支持渐变
@btn-brand: #385ACC;
@btn-brand-gradient: #5D56DD;
@btn-brand-hover: #28449F;
@btn-brand-gradient-hover: #4741AD;
