/*less变量覆盖，与group配置css变量一一对应*/
@color-brand: #385ACC;
@color-brand-hover: #28449F;
@color-brand-light: #d7def6;
@color-brand-opacity: #eff2fb;
@color-brand-vs: #f7664d;
@color-brand-text: #ffffff;
@color-brand-text-hover: #ffffff;
@btn-brand: #385ACC;
@btn-brand-hover: #28449F;
@btn-brand-text: #ffffff;
@btn-brand-text-hover: #ffffff;
@btn-text: #333;
@btn-text-hover: #333;
@btn-border: #637ba5;
@btn-border-hover: #637ba5;
@btn-bg: #f3f5fc;
@btn-bg-hover: #e7eaf4;
@color-bg-hover: #eff2fb;
@border-highlight-hover: #385ACC;
@app-brand: #385ACC;
@app-brand-gradient: #5d56dd;
@app-min-width: 0px;
