.custom {
    border-radius: var(--border-radius);

    .custom-title {
        padding: 10px;
        background-color: var(--color-bg);
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
    }

    .custom-item {
        float: left;
        width: 33.3%;
        padding: 10px;
    }

}