<div id="trigger_{{=viewId}}"
    class="mx-trigger {{if show}} mx-trigger-open {{/if}}"  
    {{if animing}} mx-comp-expand-amin="animing" {{/if}}
    mx-click="@{toggle}()"
    mx-change="@{stop}()">
    <div class="result">
        {{if !dateInfo.prefix}}
        <i class="mx-iconfont mx-trigger-icon">&#xe70e;</i>
        {{else}}
        <span class="mx-trigger-prefix">{{!dateInfo.prefix}}：</span>
        {{/if}}
        <span class="mx-trigger-label">{{=(dateInfo.selected || dateInfo.placeholder)}}</span>
    </div>
    {{if dateInfo.arrow}}
    <i class="mc-iconfont mx-trigger-arrow">&#xe6c1;</i>
    {{/if}}
</div>
<div class="mx-output-bottom {{if show}} mx-output-open {{/if}}" 
    style="top: 100%; {{if (dateInfo.align == 'right')}} left: auto; right: 0; {{else}} left: 0; right: auto; {{/if}}"
    id="dpcnt_{{=viewId}}" 
    mx-view="@./index?configs={{@dateInfo}}"
    mx-change="@{date.picked}()" 
    mx-cancel="@{hide}()"></div>

