:root{
    --calendar-item-gap: 2px;
    --calendar-item-size: calc(2 * var(--font-size));
    --calendar-width: calc((var(--calendar-item-size) + var(--calendar-item-gap) * 2) * 7 + 20px);
    --calendar-height: calc((var(--calendar-item-size) + var(--calendar-item-gap) * 2) * 8 + 20px);
    --calendar-ym-width: calc((var(--calendar-width) - 60px) / 3);
    --calendar-ym-height: calc((var(--calendar-height) - var(--calendar-item-size) - var(--calendar-item-gap) * 2 - 80px) / 4);
    --calendar-time-width: calc(var(--calendar-item-size) * 2 + 6px);
}

.wrapper {
    position: relative;
    z-index: 1000;
    width: var(--calendar-width);
    padding: 0;
    background-color: #fff;
    border-radius: var(--border-radius);
    overflow-y: hidden;
    color: #333;
    text-align: center;

    .header {
        width: var(--calendar-width);
        padding: 2px 4px;

        .minus {
            float: left;
        }

        .plus {
            float: right;
            transform: scaleX(-1);
        }

        .minus, .plus {
            line-height: var(--calendar-item-size);
            font-size: var(--font-size);
            color: #ccc;
            cursor: pointer;

            &:hover {
                color: var(--color-brand);
            }

        }

        .title {
            display: inline-block;
            height: var(--calendar-item-size);
            line-height: var(--calendar-item-size);
            padding: 0 10px;
            cursor: pointer;
            border-radius: var(--border-radius);
            color: #666;

            &:hover {
                background-color: var(--color-bg-hover);
            }

        }

    }

    .body {
        width: var(--calendar-width);

        .weeks {
            background-color: var(--color-bg);
            padding: 0 10px;
            color: #666;
        }

        .days {
            padding: 10px;
        }

        .week, .day {
            float: left;
            width: var(--calendar-item-size);
            height: var(--calendar-item-size);
            margin: var(--calendar-item-gap);
            line-height: var(--calendar-item-size);
            border-radius: 4px;
            cursor: pointer;
            color: #333;
        }

        .day:hover {
            background-color: var(--color-bg-hover);
        }

        .gray {
            color: #999;
        }

        .today, .today:hover {
            background-color: var(--color-brand-opacity);
        }

        .notallowed, .notallowed:hover {
            color: var(--color-disabled);
            cursor: not-allowed;
            background: #fff;
        }

        .selected, .selected:hover {
            color: #fff;
            background-color: var(--color-brand);
        }

    }

    .time {
        border-top: 1px solid var(--color-border);
    }
}

.y-panel, .m-panel {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    transition: top 0.15s;
    background-color: #fff;
}

.ym-show {
    top: 0;
}

.ym {
    float: left;
    width: var(--calendar-ym-width);
    height: var(--calendar-ym-height);
    margin: 10px;
    line-height: var(--calendar-ym-height);
    border-radius: var(--border-radius);
    font-size: calc(var(--font-size) + 2px);
    cursor: pointer;

    &:hover {
        background-color: var(--color-bg-hover);
    }

}

@group-height: 40px;
[mx-view*="mx-time/content"]{
    min-width: var(--calendar-width);
    padding: 10px;

    .groups{
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
    }
    .group {
        overflow: hidden;
        flex: 0 0 var(--calendar-time-width);
        .ipt {
            width: 100%;
            height: @group-height;
            font-size: 24px;
            text-align: center;
        }
    
        .ipb{
            width: var(--calendar-item-size);
            height: var(--calendar-item-size);
            line-height: var(--calendar-item-size);
            font-size: var(--font-size);
            text-align: center;
            font-weight: bold;
            background-color: var(--color-bg-hover);
            border-radius: var(--border-radius);
            cursor: pointer;
            transition: all var(--duration);
    
            &:hover{
                background-color: #ccc;
            }
        }
    
        .time-disabled{
            .ipb{
                background-color: var(--color-disabled);
                color: #ccc;
            }
        }
    }
    
    .sps{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: @group-height;
        .sp {
            float: left;
            width: 50%;
            font-size: 24px;
            height: @group-height;
            line-height: @group-height;
            font-weight: bolder;
            text-align: center;
    
            &.spa{
                padding-left: calc(var(--calendar-time-width) / 2);
            }
            &.spb{
                padding-right: calc(var(--calendar-time-width) / 2);
            }
        }
    }
}

