@import "../mx-style/_vars";
@import "../mx-style/_animation";

[mx-view*="mx-calendar/rangepicker"], 
[mx-view*="mx-calendar/datepicker"] {
    display: inline-block;
    position: relative;
    height: @input-height;
    vertical-align: middle;
    
    .rangepicker-wrapper {
        display: none;
        position: absolute;
        z-index: 1000;
        min-width: 100%;

        &.open {
            display: block;
            animation: fade-in-down @duration ease-out;
            animation-fill-mode: forwards;
        }
    }

    .rangepicker-input {
        width: 100%;
    }
}



@center-width: 18px;

.result {
    position: relative;

    &.result-left{
        .center{
            padding: 0 5px;
        }
    }
    &.result-center{
        .center {
            position: absolute;
            top: 0;
            left: 50%;
            width: @center-width * 2;
            height: 30px;
            margin-left: -@center-width;
            line-height: 30px;
            text-align: center;
        }
    
        .co {
            display: inline-block;
            width: 50%;
            text-align: center;
        }
    
        .co-left {
            padding-right: @center-width;
        }
    
        .co-right {
            padding-left: @center-width;
        }
    }

    &.vs {
        .co-left {
            color: @color-brand;
        }

        .co-right {
            color: @color-brand-vs;
        }

    }

    
}
