.result {
  padding: 0 10px;
}
/* 左对齐 */
.result-left .center {
  padding: 0 5px;
}
/* 居中对齐 */
.result-center .center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 30px;
  margin-left: -20px;
  margin-top: -15px;
  line-height: 30px;
  text-align: center;
}
.result-center .co {
  display: inline-block;
  width: 50%;
  text-align: center;
}
.result-center .co-left {
  padding-right: 10px;
}
.result-center .co-right {
  padding-left: 10px;
}
.result-vs .co-left {
  color: var(--color-brand);
}
.result-vs .co-right {
  color: var(--color-brand-vs);
}
[mx-view*="mx-calendar/rangepicker"] {
  min-width: 180px;
}
[mx-view*="mx-calendar/rangepicker"][mx-view*="disabled=true"] .result .co-left,
[mx-view*="mx-calendar/datepicker"][mx-view*="disabled=true"] .result .co-left,
[mx-view*="mx-calendar/rangepicker"][mx-view*="disabled=true"]:hover .result .co-left,
[mx-view*="mx-calendar/datepicker"][mx-view*="disabled=true"]:hover .result .co-left,
[mx-view*="mx-calendar/rangepicker"][mx-disabled] .result .co-left,
[mx-view*="mx-calendar/datepicker"][mx-disabled] .result .co-left,
[mx-view*="mx-calendar/rangepicker"][mx-disabled]:hover .result .co-left,
[mx-view*="mx-calendar/datepicker"][mx-disabled]:hover .result .co-left,
[mx-view*="mx-calendar/rangepicker"][mx-view*="disabled=true"] .result-vs .co-left,
[mx-view*="mx-calendar/datepicker"][mx-view*="disabled=true"] .result-vs .co-left,
[mx-view*="mx-calendar/rangepicker"][mx-view*="disabled=true"]:hover .result-vs .co-left,
[mx-view*="mx-calendar/datepicker"][mx-view*="disabled=true"]:hover .result-vs .co-left,
[mx-view*="mx-calendar/rangepicker"][mx-disabled] .result-vs .co-left,
[mx-view*="mx-calendar/datepicker"][mx-disabled] .result-vs .co-left,
[mx-view*="mx-calendar/rangepicker"][mx-disabled]:hover .result-vs .co-left,
[mx-view*="mx-calendar/datepicker"][mx-disabled]:hover .result-vs .co-left,
[mx-view*="mx-calendar/rangepicker"][mx-view*="disabled=true"] .result .co-right,
[mx-view*="mx-calendar/datepicker"][mx-view*="disabled=true"] .result .co-right,
[mx-view*="mx-calendar/rangepicker"][mx-view*="disabled=true"]:hover .result .co-right,
[mx-view*="mx-calendar/datepicker"][mx-view*="disabled=true"]:hover .result .co-right,
[mx-view*="mx-calendar/rangepicker"][mx-disabled] .result .co-right,
[mx-view*="mx-calendar/datepicker"][mx-disabled] .result .co-right,
[mx-view*="mx-calendar/rangepicker"][mx-disabled]:hover .result .co-right,
[mx-view*="mx-calendar/datepicker"][mx-disabled]:hover .result .co-right,
[mx-view*="mx-calendar/rangepicker"][mx-view*="disabled=true"] .result-vs .co-right,
[mx-view*="mx-calendar/datepicker"][mx-view*="disabled=true"] .result-vs .co-right,
[mx-view*="mx-calendar/rangepicker"][mx-view*="disabled=true"]:hover .result-vs .co-right,
[mx-view*="mx-calendar/datepicker"][mx-view*="disabled=true"]:hover .result-vs .co-right,
[mx-view*="mx-calendar/rangepicker"][mx-disabled] .result-vs .co-right,
[mx-view*="mx-calendar/datepicker"][mx-disabled] .result-vs .co-right,
[mx-view*="mx-calendar/rangepicker"][mx-disabled]:hover .result-vs .co-right,
[mx-view*="mx-calendar/datepicker"][mx-disabled]:hover .result-vs .co-right {
  color: #999;
}
