<div class="input rangepicker-input" id="input_{{=viewId}}"
    mx-click="@{toggle}()"
    mx-change="@{stop}()">
    <div class="result {{=textAlign}} {{if rangeInfo.vs}} vs {{/if}}">
    {{if result.endStr}}
        <span class="co co-left">{{=result.startStr}}</span>
        <span class="center color-9">{{=result.centetTip}}</span>
        <span class="co co-right">{{=result.endStr}}</span>
    {{else}}
        {{=result.startStr}}
    {{/if}}
    </div>        
</div>

<div class="mx-output mx-output-bottom {{if show}} mx-output-open {{/if}}" 
    style="left:{{=left}}px;top:{{=top}}px;"
    id="rpcnt_{{=viewId}}" 
    mx-view="@./range?configs={{@rangeInfo}}"
    mx-change="@{range.picked}()" 
    mx-cancel="@{hide}()"></div>

