/* --mx-calendar-range-input-width: 100px; 的值同 [mx-view*="mx-calendar/datepicker"]的最小宽度默认保持一致 */

.wrapper {
    --mx-calendar-range-input-width: 100px;
    position: relative;
    z-index: 1000;
    min-width: calc(var(--mx-calendar-range-input-width) * 2 + 40px);
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius);
    background-color: #fff;
    user-select: none;
    -webkit-user-select: none;
    .title {
        margin-bottom: 5px;
        color: #999;
    }
    .range {
        position: relative;
        line-height: var(--input-small-height);
        .range-input {
            float: left;
            width: 50%;
            min-width: var(--mx-calendar-range-input-width);
            text-align: center;
            cursor: text;
            [ref="@./rangepicker.less:result"] {
                height: var(--input-small-height);
                padding: 0 0 0 16px;
                line-height: var(--input-small-height);
                border-radius: var(--border-radius);
                background-color: var(--color-bg-hover);
                border: 0;
                color: #333;
            }
            .vs1 {
                [ref="@./rangepicker.less:result"] {
                    color: var(--color-brand);
                }
            }
            .vs2 {
                [ref="@./rangepicker.less:result"] {
                    color: var(--color-brand-vs);
                }
            }
            [mx-view*="mx-calendar/datepicker"] {
                width: 100%;
                min-height: var(--input-small-height);
                &[mx-view*="disabled=true"],
                &[mx-view*="disabled=true"]:hover,
                &[mx-disabled],
                &[mx-disabled]:hover {
                    [ref="@./rangepicker.less:result"],
                    .vs1 [ref="@./rangepicker.less:result"],
                    .vs2 [ref="@./rangepicker.less:result"] {
                        color: #999;
                    }
                }
            }
        }
        .range-input-left {
            padding-right: 9px;
        }
        .range-input-right {
            padding-left: 9px;
        }
        .range-gap {
            position: absolute;
            top: 0;
            left: 50%;
            width: 18px;
            height: var(--input-small-height);
            margin-left: -9px;
            text-align: center;
        }
    }
    .shortcuts {
        margin-top: 15px;
        .st {
            float: left;
            width: 46%;
            height: var(--input-small-height);
            margin-right: 4%;
            margin-top: 5px;
            padding: 0 0 0 10px;
            line-height: var(--input-small-height);
            border-radius: var(--border-radius);
            cursor: pointer;
            overflow: hidden;
            white-space: nowrap;
            &:hover {
                background-color: var(--color-bg-hover);
            }
            &.selected,
            &.selected:hover {
                color: var(--color-brand);
                background-color: var(--color-brand-opacity);
            }
        }
        &.shortcuts-small {
            .st {
                width: 32%;
                margin-right: 1%;
            }
        }
    }
    &.time {
        --mx-calendar-range-input-width: calc(var(--font-size) * 12);
    }
}