.shortcuts {
    padding: var(--input-v-gap, 8px) var(--input-h-gap, 8px);
    border-top: 1px solid var(--color-border);

    .st {
        float: left;
        width: 50%;
        height: 20px;
        line-height: 20px;
        margin-top: 4px;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        color: var(--color-brand);
        transition: all var(--duration);

        &:hover {
            color: var(--color-brand-hover);
        }
    }

    &.shortcuts-small {
        .st {
            width: 33%;
        }
    }
}

.wrapper {
    --mx-calendar-range-input-width: calc(var(--font-size) * 8 + var(--input-h-gap, 8px) * 2);
    position: relative;
    min-width: calc(var(--mx-calendar-range-input-width) * 2 + var(--input-h-gap, 8px) * 4);
    width: 100%;
    padding: var(--input-v-gap, 8px) var(--input-h-gap, 8px);
    border-radius: var(--border-radius);
    background-color: #fff;
    user-select: none;

    .lh1 {
        line-height: 1;
    }

    .title {
        font-size: 14px;
        margin-bottom: var(--input-v-gap, 8px);
        color: #333;
    }

    .range {
        position: relative;
        line-height: var(--input-small-height);

        .range-input {
            float: left;
            width: calc(50% - var(--input-h-gap, 8px));
            min-width: var(--mx-calendar-range-input-width);
            min-height: var(--input-small-height);

            [ref="@scoped.style:mx-trigger"] {
                height: var(--input-small-height);
                padding-right: var(--input-h-gap, 8px);
                line-height: var(--input-small-height);
                background-color: #eee;
                border: 0 none;
                box-shadow: none;
                color: #333;

                [ref="@scoped.style:mx-trigger-label"] {
                    overflow: visible;
                    text-overflow: unset;
                }
            }

            &.vs1 {
                [ref="@scoped.style:mx-trigger"] {
                    color: var(--color-brand);
                }
            }

            &.vs2 {
                [ref="@scoped.style:mx-trigger"] {
                    color: var(--color-brand-vs);
                }
            }
        }

        .range-input-left {
            float: left;
        }

        .range-input-right {
            float: right;
        }

        .range-gap {
            position: absolute;
            top: 0;
            left: 50%;
            width: calc(var(--input-h-gap, 8px) * 2);
            height: var(--input-small-height);
            margin-left: calc(0px - var(--input-h-gap, 8px));
            text-align: center;
            color: #999;
        }
    }

    &.time {
        --mx-calendar-range-input-width: calc(var(--font-size) * 13);
    }
}