body .aw-dialog {
  z-index: 10 !important;
}
body .aw-wrapper {
  z-index: 10 !important;
  right: -4px !important;
}
body .aw-wrapper .aw-window {
  top: auto;
  bottom: -185px;
}
body .aw-wrapper .aw-dialog-wrapper.lowreso-dialog {
  top: -300px;
}
body .aw-wrapper.small .aw-window {
  top: 113px;
}
body .aw-wrapper.small .aw-window .aw-default-tool .aw-lineitem.tool-ser-history {
  display: none !important;
}
body .aw-wrapper.small .aw-window .aw-default-tool .aw-lineitem.stress.tool-active-notify {
  border-top: 1px solid var(--color-border);
}
body .aw-wrapper.small .aw-window .aw-default-tool .aw-lineitem.stress.tool-connect {
  border-top: 1px solid #fff;
}
body .aw-wrapper.small .aw-window .aw-default-tool .aw-lineitem.stress.tool-active-notify,
body .aw-wrapper.small .aw-window .aw-default-tool .aw-lineitem.stress.tool-connect {
  width: 36px;
  height: 36px;
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  background: #fff;
}
body .aw-wrapper.small .aw-window .aw-default-tool .aw-lineitem.stress.tool-active-notify .aw-tool-item,
body .aw-wrapper.small .aw-window .aw-default-tool .aw-lineitem.stress.tool-connect .aw-tool-item {
  width: 36px;
  height: 36px;
  line-height: 32px;
}
body .aw-wrapper.small .aw-window .aw-default-tool .aw-lineitem.stress.tool-active-notify .aw-tool-item .toolicon,
body .aw-wrapper.small .aw-window .aw-default-tool .aw-lineitem.stress.tool-connect .aw-tool-item .toolicon {
  font-size: 20px;
  color: #ccc;
}
body .aw-wrapper.small .aw-window .aw-default-tool .aw-lineitem.stress.tool-active-notify:hover,
body .aw-wrapper.small .aw-window .aw-default-tool .aw-lineitem.stress.tool-connect:hover {
  background: var(--color-brand);
  border-top: 1px solid var(--color-brand);
  border-left: 1px solid var(--color-brand);
  border-right: 1px solid var(--color-brand);
  border-bottom: 1px solid var(--color-brand);
}
body .aw-wrapper.small .aw-window .aw-default-tool .aw-lineitem.stress.tool-active-notify:hover .aw-tool-item .toolicon,
body .aw-wrapper.small .aw-window .aw-default-tool .aw-lineitem.stress.tool-connect:hover .aw-tool-item .toolicon {
  color: #fff;
}
body .aw-wrapper.small .aw-window .aw-default-tool .aw-lineitem .aw-hover-tip.stress {
  top: -1px;
  height: 36px;
  line-height: 34px;
  background: var(--color-brand);
  border-top: 1px solid var(--color-brand);
  border-left: 1px solid var(--color-brand);
  border-right: 1px solid var(--color-brand);
  border-bottom: 1px solid var(--color-brand);
  color: #fff;
}
body .aw-wrapper.small .aw-window .aw-anim-lge-logo,
body .aw-wrapper.small .aw-window .aw-logo {
  right: 3px !important;
}
