[mx-grid-sticky="inner"] {
    background-color: transparent;
    transition: background-color var(--duration);
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);

    [sticky="true"] {
        border-color: transparent !important;
    }
}