[mx-view*="mx-taginput/index"] {
    position: relative;

    .ipt {
        height: auto;
        min-height: var(--input-height);
        user-select: none;
    }

    .placeholder {
        position: absolute;
        top: var(--mx-trigger-tag-gap);
        left: 0;
        padding-left: var(--input-v-gap, 8px);
        padding-right: var(--input-v-gap, 8px);
        line-height: var(--mx-trigger-tag-height, 24px);
        color: #999;
    }

    .trigger,
    .trigger:hover,
    .trigger:focus {
        height: var(--mx-trigger-tag-height, 24px);
        margin-top: var(--mx-trigger-tag-gap);
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: var(--mx-trigger-tag-gap);
        line-height: var(--mx-trigger-tag-height, 24px);
        border: none;
        outline: none;
        background: transparent;
        box-shadow: none;
    }

    &[mx-view*="disabled=true"],
    &[mx-disabled] {
        .trigger {
            opacity: 0;
            display: none;
            pointer-events: none;
        }
    }
}