@import '../mx-style/_vars';
@tag-left-padding: 10px;
@tag-gap: 2px;
@tag-input-width: 320px;
@tag-height: @input-height - (@tag-gap * 4);
[mx-view*="mx-taginput/index"] {
    position: relative;
    width: @tag-input-width;
    height: auto;
    min-height: @input-height;
    padding: @tag-gap (@tag-left-padding - 4);
    border: solid 1px @color-border;
    border-radius: @border-radius;
    transition: border-color @duration;
    &:hover {
        border-color: @color-border-hover;
    }

    .ipt {
        height: auto;
        cursor: text;

        .placeholder,
        .trigger,
        .item{
            height: @tag-height;
            line-height: @tag-height;
        }

        .placeholder {
            position: absolute;
            left: @tag-left-padding;
            top: 50%;
            margin-top: 0 - (@tag-height / 2);
            color: #999;
            user-select: none;
        }

        .item,
        .trigger{
            float: left;
            margin-top: @tag-gap;
            margin-bottom: @tag-gap;
        }
        .item {
            float: left;
            position: relative;
            max-width: 220px;
            padding-right: 26px;
            padding-left: 6px;
            margin-right: @tag-gap * 2;
            background-color: #eee;
            border-radius: @border-radius;
            cursor: pointer;
            white-space: nowrap;
            word-wrap: normal;
            overflow: hidden;
            text-overflow: ellipsis;

            .item-delete {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 20px;
                line-height: @tag-height;
                text-align: center;
                font-size: 12px;
                font-weight: bold;
                color: #ccc;
                transition: color @duration;
                border-left: 1px solid #fff;

                &:hover {
                    color: #999;
                }
            }
        }
        .trigger {
            width: 20px;
            padding: 0;
            border: none;
            outline: none;
            background: transparent;
        }
    }
    &[mx-disabled] {
        cursor: not-allowed;
        background-color: @color-bg;
        .ipt,
        .trigger,
        .item-name,
        .item-delete {
            cursor: not-allowed;
        }
        &:hover {
            border-color: @color-border;
        }
        .item {
            .item-delete:hover {
                color: #ccc;
            }
        }
    }

    .suggest-wrapper{
        display: none;
        position: absolute;
    }
}