[mx-view*="mx-taginput/index"] {
    --tag-left-padding: 10px;
    --tag-gap: 2px;    
    --tag-height: calc(var(--input-height) - (var(--tag-gap) * 4) - 2px);
    .ipt {
        position: relative;
        height: auto;
        border-style: solid;
        border-width: 1px;
        border-color: var(--border-highlight);
        border-radius: var(--border-radius);
        padding-top: var(--tag-gap);
        padding-bottom: var(--tag-gap);
        padding-left: calc(var(--tag-left-padding) - 4px);
        padding-right: calc(var(--tag-left-padding) - 4px);
        cursor: text;
        transition: border-color var(--duration);

        &:hover {
            border-color: var(--border-highlight-hover);
        }

        .placeholder,
        .trigger,
        .item{
            height: var(--tag-height);
            line-height: var(--tag-height);
        }

        .placeholder {
            position: absolute;
            top: calc(var(--tag-gap) * 2);
            left: var(--tag-left-padding);
            color: #999;
            user-select: none;
        }

        .item,
        .trigger{
            float: left;
            margin-top: var(--tag-gap);
            margin-bottom: var(--tag-gap);
        }
        .item {
            float: left;
            position: relative;
            max-width: 220px;
            padding-right: 26px;
            padding-left: 6px;
            margin-right: calc(var(--tag-gap) * 2);
            background-color: var(--color-bg-hover);
            border-radius: var(--border-radius);
            cursor: pointer;
            white-space: nowrap;
            word-wrap: normal;
            overflow: hidden;
            text-overflow: ellipsis;

            .item-delete {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 20px;
                line-height: var(--tag-height);
                text-align: center;
                font-size: 12px;
                font-weight: bold;
                color: #ccc;
                transition: color var(--duration);
                border-left: 1px solid #fff;

                &:hover {
                    color: #999;
                }
            }
        }
        .trigger {
            padding: 0;
            border: none;
            outline: none;
            background: transparent;
        }
    }
    &[mx-disabled] {
        .ipt{
            cursor: not-allowed;
            background-color: var(--color-bg);
            border-color: var(--color-border);

            &:hover {
                border-color: var(--color-border);
            }
        }
        
        .item {
            cursor: not-allowed;
            color: #999;
            .item-delete:hover {
                color: #ccc;
            }
        }
    }

    .tag-item {
        margin: 2px 0;
        padding: 0 10px;
        cursor: pointer;
        height: var(--input-small-height);
        line-height: var(--input-small-height);
        border-radius: var(--border-radius);
        white-space: nowrap;
        word-break: break-all;
        &:hover,
        &.hover {
            background-color: var(--color-bg-hover);
        }
    }
}