@import '../mx-style/_vars';

.suggest {
    position: relative;
    z-index: 1;
    max-height: 260px;
    padding: 10px;
    font-size: @font-size;
    border-radius: @border-radius;
    border: 1px solid @color-border;
    overflow: auto;
    list-style: none;
    background-color: #fff;
    line-height: @line-height;

    .item {
        cursor: pointer;

        .item-link {
            display: block;
            width: 100%;
            padding: 0 10px;
            height: @input-height;
            color: @color-secondary;
            line-height: @input-height;
            border-radius: @border-radius;

            &:hover, &:focus, &:active {
                color: @color-primary;
                background-color: @color-hover;
            }

        }

        &:last-child {
            margin-bottom: 0;
        }

    }

    .active {
        color: @color-primary;
        background-color: @color-hover;
        border-radius: @border-radius;
        text-decoration: none;
        outline: 0;
    }

}
