@rwd-width: 12px;
.wrap {
    width: @rwd-width * 2;

    .arrow {
        width: @rwd-width;
        background-color: #ccc;
        color: #fff;
        cursor: pointer;

        &:hover {
            background-color: var(--color-brand);
        }

    }

}

.end {
    padding-right: 40px;
}
