html,
body {

    .error,
    .error:hover,
    .error:focus {
        border-color: var(--color-red) !important;

        [ref="@scoped.style:mx-trigger"],
        &[mx-view*="mx-input/index"] input {
            border-color: var(--color-red) !important;
        }

        /* 未选中的radio和checkbox */
        input[type="radio"]:not(:checked),
        input[type="checkbox"]:not(:checked) {
            border-color: var(--color-red) !important;
        }
    }

    .warn,
    .warn:hover,
    .warn:focus {
        border-color: var(--color-warn) !important;

        [ref="@scoped.style:mx-trigger"],
        &[mx-view*="mx-input/index"] input {
            border-color: var(--color-warn) !important;
        }
    }

    .error-msg,
    .warn-msg {
        display: none;
        position: absolute;
        white-space: nowrap;
        word-wrap: normal;
        font-size: var(--font-size);
    }

    .error-msg {
        color: var(--color-red);
    }

    .warn-msg {
        color: var(--color-warn);
    }
}