html,
body {

    .error,
    .error:hover,
    .error:focus {
        border-color: var(--color-red) !important;

        [ref="@scoped.style:mx-trigger"],
        [ref="@../mx-taginput/index.less:ipt"],
        &[mx-view*="mx-input/index"] input,
        input[type="radio"]:not(:checked),
        input[type="checkbox"]:not(:checked),
        &[mx-view*="mx-dropdown/box"] [ref="@../mx-dropdown/box.less:box"]::after {
            border-color: var(--color-red) !important;
        }
    }

    .warn,
    .warn:hover,
    .warn:focus {
        border-color: var(--color-warn) !important;

        [ref="@scoped.style:mx-trigger"],
        [ref="@../mx-taginput/index.less:ipt"],
        &[mx-view*="mx-input/index"] input,
        &[mx-view*="mx-dropdown/box"] [ref="@../mx-dropdown/box.less:box"]::after {
            border-color: var(--color-warn) !important;
        }
    }

    .error-text-msg,
    .warn-text-msg {
        display: none;
        position: absolute;
        white-space: nowrap;
        word-wrap: normal;
        font-size: var(--font-size);
    }

    .error-text-msg {
        color: var(--color-red);
    }

    .warn-text-msg {
        color: var(--color-warn);
    }


    .error-box-msg {
        --mx-form-msg-color: #fbe9e6;

        .icon {
            color: var(--color-red);
        }
    }

    .warn-box-msg {
        --mx-form-msg-color: #fff7e6;

        .icon {
            color: var(--color-warn);
        }
    }

    .error-box-msg,
    .warn-box-msg {
        display: none;
        position: absolute;
        min-width: 200px;
        max-width: 320px;
        padding: 6px 8px 6px 26px;
        color: #666;
        font-size: var(--font-size);
        line-height: 20px;
        border-radius: var(--border-radius);
        z-index: 9999;
        background-color: var(--mx-form-msg-color);

        .icon {
            position: absolute;
            top: 6px;
            left: 8px;
            width: 16px;
            line-height: 20px;
            font-size: 16px;
        }

        &.box-bottom {
            box-shadow: var(--mx-comp-shadow-card);

            &::before {
                content: ' ';
                position: absolute;
                top: -6px;
                left: 8px;
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid var(--mx-form-msg-color);
            }
        }

        &.box-right {
            box-shadow: var(--mx-comp-shadow-card);

            &::before {
                content: ' ';
                position: absolute;
                top: 8px;
                left: -6px;
                width: 0;
                height: 0;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-right: 6px solid var(--mx-form-msg-color);
            }
        }
    }
}