.page-header {
    position: relative;
    margin-bottom: 20px;

    .page-tip {
        color: #999;
    }
}

.first-header,
.second-header {
    margin-right: 16px;
    line-height: var(--input-height);
}

.first-header {
    font-size: 20px;
}

.second-header {
    font-size: 16px;
}