.page-header {
    position: relative;
    margin-bottom: 20px;

    .page-tip {
        color: #999;
    }
}

.first-header,
.second-header {
    margin-right: 16px;
    line-height: var(--input-height);
}

.first-header {
    font-size: 20px;
}

.second-header {
    font-size: 16px;
}


.img-content {
    display: flex;
    align-items: center;
}

.img {
    width: 48px;
    height: auto;
    margin-right: 12px;
}

.img-text {
    flex: 1;
    line-height: normal;
}

.img-title {
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.img-tip {
    margin-top: 8px;
    color: #999;
}