<!-- {{each list as item}}
<div class="update">
    <div class="ver pl20">
        <span class="vt">{{=item.ver}}</span>
        <span class="vi">{{=item.time}}</span>
    </div>
    <div class="pt10 pb30">
        {{each item.subs as s}}
        <div class="pl20">
            {{if s.type == 'bug'}}
            <div class="line"><i class="mc-iconfont color-warn displacement-2 mr5">&#xe63d;</i>bug修复</div>
            {{/if}}

            {{if s.type == 'add'}}
            <div class="line"><i class="mc-iconfont color-green displacement-2 mr5">&#xe616;</i>功能上新</div>
            {{/if}}

            {{each s.subs as ss}}
            <div class="pl20">
                <div class="line dot">{{!ss.title}}</div>

                {{if ss.subs && (ss.subs.length > 0)}}
                <div class="pl20">
                    {{each ss.subs as sss}}
                    <div class="line dot">{{!sss}}</div>
                    {{/each}}
                </div>
                {{/if}}
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
</div>
{{/each}}
<div class="update">
    <div class="ver pl20">
        <span class="vt">历史版本</span>
        <span class="vi">···</span>
    </div>
</div> -->

<!-- <div class="tip-content mb20">
        <div class="lh28">@2018.06.19：组件版本升级至@ali/zs-gallery@1.0.71</div>
        <div class="lh28">1. 日历 + dropdown + 分页 + 校验国际化</div>
    </div>
<div class="tip-content mb20">
    <div class="lh28">@2018.05.25：组件版本升级至@ali/zs-gallery@1.0.67</div>
    <div class="lh28">1. 阿里妈妈新版通用吊头 <a href="#!/develop/mama-header" class="link-brand ml10">查看示例</a></div>
    <div class="lh28">2. mx-dropdown埋点</div>
    <div class="lh28">3. /lib/scroll，监听页面参数变化返回顶部 <a href="#!/develop/scroll" class="link-brand ml10">查看示例</a></div>
    <div class="lh28">3. 更新loading组件，默认加载中时禁止操作 <a href="#!/develop/loading" class="link-brand ml10">查看示例</a></div>
</div>
<div class="tip-content mb20">
    <div class="lh28">@2018.05.17：组件版本升级至@ali/zs-gallery@1.0.63</div>
    <div class="lh28">1. 缩略图 + 预览 <a href="#!/develop/preview" class="link-brand ml10">查看示例</a></div>
    <div class="lh28">2. 当前侧导航默认到可视范围之内</div>
    <div class="lh28">3. 表格任意colspan</div>
    <div class="lh28">4. popover改成hover时才计算距离，默认手势cursor: pointer</div>
</div>
<div class="tip-content mb20">
    <div class="lh28">@2018.05.10：组件版本升级至@ali/zs-gallery@1.0.53</div>
    <div class="lh28">1. 样式细节优化</div>
    <div class="lh28">2. 日历自定义trigger显示 <a href="#!/develop/calendar?tab=calendar2&to=5" class="link-brand ml10">查看示例</a></div>
</div>
<div class="tip-content mb20">
    <div class="lh28">@2018.04.27：组件版本升级至@ali/zs-gallery@1.0.47</div>
    <div class="lh28">1. 表格</div>
    <div class="lh28 pl40">表头吸顶自定义节点，配置scroll-wrapper，&lt;mx-table sticky="true" scroll-wrapper="&#123;=id&#125;&#125;"&gt; <a href="#!/develop/table?tab=table6" class="link-brand ml10">查看示例</a></div>
    <div class="lh28 pl40">window下鼠标不好左右滚动，模拟滚动条，加吸底功能 <a href="#!/develop/table?tab=table5" class="link-brand ml10">查看示例</a></div>
    <div class="lh28">2. 校验validator组件提供一个clearValid，重新render的时候清空校验，适用场景：切换选项更新了校验规则，需要重置校验</div>
    <div class="lh28">3. dropdown</div>
    <div class="lh28 pl40">单选带分组，第一个示例<a href="#!/develop/dropdown?tab=dropdown1" class="link-brand ml10">查看示例</a></div>
    <div class="lh28 pl40">多选分组重构，加组内全选功能，第一个示例<a href="#!/develop/dropdown?tab=dropdown2" class="link-brand ml10">查看示例</a></div>
    <div class="lh28">4. mx-editor加回车保存逻辑<a href="#!/develop/editor" class="link-brand ml10">查看示例</a></div>
</div>
<div class="tip-content mb20">
    <div class="lh28">@2018.04.16：组件版本升级至@ali/zs-gallery@1.0.37</div>
    <div class="lh28">1. 表格使用时注意事项</div>
    <div class="lh28 pl40"><span class="color-red">渲染表格涉及的参数建议直接挂载在view上</span>，确保数据保证每次更新数据能和展现一致，table组件内assign固定return true；</div>
    <div class="lh28 pl40">表格内如果渲染了子view，<span class="color-red">请提前设置子view的高度</span>，组件内计算高度的时候，如果子view未渲染完成，可能会出现偏差</div>
    <div class="lh28 pl40">增加子表格表头样式，在tr上增加样式thead即可。<a href="#!/develop/table?tab=table5" class="link-brand ml10">查看示例</a></div>
    <div class="lh28 pl40">tab切换下的表格用的是统一，同时用了mixins展开子表格的功能，切换的时候需要重置mixins内状态（<span class="color-red">实现待商讨，@宫卫</span>）</div>
    <div class="lh28">2. 主流程错误提示样式（content-box-title加error-state），警告样式（content-box-title加warn-state）。<a href="#!/main/index?campaignId=123&stepIndex=2&subStepIndex=-1" class="link-brand ml10">查看示例</a></div>
    <div class="lh28">3. magix-combine去掉了对组件的默认配置，combine-tool-config增加配置popover配置默认用span生成</div>
    <div class="lh28 pl40"><pre>galleries: {
    mxRoot: 'zs_scaffold/gallery/',
    mxMap: {
        'mx-popover': {
            tag: 'span'
        }
    }
}</pre></div>
    <div class="lh28">4. 优化default</div>
    <div class="lh28">5. 去掉mx-editor默认min-height，避免样式对不齐</div>
    <div class="lh28">6. 登陆示例+品牌色改变申请<a href="#!/login/index" class="link-brand ml10">查看示例</a></div>
    <div class="lh28">7. Form 和 Validator组件</div>
    <div class="lh28 pl40">dna项目中，boot.js中view ctor中统一加入了Form，Validator，导致校验时节点change时，节点所处view都是处罚组件内事件，对于mixins类组件，数据本身不在组件内，此时会有问题，节点触发事件时判断下，交给节点真正所属的view处理；单品中是哪里要用哪里引入组件，使用上有点麻烦，但不会有此类问题（<span class="color-red">是否有更好的解决办法待商讨</span>）</div>
    <div class="lh28 pl40">待处理问题，type=checkbox是不是要单独处理下？</div>
    <div class="lh28">8. mx-tree批量选中有层级关系的数据 <a href="#!/develop/tree" class="link-brand ml10">查看示例</a></div>
    <div class="lh28">9. 日历选择时间段组件修正</div>
    <div class="lh28 pl40">结束时间禁止选择（end-disabled）时，不允许设置开始时间</div>
    <div class="lh28 pl40">开始时间禁止选择（start-disabled）时，只允许使用动态计算的快捷日期，动态计算的都是依据开始时间计算的</div>
</div>
<div class="tip-content mb20">
    <div class="lh28">@2018.04.16：组件版本升级至@ali/zs-gallery@1.0.35</div>
    <div class="lh28">1. magix3升级到 <a href="https://github.com/thx/magix/blob/master/dist/cmd/magix-es3-debug.js" target="_blank" class="link-brand">3.8.8，点我获取</a>，修改点：如果一个节点是mx-view节点，且对应的view实现了assign方法，magix会帮助更新该节点上的属性其它的调用view的assign方法处理：
    </div>
    <div class="lh28 pl40">1.1 mx-dropdown，样式写法[mx-view*="/mx-dropdown/"]（<a href="#!/develop/dropdown?tab=dropdown3" class="link-brand">外部修改组件样式</a> <span class="ml5 mr5">|</span> <a href="#!/develop/dropdown?tab=dropdown4" class="link-brand">校验</a>）</div>
    <div class="lh28 pl40">1.2 mx-slider</div>
    <div class="lh28 pl40 clearfix">
        <div class="fl">1.3  </div>
        <div class="fl"><pre>&lt;div mx-view="@./content" style="min-height: &#123;&#123;=minHeight&#125;&#125;px;"&gt;&lt;/div&gt;</pre></div>
        <div class="fl ml10">minHeight变化在[mx-view]上也生效</div>
    </div>
    <div class="lh28">2. 去magix-combine里组件节点特殊配置，magix-combine需要升级到 <span class="color-brand">3.10.8</span>，涉及修改的组件如下（<span class="color-red">具体bp下面可能节点样式需要更新下</span>）</div>
    <div class="lh28 pl40">2.1 mx-popover默认用span展示，也可以自定义tag</div>
    <div class="lh28 pl40 mb10">2.2 mx-calendar（<span class="color-red">组件div包裹，具体场景需要加inline-block或者float，不要在组件上加class input，否则会出现重叠，input现在包在组件里</span>）</div>
    <div class="lh28 pl80 clearfix mb10">
        <div class="fl w300">
            <mx-calendar.datepicker class="inline-block w200"/>
        </div>
        <div class="fl">
            <pre>&lt;mx-calendar.datepicker class="inline-block w200"/&gt;&lt;/pre&gt;</pre>
        </div>
    </div>
    <div class="lh28 pl80 clearfix mb10">
        <div class="fl w300">
            <mx-calendar.datepicker class="input inline-block w200"/>
        </div>
        <div class="fl">
            <pre>&lt;mx-calendar.datepicker class="input inline-block w200"/&gt;&lt;/pre&gt;</pre>
        </div>
    </div>
    <div class="lh28 pl40 mb10">2.3 更新combine-tool-config的配置</div>
    <div class="pl80"><pre>galleries: {
    mxRoot: 'zs_scaffold/gallery/',
    mxMap: {
        'mx-switch': {
            tag: 'span'
        },
        'mx-table' (tag) {
            let content = tag.content;
            let ctrl = tag.seprateAttrs('div');
            content = content.replace(/&lt;table/g, '&lt;div&gt;$&').replace(/&lt;\/table&gt;/g, '$&&lt;/div&gt;');
            return `&lt;${ctrl.tag} mx-view="${tag.mxView}" ${ctrl.attrs} ${ctrl.viewAttrs}&gt;${content}&lt;/${ctrl.tag}&gt;`;
        }
    }
}</pre></div>
    <div class="lh28">3. mx-tab 增加打标配置<a href="#!/develop/tab" class="link-brand ml10">查看示例</a></div>
    <div class="lh28">4. mx-popover增加自定义view<a href="#!/develop/popover" class="link-brand ml10">查看示例</a></div>
    <div class="lh28">5. 表格报表指标排序mixin<a href="#!/develop/tableSort" class="link-brand ml10">查看示例</a></div> 
    <div class="lh28">6. 状态功能，跟业务挂钩，各自去继承好了<a href="#!/develop/status" class="link-brand ml10">查看示例</a></div>
    <div class="lh28">7. 更新chartpark接入流程<a href="#!/chartx/get" class="link-brand ml10">查看示例</a></div>
    <div class="lh28">8. chart变成组件，去掉全局的createChart<a href="#!/chartx/index" class="link-brand ml10">查看示例</a></div>
    <div class="lh28">9. 支持多绑定 form，日历</div>
    <div class="lh28">10. editor编辑内容未改变不响应change事件</div>
    <div class="lh28">11. 修改导航锁定是显示逻辑（同钻展），展开结束trigger navslidend给图表resize</div>
</div> 

<div class="tip-content mb20">
    <div class="lh28">@2018.04.11：组件版本升级至@ali/zs-gallery@1.0.29</div>
    <div class="lh28">1. 日历增加start-disabled，end-disabled配置开始时间或者接结束时间不可选</div>
    <div class="lh28">2. 更新dialog定位方法，absolute定位，跟着节点走</div>
    <div class="lh28">3. linkage初始化状态修正</div>
    <div class="lh28">4. editor，加opertations适用表格使用规则，更新示例。<a href="#!/develop/editor" class="link-brand">查看示例</a></div>
    <div class="lh28">5. dropdown增加深色配色方案，配置color-type="dark"。<a href="#!/develop/dropdown" class="link-brand">查看示例</a></div>
    <div class="lh28">5. 完善主流程示例。<a href="#!/main/index" class="link-brand">查看示例</a></div>
</div> 

<div class="tip-content mb20">
    <div class="color-red lh28">
        <i class="iconfont displacement-2">&#xe6ad;</i>
        本版本追加节点样式的实现方案不合理，请不要升级该版本
    </div>
    <div class="lh28">@2018.04.08：组件版本升级至@ali/zs-gallery@1.0.27</div>
    <div class="lh28">magix3第一版的实现，如果一个节点是mx-view节点，且对应的view实现了assign方法，magix会帮助更新该节点上的属性其它的调用view的assign方法处理；第二版是如果view有assign方法，则该节点上的属性magix并不再帮助更新。以下两个组件原先在组件内部向根节点添加了class，外部diff后就掉了，取消组件内动态向根节点追加class，再包一层</div>
    <div class="lh28 pl20">1. 更新组件mx-dropdown</div>
    <div class="lh28 pl20">2. 更新组件mx-slider</div>
    <div class="lh28">样式上可能需要稍微调整下</div>
</div>

<div class="tip-content mb20">
    <div class="lh28">@2018.04.03：组件版本升级至@ali/zs-gallery@1.0.26</div>
    <div class="lh28">1. 增加编辑组件 mx-editor</div>
    <div class="lh28">2. 增加搜索组件 mx-search（选择类型搜索或者简单搜索）</div>
    <div class="lh28">3. window.resize的时候，重新计算页面min-height，更新导航位置</div>
</div>

<div class="tip-content mb20">
    <div class="lh28">@2018.03.29：组件版本升级至@ali/zs-gallery@1.0.21</div>
    <div class="lh28">1. 改造form的isValid，可单独校验某个节点</div>
    <div class="pl40"><pre>&lt;!-- isValid方法可传入参数校验某个节点 --&gt;
this.isValid({
    element: null, //单独校验某个节点
    scrollIntoView: true, //校验有错误的情况下是否要滚动到错误节点
    checkSubs: true //是否调用子view校验，children isValid
})</pre></div>
    <div class="lh28">2. form双向绑定和校验分开，需要升级magix（<a href="https://github.com/thx/magix/blob/master/dist/cmd/magix-es3-debug.js" target="_blank" class="link-brand">https://github.com/thx/magix/blob/master/dist/cmd/magix-es3-debug.js</a>），magix-combine 至 3.10.0 </div>
    <div class="pl40">
        <pre>let Magix = require('magix');
let Form = require('@../../../gallery/mx-form/index');
let Validator = require('@../../../gallery/mx-form/validator');

module.exports = Magix.View.extend({
    mixins: [Form, Validator]
});</pre>
    </div>
    <div class="lh28">3. 增加校验规则，<a href="#!/develop/form?tab=form2" class="link-brand">查看示例</a></div>
    <div class="pl40">
        <div>url（合法链接）</div>
        <div>english（英文）</div>
        <div>chinese（中文）</div>
        <div>mobile（手机号码）</div>
        <div>currency（保留两位小数金额） </div>
    </div>
    <div class="lh28">4. fix mx-tab 侧导航收起展开时的bug</div>
</div>

<div class="tip-content mb20">
    <div class="lh28">@2018.03.29：组件版本升级至@ali/zs-gallery@1.0.18</div>
    <div class="lh28">1. 菜单样式 + 主流程样式 + 通用基础样式提取值 _layout.less 汇入组件内部</div>
    <div class="lh28">2. 表格表头可分组，动态计算高度，滚动区域表格宽度可以不设置。<a href="#!/develop/table" class="link-brand">查看示例</a></div>
    <div class="lh28">3. 增加校验组件完整使用示例，包括警告类信息。<a href="#!/develop/form" class="link-brand">查看示例</a></div>
    <div class="lh28">4. 增加报表模块示例。<a href="#!/report/index" class="link-brand">查看示例</a></div>
</div>


<div class="tip-content mb20">
    <div class="lh28">@2018.03.28：组件版本升级至@ali/zs-gallery@1.0.16</div>
    <div class="lh28">1. combine-tool-config 里面 cssSelectorPrefix 一定要配置（项目唯一标识），magix上线时会压缩css，目前mx-style/index.less，iconfont.less都挂在全局，压缩的css如果没有前缀可能生成 .fl 这种和全局样式冲突的</div>
    <div class="lh28">2. zs_gallery老表格bug fix：表格组件原先的实现会在组件内动态追加节点包裹table，dom diff比较真实节点会导致只要有变更，表格组件一定会销毁重建</div>
    <div class="pl10 lh28">解决方案：不影响之前的使用方式，在combine-tool-config里增加配置包裹table，而不是在组件内部追加节点，其中 mx-table.excel 是为了兼容以前的写法，项目中如果没有使用过可以不配置了，mx-table.excel 完全等同于 mx-table</div>
    <div class="pl70"><pre>galleries: {
    mxRoot: 'zs_scaffold/gallery/',
    mxMap: {
        'mx-table' (tag) {
            let content = tag.content;
            let ctrl = tag.seprateAttrs('div');
            content = content.replace(/&lt;table/g, '&lt;div&gt;$&').replace(/&lt;\/table&gt;/g, '$&&lt;/div&gt;');
            return `&lt;${ctrl.tag} mx-view="${tag.mxView}" ${ctrl.attrs} ${ctrl.viewAttrs}&gt;${content}&lt;/${ctrl.tag}&gt;`;
        },
        'mx-table.excel' (tag) {
            let content = tag.content;
            let ctrl = tag.seprateAttrs('div');
            content = content.replace(/&lt;table/g, '&lt;div&gt;$&').replace(/&lt;\/table&gt;/g, '$&&lt;/div&gt;');
            return `&lt;${ctrl.tag} mx-view="${tag.mxView}" ${ctrl.attrs} ${ctrl.viewAttrs}&gt;${content}&lt;/${ctrl.tag}&gt;`;
        }
    }
}</pre></div>
</div> -->