.tt {
    display: flex;
    align-items: center;
    font-size: 16px;
    border-bottom: 0 none;
}

.type-icon {
    margin-right: 4px;
    font-size: 18px;
}

.bb {
    padding: 0 var(--output-h-gap, 24px) var(--output-v-gap, 16px) var(--output-h-gap, 24px);
    word-break: break-all;
}

.ff {
    border-top: 0 none;
}