<div class="dialog-header tt">
    {{if (type == 'highlight')}}
    <i class="mx-iconfont type-icon color-brand">&#xe71b;</i>
    {{else if (type == 'error')}}
    <i class="mx-iconfont type-icon color-red">&#xe71c;</i>
    {{else if (type == 'warn')}}
    <i class="mx-iconfont type-icon color-warn">&#xe719;</i>
    {{else if (type == 'pass')}}
    <i class="mx-iconfont type-icon color-green">&#xe71a;</i>
    {{/if}}
    {{!title}}
</div>
<div class="aem-dialog-content bb">
    {{!c}}
</div>
{{if (enter || cancel)}}
<div class="dialog-footer ff clearfix">
    {{if enter}}
    <mx-btn class="fl"
        mode="{{=(enterError ? 'primary-error' : 'primary')}}"
        content="{{=enterText}}"
        mx-click="@{enter}();" data-spm-click="{{=spm}}_submit"/>
    {{/if}}
    {{if cancel}}
    <mx-btn class="ml8 fl" 
        mode="hollow"
        content="{{=cancelText}}"
        mx-click="@{cancel}()" data-spm-click="{{=spm}}_cancel"/>
    {{/if}}
</div>
{{/if}}