.type-icon {
    margin-right: 4px;
    font-size: 18px;
}

.tt {
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 0;
    border-bottom: 0 none;
}

.bb {
    padding-top: 24px;
    padding-bottom: 24px;
    word-break: break-all;
}

.ff {
    min-height: 0;
    padding-top: 0;
    padding-bottom: 16px;
    border-top: 0 none;
}