<div class="help">
    <div class="help-navs">
        {{each list as item index}}
        <a href="javascript:;" 
            class="help-nav {{if index == curIndex}} cur {{/if}} {{if index == hoverIndex}} hover {{/if}}" 
            mx-mouseover="over({index:'{{=index}}'})" 
            mx-mouseout="out()"
            mx-click="select({index:'{{=index}}'})">{{=item[textKey]}}</a>
        {{/each}}
    </div>
    <div class="help-content" style="height: {{=height}}px;">
        <div mx-view="{{=contentView}}?data={{@list[curIndex]}}"></div>
    </div>
</div>
    