@import "../mx-style/_vars";
@help-nav-width: 192px;

.help {
    position: relative;
    padding-left: @help-nav-width;
    border-radius: @border-radius;

    .help-navs {
        position: absolute;
        top: -1px;
        left: -1px;
        bottom: -1px;
        width: @help-nav-width;
        background-color: @color-bg;
        border-top-left-radius: @border-radius;
        border-bottom-left-radius: @border-radius;
        overflow-y: auto;

        .help-nav {
            display: block;
            height: 44px;
            padding: 0 16px;
            line-height: 44px;
            border-left: 4px solid @color-bg;
            color: #999;
            white-space: nowrap;
            word-wrap: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: all @duration ease-out;

            &.hover {
                color: #333;
                background-color: @color-brand-opacity;
                border-left: 4px solid @color-brand;
            }

            &.cur {
                color: @color-brand;
            }

        }

    }

    .help-content {
        padding: 20px;
        overflow-y: auto;
    }

}
