{{if outerImg}}
<img class="dialog-outer-img" src="{{=outerImg}}" />
{{/if}}
{{if closable}}
<a href="javascript:;" mx-click="@{close}()" data-spm-click="{{=spm}}_dialog_close" class="dialog-close">
    <i class="mc-iconfont iconfont-ext">&#xe603;</i>
</a>
{{/if}}
<div class="dialog-content" id="{{=cntId}}_content">
    <!-- header -->
    {{if dialogHeader.title}}
    <div class="dialog-header" id="{{=cntId}}_header">
        <span class="dialog-header-name">
            {{!dialogHeader.title}}
            <!-- icon提示 -->
            {{if dialogHeader.iconTip}}
            <mx-popover class="mc-iconfont mc-tip-iconfont" tag="i" content="{{=dialogHeader.iconTip}}">&#xe72f;</mx-popover>
            {{/if}}
        </span>

        {{if dialogHeader.tip}}
        <span class="dialog-header-tip">{{!dialogHeader.tip}}</span>
        {{/if}}

        {{if dialogHeader.feedbackId}}
        <mx-feedback class="dialog-header-tip"
            fd-id="{{=dialogHeader.feedbackId}}" 
            trigger-type="auto"/>
        {{/if}}
    </div>
    {{/if}}

    <!-- content -->
    <div id="{{=cntId}}">
        <mx-loading id="{{=cntId}}_loading" height="100%"/>
    </div>

    <!-- footer -->
    {{if (dialogFooter.enter || dialogFooter.cancel)}}
    <div class="dialog-footer footer-wrapper footer--{{=dialogFooter.textAlign}} clearfix" id="{{=cntId}}_footer"  style="text-align: {{=dialogFooter.textAlign}};">
        {{if (dialogFooter.enter && dialogFooter.textAlign == 'right')}}
        <span id="{{=cntId}}_footer_error" class="footer-item footer-error"></span>
        {{/if}}

        {{if dialogFooter.enter}}
        <mx-btn id="{{=cntId}}_footer_submit" class="footer-item" mode="{{=(dialogFooter.enterError ? 'primary-error' : 'primary')}}" mx-click="@{btn.submit}()" data-spm-click="{{=spm}}_dialog_submit">{{!dialogFooter.enterText}}</mx-btn>
        {{/if}}

        {{if dialogFooter.cancel}}
        <mx-btn id="{{=cntId}}_footer_cancel" class="footer-item" mode="hollow"  mx-click="@{btn.close}()" data-spm-click="{{=spm}}_dialog_cancel">{{!dialogFooter.cancelText}}</mx-btn>
        {{/if}}

        {{if (dialogFooter.enter && dialogFooter.textAlign == 'left')}}
        <span id="{{=cntId}}_footer_error" class="footer-item footer-error"></span>
        {{/if}}
    </div>  
    {{/if}}
</div>
<!-- 上下留白 -->
{{if hasMargin}}
<div class="margin-placeholder"></div>
{{/if}}