@import "../mx-style/_vars";

.dialog-backdrop,
.dialog-wrapper{
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all @duration;
}
.dialog-backdrop {
    opacity: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .4);

    &.backdrop-out{
        opacity: 1;
    }
}

.dialog {
    position: absolute;
    border-radius: @border-radius;
    background-color: #fff;

    .dialog-content {
        position: relative;
        word-break: break-all;
    }

    .dialog-close {
        position: absolute;
        top: 16px;
        right: 24px;
        width: 26px;
        height: 26px;
        z-index: 20;
        border-radius: 50%;
        background: transparent;
        color: #ccc;
        text-align: center;

        .iconfont-ext {
            font-size: 18px;
            font-weight: bold;
            line-height: 26px;
        }

        &:hover, &:focus {
            background-color: #999;
            color: #fff;
        }

    }

    &.full{
        border-radius: 0;
    }
}

/**
 * 按钮中间的loading点动画
 */
@keyframes loading-dots {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, 2px);
    }
    50% {
        transform: translate(0, 0);
    }
    75% {
        transform: translate(0, -2px);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes loading-dots-rev {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, -2px);
    }
    50% {
        transform: translate(0, 0);
    }
    75% {
        transform: translate(0, 2px);
    }
    100% {
        transform: translate(0, 0);
    }
}
.loading-dot,
.loading-dot:after,
.loading-dot:before {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: white;
    vertical-align: middle;
    border-radius: 50%;
}
.loading-dot{
    position: relative;
    margin: 0 8px;
}
.loading-dot:after{
    content: ' ';
    position: absolute;
    left: -8px;
    top: 0;
    animation: loading-dots 0.6s linear 0s infinite;
}
.loading-dot:before {
    content: ' ';
    position: absolute;
    left: 8px;
    top: 0;
    animation: loading-dots-rev 0.6s linear 0s infinite;
}

.btn-submit{
    position: relative;
    .submit-text{
        opacity: 1;
        position: relative;
        z-index: 1;
    }
    .submit-loading{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
    }

    &.btn-submit-loading{
        .submit-text{
            opacity: 0;
        }
        .submit-loading{
            display: inline;
        }
    }
}