@import "../mx-style/_vars";

.dialog-backdrop,
.dialog-wrapper{
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all @duration;
}
.dialog-backdrop {
    opacity: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .4);

    &.backdrop-out{
        opacity: 1;
    }
}
.dialog-wrapper{
    overflow-y: auto;
}

.dialog {
    position: absolute;
    border-radius: @border-radius;
    background-color: #fff;
    .mx-shadow();

    .dialog-content {
        position: relative;
        word-break: break-all;
        
        .loading-ext {
            padding: 80px 0;
        }

    }

    .dialog-close {
        position: absolute;
        top: 18px;
        right: 20px;
        width: 26px;
        height: 26px;
        z-index: 20;
        border-radius: 50%;
        background: transparent;
        color: #ccc;
        text-align: center;

        .iconfont-ext {
            font-size: 18px;
            font-weight: bold;
            line-height: 26px;
        }

        &:hover, &:focus {
            background-color: #999;
            color: #fff;
        }

    }

}

.modal {
    overflow-y: hidden;
}

.btn-submit{
    position: relative;
    .submit-text{
        opacity: 1;
        position: relative;
        z-index: 1;
    }
    .submit-loading{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        margin-top: -2px;
        margin-left: -2px;
    }

    &.btn-submit-loading{
        .submit-text{
            opacity: 0;
        }
        .submit-loading{
            display: inline;
        }
    }
}