<div class="example">
    <div class="eg-content">
        <div class="clearfix lh22 mb20">
            <div class="fl color-9">以下示例：</div>
            <div class="fl">
                <div>使用input value作为主键，<span class="color-brand">请保证input value的唯一性（包含翻页的情况），不要使用index</span></div>
                <div>需要的时候调用this.getStoreState获取选中值</div>
                <div>部分禁止选择，翻页保存选中值</div>
            </div>
        </div>
        <div class="mb20">
            <a href="javascript:;" mx-click="get()" class="btn btn-brand mr20">获取选中值</a>
            {{if (selected.length > 0)}}
            <span class="color-9">当前选中：</span>{{=selected}}
            {{/if}}
        </div>
        <mx-table sticky="true">
            <table class="table">
                <thead>
                    <tr>
                        <th width="50">
                            <input type="checkbox" class="checkbox" linkage="example" />
                        </th>
                        <th width="200">列1</th>
                        <th width="200">列2</th>
                        <th width="200">列3</th>
                    </tr>
                </thead>
                <tbody>
                    {{each list as item index}}
                    <tr class="{{= (index+1==list.length) ? 'last-tr' : ''}}">
                        <td>
                            <input type="checkbox" class="checkbox" 
                                linkage-parent="example" 
                                value="{{=item.id}}" 
                                {{if item.disabled}} disabled="true" {{/if}}/>
                        </td>
                        <td>{{=item.content1}}</td>
                        <td>{{=item.content2}}</td>
                        <td>{{=item.content3}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </mx-table>
        <div class="table-pager-wrapper">
            <mx-pagination 
                total="{{=total}}" 
                size="{{=size}}" 
                page="{{=page}}"
                mx-change="changePager()"/>
        </div>
    </div>
    <div class="clearfix">
        <div class="eg-desc half">
            <div class="eg-title">HTML Code</div>
            <mx-copy copy-node="{{=viewId}}_text_1" class="desc-oper" 
                mx-success="done({id:1})">
                <span class="desc-tip">{{!text1}}</span>
                <i class="mc-iconfont desc-icon">&#xe610;</i>
            </mx-copy>
            <pre mx-view="__test__/hl" id="{{=viewId}}_text_1">
&lt;div class="mb20"&gt;
    &lt;a href="javascript:;" mx-click="get()" class="btn btn-brand mr20"&gt;获取选中值&lt;/a&gt;
    &#123;&#123;if (selected.length &gt; 0)&#125;&#125;
    &lt;span class="color-9"&gt;当前选中：&lt;/span&gt;&#123;&#123;=selected&#125;&#125;
    &#123;&#123;/if&#125;&#125;
&lt;/div&gt;
&lt;mx-table sticky="true"&gt;
    &lt;table class="table"&gt;
        &lt;thead&gt;
            &lt;tr&gt;
                &lt;th width="50"&gt;
                    &lt;input type="checkbox" class="checkbox" linkage="example" /&gt;
                &lt;/th&gt;
                &lt;th width="200"&gt;列1&lt;/th&gt;
                &lt;th width="200"&gt;列2&lt;/th&gt;
                &lt;th width="200"&gt;列3&lt;/th&gt;
            &lt;/tr&gt;
        &lt;/thead&gt;
        &lt;tbody&gt;
            &#123;&#123;each list as item index&#125;&#125;
            &lt;tr class="&#123;&#123;= (index+1==list.length) ? 'last-tr' : ''&#125;&#125;"&gt;
                &lt;td&gt;
                    &lt;input type="checkbox" class="checkbox" 
                        linkage-parent="example" 
                        value="&#123;&#123;=item.id&#125;&#125;" 
                        &#123;&#123;if item.disabled&#125;&#125; disabled="true" &#123;&#123;/if&#125;&#125;/&gt;
                &lt;/td&gt;
                &lt;td&gt;&#123;&#123;=item.content1&#125;&#125;&lt;/td&gt;
                &lt;td&gt;&#123;&#123;=item.content2&#125;&#125;&lt;/td&gt;
                &lt;td&gt;&#123;&#123;=item.content3&#125;&#125;&lt;/td&gt;
            &lt;/tr&gt;
            &#123;&#123;/each&#125;&#125;
        &lt;/tbody&gt;
    &lt;/table&gt;
&lt;/mx-table&gt;
&lt;div class="table-pager-wrapper"&gt;
    &lt;mx-pagination 
        total="&#123;&#123;=total&#125;&#125;" 
        size="&#123;&#123;=size&#125;&#125;" 
        page="&#123;&#123;=page&#125;&#125;"
        mx-change="changePager()"/&gt;
&lt;/div&gt;</pre>
        </div>
        <div class="eg-desc half half-right">
            <div class="eg-title">JS Code</div>
            <mx-copy copy-node="{{=viewId}}_text_2" class="desc-oper" 
                mx-success="done({id:2})">
                <span class="desc-tip">{{!text2}}</span>
                <i class="mc-iconfont desc-icon">&#xe610;</i>
            </mx-copy>
            <pre mx-view="__test__/hl" id="{{=viewId}}_text_2">
let Magix = require('magix');
let StoreState = require('@../../mx-checkbox/storestate');
let Linkage = require('@../../mx-checkbox/linkage');
let $ = require('$');

module.exports = Magix.View.extend(&#123;
    tmpl: '@index.html',
    mixins: [StoreState, Linkage],
    render() &#123;
        let that = this;
        let allList = [];
        for (var i = 0; i &lt; 20; i++) &#123;
            allList.push(&#123;
                id: i,
                disabled: (i % 2 == 0),
                content1: i + '_列1',
                content2: i + '_列2',
                content3: i + '_列3'
            &#125;)
        &#125;
        let size = 5,
            total = allList.length,
            page = 1;
        let list = allList.slice(0, 5);
        that.updater.digest(&#123;
            allList,
            list,
            size,
            page,
            total,
            selected: []
        &#125;);
    &#125;,
    'changePager&lt;change&gt;' (e) &#123;
        // e.page 当前第几页
        // e.size 每页多少条
        let that = this;
        let page = +e.page;
        let allList = that.updater.get('allList');
        let list = allList.slice((page - 1) * 5, page * 5);
        that.updater.digest(&#123;
            list,
            page
        &#125;)
    &#125;,
    'get&lt;click&gt;' (e) &#123;
        let selected = this.getStoreState('example');
        this.updater.digest(&#123;
            selected: selected
        &#125;)

    &#125;
&#125;);</pre>
        </div>
    </div>
</div>
