<div class="steps">
    {{each stepInfos as step}}
    <div class="clearfix step {{if step.current}} current {{/if}} {{if step.locked}} locked {{/if}} {{if step.locked}} locked {{/if}} {{if step.lineOn}} line-on {{/if}}"
        {{if !step.locked}} mx-click="nav({stepIndex:{{=step.index}}})" {{/if}}>
        <div class="circle">
            {{if step.lineOn}}
                <i class="mc-iconfont circle-icon">&#xe65d;</i>
            {{else}}
                {{=step.index}}
            {{/if}}
        </div>
        <div class="title">{{=step.label}}</div>
    </div>
    {{/each}}
</div>
<mx-vframe src="{{=curStepInfo.view}}?info={{@curStepInfo}}" class="pt20 pb20"
    id="{{=viewId}}_cur_content">
    <mx-loading/>
</mx-vframe>
<div>
    {{if curStepInfo.prevTip}}
    <a href="javascript:;" class="btn min-width-100 mr15"
        mx-click="prev()">{{=curStepInfo.prevTip}}</a>
    {{/if}}

    {{if curStepInfo.nextTip}}
    <a href="javascript:;" class="btn min-width-100 btn-brand"
        mx-click="next()">{{=curStepInfo.nextTip}}</a>
    {{/if}}
</div>
<div id="{{=viewId}}_error"></div>