{{each stepInfos as step}}
<div class="clearfix step">
    <div class="circle">{{!step.icon}}</div>
    {{if (step.index < stepInfos.length)}}
    <div class="line"></div>
    {{/if}}
    <mx-grid>
        <mx-grid.title 
            content="{{=step.label}}" 
            border="none">
            {{if (!step.locked && !step.current)}} 
            <a class="fr lh32 color-brand" href="javascript:;" 
                mx-click="nav({stepIndex:{{=step.index}}})">修改</a>
            {{/if}}
        </mx-grid.title>
        {{if step.current}}
        <mx-grid.body class="bt-e6">
            <mx-vframe src="{{=curStepInfo.view}}?info={{@curStepInfo}}" 
                id="{{=viewId}}_cur_content">
                <mx-loading/>
            </mx-vframe>
            <div class="pt20">
                {{if curStepInfo.prevTip}}
                <a href="javascript:;" class="btn min-width-100 mr15"
                    mx-click="prev()">{{=curStepInfo.prevTip}}</a>
                {{/if}}
    
                {{if curStepInfo.nextTip}}
                <a href="javascript:;" class="btn min-width-100 btn-brand"
                    mx-click="next()">{{=curStepInfo.nextTip}}</a>
                {{/if}}
            </div>
            <div id="{{=viewId}}_error"></div>
        </mx-grid.body>
        {{/if}}
    </mx-grid>
</div>
{{/each}}
