.left {
    padding: 16px;
}

.right {
    padding: 16px 16px 16px 0;
}

.cont,
.disabled-cont {
    padding: 16px;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);
    overflow: auto;
    line-height: 26px;
    font-size: 12px;
}

.disabled-cont {
    background-color: var(--color-bg);
}