<mx-grid.body class="grid">
    <div class="mb10">
        <mx-copy copy-node="{{=viewId}}_text_2"
            mx-success="done({index:2})">
            <mx-btn content="复制" brand="true"/>
        </mx-copy>
        <span class="ml10">替换group_override</span>
        {{if success2}}
        <span class="color-green ml10">复制成功</span>
        {{/if}}
    </div>
    <div class="cont" 
        style="height: {{=height}}px;"
        id="{{=viewId}}_text_2">{{!tip2}}</div>
</mx-grid.body>

<!-- <div class="fl half right">
    <div class="mb10">
        <mx-copy copy-node="{{=viewId}}_text_1" 
            mx-success="done({index:1})">
            <mx-btn content="复制" brand="true"/>
        </mx-copy>
        <span class="ml10">替换vars_override</span>
        {{if success1}}
        <span class="color-green ml10">复制成功</span>
        {{/if}}
    </div>
    <div class="cont" style="height: {{=height}}px;"
        id="{{=viewId}}_text_1">{{!tip1}}</div>
</div> -->