<div class="tip-content has-border has-highlight mb20 mr20">
    <div class="clearfix lh24">
        <div class="fl">配置说明：</div>
        <div class="fl">
            <a href="#!/all/pro/theme" class="color-brand">查看详情</a>
        </div>
    </div>
    <div class="clearfix lh24">
        <div class="fl">操作说明：</div>
        <div class="fl">
            <div>1. 选择预置主题（钻展/直通车/超级推荐）或者自定义一个颜色作为项目品牌色；</div>
            <div>2. 系统根据品牌色计算出默认色值，可在此基础上进行调整；</div>
            <div>3. 左侧编辑区域列举可设置的变量，支持修改</div>
            <div>4. 右侧iframe嵌入脚手架列举常见场景，与左侧设置的变量实时联动，帮您真实复原应用场景；</div>
        </div>
    </div>
    <div class="clearfix lh24 tip">
        <div class="tip-left">关于项目配置和组件配置的说明：</div>
        <div>阿里妈妈B类设计语言体系，基于营销领域的平台和工具构建，高效提供优质的客户体验。</div>
        <div>基于项目品牌色衍生出相关配色，快捷，统一</div>
        <div>单个操作项说明可hover名称查看</div>
    </div>
</div>
<div class="clearfix mb30">
    {{each themes as t i}}
    <div class="theme" style="width: {{=themeWidth}}px;">
        <div><a href="javascript:;" class="dot" 
                style="background-color: {{=t.colors['--color-brand']}};"
                mx-click="selectTheme({themeKey:'{{=t.key}}'})"></a></div>
        <div class="mt10">{{=t.text}}</div>
    </div>
    {{/each}}

    <div class="theme" style="width: {{=themeWidth}}px;">
        <mx-color.picker 
            dot="true"
            color="{{=custom}}"
            mx-change="changeColor()"/>
        <div class="text-center mt10">自定义</div>
    </div>

    <a href="javascript:;" class="fl ml20 btn btn-brand"
        mx-click="copy()">复制我的定制主题</a>
</div>
<div class="edit">
    <div class="nav" style="left:{{=(themeWidth*cur)}}px; width: {{=themeWidth}}px;">
        <span class="arrow"></span>
        <span class="white-arrow"></span>
    </div>
    <div class="colors" style="width: {{=(itemWidth * 4)}}px;">
        {{each list as group}}
            <div class="group">
                <span class="fontsize-14">{{=group.text}}</span>
                <span class="color-9 ml10">{{=group.tip}}</span>
            </div>
            <div class="clearfix">
                {{each group.subs as item}}
                    <div class="item">
                        <div class="name mb5">
                            <div class="color-6">{{=item.text}}{{if item.tip}}<mx-popover class="mc-iconfont mc-tip-iconfont" content="{{=item.tip}}" width="320" offset="{{@{left: 80}}}">&#xe72f;</mx-popover>{{/if}}</div>
                            <div class="name-key">{{=item.displayKey}}</div>
                        </div>
                        {{if item.type == 'color'}}
                        <mx-color.picker class="color-wrapper" style="background-color: {{=item.value}};"
                            disabled="{{=item.disabled}}"
                            color="{{:item.value}}"
                            mx-change="sync({key:'{{=item.key}}'})"/>  
                        {{/if}}
                        {{if item.type == 'text'}}
                        <div>
                            <mx-input class="w100"
                                disabled="{{=item.disabled}}"
                                value="{{:item.value}}"
                                mx-change="sync({key:'{{=item.key}}'})" />
                        </div>
                        {{/if}}
                    </div>
                    {{if item.placeholder}}
                        {{for(let i=0;i<item.placeholder;i++)}}
                        <div class="item"></div>
                        {{/for}}
                    {{/if}}
                {{/each}}
            </div>
        {{/each}}
    </div>
    <div class="preview" style="left: {{=(itemWidth * 4)}}px;">
        <iframe src="https://mo.m.taobao.com/page_201904221752051#!/example/second1" class="iframe"
            sandbox="allow-forms allow-popups allow-pointer-lock allow-same-origin allow-scripts"
            id="frame_{{=viewId}}"
            width="100%" 
            height="770" 
            frameborder="0"
            scrolling="no" 
            marginheight="0" 
            marginwidth="0" 
            border="0"></iframe>
    </div>
</div>