@logo-gap: 10px;

.logo-wrapper {
    padding: @logo-gap;
}

.logo-title {
    font-size: 14px;
}

.logo-content {
    margin-top: 10px;
}

.color-picker {
    padding: @logo-gap - 10px;
}

.logo-trigger {
    padding-bottom: 10px;

    .logo-dot {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 4px;
        border-radius: 50%;
        vertical-align: middle;
    }

    .logo-text {
        display: inline-block;
        vertical-align: middle;
        transition: all var(--duration);
        font-size: 12px;
    }
}

.outer-img-wrapper {
    float: left;
    display: flex;
    width: calc((100% - 10px) / 2);
    height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px 1px rgba(185, 185, 185, 0.60);
    border-radius: var(--border-radius);

    img.outer-img {
        max-width: 92%;
        max-height: 92%;
    }

    &:nth-child(2n) {
        margin-right: 0px;
    }
}