.cont{
    padding: 16px;
}
.tag{
    display: inline-block;
    width: 100px;
    height: var(--input-small-height);
    line-height: var(--input-small-height);
    margin-bottom: 16px;
    margin-right: 16px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;

    &:last-child{
        margin-bottom: 0;
    }
}

.tag1{
    background-color: #4d7fff;
}
.tag2{
    background-color: #385ACC;
    background-image: linear-gradient(to right, #385ACC, #5C55DD);
}
.tag3{
    background-color: #ff831b;
}