.dot {
    display: inline-block;
    width: var(--input-height);
    height: var(--input-height);
    border-radius: 50%;
    vertical-align: middle;
}

:root{
    --edit-theme-width: 126px;
    --edit-nav-size: 20px;
    --edit-color-width: calc(var(--edit-theme-width) * 4);
    --edit-group-height: 50px;
    --edit-wrapper-height: calc(var(--edit-group-height) * 2 + 780px);
}
.theme {
    float: left;
    width: var(--edit-theme-width);
    text-align: center;
}

.edit {
    position: relative;
    height: var(--edit-wrapper-height);
    padding-left: var(--edit-color-width);
}

.nav {
    position: absolute;
    z-index: 3;
    top: calc(0px - var(--edit-nav-size));
    left: 0;
    width: var(--edit-theme-width);
    height: var(--edit-nav-size);
    text-align: center;
    transition: left var(--duration);

    .white-arrow,
    .arrow {
        display: inline-block;
        width: 0;
        height: 0;
        border-width: 0 var(--edit-nav-size) var(--edit-nav-size);
        border-style: solid;
        border-color: transparent transparent var(--color-border);
    }
    .white-arrow{
        position: absolute;
        top: 1px;
        left: 50%;
        margin-left: calc(0px - var(--edit-nav-size));
        border-color: transparent transparent #fff;
    }
}

.colors {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: var(--edit-color-width);
    height: 100%;
    padding-left: 15px;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    .item {
        float: left;
        width: 120px;
        height: 86px;
    }
    .icon {
        position: relative;
        top: 1px;
        margin-left: 3px;
        color: #999;
        font-size: 14px;
    }
    .group{
        height: var(--edit-group-height);
        line-height: var(--edit-group-height);
        font-size: calc(var(--font-size) + 2px);
    }
    .color-wrapper{
        width: 100px;
        border-radius: var(--border-radius);
    
        [mx-view*="mx-color/picker"]{
            background-color: transparent;
            [ref="@scoped.style:mx-trigger"] {
                background-color: transparent;
            }
        }
    }
}

.preview {
    padding: 0 20px;
    .iframe {
        width: 100%;
        height: var(--edit-wrapper-height);
        border: 1px solid var(--color-border);
    }
}

.tip{
    position: relative;
    padding-left: calc(var(--font-size) * 15);
    .tip-left {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(var(--font-size) * 15);
    }
}