.dot1{
    background-color: #4d7fff;
}
.dot2{
    background-color: #385ACC;
    background-image: linear-gradient(to right, #385ACC, #5C55DD);
}
.dot3{
    background-color: #ff831b;
}

.dot{
    display: inline-block;
    width: var(--input-height);
    height: var(--input-height);
    border-radius: 50%;
    vertical-align: middle;
}

.cont{
    padding: 16px;
}