@import "../mx-style/_vars";
.footer {
    padding: 30px 0;
    text-align: center;
    .line {
        line-height: 28px;
        .line-link,
        .line-text {
            padding: 0 10px;
        }
        .line-link {
            &,
            &:visited,
            &:focus,
            &:active {
                color: #999;
            }
            &:hover {
                color: #333;
            }
        }
        .line-text {
            color: #999;
        }
        &.gap-line {
            .line-link {
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    top: 1px;
                    right: 0;
                    width: 0;
                    height: 12px;
                    border-left: 1px solid #eee;
                }
                &:last-child {
                    &:after {
                        content: none;
                    }
                }
            }
        }
    }
    .img-line {
        padding-top: 10px;
        .line-link-img {
            padding: 0 10px;
            .line-img {
                transition: opacity @duration;
                opacity: .5;
                border: none;
                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                -ms-filter: grayscale(100%);
                -o-filter: grayscale(100%);
                filter: grayscale(100%);
                filter: gray;
            }
            &:hover {
                .line-img {
                    opacity: 1;
                    -webkit-filter: grayscale(0%);
                    -moz-filter: grayscale(0%);
                    -ms-filter: grayscale(0%);
                    -o-filter: grayscale(0%);
                    filter: grayscale(0%);
                    filter: none;
                }
            }
        }
    }
    &.white {
        .line {
            .line-link {
                &,
                &:visited,
                &:focus,
                &:active {
                    color: #fff;
                    opacity: .5;
                }
                &:hover {
                    color: #fff;
                    opacity: 1;
                }
            }
            .line-text {
                color: #fff;
                opacity: .5;
            }
            &.gap-line {
                .line-link {
                    &:after {
                        border-left: 1px solid #fff;
                        opacity: .3;
                    }
                }
            }
        }
    }
    @media screen and (max-width:767px) {
        .line {
            .line-link,
            .line-text {
                padding: 0 5px;
            }
        }
    }
}

.products {
    position: relative;
    max-width: 100%;
    margin-bottom: 20px;
    padding-left: 220px;
    padding-right: 220px;
    text-align: center;
    .logo {
        position: absolute;
        top: 0;
        left: 0;
        img {
            width: 110px;
        }
        .mama-icon {
            display: block;
            width: 110px;
            margin-top: 5px;
            font-size: 36px;
            color: #666;
        }
    }
    .qrcode {
        position: absolute;
        top: 0;
        right: 0;
        line-height: 22px;
        img {
            width: 92px;
            margin-bottom: 10px;
        }
    }
    dl {
        float: left;
        font-size: 16px;
        line-height: 32px;
        dt {
            margin-bottom: 16px;
            opacity: .5;
        }
    }
    &.white {
        .logo {
            .mama-icon {
                color: #fff;
            }
        }
        dl {
            dt {
                color: #fff;
            }
            dd {
                a {
                    color: #fff;
                    &:hover {
                        color: @color-brand;
                    }
                }
            }
        }
        .qrcode {
            color: #fff;
        }
    }
}