:root {
    --slider-size: 6px;
    --slider-input-width: 64px;
    --slider-line-height: 18px;
    --slider-margin: calc(var(--input-small-height)/ 2 - var(--slider-size));
}

[mx-view*="mx-slider/index"],
[mx-view*="mx-slider/range"] {
    position: relative;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    .rail-input {
        position: absolute;
        top: 50%;
        right: calc(0px - var(--slider-input-width) - 10px);
        width: var(--slider-input-width);
        margin-top: calc(1px - (var(--input-small-height) / 2));
    }
    &[mx-view*="disabled=true"],
    &[mx-disabled] {
        cursor: not-allowed;
        .rail {
            .tracker {
                background-color: #ccc;
                opacity: .8;
            }
            .indicator {
                background-color: #ccc;
                &:before {
                    background-color: #ccc;
                }
            }
        }
    }
}

.rail {
    display: inline-block;
    height: var(--slider-size);
    position: relative;
    border-radius: calc(var(--slider-size) / 2);
    background: #f0f0f0;
    .dot {
        position: absolute;
        top: 0;
        left: 0;
        width: var(--slider-size);
        height: var(--slider-size);
        border-radius: 50%;
        background-color: #ccc;
        margin-left: calc(0px - var(--slider-size) / 2);
    }
    .tracker {
        position: absolute;
        left: 0;
        top: 0;
        height: var(--slider-size);
        background-color: var(--color-brand);
        opacity: .3;
        border-radius: calc(var(--slider-size) / 2);
    }
    .indicator {
        position: absolute;
        top: -1px;
        width: calc(var(--slider-size) + 2px);
        height: calc(var(--slider-size) + 2px);
        margin-left: calc(0px - (var(--slider-size) + 2px) / 2);
        border-radius: 50%;
        background-color: var(--color-brand);
        outline: 0;
        &:before {
            content: ' ';
            position: absolute;
            top: -4px;
            left: -4px;
            width: calc(var(--slider-size) + 10px);
            height: calc(var(--slider-size) + 10px);
            border-radius: 50%;
            background-color: var(--color-brand);
            opacity: .3;
        }
    }
    .pointer-label,
    .dot-text,
    .scale-start,
    .scale-end {
        position: absolute;
        font-size: var(--font-size);
        pointer-events: none;
        line-height: var(--slider-line-height);
        white-space: nowrap;
    }
    .pointer-label {
        top: calc(0px - var(--slider-line-height) - var(--slider-margin));
    }
    .dot-text {
        top: calc(var(--slider-size) + var(--slider-margin));
        left: 0;
        padding: 0 2px;
    }
    .scale-start,
    .scale-end {
        width: 50%;
        top: calc(var(--slider-size) + var(--slider-margin));
        text-align: center;
    }
    .scale-start {
        left: -25%;
    }
    .scale-end {
        left: 75%;
    }
}

.unit {
    margin-left: 3px;
    color: #999;
}

[mx-view*="mx-slider/index"][mx-view*="vertical=true"],
[mx-view*="mx-slider/range"][mx-view*="vertical=true"] {
    .rail {
        width: var(--slider-size);
        left: calc(var(--slider-size) * 2);
        .dot {
            top: auto;
            margin-left: 0;
            margin-top: calc(0px - var(--slider-size) / 2);
        }
        .tracker {
            top: auto;
            width: var(--slider-size);
            height: auto;
            bottom: 0;
        }
        .indicator {
            top: auto;
            left: -1px;
            margin-left: 0;
            margin-bottom: calc(0px - (var(--slider-size) + 2px) / 2);
        }
        .pointer-label {
            top: auto;
            right: calc(var(--slider-size) * 2 + var(--slider-size) / 2);
        }
        .dot-text {
            top: auto;
            left: calc(var(--slider-size) * 2 + var(--slider-size) / 2);
            margin-top: calc(0px - var(--slider-line-height) / 2);
        }
        .scale-start {
            top: auto;
            right: auto;
            bottom: 0;
            left: calc(var(--slider-size) * 2 + var(--slider-size) / 2);
            width: auto;
            margin-bottom: calc(0px - var(--slider-line-height) / 2);
        }
        .scale-end {
            top: 0;
            right: auto;
            bottom: auto;
            left: calc(var(--slider-size) * 2 + var(--slider-size) / 2);
            width: auto;
            margin-top: calc(0px - var(--slider-line-height) / 2);
        }
    }
}