<span class="rail" 
    mx-contextmenu="@{prevent}()" 
    mx-click="@{move.by.click}()"
    mx-keydown="@{move.by.keyboard}()"
    style="{{if vertical}} height: {{=height}}px; {{else}} width: {{=width}}px; {{/if}} ">
    {{each dots as d}}
    <span class="dot" style="{{if vertical}} top: {{=(100 - d.percent)}}%;  {{else}} left: {{=d.percent}}%; {{/if}}"></span>
    <span class="dot-text" style="{{if vertical}} top: {{=(100 - d.percent)}}%;  {{else}} left: {{=d.percent}}%; {{/if}}">{{=d.value}}</span>
    {{/each}}
    <span class="tracker"></span>
    <span class="indicator" mx-mousedown="@{drag}()"></span>
    <span class="pointer-label"></span>
    <span class="scale-start">{{=min}}</span>
    <span class="scale-end">{{=max}}</span>
</span>
{{if needInput}}
<input type="text"  class="input input-small rail-input" 
    id="{{=viewId}}_input"
    {{if disabled}} disabled="true" {{/if}}
    mx-keyup="@{enter}()"
    mx-change="@{stop}()"
    mx-focusout="@{out}()"  />
{{/if}}