.batch-input {
    position: relative;

    .batch-input-text {
        position: absolute;
        top: 0;
        left: -80px;
        width: 70px;
        height: var(--input-small-height);
        line-height: var(--input-small-height);
        text-align: right;
    }

}