@import '../../mx-style/_vars';

.table-wrapper{
    margin-bottom: 20px;
    border: 1px solid @color-line;
}
.fixed-head {
    tr.batch-oper {
        th {
            height: 68px;
            background-color: #fff;
            border-bottom: 1px solid @color-line;

            .batch-input {
                position: relative;

                .batch-input-text {
                    position: absolute;
                    top: 0;
                    left: -80px;
                    width: 70px;
                    height: 28px;
                    line-height: 28px;
                    text-align: right;
                }

            }

        }

    }

}
