<div class="example">
    <div class="eg-content clearfix">
        <form class="form mb20 fl w440">
            <div class="form-item">
                <div class="form-label">checkbox</div>
                <div class="form-content">
                    {{each checkboxes as c}}
                    <label class="mr30">
                        <input type="checkbox" class="checkbox" 
                            name="cb" 
                            value="{{=c}}" 
                            {{:selected.checkboxes{refresh:true,required:[true,'必选']}}} />
                        {{=c}}
                    </label>
                    {{/each}}
                </div>
            </div>
            <div class="form-item">
                <div class="form-label">radio</div>
                <div class="form-content">
                    {{each radioes as r}}
                    <label class="mr30">
                        <input type="radio" class="radio" 
                            name="magix" 
                            value="{{=r}}" 
                            {{:selected.radio{refresh:true}}} />
                        {{=r}}
                    </label>
                    {{/each}}
                </div>
            </div>
            <div class="form-item">
                <div class="form-label">下拉框单选</div>
                <div class="form-content">
                    <mx-dropdown class="w200"
                        empty-text="请选择"
                        selected="{{:selected.single{refresh:true,required:[true,'必选']}}}"
                        list="{{@[1,2,3]}}"/>
                </div>
            </div>
            <div class="form-item">
                <div class="form-label">多选逗号分隔</div>
                <div class="form-content">
                    <mx-dropdown.multiple class="w200 mr20"
                        empty-text="请选择"
                        selected="{{:selected.multiComma{refresh:true,required:[true,'必选']}}}"
                        list="{{@[1,2,3]}}"/>
                </div>
            </div>
            <div class="form-item">
                <div class="form-label">多选数组</div>
                <div class="form-content">
                    <mx-dropdown.multiple class="w200"
                        empty-text="请选择"
                        selected="{{:selected.multiArr{refresh:true,required:[true,'必选']}}}"
                        list="{{@[1,2,3]}}"/>
                </div>
            </div>
            <div class="form-item">
                <div class="form-label">输入框</div>
                <div class="form-content">
                    <input class="input w200" placeholder="正则：汉字/字母/数字/下划线"         
                        value="{{:selected.str{refresh:true,required:true,pattern:'^[a-zA-Z0-9_\u4e00-\u9fa5]+$'}}}"/>
                </div>
            </div>
            <div class="form-item">
                <div class="form-label">选择单个时间</div>
                <div class="form-content">
                    <mx-calendar.datepicker class="w200" 
                        selected="{{:selected.date{refresh:true}}}"/>
                </div>
            </div>
            <div class="form-item">
                <div class="form-label">选择时间段</div>
                <div class="form-content">
                    <mx-calendar.rangepicker class="w200"
                        vsenable="true"
                        vs="{{:selected.vs{refresh:true}}}"
                        start="{{:selected.start{refresh:true}}}"
                        end="{{:selected.end{refresh:true}}}"/>
                </div>
            </div>
            <div class="form-item">
                <div class="form-label">地区</div>
                <div class="form-content">
                    <mx-cascade class="w200"
                        list="{{@areas}}"
                        selected="{{:selected.area{refresh:true}}}"></mx-cascade>
                </div>
            </div>
            <div class="form-item">
                <div class="form-label">radio + 输入框</div>
                <div class="form-content clearfix">
                    <label class="mr30 fl">
                        <input type="radio" class="radio" 
                            name="type" 
                            value="def" 
                            {{:selected.type{refresh:true}}} />
                        默认情况
                    </label>
                    <label class="mr10 fl">
                        <input type="radio" class="radio" 
                            name="type" 
                            value="custom" 
                            {{:selected.type{refresh:true}}} />
                        自定义
                    </label>
                    {{if (selected.type == 'custom')}}
                    <input class="input fl" placeholder="整数" 
                        value="{{:selected.int{refresh:true,required:true,int:true}}}"/>
                    {{/if}}
                </div>
            </div>
            <div class="form-item">
                <div class="form-label">开关</div>
                <div class="form-content">
                    <mx-switch class="mr20 mt5"
                        state="{{:selected.switch{refresh:true}}}"/>
                </div>
            </div>
            <div class="form-item">
                <a href="javascript:;" class="btn w80 btn-brand mr20"
                    mx-click="confirm()">确定</a>
                <a href="javascript:;" class="btn w80">取消</a>

                {{if tip}} <span class="ml10">{{!tip}}</span> {{/if}}
            </div>
        </form>
        <div class="fl">
            <div class="lh32 mb30">
                <span class="color-9">当前值：</span>
                [{{=selected.checkboxes}}]
            </div>
            <div class="lh32 mb30">
                <span class="color-9">当前值：</span>
                {{=selected.radio}}
            </div>
            <div class="lh32 mb30">
                <span class="color-9">当前值：</span>
                {{=selected.single}}
            </div>
            <div class="lh32 mb30">
                <span class="color-9">当前值：</span>
                {{=selected.multiComma}}
            </div>
            <div class="lh32 mb30">
                <span class="color-9">当前值：</span>
                [{{=selected.multiArr}}]
            </div>
            <div class="lh32 mb30">
                <span class="color-9">当前值：</span>
                {{=selected.str}}
            </div>
            <div class="lh32 mb30">
                <span class="color-9">当前值：</span>
                {{=selected.date}}
            </div>
            <div class="lh32 mb30">
                <span class="color-9">当前值：</span>
                <span class="mr5">对比（{{=selected.vs}}）</span>
                <span class="mr5">开始时间（{{=selected.start}}）</span>
                <span>结束时间（{{=selected.end}}）</span>
            </div>
            <div class="lh32 mb30">
                <span class="color-9">当前值：</span>
                {{=selected.area}}
            </div>
            <div class="lh32 mb30">
                <span class="color-9">当前值：</span>
                <span class="mr5">类型（{{=selected.type}}）</span>
                <span>输入框（{{=selected.int}}）</span>
            </div>
            <div class="lh32 mb30">
                <span class="color-9">当前值：</span>
                {{=selected.switch}}
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="eg-desc half half-left">
            <div class="eg-title">HTML Code</div>
            <mx-copy copy-node="{{=viewId}}_text_1" class="desc-oper" 
                mx-success="done({id:1})">
                <span class="desc-tip">{{!text1}}</span>
                <i class="mc-iconfont desc-icon">&#xe610;</i>
            </mx-copy>
            <pre mx-view="__test__/hl" id="{{=viewId}}_text_1">
&lt;form class="form"&gt;
    &lt;div class="form-item"&gt;
        &lt;div class="form-label"&gt;checkbox&lt;/div&gt;
        &lt;div class="form-content"&gt;
            &#123;&#123;each checkboxes as c&#125;&#125;
            &lt;label class="mr30"&gt;
                &lt;input type="checkbox" class="checkbox" 
                    name="cb" 
                    value="&#123;&#123;=c&#125;&#125;" 
                    &#123;&#123;:selected.checkboxes&#123;required:[true,'必选']&#125;&#125;&#125; /&gt;
                &#123;&#123;=c&#125;&#125;
            &lt;/label&gt;
            &#123;&#123;/each&#125;&#125;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-item"&gt;
        &lt;div class="form-label"&gt;radio&lt;/div&gt;
        &lt;div class="form-content"&gt;
            &#123;&#123;each radioes as r&#125;&#125;
            &lt;label class="mr30"&gt;
                &lt;input type="radio" class="radio" 
                    name="magix" 
                    value="&#123;&#123;=r&#125;&#125;" 
                    &#123;&#123;:selected.radio&#125;&#125; /&gt;
                &#123;&#123;=r&#125;&#125;
            &lt;/label&gt;
            &#123;&#123;/each&#125;&#125;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-item"&gt;
        &lt;div class="form-label"&gt;下拉框单选&lt;/div&gt;
        &lt;div class="form-content"&gt;
            &lt;mx-dropdown class="w200"
                empty-text="请选择"
                selected="&#123;&#123;:selected.single&#123;required:[true,'必选']&#125;&#125;&#125;"
                list="&#123;&#123;@[1,2,3]&#125;&#125;"/&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-item"&gt;
        &lt;div class="form-label"&gt;多选逗号分隔&lt;/div&gt;
        &lt;div class="form-content"&gt;
            &lt;mx-dropdown.multiple class="w200 mr20"
                empty-text="请选择"
                selected="&#123;&#123;:selected.multiComma&#123;required:[true,'必选']&#125;&#125;&#125;"
                list="&#123;&#123;@[1,2,3]&#125;&#125;"/&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-item"&gt;
        &lt;div class="form-label"&gt;多选数组&lt;/div&gt;
        &lt;div class="form-content"&gt;
            &lt;mx-dropdown.multiple class="w200"
                empty-text="请选择"
                selected="&#123;&#123;:selected.multiArr&#123;required:[true,'必选']&#125;&#125;&#125;"
                list="&#123;&#123;@[1,2,3]&#125;&#125;"/&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-item"&gt;
        &lt;div class="form-label"&gt;输入框&lt;/div&gt;
        &lt;div class="form-content"&gt;
            &lt;input class="input w200" placeholder="正则：汉字/字母/数字/下划线"         
                value="&#123;&#123;:selected.str&#123;required:true,pattern:'^[a-zA-Z0-9_\u4e00-\u9fa5]+$'&#125;&#125;&#125;"/&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-item"&gt;
        &lt;div class="form-label"&gt;选择单个时间&lt;/div&gt;
        &lt;div class="form-content"&gt;
            &lt;mx-calendar.datepicker class="w200" 
                selected="&#123;&#123;:selected.date&#125;&#125;"/&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-item"&gt;
        &lt;div class="form-label"&gt;选择时间段&lt;/div&gt;
        &lt;div class="form-content"&gt;
            &lt;mx-calendar.rangepicker class="w200"
                vsenable="true"
                vs="&#123;&#123;:selected.vs&#125;&#125;"
                start="&#123;&#123;:selected.start&#125;&#125;"
                end="&#123;&#123;:selected.end&#125;&#125;"/&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-item"&gt;
        &lt;div class="form-label"&gt;地区&lt;/div&gt;
        &lt;div class="form-content"&gt;
            &lt;mx-cascade class="w200"
                list="&#123;&#123;@areas&#125;&#125;"
                selected="&#123;&#123;:selected.area&#123;refresh:true&#125;&#125;&#125;"&gt;&lt;/mx-cascade&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-item"&gt;
        &lt;div class="form-label"&gt;radio + 输入框&lt;/div&gt;
        &lt;div class="form-content clearfix"&gt;
            &lt;label class="mr30 fl"&gt;
                &lt;input type="radio" class="radio" 
                    name="type" 
                    value="def" 
                    &#123;&#123;:selected.type&#123;refresh:true&#125;&#125;&#125; /&gt;
                默认情况
            &lt;/label&gt;
            &lt;label class="mr10 fl"&gt;
                &lt;input type="radio" class="radio" 
                    name="type" 
                    value="custom" 
                    &#123;&#123;:selected.type&#123;refresh:true&#125;&#125;&#125; /&gt;
                自定义
            &lt;/label&gt;
            &#123;&#123;if (selected.type == 'custom')&#125;&#125;
            &lt;input class="input fl" placeholder="整数" 
                value="&#123;&#123;:selected.int&#123;required:true,int:true&#125;&#125;&#125;"/&gt;
            &#123;&#123;/if&#125;&#125;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-item"&gt;
        &lt;a href="javascript:;" class="btn w80 btn-brand mr20"
            mx-click="confirm()"&gt;确定&lt;/a&gt;
        &lt;a href="javascript:;" class="btn w80"&gt;取消&lt;/a&gt;
    &lt;/div&gt;
&lt;/form&gt;</pre>
        </div>
        <div class="eg-desc half">
            <div class="eg-title">JS Code</div>
            <mx-copy copy-node="{{=viewId}}_text_2" class="desc-oper" 
                mx-success="done({id:2})">
                <span class="desc-tip">{{!text2}}</span>
                <i class="mc-iconfont desc-icon">&#xe610;</i>
            </mx-copy>
            <pre mx-view="__test__/hl" id="{{=viewId}}_text_2">
let Magix = require('magix');
let Form = require('@../index');
let Validator = require('@../validator');
let $ = require('$');
let Moment = require('moment');
let Formater = 'YYYY-MM-DD';

module.exports = Magix.View.extend(&#123;
    tmpl: '@index.html',
    mixins: [Form, Validator],
    render() &#123;
        this.updater.digest(&#123;
            viewId: this.id,
            checkboxes: ['checkbox1', 'checkbox2', 'checkbox3'],
            radioes: ['radio1', 'radio2', 'radio3'],
            areas: [&#123;
                value: 11,
                pValue: '',
                text: '上海'
            &#125;, &#123;
                value: 12,
                pValue: '',
                text: '江苏'
            &#125;, &#123;
                value: 13,
                pValue: '',
                text: '浙江'
            &#125;, &#123;
                value: 14,
                pValue: '',
                text: '北京'
            &#125;, &#123;
                value: 15,
                pValue: '',
                text: '四川'
            &#125;, &#123;
                value: 121,
                pValue: 12,
                text: '南京'
            &#125;, &#123;
                value: 122,
                pValue: 12,
                text: '苏州'
            &#125;, &#123;
                value: 123,
                pValue: 12,
                text: '南通'
            &#125;, &#123;
                value: 131,
                pValue: 13,
                text: '杭州'
            &#125;, &#123;
                value: 132,
                pValue: 13,
                text: '宁波'
            &#125;, &#123;
                value: 133,
                pValue: 13,
                text: '温州'
            &#125;, &#123;
                value: 134,
                pValue: 13,
                text: '嘉兴'
            &#125;, &#123;
                value: 135,
                pValue: 13,
                text: '舟山'
            &#125;, &#123;
                value: 136,
                pValue: 13,
                text: '台州'
            &#125;, &#123;
                value: 137,
                pValue: 13,
                text: '湖州'
            &#125;, &#123;
                value: 1311,
                pValue: 131,
                text: '余杭区'
            &#125;, &#123;
                value: 1312,
                pValue: 131,
                text: '西湖区'
            &#125;, &#123;
                value: 1313,
                pValue: 131,
                text: '上城区'
            &#125;, &#123;
                value: 1314,
                pValue: 131,
                text: '下城区'
            &#125;, &#123;
                value: 1315,
                pValue: 131,
                text: '江干区'
            &#125;, &#123;
                value: 1316,
                pValue: 131,
                text: '拱墅区'
            &#125;],
            selected: &#123;
                area: 1312,
                checkboxes: ['checkbox1'],
                radio: 'radio2',
                single: '',  //下拉框单选
                multiComma: '', //下拉框多选逗号分隔
                multiArr: [], //下拉框多选数组
                str: '', //汉字/字母/数字/下划线
                date: Moment().format(Formater), //单个日期
                vs: true,
                start: Moment().subtract(1, 'days').format(Formater), //时间段开始时间
                end: Moment().add(1, 'days').format(Formater), //时间段结束时间
                type: 'custom', //默认还是自定义（自定义带输入框）
                int: 10
            &#125;
        &#125;);
    &#125;,
    'confirm&lt;click&gt;'(e)&#123;
        let that = this;
        let valid = that.isValid();

        if(valid)&#123;
            // 校验通过
            // 双向绑定的数据，继续执行后续操作
            let selected = that.updater.get('selected');
            
        &#125;else&#123;
            // 校验失败
            
        &#125;
    &#125;
&#125;);</pre>
        </div>
    </div>
</div>





