@group-height: 40px;
@oper-size: 24px;
.groups{
    position: relative;
    z-index: 2;
}
.group {
    .ipt {
        width: 100%;
        height: @group-height;
        font-size: 24px;
        text-align: center;
    }

    .ipb{
        width: @oper-size;
        height: @oper-size;
        line-height: @oper-size;
        font-size: 12px;
        text-align: center;
        font-weight: bold;
        background-color: #e6e6e6;
        border-radius: var(--border-radius);
        cursor: pointer;
        transition: all var(--duration);

        &:hover{
            background-color: #ccc;
        }
    }

    .time-disabled{
        .ipb{
            background-color: var(--color-disabled);
            color: #ccc;
        }
    }
}

.sps{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: @group-height;
    .sp {
        float: left;
        width: 50%;
        font-size: 24px;
        height: @group-height;
        line-height: @group-height;
        font-weight: bolder;
        text-align: center;

        &.spa{
            padding-left: 26px;
        }
        &.spb{
            padding-right: 26px;
        }
    }
}

[mx-view*="mx-time/content"]{
    min-width: 220px;
    padding: 10px;
}
