<div class="groups">
    <div class="group {{if !types['@{hour}']}} time-disabled {{/if}}">
        <input class="input ipt" 
            maxlength="2" 
            autocomplete="off"
            value="{{=format(time['@{hour}'])}}"
            {{if !types['@{hour}']}} disabled="true" {{else}} mx-change="@{set}({type:'@{hour}'})" {{/if}}
            mx-keydown="@{press.check}({type:'@{hour}'})" />

        <i class="mc-iconfont ipa" 
            {{if types['@{hour}']}} mx-click="@{change}({type:'@{hour}'})" mx-mousedown="@{fast.start}({type:'@{hour}'})" {{/if}}>&#xe751;</i>

        <i class="mc-iconfont ipb" 
            {{if types['@{hour}']}} mx-click="@{change}({type:'@{hour}',inc:1})" mx-mousedown="@{fast.start}({type:'@{hour}',inc:1})" {{/if}}>&#xe921;</i>
    </div>
    <div class="sp">:</div>
    <div class="group  {{if !types['@{minute}']}} time-disabled {{/if}}">
        <input class="input ipt" 
            maxlength="2" 
            autocomplete="off"
            value="{{=format(time['@{minute}'])}}"
            {{if !types['@{minute}']}} disabled="true" {{else}}  mx-change="@{set}({type:'@{minute}'})" {{/if}}
            mx-keydown="@{press.check}({type:'@{minute}'})" />

        <i class="mc-iconfont ipa" 
            {{if types['@{minute}']}} mx-click="@{change}({type:'@{minute}'})" mx-mousedown="@{fast.start}({type:'@{minute}'})" {{/if}}>&#xe751;</i>

        <i class="mc-iconfont ipb" 
            {{if types['@{minute}']}} mx-click="@{change}({type:'@{minute}',inc:1})" mx-mousedown="@{fast.start}({type:'@{minute}',inc:1})" {{/if}}>&#xe921;</i>
    </div>
    <div class="sp">:</div>
    <div class="group {{if !types['@{second}']}} time-disabled {{/if}}">
        <input class="input ipt" 
            maxlength="2" 
            autocomplete="off"
            value="{{=format(time['@{second}'])}}"
            {{if !types['@{second}']}} disabled="true" {{else}} mx-change="@{set}({type:'@{second}'})" {{/if}}
            mx-keydown="@{press.check}({type:'@{second}'})" />
        
        <i class="mc-iconfont ipa" 
            {{if types['@{second}']}} mx-click="@{change}({type:'@{second}'})" mx-mousedown="@{fast.start}({type:'@{second}'})" {{/if}}>&#xe751;</i>

        <i class="mc-iconfont ipb" 
            {{if types['@{second}']}} mx-click="@{change}({type:'@{second}',inc:1})" mx-mousedown="@{fast.start}({type:'@{second}',inc:1})" {{/if}}>&#xe921;</i>
    </div>
</div>