@import "../../mx-style/_vars";
.bg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center top;
}

.bg1 {
    background-color: #0f556c;
    background-image: url(https://img.alicdn.com/tfs/TB13fOiIx9YBuNjy0FfXXXIsVXa-1920-350.jpg);
}

.bg2 {
    background-color: #0f556c;
    background-image: url(https://img.alicdn.com/tps/TB1UXxxKpXXXXbAXFXXXXXXXXXX-1920-350.png);
}

.bg3 {
    background-color: #036655;
    background-image: url(https://img.alicdn.com/tps/TB1ZmRtKpXXXXc8XFXXXXXXXXXX-1920-350.png);
}

.wrapper{
    position: relative;
    margin-bottom: 40px;
}

.wrapper .login{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 99;
    width: 320px;
    height: 280px;
    margin-top: -140px;
    margin-left: 200px;
    background-color: #fafafa;
}