<mx-carousel style="width: 375px; margin: auto;" height="747" 
    autoplay="true"
    active="1">
    <mx-carousel.panel>
        <img src="https://ossgw.alicdn.com/alp/d610b362-d2ed-4a84-885c-81866f6bdcd2.png" />
    </mx-carousel.panel>
    <mx-carousel.panel>
        <img src="https://ossgw.alicdn.com/alp/e02c3bc4-c649-47d7-a800-278f976af44d.png">
    </mx-carousel.panel>
    <mx-carousel.panel>
        <img src="https://ossgw.alicdn.com/alp/d610b362-d2ed-4a84-885c-81866f6bdcd2.png" />
    </mx-carousel.panel>
</mx-carousel>

<!-- <div class="mb10">轮播方向：</div>
<div class="clearfix mb20">
    {{each verticals as item}}
    <label class="w150 mb5">
        <input type="radio" value="{{=item.value}}" name="{{=viewId}}_dot-vertical" 
            {{if curVer.value == item.value}} checked="true" {{/if}}
            mx-change="changeVer({item:'{{@item}}'})"/>
        {{=item.text}}
    </label>
    {{/each}}
</div>

<div class="mb10">dot-type可选项：</div>
<div class="clearfix mb10">
    {{each list as item}}
    <label class="w150 mb5">
        <input type="radio" value="{{=item.value}}" name="{{=viewId}}_dot-types" 
            {{if cur.value == item.value}} checked="true" {{/if}}
            mx-change="change({item:'{{@item}}'})"/>
        {{=item.text}}
    </label>
    {{/each}}
</div>
<div class="clearfix mb10">
    <mx-carousel height="100" 
        autoplay="true"
        vertical="{{=curVer.value}}"
        dot-type="{{=cur.value}}">
        <mx-carousel.panel>
            <div class="bg bg1">1</div>
        </mx-carousel.panel>
        <mx-carousel.panel>
            <div class="bg bg2">2</div>
        </mx-carousel.panel>
        <mx-carousel.panel>
            <div class="bg bg3">3</div>
        </mx-carousel.panel>
    </mx-carousel>
</div> -->