<ul class="mx-output-list">
    {{each list as item}}
    <li class="mx-output-item">
        <div class="mx-output-link display-flex align-items-center" mx-click="submit({item:'{{@item}}'})" {{if spm}} data-spm-click="{{=spm}}_{{=item.value}}" {{/if}}>
            <span style="flex: 1;" class="ellipsis">{{!item.text}}</span>
            {{if item.tag}}<mx-effects.icon class="ml8" mode="opacity" type="error" content="{{=item.tag}}" tip="{{=item.tagTip}}"/>{{/if}}
        </div>
    </li>
    {{/each}}
</ul>