[mx-view*="mx-popmenu/index"] {
    display: inline-block;
    vertical-align: middle;

    .disabled {
        cursor: not-allowed;
        opacity: var(--mx-comp-disabled-opacity, .4);

        >* {
            pointer-events: none;
        }
    }
}