.content{
    height: 1200px;
    background-color: var(--color-bg);

    .inner{
        width: 1000px;
        padding-top: 220px;
        margin: auto;
        font-size: 20px;
        text-align: center;
    }
}

.wrapper{
    height: 400px;
    overflow-y: auto;
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);

    .inner{
        height: 800px;
    }
}