<div style="width: {{=maxWidth}}px;" class="duration-wrapper">
    <!-- 鼠标hover提示浮层 -->
    {{if hoverInfo.show}}
    <div style="top: {{=hoverInfo.top}}px; left: {{=hoverInfo.left}}px;" 
        class="discount-hover mx-shadow">
        <div>{{=hoverInfo.week}}</div>
        <div><strong>{{=hoverInfo.time}}</strong></div>
        <div><strong>{{=hoverInfo.discount}}</strong>%折扣</div>
    </div>
    {{/if}}

    <!-- 选择区域遮罩浮层 -->
    {{if maskInfo.show}}
    <div style="top: {{=maskInfo.top}}px; left: {{=maskInfo.left}}px; height: {{=maskInfo.height}}px; width: {{=maskInfo.width}}px;" class="discount-mask">
    </div>
    {{/if}}

    <!-- 选中区域设置浮层 -->
    {{if settingInfo.show}}
    <div style="top: {{=settingInfo.top}}px; left: {{=settingInfo.left}}px;" 
        class="discount-setting mx-shadow">
        <div class="setting-content">
            <div class="mb10">
                <span>{{=settingInfo.week}}</span>：
                <strong class="ml5">{{=settingInfo.time}}</strong>
            </div>
            {{each settingList as sItem}}
            <div class="mb10">
                <label class="mr5">
                    <input type="radio" class="radio" name="{{=viewId}}_settingType" 
                        value="1" mx-change="changeSettingType({type:'{{=sItem.value}}'})"
                        {{if (settingInfo.type == sItem.value)}} checked="true" {{/if}}/>
                    {{=sItem.text}}
                </label>
                {{if (sItem.value == 1)}}
                    {{if (settingInfo.type == sItem.value)}}
                    <input type="text" class="input input-small w80"
                        value="{{=settingInfo.discount}}"
                        {{:settingInfo.discount{required:true,posint:[true,'范围:30-250的整数'],min:[30,'范围:30-250的整数'],max:[250,'范围:30-250的整数']}}}/>
                    {{else}}
                    <input type="text" class="input input-small w80" 
                        disabled="true" 
                        value="{{=settingInfo.discount}}"/>
                    {{/if}}
                    <span class="ml5">%</span>
                {{/if}}
            </div>
            {{/each}}
        </div>
        <div class="setting-footer">
            <a class="btn btn-small btn-brand mr10 w60" href="javascript:;" mx-click="submitSetting()">确定</a>
            <a class="btn btn-small w60" href="javascript:;" mx-click="cancelSetting()">取消</a>
        </div>
    </div>
    {{/if}}

    <div class="duration clearfix"  id="{{=viewId}}_duration" 
        style="width: {{=(maxWidth)}}px;">
        <ul class="week fl" style="width: {{=(boxWidth*multiple)}}px;">
            <li class="week-item" style="height: {{=headerHeight+1}}px; line-height: {{=headerHeight}}px;">星期</li>
            {{each weeks as week}}
            <li class="week-item" style="height: {{=boxHeight}}px; line-height: {{=boxHeight}}px;">{{=week}}</li>
            {{/each}}
        </ul>
        <div class="content fl" style="width: {{=boxWidth*rowNum}}px;">
            <ul class="range clearfix">
                {{each ranges as range}}
                <li class="range-item" style="width: {{=(boxWidth*(rowNum/4))}}px; height: {{=headerHeight/2}}px; line-height: {{=headerHeight/2}}px;">{{=range}}</li>
                {{/each}}
            </ul>
            <ul class="time clearfix">
                {{for(let i=0;i<24;i+=1)}}
                <li class="time-item" style="width: {{=(boxWidth*multiple)}}px; height: {{=headerHeight/2}}px; line-height: {{=headerHeight/2}}px;">{{=i}}</li>
                {{/for}}
            </ul>
            <ul class="boxzone clearfix">
                {{each boxZones as zone}}
                <li class="box fl" 
                    style="width: {{=boxWidth}}px; height: {{=boxHeight}}px; background-color: {{=zone.bg}}"
                    mx-click="clickOutside({index:{{=zone.index}}})"
                    mx-mousedown="select()"
                    mx-mouseover="showTip({index:{{=zone.index}}})"
                    mx-mouseout="hideTip({index:{{=zone.index}}})"></li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="pt10 pb10 clearfix">
        {{if !readonly}}
        <a class="btn btn-small mr10 fl" href="javascript:;" mx-click="clear()">清空</a>
        <a class="btn btn-small mr10 fl" href="javascript:;" mx-click="reset()">重置</a>
        {{/if}}
        <span class="fr lh28 color-c">
            {{each dots as dot}}
            <span class="circle" style="background-color: {{=dot.value}};"></span>
            <span class="font-tahoma bold color-c mr15">{{=dot.text}}</span>
            {{/each}}

            {{if !readonly}}
            <i class="mc-iconfont displacement-2">&#xe705;</i>
            <span class="mr10">可以拖拽鼠标选择投放时段</span>
            {{/if}}
        </span>

    </div>
</div>