<mx-grid.body>
    <span class="fontsize-16">使用iconfont实现</span>
</mx-grid.body>

<div class="header">
    <div class="cont" id="{{=viewId}}_cont">
        {{each list as item index}}
        <div class="item icon-item {{if (selectedIndex == index)}} selected {{if (hoverIndex == index)}} selected-hover {{/if}}  {{/if}}"
            mx-mouseover="@{over}({index:'{{=index}}'})" 
            mx-mouseout="@{out}({index:'{{=index}}'})"
            mx-click="@{select}({index:'{{=index}}'})">
            {{if (selectedIndex == index && item.animIcon)}}
            <i class="mc-iconfont anim-icon">{{!item.animIcon}}</i>
            {{/if}}
            {{if item.icon}}
            <i class="mc-iconfont icon">{{!item.icon}}</i>
            {{/if}}
            <span class="text">{{=item.text}}</span>
            {{if item.tag}}
            <mx-effects.icon class="tag" type="error" content="NEW"/>
            {{/if}}
        </div>
        {{/each}}
        <div class="bg" style="left: {{=left}}px; width: {{=width}}px;"></div>
    </div>
</div>