@bg-color: #f5f4fe;
@icon-size: 22px;
@item-gap: 20px;
@duration: .5s;

.header {
    margin-bottom: 60px;
    padding: 0 60px;
    box-shadow: 0 2px 4px 2px rgba(51, 51, 51, 0.08);
}

.cont {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

.item {
    position: relative;
    z-index: 2;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 @item-gap;
    cursor: pointer;

    .tag {
        margin-left: 4px;
    }

    .img {
        width: 18px;
        height: 18px;
        margin-right: 4px;
    }

    .text {
        color: #666;
        font-size: 14px;
        transform: all @duration;
    }

    .icon,
    .anim-icon {
        width: @icon-size;
        height: @icon-size;
        font-size: @icon-size;
        line-height: @icon-size;
        transition: color @duration;
    }

    .icon {
        opacity: 1;
        color: #666;
    }

    &.selected {
        .text {
            color: var(--color-brand);
        }

        .icon {
            opacity: 0;
        }

        .anim-icon {
            position: absolute;
            top: 50%;
            left: @item-gap;
            margin-top: 0px - @icon-size / 2;
            color: #fff;
        }

        @keyframes anim-icon-in {
            0% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        .anim-icon~.icon {
            animation: anim-icon-in .6s;
            animation-fill-mode: forwards;
        }

        &.selected-hover {
            .anim-icon {
                color: @bg-color;
            }
        }

        &.icon-item {
            @keyframes anim-bg-in {
                0% {
                    border-radius: 120px;
                    left: @item-gap + @icon-size;
                    width: 0;
                }

                100% {
                    border-radius: 0;
                    left: @item-gap;
                    width: @icon-size;
                }
            }

            &::before {
                content: ' ';
                position: absolute;
                top: 50%;
                left: @item-gap;
                width: @icon-size - 2px;
                height: @icon-size - 2px;
                margin-top: 0 - (@icon-size - 2px) / 2;
                background-image: linear-gradient(135deg, rgba(62, 62, 255, .4), rgb(62, 62, 255));
                animation: anim-bg-in @duration;
            }
        }
    }
}

.bg {
    position: absolute;
    z-index: 1;
    top: 50%;
    height: 28px;
    margin-top: -14px;
    border-radius: var(--border-radius);
    background-color: @bg-color;
    transition: all .4s;
}