.content {
    min-height: 1200px;
    background-color: var(--color-bg);

    .inner {
        width: 1000px;
        padding-top: 60px;
        margin: auto;
    }
}

.wrapper {
    height: 400px;
    overflow-y: auto;
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);

    .inner {
        height: 800px;
        padding-top: 100px;
        text-align: center;
        font-size: 14px;
    }
}

.cut {
    margin-left: 15px;
    border: 1px solid var(--color-border);
}

.bb-cut {
    border: 1px solid var(--color-border);
}