[mx-view*="mx-dropdown/box"] {
    display: inline-block;

    .box-disabled {
        cursor: not-allowed;

        &::before {
            opacity: .6;
            content: ' ';
            position: absolute;
            top: -1px;
            right: -1px;
            bottom: -1px;
            left: -1px;
            z-index: 4;
            border-radius: var(--border-radius);
            background-color: #fff;
        }
    }
}

.box {
    position: relative;
    display: inline-block;
    height: var(--input-height);
    vertical-align: middle;

    .box-tip {
        position: relative;
        top: 1px;
        font-size: calc(2px + var(--font-size));
        color: #ccc;
    }

    .box-item {
        position: relative;
        z-index: 2;
        display: inline-block;
        min-width: calc(var(--font-size) * 8);
        height: var(--input-height);
        padding: 0 12px;
        margin-left: -1px;
        line-height: calc(var(--input-height) - 2px);
        color: var(--mx-tab-box-font-color, #666);
        border: 1px solid transparent;
        border-right-color: var(--mx-tab-box-color-border, var(--border-highlight));
        border-radius: 0;
        font-size: var(--font-size);
        text-align: center;
        cursor: pointer;
        transition: all var(--duration);
        overflow: hidden;
        user-select: none;

        &:first-child {
            margin-left: 0;
            border-top-left-radius: var(--border-radius);
            border-bottom-left-radius: var(--border-radius);
        }

        &:last-child {
            border-top-right-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
        }

        &:hover {
            color: var(--mx-tab-box-hover-font-color, #333);
            border-color: var(--mx-tab-box-selected-color-border, var(--color-brand));
        }

        &.selected {
            color: var(--mx-tab-box-selected-font-color, #333);
            border: 1px solid var(--mx-tab-box-selected-color-border, var(--color-brand));
            background-color: var(--mx-tab-box-selected-color-bg, var(--color-brand-opacity));

            .box-tip {
                color: var(--mx-tab-box-selected-font-color, #333);
            }
        }

        &.multiple {
            &::before {
                content: ' ';
                position: absolute;
                right: 0;
                bottom: 0;
                border-left: 12px solid transparent;
                border-bottom: 12px solid #CACDD3;
                transition: all var(--duration);
            }

            &::after {
                position: absolute;
                right: -1px;
                bottom: -2px;
                width: 10px;
                height: 10px;
                background-repeat: no-repeat;
                background-size: 100%;
                background-image: url(https://img.alicdn.com/tps/TB1bSBzLVXXXXXfXFXXXXXXXXXX-1000-1000.svg);
            }

            &:hover {
                &::before {
                    border-bottom: 12px solid var(--color-brand);
                }
            }

            &.selected {
                &::before {
                    border-bottom: 12px solid var(--color-brand);
                }

                &::after {
                    content: ' ';
                }
            }
        }
    }

    &::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);
        border: 1px solid var(--mx-tab-box-color-border, var(--border-highlight));
        background-color: var(--mx-tab-box-color-bg, transparent);
    }
}