[mx-view*="mx-dropdown/box"] {
    min-width: unset;

    &[mx-view*="disabled=true"],
    &[mx-disabled] {
        .mx-dropdown-box {
            z-index: 0;
            user-select: none;
            pointer-events: none;
        }
    }
}

.mx-dropdown-box {

    .multiple,
    .multiple-selected {
        &::before {
            content: ' ';
            position: absolute;
            right: -1px;
            bottom: -1px;
            border-style: solid;
            border-top-width: 0;
            border-right-width: 0;
            border-left-width: calc(var(--border-radius) + 8px);
            border-bottom-width: calc(var(--border-radius) + 8px);
            border-left-color: transparent;
            border-bottom-color: var(--mx-tab-box-arrow-bg, #CACDD3);
            transition: all var(--duration);
        }

        &:hover {
            &::before {
                border-bottom-color: var(--mx-tab-box-arrow-bg-hover, #CACDD3);
            }
        }
    }

    .multiple-selected,
    .multiple-selected:hover {
        &::before {
            border-bottom-color: var(--mx-tab-box-arrow-bg-active, var(--color-brand));
        }

        &::after {
            content: ' ';
            position: absolute;
            right: 0;
            bottom: 0;
            width: calc((var(--border-radius) + 8px) / 2);
            height: calc((var(--border-radius) + 8px) / 2);
            background-repeat: no-repeat;
            background-size: 11px;
            background-image: url(https://img.alicdn.com/tps/TB1bSBzLVXXXXXfXFXXXXXXXXXX-1000-1000.svg);
            background-position: center;
        }
    }
}