{{if searchbox}}
<div class="mx-output-search">
    <div class="search-box" style="width: 100%;">
        <i class="mc-iconfont search-icon">&#xe651;</i>
        <input type="text" class="input search-input" 
            placeholder="{{=text.search}}"
            value="{{=keyword}}"
            mx-keyup="@{search}()"
            mx-paste="@{search}()"
            mx-change="@{stop}()"
            mx-focusin="@{stop}()"
            mx-focusout="@{stop}()"
            {{if spm}} data-spm-click="{{=spm}}_s" {{/if}} />
    </div>
</div>
{{/if}}
{{if multiple}}   
<div class="oper-wrapper has-group clearfix">
    <a class="oper" href="javascript:;" mx-click="@{checkAll}({checked:true})" {{if spm}} data-spm-click="{{=spm}}_a" {{/if}}>{{=text.select}}</a>
    <a class="oper" href="javascript:;" mx-click="@{checkAll}({checked:false})" {{if spm}} data-spm-click="{{=spm}}_ua" {{/if}}>{{=text.unselect}}</a>
</div>
{{/if}}
{{if !allHide}}
<ul class="mx-output-list" style="max-height:{{=height}}px;">
    {{each parents as parent parentIndex}}
        {{if !parent.hide}}
            {{if hasGroups}}
            <li class="mx-output-header" title="{{=parent.text}}">{{=parent.text}}</li>
            {{/if}}
            {{each parent.list as item itemIndex}}
                {{if !item.hide}}
                <li class="mx-output-item" title="{{=(item.tip ? item.tip : item.text)}}">
                    {{if multiple}}  
                        {{if (item.disabled && item.disabledTip)}}
                        <mx-popover class="mx-output-link mx-output-link-disabled"
                            content="&lt;i class='mc-iconfont color-red displacement-2'&gt;&#38;&#35;xe6ad;&lt;/i&gt; {{=item.disabledTip}}"
                            placement="right" offset="{{@{left:-10}}}">
                            <input type="checkbox" class="checkbox" 
                                {{if item.selected}} checked="true" {{/if}}
                                disabled="true"/>
                                {{=item.text}}
                        </mx-popover>
                        {{else}}
                        <label class="mx-output-link {{if item.disabled}} mx-output-link-disabled {{/if}}">
                            <input type="checkbox" class="checkbox" 
                                {{if item.selected}} checked="true" {{/if}}
                                {{if item.disabled}} disabled="true" {{/if}}
                                mx-focusout="@{stop}()"
                                mx-change="@{check}({parentIndex:'{{=parentIndex}}',itemIndex:'{{=itemIndex}}'})" 
                                {{if spm}} data-spm-click="{{=spm}}{{=item.value}}" {{/if}}/>
                                {{=item.text}}
                        </label>
                        {{/if}}
                    {{else}}
                        {{if (item.disabled && item.disabledTip)}}
                        <mx-popover class="mx-output-link mx-output-link-disabled"
                            content="&lt;i class='mc-iconfont color-red displacement-2'&gt;&#38;&#35;xe6ad;&lt;/i&gt; {{=item.disabledTip}}"
                            placement="right" offset="{{@{left:-10}}}">{{=item.text}}</mx-popover>
                        {{else}}
                        <span class="mx-output-link {{if item.selected}} mx-output-link-active {{/if}} {{if item.disabled}} mx-output-link-disabled {{/if}}" 
                            {{if !item.disabled}} mx-click="@{select}({item:'{{@item}}'})" {{if spm}} data-spm-click="{{=spm}}{{=item.value}}" {{/if}} {{/if}}>
                            {{=item.text}}
                        </span>
                        {{/if}}
                    {{/if}}
                </li>  
                {{/if}}
            {{/each}}
        {{/if}}
    {{/each}}
</ul>
{{else}}
<div class="text-center color-9 pt20 pb20">{{=text.empty}}</div>
{{/if}}

{{if multiple}}
<div class="multiple-footer">
    {{if tip}}
    <div class="multiple-footer-tip">{{!tip}}</div>
    {{/if}}
    <div class="multiple-footer-content">
        <a href="javascript:;" class="btn btn-small btn-brand mr10" mx-click="@{submit}()">{{=text.submit}}</a>
        <a href="javascript:;" class="btn btn-small" mx-click="@{cancel}()">{{=text.cancel}}</a>
    </div>
</div>
{{else}}
    {{if tip}}
    <div class="mx-output-footer">{{!tip}}</div>
    {{/if}}
{{/if}}