{{if searchbox}}
<div class="search-wrapper">
    <div class="search-box dropdown-search-box">
        <i class="mc-iconfont search-icon">&#xe651;</i>
        <input type="text" class="input search-input" 
            placeholder="{{=text.search}}"
            mx-keyup="@{search}()"
            mx-paste="@{search}()"
            mx-change="@{stop}()"
            mx-focusin="@{stop}()"
            mx-focusout="@{stop}()"
            value="{{=keyword}}"/>
    </div>
</div>
{{/if}}
{{if multiple}}   
<div class="oper-wrapper has-group clearfix">
    <a class="oper" href="javascript:;" mx-click="@{checkAll}({checked:true})" data-spm-click="{{=spm}}a">{{=text.select}}</a>
    <a class="oper" href="javascript:;" mx-click="@{checkAll}({checked:false})" data-spm-click="{{=spm}}ua">{{=text.unselect}}</a>
</div>
{{/if}}
{{if !allHide}}
<ul class="dropdown-menu" style="max-height:{{=height}}px;">
    {{each parents as parent parentIndex}}
        {{if !parent.hide}}
            {{if hasGroups}}
            <li class="dropdown-header ellipsis" title="{{=parent.text}}">{{=parent.text}}</li>
            {{/if}}
            {{each parent.list as item itemIndex}}
                {{if !item.hide}}
                <li title="{{=item.text}}" class="dropdown-item">
                    {{if multiple}}         
                    <label class="item-link ellipsis {{if item.disabled}} link-disabled {{/if}}">
                        <input type="checkbox" class="checkbox" 
                            {{if item.selected}} checked="true" {{/if}}
                            {{if item.disabled}} disabled="true" {{/if}}
                            mx-focusout="@{stop}()"
                            mx-change="@{check}({parentIndex:'{{=parentIndex}}',itemIndex:'{{=itemIndex}}'})" 
                            data-spm-click="{{=spm}}"/>
                        {{=item.text}}
                    </label>
                    {{else}}
                    <span class="item-link ellipsis {{if item.selected}} active {{/if}} {{if item.disabled}} link-disabled {{/if}}" 
                        {{if !item.disabled}} mx-click="@{select}({item:'{{@item}}'})" data-spm-click="{{=spm}}" {{/if}}>
                        {{=item.text}}
                    </span>
                    {{/if}}
                </li>
                {{/if}}
            {{/each}}
        {{/if}}
    {{/each}}
</ul>
{{else}}
<div class="text-center color-9 pt20 pb20">{{=text.empty}}</div>
{{/if}}
{{if multiple}}
<div class="footer-wrapper">
    <a href="javascript:;" class="btn btn-small btn-brand mr10" mx-click="@{submit}()">{{=text.submit}}</a>
    <a href="javascript:;" class="btn btn-small" mx-click="@{cancel}()">{{=text.cancel}}</a>
</div>
{{/if}}