[mx-view*="mx-dropdown/index"],
[mx-view*="mx-dropdown/bd"],
[mx-view*="mx-dropdown/multiple"],
.dropdown-output {

    /* 小尺寸 */
    &[data-size="small"],
    &[mx-view*="size=small"],
    &[mx-view*="small=true"] {
        --input-height: var(--input-small-height);
        --border-radius: var(--border-small-radius, 4px);
        --input-v-gap: var(--input-small-v-gap, 8px);
        --input-h-gap: var(--input-small-h-gap, 8px);
        --input-min-width: var(--input-small-min-width, 64px);
        --input-font-size: var(--input-small-font-size, 12px);
    }

    /* 大尺寸 */
    &[data-size="large"],
    &[mx-view*="size=large"] {
        --input-height: var(--input-large-height, 40px);
        --border-radius: var(--border-large-radius, 4px);
        --input-v-gap: var(--input-large-v-gap, 8px);
        --input-h-gap: var(--input-large-h-gap, 12px);
        --input-min-width: var(--input-large-min-width, 128px);
        --input-font-size: var(--input-large-font-size, 14px);
    }
}

.dropdown-menu-group {
    min-width: 600px;

    .dropdown-group-wrapper {
        margin-bottom: var(--input-v-gap, 8px);
    }

    .dropdown-group-item {
        float: left;
        width: 25%;
    }
}

.oper-wrapper {
    padding-top: var(--input-v-gap, 8px);
    padding-left: calc(var(--input-h-gap, 8px) * 2);
    padding-right: calc(var(--input-h-gap, 8px) * 2);

    .oper {
        float: left;
        padding-right: 20px;
        color: #999;

        &:hover {
            color: var(--color-brand);
        }
    }
}

.selected-text {
    img {
        display: none;
    }
}

.multiple-footer {
    border-top: 1px solid var(--color-border);

    .multiple-footer-tip {
        padding: 6px calc(var(--input-h-gap, 8px) * 2);
        background-color: var(--color-brand-opacity);
        color: #666;
    }

    .multiple-footer-content {
        padding: var(--input-v-gap, 8px) calc(var(--input-h-gap, 8px) * 2);
    }
}

.footer-error {
    display: inline-flex;
    align-items: center;
    height: var(--input-small-height);
    color: var(--color-red);
}

.link-oper {
    margin-left: 8px;
    color: #999;
    transition: color var(--duration);
    cursor: pointer;

    &:hover {
        color: var(--color-brand);
    }
}

.checkbox-label {
    width: 100%;
}

.checkbox-text {
    vertical-align: middle;
    transition: color var(--duration);
}

[mx-view*="mx-checkbox/index"][mx-view*="checked=true"],
[mx-view*="mx-checkbox/index"][mx-view*="indeterminate=true"] {
    &~.checkbox-text {
        color: var(--color-brand);
    }
}

.right-text-prefix {
    float: left;
    color: #999;
}

.right-text-num {
    float: left;
    min-width: 16px;
    color: #333;
}

.right-text {
    float: right;

    .right-text-prefix,
    .right-text-num {
        text-align: right;
        vertical-align: middle;
    }

    .right-text-prefix {
        margin-right: -6px;
    }

    &.right-text-over {
        float: left;
        margin-left: 16px;

        .right-text-prefix,
        .right-text-num {
            text-align: left;
        }

        .right-text-prefix {
            margin-right: 0;
        }
    }
}