<div id="toggle_{{=viewId}}" class="mx-trigger {{if expand}} mx-trigger-open {{/if}}">
    <span class="mx-trigger-label">{{=selectedText}}</span>
    <span class="mc-iconfont mx-trigger-arrow">&#xe692;</span>
</div>
<div id="menu_{{=viewId}}" class="mx-output {{=placementClass}} {{if expand}} mx-output-open {{/if}} {{if over}} dropdown-menu-group {{/if}}"
   {{if menuStyles}} style="{{=menuStyles}}" {{/if}} >
{{if rList}}
    {{if searchbox}}
    <div class="mx-output-search">
        <div class="search-box" style="{{if over}} width: 200px; {{else}} width: 100%; {{/if}}">
            <i class="mc-iconfont search-icon">&#xe651;</i>
            <input type="text" class="input search-input" 
                placeholder="{{=text.search}}"
                mx-keyup="@{search}()"
                mx-paste="@{search}()"
                mx-change="@{stop}()"
                mx-focusin="@{stop}()"
                mx-focusout="@{stop}()"
                value="{{=keyword}}"/>
        </div>
        {{if (max > 0 && over)}}
        <span class="ml10">
            <span class="color-9">已选：</span>
            <span class="font-tahoma bold">{{=imme.length}} / {{=max}}</span>
        </span>
        {{/if}}
    </div>
    {{/if}}
    {{if !needAll || (max > 0 && !over)}}
    <div class="oper-wrapper {{if hasGroups}} has-group {{/if}} clearfix">
        {{if !needAll}}
        <a class="oper" href="javascript:;" mx-click="@{checkAll}({checked:true})" data-spm-click="{{=spm}}a">{{=text.select}}</a>
        <a class="oper" href="javascript:;" mx-click="@{checkAll}({checked:false})" data-spm-click="{{=spm}}ua">{{=text.unselect}}</a>
        {{/if}}

        {{if (max > 0 && !over)}}
        <span {{if !needAll}} class="fr" {{/if}}>
            <span class="color-9">已选：</span>
            <span class="font-tahoma bold">{{=imme.length}} / {{=max}}</span>
        </span>
        {{/if}}
    </div>
    {{/if}}
    {{if !allHide}}
    <div class="mx-output-list" id="list_{{=viewId}}" style="max-height:{{=height}}px;">
        {{each groups as group groupIndex}}
            {{if (group.text && !group.hide)}}
                {{if group.all}}
                    <div class="clearfix">
                        <div title="{{=group.text}}" class="mx-output-item dropdown-group-item">
                            <label class="mx-output-link">
                                <mx-checkbox 
                                    disabled="{{=((max > 0) && (imme.length >= max))}}"
                                    indeterminate="{{=(group.type==2)}}"
                                    checked="{{=(group.type==3)}}"
                                    mx-focusout="@{stop}()"
                                    mx-change="@{checkGroup}({groupIndex:'{{=groupIndex}}'})" 
                                    data-spm-click="{{=spm}}"/>{{=group.text}}
                            </label>
                        </div>
                    </div>
                {{else}}
                    <div class="mx-output-header" title="{{=group.text}}">{{=group.text}}</div>
                {{/if}}
            {{/if}}
            <div class="clearfix dropdown-group-wrapper">
                {{each group.list as item}}
                    {{if !item.hide}}
                    <div class="mx-output-item dropdown-group-item" title="{{=item.text}}" >
                        <label for="{{=viewId}}_{{=item.value}}" class="mx-output-link">
                            <input type="checkbox" class="checkbox" 
                                {{if !item.checked && (max > 0) && (imme.length >= max)}} disabled="true" {{/if}}
                                {{if item.checked}} checked="true" {{/if}}
                                id="{{=viewId}}_{{=item.value}}"
                                mx-focusout="@{stop}()"
                                mx-change="@{checkItem}({groupIndex:'{{=groupIndex}}',value:'{{=item.value}}'})" 
                                data-spm-click="{{=spm}}"/>{{=item.text}}
                        </label>
                    </div>
                    {{/if}}
                {{/each}}
            </div>
        {{/each}}
    </div>
    {{else}}
    <div class="text-center color-9 pt20 pb20">{{=text.empty}}</div>
    {{/if}}
    <div class="mx-output-footer">
        <div>
            <a href="javascript:;" class="btn btn-small btn-brand mr10" mx-click="@{submit}({enter:true})">{{=text.submit}}</a>
            <a href="javascript:;" class="btn btn-small" mx-click="@{hide}()">{{=text.cancel}}</a>
        </div>
        {{if errMsg}}
        <div class="color-red mt10">
            <i class="mc-iconfont displacement-2">&#xe6ad;</i>
            {{!errMsg}}
        </div>
        {{/if}}
    </div>
{{/if}}
</div>
