[mx-view*="mx-input/index"] {
    position: relative;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    overflow: hidden;
    font-size: 0;

    .mx-input-search,
    .mx-input-delete {
        position: absolute;
        right: 0;
        top: 50%;
        width: calc(var(--mx-trigger-h-gap, 8px) + var(--mx-trigger-arrow-size, 18px));
        height: var(--mx-trigger-arrow-size, 18px);
        line-height: var(--mx-trigger-arrow-size, 18px);
        margin-top: calc(0px - var(--mx-trigger-arrow-size, 18px) / 2);
        text-align: center;
        color: var(--mx-trigger-arrow-color, #ccc);
        transition: all var(--duration);
    }

    .mx-input-search {
        font-size: 14px;
    }

    .mx-input-delete {
        font-size: 12px;
        cursor: pointer;

        &:hover {
            color: var(--mx-trigger-arrow-color-hover, #666);
        }
    }

    .mx-input-focus {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        padding: 0;
        border-radius: 100%;
        background-color: var(--color-brand);
        transform: translateX(-50%) translateY(-50%);
        z-index: -1;
        pointer-events: none;
    }

    .mx-input {
        width: 100%;

        &:focus {
            &~.mx-input-focus {
                z-index: 10;
                animation: trigger-expand var(--mx-comp-expand-amin-timer) var(--mx-comp-expand-amin-ease);
                animation-fill-mode: backwards;
            }

            /* delete 不需要高亮 https://work.aone.alibaba-inc.com/issue/33906120 */
            &~.mx-input-search {
                color: var(--mx-trigger-arrow-color-hover, #666);
            }
        }
    }

    &:hover {

        /* delete 不需要高亮 https://work.aone.alibaba-inc.com/issue/33906120 */
        .mx-input-search {
            color: var(--mx-trigger-arrow-color-hover, #666);
        }
    }

    &[mx-view*="disabled=true"],
    &[mx-disabled] {
        cursor: not-allowed;

        &::after {
            opacity: .6;
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            border-radius: var(--border-radius);
            z-index: 1;
        }

        .mx-input {
            pointer-events: none;
        }

        .mx-input-search,
        .mx-input-delete {
            pointer-events: none;
            color: var(--mx-trigger-arrow-color, #ccc);
        }
    }
}