<input type="text" class="mx-input"
    id="{{=viewId}}_input"
    style="{{if width}} width: {{=width}}px; {{/if}} {{if search}} padding-right: var(--input-height); {{/if}}"
    {{if placeholder}} placeholder="{{=placeholder}}" {{/if}}
    {{if autocomplete}} autocomplete="{{=autocomplete}}" {{/if}}
    value="{{=value}}" 
    mx-keyup="@{fire}()"
    mx-focusout="@{fire}()"
    mx-change="@{fire}()"/>
<span class="mx-input-focus"></span>
{{if search}}
<i class="mc-iconfont mx-input-search">&#xe651;</i>
{{/if}}