[mx-view*="mx-checkbox/index"] {
    position: relative;

    @keyframes mx-checkbox-anim-after {
        0% {
            width: 12px;
            height: 12px;
            opacity: 0;
        }

        100% {
            width: 6px;
            height: 6px;
            opacity: 1;
        }
    }

    input[type="checkbox"].mx-checkbox {
        &:checked {
            &:after {
                // color: red;
            }

            &:hover {
                border-color: var(--color-brand-hover);
                background-color: var(--color-brand-hover);
            }
        }

        &.mx-checkbox-indeterminate {
            border-color: var(--color-brand);
            background-color: var(--color-brand);

            &:after {
                content: '';
                display: block;
                height: calc(var(--mx-checkbox-size) / 6);
                width: calc(var(--mx-checkbox-size) - 6px);
                margin: 40% auto;
                background-color: #fff;
            }

            &:hover {
                border-color: var(--color-brand-hover);
                background-color: var(--color-brand-hover);
            }
        }

        &:disabled {
            border-color: var(--mx-checkbox-color);
            background-color: #fff;

            &:hover {
                border-color: var(--mx-checkbox-color);
            }

            &:checked,
            &:checked:hover,
            &.mx-checkbox-indeterminate,
            &.mx-checkbox-indeterminate:hover {
                border-color: var(--color-brand);
                background-color: var(--color-brand);
            }

        }
    }

    .icon {
        position: relative;
        top: 1px;
        left: 2px;
        color: #ccc;
        font-size: 14px;
        cursor: pointer;
    }

    .tag {
        position: relative;
        top: -1px;
    }

    &[mx-view*="disabled=true"] {
        cursor: not-allowed;

        &::after {
            opacity: .6;
            content: ' ';
            position: absolute;
            top: 50%;
            left: 0;
            width: var(--mx-checkbox-size);
            height: var(--mx-checkbox-size);
            margin-top: calc(0px - var(--mx-checkbox-size) / 2);
            background-color: #fff;
            z-index: 10;
            border-radius: 2px;
        }

        .text {
            position: relative;

            &::after {
                opacity: .6;
                content: ' ';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                z-index: 10;
            }
        }

        label,
        input[type="checkbox"].mx-checkbox,
        .text {
            pointer-events: none;
        }
    }
}