.cont-bg {
    padding: 0 16px 16px 16px;
    background-color: var(--color-brand-light);

    [mx-view*="mx-btn/index"] {
        margin-top: 16px;
    }
}

.cont {
    padding-bottom: 16px;

    [mx-view*="mx-btn/index"] {
        margin-top: 16px;
    }
}

.white-bg {
    position: relative;
    float: left;

    &::before {
        content: ' ';
        position: absolute;
        top: -10px;
        bottom: -10px;
        right: -10px;
        left: -10px;
        background-color: var(--color-brand-light);
    }
}

.icon-table,
.btn-table {
    width: 100%;

    th,
    td {
        padding: 12px;
        text-align: center;

        &:first-child {
            text-align: left;
        }
    }

    tbody {
        tr:first-child {
            td:last-child {
                border-top-left-radius: var(--border-radius);
                border-top-right-radius: var(--border-radius);
            }
        }

        tr:last-child {
            td:last-child {
                border-bottom-left-radius: var(--border-radius);
                border-bottom-right-radius: var(--border-radius);
            }
        }
    }
}

.icon-table {
    td {
        &:last-child {
            background-color: var(--color-brand-light);
        }
    }
}

.btn-table {
    td {
        &:last-child {
            background-color: #ffecec;
        }
    }
}


.test1 {
    font-family: "Microsoft Yahei";
}

.test2 {
    font-family: 'SimHei';
}

.test3 {
    font-family: "PingFang SC";
}