.wrapper {
    border: 1px solid var(--color-border);
}

.cont {
    opacity: .2;
    height: 600px;
}

.cont1 {
    background-color: var(--color-red);
}

.cont2 {
    background-color: var(--color-green);
}

.cont3 {
    background-color: var(--color-warn);
}