.dot-red,
.dot-green {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 4px;
    border-radius: 50%;
}

.dot-red {
    background-color: var(--color-red);
}

.dot-green {
    background-color: var(--color-green);
}