.wrapper{
    position: relative;
    padding-left: 10%;
    padding-right: 10%;

    .arrow{
        position: absolute;
        top: 20px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 32px;
        color: var(--color-brand);
        opacity: .5;
        transition: all var(--duration);
        cursor: pointer;

        &:hover{
            opacity: .8;
        }

        &.prev{
            left: 0;
        }

        &.next{
            right: 0;
            transform: rotate(180deg);
        }
    }
    .bg {
        float: left;
        width: 40%;
        height: 80px;
        margin-right: 5%;
        margin-left: 5%;
        line-height: 80px;
        background-repeat: no-repeat;
        background-position: center top;
        background-color: var(--color-brand);
        color: #fff;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        border-radius: 6px;
    }

    .dot{
        margin-top: 8px;
        background-color: var(--color-brand);
    }
}

