{{if (list && list.length > 0)}}
    <mx-dropdown.bd style="width: 100%;"
        selected="{{=color}}"
        list="{{@list}}"
        mx-change="@{change}()" />
{{else}}
    {{if dot}}
    <div class="dot" id="toggle_{{=viewId}}" style="background: {{=color}};"
        mx-click="@{toggle}()"></div>
    {{else}}
    <div id="toggle_{{=viewId}}" class="mx-trigger {{if expand}} mx-trigger-open {{/if}}" 
        {{if animing}} mx-comp-expand-amin="animing" {{/if}} 
        mx-click="@{toggle}()">
        <span class="preview">
            <span class="preview-dot" style="background-color: {{=color}};"></span>{{=color}}
        </span>
        <i class="mc-iconfont mx-trigger-arrow">&#xe6c1;</i>
    </div>
    {{/if}}
{{/if}}