<div class="steps">
    {{each stepInfos as step}}
    <div class="clearfix step {{if step.locked}} locked {{/if}} {{if (step.index < alreadyStep)}} line-on {{/if}} {{if step.current}} current {{/if}} "
        {{if !step.locked}} mx-click="nav({stepIndex:{{=step.index}}})" {{/if}}>
        <div class="circle">
            {{if (step.index < alreadyStep)}}
                <i class="mc-iconfont circle-icon">&#xe65d;</i>
            {{else}}
                {{=step.index}}
            {{/if}}
        </div>
        <div class="title">{{=step.label}}</div>
    </div>
    {{/each}}
</div>
{{if (fixStep && fixStep.view)}}
<mx-vframe src="{{=fixStep.view}}?info={{@fixStep}}" class="pt20"
    id="{{=viewId}}_sub_fix">
    <mx-loading />
</mx-vframe>
{{/if}}
<mx-vframe src="{{=curStepInfo.view}}?info={{@curStepInfo}}" class="pt20 pb20"
    id="{{=viewId}}_sub_{{=curStepInfo.index}}">
    <mx-loading />
</mx-vframe>
<div class="text-center">
    {{each curStepInfo.btns as btn}}
    <a href="javascript:;" class="btn {{if btn.brand}} btn-brand {{/if}} footer-btn"
        mx-click="{{=btn.fn}}({btn:'{{@btn}}'})"
        {{if spm}} data-spm-click="{{=spm}}_{{=curStepInfo.index}}_btn_{{=btn.fn}}_{{=btnIndex}}_compid_{{=btn.compid}}" {{/if}}>{{=btn.text}}</a>
    {{/each}}
</div>
<div id="{{=viewId}}_error" class="text-center color-red mt10"></div>