[mx-view*="mx-main/nav"] {
    .wrapper {
        display: flex;
        position: relative;
        padding-top: var(--output-v-gap, 16px);
    }

    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    // flex会导致sticky失效，写在子内容上
    .left {
        // position: -webkit-sticky;
        // position: sticky;
        // top: 0;
        margin-left: var(--output-h-gap, 24px);
    }

    .right {
        width: 220px;
        margin-right: var(--output-h-gap, 24px);
    }

    /* 预留shadow位置 */
    .center {
        flex: 1;
        padding-right: var(--output-h-gap, 24px);
        padding-left: var(--output-h-gap, 24px);
        overflow-x: hidden;
        overflow-y: visible;
    }

    .center-item {
        margin-bottom: var(--output-v-gap, 16px);
    }

    .center-title-icon {
        width: 22px;
        height: 22px;
        margin-right: 4px;
        font-size: 22px;
        color: #999;
        text-align: center;
        line-height: 0;
    }

    .center-title-icon>* {
        font-size: 22px;
        line-height: 22px;
        color: #999;
    }

    .title-right {
        float: right;
        height: var(--input-height);
        margin-left: 12px;
        line-height: var(--input-height);
    }

    .title-right-toggle {
        color: var(--color-brand);
        transition: color var(--duration);

        .toggle-icon {
            font-size: 14px;
            margin-left: 4px;
        }

        &:hover {
            color: var(--color-brand-hover);
        }
    }

    .footer {
        position: relative;
        height: 80px;
        padding-left: calc(var(--output-h-gap, 24px) * 2 + var(--mx-tabs-menu-width, 164px));
        padding-right: var(--output-h-gap, 24px);
    }

    .footer-btn {
        min-width: 84px;
        margin-right: 12px;
    }

    .footer-view {
        display: inline-flex;
        align-items: center;
        margin-right: 12px;
        vertical-align: middle;
    }

    .footer-error {
        position: absolute;
        z-index: 100;
        width: 320px;
        padding: 12px;
        border-radius: var(--border-radius);
        box-shadow: 0 2px 4px 0 rgba(153, 153, 153, 0.20);

        .error-close {
            float: right;
            font-size: 16px;
            color: #999;
            transition: color var(--duration);
            cursor: pointer;

            &:hover {
                color: #666;
            }
        }

        .error-arrow {
            display: inline-flex;
            align-items: center;
            justify-content: space-around;
            width: 24px;
            height: 24px;
            font-size: 16px;
            transform: scale(.5);
            color: #fff;
            background-color: var(--color-red);
            border-radius: 50%;
            vertical-align: middle;
        }

        .error-line-wrapper {
            max-height: 240px;
            overflow-y: auto;

            &::-webkit-scrollbar {
                // display: none;
                // width: 0;
                // height: 0;
                width: 6px;
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, .2);
                border-radius: 32px;
            }
        }

        .error-line {
            margin-top: 4px;
            line-height: 1.5;
        }

        &::after {
            content: ' ';
            position: absolute;
            z-index: 0;
            left: 32px;
            bottom: -6px;
            width: 12px;
            height: 12px;
            background-color: inherit;
            transform: rotate(45deg);
        }
    }

    &[mx-view*="footerFixed=true"] {
        .footer {
            position: sticky;
            bottom: 0;
            z-index: 100;
            display: flex;
            align-items: center;
            background-color: #FFFFFF;
            box-shadow: 0 -4px 6px 0 rgba(157, 157, 157, 0.12);
        }
    }
}