@import "../mx-style/_vars";

.step-error{
    position: relative;
    padding-top: 10px;
    padding-left: 20px;
    color: @color-red;
    .error-icon{
        position: absolute;
        left: 0;
        top: 10px;
        color: @color-red;
    }
}