.step-error{
    position: relative;
    padding-top: 10px;
    padding-left: 20px;
    color: var(--color-red);
    .error-icon{
        position: absolute;
        left: 0;
        top: 10px;
        color: var(--color-red);
    }
}