@area-height: 36px;

.provinces {
    .province {
        position: relative;
        float: left;
        min-width: 16.6%;
        height: @area-height;

        .province-label {
            position: relative;
            display: inline-flex;
            align-items: center;
            min-width: 98px;
            height: @area-height;
            white-space: nowrap;

            .province-arrow {
                width: 20px;
                height: @area-height;
                line-height: @area-height;
                text-align: center;
                font-size: 12px;
                color: var(--mx-trigger-arrow-color, #ccc);
                cursor: pointer;
                user-select: none;
                font-weight: bold;
                transition: all var(--duration);

                &.province-expand {
                    transform: rotate(180deg);
                    color: var(--mx-trigger-arrow-color-hover, #666);
                }
            }

            &:hover {
                .province-arrow {
                    color: var(--mx-trigger-arrow-color-hover, #666);
                }
            }
        }

        .name {
            display: inline-block;
            position: relative;
            padding: 2px;
            border-radius: var(--border-radius);
            transition: all var(--duration);
            vertical-align: middle;

            &.highlight {
                color: var(--color-brand);
                background-color: var(--color-brand-opacity);
                border-radius: var(--border-radius);
            }
        }

        .province-count {
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
        }

        .cities {
            position: absolute;
            left: 0;
            width: 360px;
            padding: 8px 16px;
            border-radius: var(--border-radius);
            background-color: #fff;
            transition: opacity var(--duration), top var(--duration);

            .city {
                display: inline-flex;
                align-items: center;
                width: 24%;
                padding: 8px 0;
                margin-right: 1%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &.cities-hide {
                opacity: 0;
                top: @area-height - 10px;
                z-index: -99999;
                pointer-events: none;
            }

            &.cities-show {
                opacity: 1;
                top: @area-height;
                z-index: 99;
                pointer-events: auto;
            }
        }

        input[type="checkbox"] {
            margin-right: 2px;
        }

    }
}

.all {
    display: inline-flex;
    align-items: center;
    height: @area-height;
}

.area {
    position: relative;
    padding-left: 20px;

    .area-name {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 100%;
        line-height: @area-height;
        font-size: 14px;
        color: #999;
        font-weight: 600;
    }
}

.area-half {
    float: left;
    width: 50%;

    .province {
        width: 33%;
        min-width: calc(var(--font-size) * 6 + 28px);
    }
}

.tabs {
    margin-bottom: 8px;
    border-bottom: 1px solid var(--color-border);

    .tab {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 16px;
        padding-bottom: 12px;
        color: var(--mx-tab-color, #666);
        cursor: pointer;
        transition: color var(--duration);

        &::after,
        &::before {
            content: ' ';
            position: absolute;
            height: 0;
            bottom: 0;
            border-bottom: 2px solid var(--color-brand);
            transition: all var(--duration);
            z-index: -99999;
        }

        &::before {
            left: 50%;
            width: 0;
            border-top-left-radius: 1px;
            border-bottom-left-radius: 1px;
        }

        &::after {
            left: 50%;
            width: 0;
            border-top-right-radius: 1px;
            border-bottom-right-radius: 1px;
        }


        &:hover {
            color: var(--mx-tab-color-hover, #333);
        }

        &.cur {
            color: var(--mx-tab-color-active, var(--color-brand));

            &::before {
                z-index: auto;
                left: calc(0px - var(--mx-tab-first-h-gap, var(--mx-tab-h-gap)) / 2);
                width: calc(50% + var(--mx-tab-first-h-gap, var(--mx-tab-h-gap)) / 2);
            }

            &::after {
                z-index: auto;
                width: calc(50% + var(--mx-tab-first-h-gap, var(--mx-tab-h-gap)) / 2);
            }
        }
    }
}