.demo{
    padding: 40px 0;
    background-color: var(--color-bg);
    
    .login-wrapper{
        width: 350px;
        height: 340px;
        margin: auto;
        background-color: #fff;
        overflow: hidden;
    }
}